<a href="https://colab.research.google.com/github/Lambda-School-Labs/Labs26-Citrics-DS-TeamC/blob/fatai_king/Quandl_Job.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install quandl

Collecting quandl
  Downloading https://files.pythonhosted.org/packages/1b/29/185269dbd2e2698c8098b35c52ce73a2c52cf76163e709f9f7789d03ebbb/Quandl-3.5.2-py2.py3-none-any.whl
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from quandl) (1.15.0)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.18.5)
Collecting inflection>=0.3.1
  Downloading https://files.pythonhosted.org/packages/59/91/aa6bde563e0085a02a435aa99b49ef75b0a4b062635e606dab23ce18d720/inflection-0.5.1-py2.py3-none-any.whl
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.0.5)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.6/dist-packages (from quandl) (8.5.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from quandl) (2.8.1)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.6/dist-packages (from quandl) (2.23.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.14->quandl) (2018.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2020.6.20)
Installing collected packages: inflection, quandl
Successfully installed inflection-0.5.1 quandl-3.5.2

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import os
import requests
import quandl

In [ ]:
import urllib.request
import urllib

In [ ]:
#API Key

quandl.ApiConfig.api_key = 'K6fpyVeFyVDsDyWqXcCx'

# This will be all of the seasonal data

In [ ]:
# Seasonally adjusted total nonfarm 

seasonal_nonfarm = quandl.get("BLSE/CES0000000025", start_date="2000-01-01", end_date="2020-08-01")
seasonal_nonfarm.columns=['Nonfarm Seasonally Adjusted Value ']
seasonal_nonfarm

            Nonfarm Seasonally Adjusted Value
Date
2000-03-31                            131242.0
2000-06-30                            132018.0
2000-09-30                            132273.0
2000-12-31                            132539.0
2001-03-31                            132745.0
...                                        ...
2019-06-30                            150609.0
2019-09-30                            151160.0
2019-12-31                            151788.0
2020-03-31                            151922.0
2020-06-30                            133713.0

[82 rows x 1 columns]

In [ ]:
# Seasonal Total Private Values
seasonal_private = quandl.get("BLSE/CES0500000025", start_date="2000-01-01", end_date="2020-08-01")
seasonal_private.columns=['Private Firms Seasonal Values']
seasonal_private

            Private Firms Seasonal Values
Date
2000-03-31                       110607.0
2000-06-30                       111073.0
2000-09-30                       111460.0
2000-12-31                       111770.0
2001-03-31                       111849.0
...                                   ...
2019-06-30                       128057.0
2019-09-30                       128536.0
2019-12-31                       129127.0
2020-03-31                       129193.0
2020-06-30                       112261.0

[82 rows x 1 columns]

In [ ]:
# Seasonal Goods Produced
seasonal_goods = quandl.get("BLSE/CES0600000025", start_date="2000-01-01", end_date="2020-08-01")
seasonal_goods.columns=['Goods Produced Seasonal Values']
seasonal_goods

            Goods Produced Seasonal Values
Date
2000-03-31                         24647.0
2000-06-30                         24669.0
2000-09-30                         24681.0
2000-12-31                         24612.0
2001-03-31                         24472.0
...                                    ...
2019-06-30                         21055.0
2019-09-30                         21093.0
2019-12-31                         21118.0
2020-03-31                         21147.0
2020-06-30                         19310.0

[82 rows x 1 columns]

In [ ]:
# Seasonal Service Provided
seasonal_service = quandl.get("BLSE/CES0700000025", start_date="2000-01-01", end_date="2020-08-01")
seasonal_service.columns=['Services Provided Seasonal Values']
seasonal_service

            Services Provided Seasonal Values
Date
2000-03-31                           106594.0
2000-06-30                           107349.0
2000-09-30                           107592.0
2000-12-31                           107927.0
2001-03-31                           108273.0
...                                       ...
2019-06-30                           129554.0
2019-09-30                           130068.0
2019-12-31                           130671.0
2020-03-31                           130775.0
2020-06-30                           114403.0

[82 rows x 1 columns]

In [ ]:
# Government Industry Value
seasonal_government = quandl.get("BLSE/CES9000000001", start_date="2000-01-01", end_date="2020-08-01")
seasonal_government.columns=['Government Industry Values']
seasonal_government

            Government Industry Values
Date
2000-01-31                     20571.0
2000-02-29                     20599.0
2000-03-31                     20733.0
2000-04-30                     20802.0
2000-05-31                     21147.0
...                                ...
2020-03-31                     22728.0
2020-04-30                     21776.0
2020-05-31                     21265.0
2020-06-30                     21317.0
2020-07-31                     21570.0

[247 rows x 1 columns]

In [ ]:
# display('season_nonfarm', 'seasonal_private', "pd.merge(seasonal_nonfarm, seasonal_private, on='Date')")
this1= pd.merge(seasonal_nonfarm, seasonal_goods, on='Date')

In [ ]:
this2 = pd.merge(seasonal_government, seasonal_private, on='Date')

In [ ]:
this3 = pd.merge(this1, this2, on='Date')

In [ ]:
this4 = pd.merge(this3, seasonal_service, on='Date')
this4

            Nonfarm Seasonally Adjusted Value   ...  Services Provided Seasonal Values
Date                                            ...
2000-03-31                            131242.0  ...                           106594.0
2000-06-30                            132018.0  ...                           107349.0
2000-09-30                            132273.0  ...                           107592.0
2000-12-31                            132539.0  ...                           107927.0
2001-03-31                            132745.0  ...                           108273.0
...                                        ...  ...                                ...
2019-06-30                            150609.0  ...                           129554.0
2019-09-30                            151160.0  ...                           130068.0
2019-12-31                            151788.0  ...                           130671.0
2020-03-31                            151922.0  ...                           130775.0
2020-06-30                            133713.0  ...                           114403.0

[82 rows x 5 columns]

# Switch Quandl Code to JT (Job Openings & Labor Turnover) -- Hires-- Unseasonal Levels in Thousands

In [ ]:
# Mining and Logging 
mine = quandl.get("BLSE/JTU11009900HIL", start_date="2000-01-01", end_date="2020-08-01")
mine.columns=['Mining and Logging Provided  Values']
mine

            Mining and Logging Provided  Values
Date
2008-01-31                                 41.0
2008-02-29                                 26.0
2008-03-31                                 27.0
2008-04-30                                 32.0
2008-05-31                                 34.0
...                                         ...
2020-03-31                                 19.0
2020-04-30                                 17.0
2020-05-31                                 18.0
2020-06-30                                 13.0
2020-07-31                                 21.0

[151 rows x 1 columns]

In [ ]:
# Construction 
construction = quandl.get("BLSE/JTU23000000HIL", start_date="2000-01-01", end_date="2020-08-01")
construction.columns=['Construction Provided  Values']
construction

            Construction Provided  Values
Date
2008-01-31                          330.0
2008-02-29                          310.0
2008-03-31                          402.0
2008-04-30                          522.0
2008-05-31                          436.0
...                                   ...
2020-03-31                          362.0
2020-04-30                          380.0
2020-05-31                          781.0
2020-06-30                          581.0
2020-07-31                          436.0

[151 rows x 1 columns]

In [ ]:
num1 = pd.merge(mine, construction, on='Date')

In [ ]:
# Manufacturing 
manufacture = quandl.get("BLSE/JTU30000000HIL", start_date="2000-01-01", end_date="2020-08-01")
manufacture.columns=['Manufacture Provided  Values']
manufacture

            Manufacture Provided  Values
Date
2008-01-31                         355.0
2008-02-29                         284.0
2008-03-31                         307.0
2008-04-30                         348.0
2008-05-31                         366.0
...                                  ...
2020-03-31                         279.0
2020-04-30                         331.0
2020-05-31                         558.0
2020-06-30                         503.0
2020-07-31                         363.0

[151 rows x 1 columns]

In [ ]:
# Durable goods manufacturing	 
durable_goods = quandl.get("BLSE/JTU32000000HIL", start_date="2000-01-01", end_date="2020-08-01")
durable_goods.columns=['Durable Goods Provided  Values']
durable_goods

            Durable Goods Provided  Values
Date
2008-01-31                           211.0
2008-02-29                           157.0
2008-03-31                           177.0
2008-04-30                           202.0
2008-05-31                           207.0
...                                    ...
2020-03-31                           149.0
2020-04-30                           160.0
2020-05-31                           311.0
2020-06-30                           292.0
2020-07-31                           172.0

[151 rows x 1 columns]

In [ ]:
num2 = pd.merge(manufacture, durable_goods, on='Date')

In [ ]:
sum1 = pd.merge(num1, num2, on='Date')

In [ ]:
# NonDurable goods manufacturing	 
non_durable_goods = quandl.get("BLSE/JTU34000000HIL", start_date="2000-01-01", end_date="2020-08-01")
non_durable_goods.columns=['Non-Durable Goods Provided  Values']
non_durable_goods

            Non-Durable Goods Provided  Values
Date
2008-01-31                               144.0
2008-02-29                               127.0
2008-03-31                               131.0
2008-04-30                               147.0
2008-05-31                               159.0
...                                        ...
2020-03-31                               131.0
2020-04-30                               171.0
2020-05-31                               247.0
2020-06-30                               211.0
2020-07-31                               191.0

[151 rows x 1 columns]

In [ ]:
# Trade and Transportation	 
trade = quandl.get("BLSE/JTU40000000HIL", start_date="2000-01-01", end_date="2020-08-01")
trade.columns=['Trade & Transportation Provided Values']
trade

            Trade & Transportation Provided Values
Date
2008-01-31                                   890.0
2008-02-29                                   783.0
2008-03-31                                   946.0
2008-04-30                                  1068.0
2008-05-31                                   941.0
...                                            ...
2020-03-31                                  1054.0
2020-04-30                                   967.0
2020-05-31                                  1420.0
2020-06-30                                  1452.0
2020-07-31                                  1225.0

[151 rows x 1 columns]

In [ ]:
num3 = pd.merge(non_durable_goods, trade, on='Date')

In [ ]:
# WholeSale Trade	 
whole_trade = quandl.get("BLSE/JTU42000000HIL", start_date="2000-01-01", end_date="2020-08-01")
whole_trade.columns=['Wholesale Trade Provided Values']
whole_trade

            Wholesale Trade Provided Values
Date
2008-01-31                            195.0
2008-02-29                            128.0
2008-03-31                            141.0
2008-04-30                            190.0
2008-05-31                            155.0
...                                     ...
2020-03-31                            136.0
2020-04-30                            118.0
2020-05-31                            194.0
2020-06-30                            187.0
2020-07-31                            139.0

[151 rows x 1 columns]

In [ ]:
# Retail Trade	 
retail_trade = quandl.get("BLSE/JTU44000000HIL", start_date="2000-01-01", end_date="2020-08-01")
retail_trade.columns=['Retail Trade Provided Values']
retail_trade

            Retail Trade Provided Values
Date
2008-01-31                         557.0
2008-02-29                         526.0
2008-03-31                         657.0
2008-04-30                         702.0
2008-05-31                         651.0
...                                  ...
2020-03-31                         738.0
2020-04-30                         697.0
2020-05-31                         970.0
2020-06-30                         982.0
2020-07-31                         852.0

[151 rows x 1 columns]

In [ ]:
num4 = pd.merge(whole_trade, retail_trade, on='Date')

In [ ]:
sum2 = pd.merge(num3, num4, on='Date')

In [ ]:
now = pd.merge(sum1, sum2, on='Date')

In [ ]:
#Transportation and Warehouse and Utilities
transport_warehouse = quandl.get("BLSE/JTU48009900HIL", start_date="2000-01-01", end_date="2020-08-01")
transport_warehouse.columns=['TWU Provided Values']

In [ ]:
# General Information	 
general = quandl.get("BLSE/JTU51000000HIL", start_date="2000-01-01", end_date="2020-08-01")
general.columns=[ 'General Information Provided Values']

In [ ]:
num5 = pd.merge(transport_warehouse, general, on='Date')

In [ ]:
# Financial Activities 
finance = quandl.get("BLSE/JTU51009900HIL", start_date="2000-01-01", end_date="2020-08-01")
finance.columns=['Financial Activity Provided Values']

In [ ]:
# Finance & Insurance	 
finance_insurance = quandl.get("BLSE/JTU52000000HIL", start_date="2000-01-01", end_date="2020-08-01")
finance_insurance.columns=['Finance & Insurance Provided Values']

In [ ]:
num6 = pd.merge(finance, finance_insurance, on='Date')

In [ ]:
sum3 = pd.merge(num5, num6, on='Date')

In [ ]:
#Real estate and rental and leasing
real_estate = quandl.get("BLSE/JTU53000000HIL", start_date="2000-01-01", end_date="2020-08-01")
real_estate.columns=['Real Estate & Rental Leasing Provided Values']

In [ ]:
# Professional and business services
prof_business = quandl.get("BLSE/JTU54009900HIL", start_date="2000-01-01", end_date="2020-08-01")
prof_business.columns=['Professional and business services Provided Values']

In [ ]:
num7 = pd.merge(real_estate, prof_business, on='Date')

In [ ]:
# Education and Health services
education_health = quandl.get("BLSE/JTU60000000HIL", start_date="2000-01-01", end_date="2020-08-01")
education_health.columns=['Education and Health services Provided Values']

In [ ]:
# Education services
education = quandl.get("BLSE/JTU61000000HIL", start_date="2000-01-01", end_date="2020-08-01")
education.columns=[ 'Education services Provided Values']

In [ ]:
num8 = pd.merge(education_health, education, on='Date')

In [ ]:
sum4= pd.merge(num7, num8, on='Date')

In [ ]:
squeeze = pd.merge(sum3, sum4, on='Date')

In [ ]:
now1 = pd.merge(now, squeeze, on='Date')

In [ ]:
# Health Care and Social assistance
health_social = quandl.get("BLSE/JTU62000000HIL", start_date="2000-01-01", end_date="2020-08-01")
health_social.columns= ['Health Care and Social Assistance Services Provided Values']

In [ ]:
# Leisure & Hospitality
leisure_hospitality = quandl.get("BLSE/JTU70000000HIL", start_date="2000-01-01", end_date="2020-08-01")
leisure_hospitality.columns=['Leisure and Hospitality Services Provided Values']

In [ ]:
# Art, entertainment, & recreation
art_entertain = quandl.get("BLSE/JTU71000000HIL", start_date="2000-01-01", end_date="2020-08-01")
art_entertain.columns=['Art Entertainment & Recreation Services Provided Values']

In [ ]:
num9 = pd.merge(leisure_hospitality, art_entertain, on='Date')

In [ ]:
# Accommodation and food services	 services
accomodation_food = quandl.get("BLSE/JTU72000000HIL", start_date="2000-01-01", end_date="2020-08-01")
accomodation_food.columns=['Accommodation & Food Services Provided Values']

In [ ]:
# Other services
other_services = quandl.get("BLSE/JTU81000000HIL", start_date="2000-01-01", end_date="2020-08-01")
other_services.columns=['Other Services Provided Values']

In [ ]:
num10= pd.merge(accomodation_food, other_services, on='Date')

In [ ]:
sum5 = pd.merge(num9, num10, on='Date')

In [ ]:
# Federal
federal = quandl.get("BLSE/JTU91000000HIL", start_date="2000-01-01", end_date="2020-08-01")
federal.columns = ['Federal Services Provided Values']

In [ ]:
state_local = quandl.get("BLSE/JTU92000000HIL", start_date="2000-01-01", end_date="2020-08-01")
state_local.columns = ['State & Local Services Provided Values']

In [ ]:
num11 = pd.merge(federal, state_local, on='Date')

In [ ]:
sum6 = pd.merge(num11, health_social, on='Date')

In [ ]:
now2 = pd.merge(sum5, sum6, on='Date')

In [ ]:
fun = pd.merge(now1, now2, on='Date')

In [ ]:
#Total NonFarm - All employees, thousands; Total NonFarm industry

total_non =quandl.get("BLSE/JTU00000000HIL", start_date="2000-01-01", end_date="2020-08-01")
total_non.columns=['Total NonFarm Industry Value']

In [ ]:
#Total Private - All employees, thousands; Total Private firm industry

total_pri =quandl.get("BLSE/JTU10000000HIL", start_date="2000-01-01", end_date="2020-08-01")
total_pri.columns=['Total Private Firm Industry Value']

In [ ]:
num13 = pd.merge(total_non, total_pri, on='Date')

In [ ]:
#Employment - All employees, thousands; Government industry

government =quandl.get("BLSE/JTU90000000HIL", start_date="2000-01-01", end_date="2020-08-01")
government.columns=['Government Industry Value']

In [ ]:
num14 = pd.merge(num13, government, on='Date')

In [ ]:
this = quandl.get("BLSE/LAUST010000000000005")
this.columns = ['Empolyed State of Alabama Values']

In [ ]:
all = pd.merge(fun, num14, on='Date')
all

            Mining and Logging Provided  Values  ...  Government Industry Value
Date                                             ...
2008-01-31                                 41.0  ...                      280.0
2008-02-29                                 26.0  ...                      224.0
2008-03-31                                 27.0  ...                      229.0
2008-04-30                                 32.0  ...                      233.0
2008-05-31                                 34.0  ...                      328.0
...                                         ...  ...                        ...
2020-03-31                                 19.0  ...                      269.0
2020-04-30                                 17.0  ...                      156.0
2020-05-31                                 18.0  ...                      267.0
2020-06-30                                 13.0  ...                      344.0
2020-07-31                                 21.0  ...                      381.0

[151 rows x 26 columns]

## Was going to go through each state and find data.... Longer way

In [ ]:
quandl.get("BLSE/CEU9000000001",  start_date="2000-01-01", end_date="2020-08-01")

              Value
Date
2000-01-31  20491.0
2000-02-29  20881.0
2000-03-31  21120.0
2000-04-30  21191.0
2000-05-31  21543.0
...             ...
2020-03-31  23064.0
2020-04-30  22158.0
2020-05-31  21566.0
2020-06-30  21191.0
2020-07-31  20283.0

[247 rows x 1 columns]

In [ ]:
#Employment - All employees, thousands; Goods-producing industry

goods = quandl.get("BLSE/CEU0600000001", start_date="2000-01-01", end_date="2020-08-01")
goods 
goods.rename(columns= {'Value' : 'Goods Produced Industry Value'})

            Goods Produced Industry Value
Date
2000-01-31                        24080.0
2000-02-29                        24055.0
2000-03-31                        24270.0
2000-04-30                        24474.0
2000-05-31                        24674.0
...                                   ...
2020-03-31                        20738.0
2020-04-30                        18540.0
2020-05-31                        19404.0
2020-06-30                        20134.0
2020-07-31                        20231.0

[247 rows x 1 columns]

# Wyoming

In [ ]:
# All Employees, In Thousands; Goods Producing - Wyoming
wyoming_goods = quandl.get("BLSE/SMU56000000600000001", start_date="2000-01-01", end_date="2020-08-01")
wyoming_goods.columns=['Wyoming Goods Produced Value']

In [ ]:
# All Employees, In Thousands; Government - Wyoming
wyoming_gov = quandl.get("BLSE/SMU56000009000000001", start_date="2000-01-01", end_date="2020-08-01")

wyoming_gov.columns=['Wyoming Government Industry Value']

In [ ]:
# Wyoming Nonfarm
wyoming_nonfarm = quandl.get("BLSE/SMU56000000000000001", start_date="2000-01-01", end_date="2020-08-01")

wyoming_nonfarm.columns=['Wyoming Nonfarm Industry Value']

In [ ]:
# Wyoming Private
wyoming_pri = quandl.get("BLSE/SMU56000000500000001", start_date="2000-01-01", end_date="2020-08-01")

wyoming_pri.columns=['Wyoming Private Industry Value']

In [ ]:
# Wyoming Service Provide
wyoming_service = quandl.get("BLSE/SMU56000000700000001", start_date="2000-01-01", end_date="2020-08-01")

wyoming_service.columns=['Wyoming Service Industry Value']

In [ ]:
# Wyoming Mining & Logging Provide
wyoming_mine = quandl.get("BLSE/SMU56000001000000001", start_date="2000-01-01", end_date="2020-08-01")

wyoming_mine.columns=['Wyoming Mining & Logging Industry Value']

In [ ]:
# Wyoming Manufacturing Provide
wyoming_manu = quandl.get("BLSE/SMU56000003000000001", start_date="2000-01-01", end_date="2020-08-01")

wyoming_manu.columns=['Wyoming Manufacturing Industry Value']

In [ ]:
# Wyoming Durable Goods Provide
wyoming_durable = quandl.get("BLSE/SMU56000003100000001", start_date="2000-01-01", end_date="2020-08-01")

wyoming_durable.columns=['Wyoming Durable Goods Industry Value']

In [ ]:
# Wyoming Wholesale Trade Provide
wyoming_whole = quandl.get("BLSE/SMU56000004100000001", start_date="2000-01-01", end_date="2020-08-01")

wyoming_whole.columns=['Wyoming Wholesale Trade Industry Value']

In [ ]:
# Wyoming Transportation & Utilities  Provide
wyoming_transport = quandl.get("BLSE/SMU56000004300000001", start_date="2000-01-01", end_date="2020-08-01")

wyoming_transport.columns=['Wyoming Transportation & Utilities Industry Value']

In [ ]:
# Wyoming Truck Transportation Provide
wyoming_truck = quandl.get("BLSE/SMU56000004348400001", start_date="2000-01-01", end_date="2020-08-01")

wyoming_truck.columns=['Wyoming Truck Transportation Industry Value']

In [ ]:
add3 = pd.merge(wyoming_whole, wyoming_transport, on='Date')

In [ ]:
add2 = pd.merge(wyoming_manu, wyoming_durable, on='Date')

In [ ]:
add1 = pd.merge(wyoming_service, wyoming_mine, on='Date')

In [ ]:
add = pd.merge(wyoming_nonfarm, wyoming_pri, on='Date')

In [ ]:
wyoming = pd.merge(wyoming_goods, wyoming_gov, on='Date')

In [ ]:
wyoming1 = pd.merge(wyoming, add, on='Date')

In [ ]:
wyoming2 = pd.merge(wyoming1, add1, on='Date')

In [ ]:
wyoming3 = pd.merge(wyoming2, add2, on='Date')

In [ ]:
wyoming4 = pd.merge(wyoming3, add3, on='Date')
wyoming4

In [ ]:
wyoming5 = pd.merge(wyoming4, wyoming_truck, on='Date')
wyoming5

            Wyoming Goods Produced Value  ...  Wyoming Truck Transportation Industry Value
Date                                      ...
2006-01-31                          54.6  ...                                         64.8
2006-02-28                          54.8  ...                                         65.6
2006-03-31                          55.7  ...                                         66.2
2006-04-30                          58.2  ...                                         66.1
2006-05-31                          60.8  ...                                         67.1
...                                  ...  ...                                          ...
2020-03-31                          49.8  ...                                         69.4
2020-04-30                          48.5  ...                                         67.8
2020-05-31                          49.2  ...                                         66.7
2020-06-30                          49.7  ...                                         65.6
2020-07-31                          50.3  ...                                         62.5

[175 rows x 11 columns]

# Wisconsin

In [ ]:
#All Employees, In Thousands; Government - Wisconsin
wisconsin_gov = quandl.get("BLSE/SMU55000009000000001", start_date="2000-01-01", end_date="2020-08-01")
wisconsin_gov.columns=['Wisconsin Government Value']

In [ ]:
#All Employees, In Thousands; NonFarm - Wisconsin
wisconsin_nonfarm = quandl.get("BLSE/SMU55000000000000001", start_date="2000-01-01", end_date="2020-08-01")
wisconsin_nonfarm.columns= ['Wisconsin NonFarm Value']

In [ ]:
#All Employees, In Thousands; Private - Wisconsin
wisconsin_priv = quandl.get("BLSE/SMU55000000500000001", start_date="2000-01-01", end_date="2020-08-01")
wisconsin_priv.columns= ['Wisconsin Total Private Value']

In [ ]:
#All Employees, In Thousands; Goods Producing - Wisconsin
wisconsin_goods = quandl.get("BLSE/SMU55000000600000001", start_date="2000-01-01", end_date="2020-08-01")
wisconsin_goods.columns= ['Wisconsin Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Service - Wisconsin
wisconsin_service = quandl.get("BLSE/SMU55000000700000001", start_date="2000-01-01", end_date="2020-08-01")
wisconsin_service.columns= ['Wisconsin Service Provided Value']

In [ ]:
#All Employees, In Thousands; Mining and Logging - Wisconsin
wisconsin_mining = quandl.get("BLSE/SMU55000001000000001", start_date="2000-01-01", end_date="2020-08-01")
wisconsin_mining.columns= ['Wisconsin Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Manufacturing - Wisconsin
wisconsin_manufacture = quandl.get("BLSE/SMU55000003000000001", start_date="2000-01-01", end_date="2020-08-01")
wisconsin_manufacture.columns= ['Wisconsin Manufacturing Value']

In [ ]:
#All Employees, In Thousands; Durable Goods - Wisconsin
wisconsin_durable = quandl.get("BLSE/SMU55000003100000001", start_date="2000-01-01", end_date="2020-08-01")
wisconsin_durable.columns= ['Wisconsin Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Wholesale Trade - Wisconsin
wisconsin_wholesale = quandl.get("BLSE/SMU55000004100000001", start_date="2000-01-01", end_date="2020-08-01")
wisconsin_wholesale.columns= ['Wisconsin Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Transportation & Utilities - Wisconsin
wisconsin_transutil = quandl.get("BLSE/SMU55000004300000001", start_date="2000-01-01", end_date="2020-08-01")
wisconsin_transutil.columns= ['Wisconsin Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Truck Transportation - Wisconsin
wisconsin_truck = quandl.get("BLSE/SMU55000004348400001", start_date="2000-01-01", end_date="2020-08-01")
wisconsin_truck.columns= ['Wisconsin Truck Transportation Value']

In [ ]:
wis4 = pd.merge(wisconsin_wholesale, wisconsin_transutil, on='Date')

In [ ]:
wis3 = pd.merge(wisconsin_manufacture, wisconsin_durable, on='Date')

In [ ]:
wis2 = pd.merge(wisconsin_service, wisconsin_mining, on='Date')

In [ ]:
wis1 = pd.merge(wisconsin_priv, wisconsin_goods, on='Date')

In [ ]:
wisconsin = pd.merge(wisconsin_gov, wisconsin_nonfarm, on='Date')

In [ ]:
wisconsin1 = pd.merge(wisconsin, wis1, on='Date')
wisconsin1

In [ ]:
wisconsin2 = pd.merge(wisconsin1, wis2, on='Date')
wisconsin2

In [ ]:
wisconsin3 = pd.merge(wisconsin2, wis3, on='Date')
wisconsin3

In [ ]:
wisconsin4 = pd.merge(wisconsin3, wis4, on='Date')

In [ ]:
wisconsin5 = pd.merge(wisconsin4, wisconsin_truck, on='Date')
wisconsin5

            Wisconsin Government Value  ...  Wisconsin Truck Transportation Value
Date                                    ...
2006-01-31                       410.1  ...                                  47.0
2006-02-28                       419.7  ...                                  47.4
2006-03-31                       424.6  ...                                  47.9
2006-04-30                       427.5  ...                                  48.9
2006-05-31                       426.0  ...                                  49.7
...                                ...  ...                                   ...
2020-03-31                       416.3  ...                                  43.7
2020-04-30                       366.3  ...                                  41.4
2020-05-31                       361.0  ...                                  45.0
2020-06-30                       353.7  ...                                  45.3
2020-07-31                       338.5  ...                                  45.4

[175 rows x 11 columns]

# West Virginia

In [ ]:
#All Employees, In Thousands; Total Nonfarm - West Virginia
westvirginia_nonfarm = quandl.get("BLSE/SMU54000000000000001", start_date="2000-01-01", end_date="2020-08-01")
westvirginia_nonfarm.columns= ['West Virginia Total Nonfarm Value']

In [ ]:
#All Employees, In Thousands; Total Private - West Virginia
westvirginia_private = quandl.get("BLSE/SMU54000000500000001", start_date="2000-01-01", end_date="2020-08-01")
westvirginia_private.columns= ['West Virginia Total Private Value']

In [ ]:
#All Employees, In Thousands; Total Goods Produced - West Virginia
westvirginia_goods = quandl.get("BLSE/SMU54000000600000001", start_date="2000-01-01", end_date="2020-08-01")
westvirginia_goods.columns= ['West Virginia Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing - West Virginia
westvirginia_service = quandl.get("BLSE/SMU54000000700000001", start_date="2000-01-01", end_date="2020-08-01")
westvirginia_service.columns= ['West Virginia Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Provided - West Virginia
westvirginia_mining = quandl.get("BLSE/SMU54000001000000001", start_date="2000-01-01", end_date="2020-08-01")
westvirginia_mining.columns= ['West Virginia Total Mining & Logging Provided Value']

In [ ]:
#All Employees, In Thousands; Total Manufacturing Providing - West Virginia
westvirginia_manufacture = quandl.get("BLSE/SMU54000003000000001", start_date="2000-01-01", end_date="2020-08-01")
westvirginia_manufacture.columns= ['West Virginia Total Manufacturing Provided Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing - West Virginia
westvirginia_durable = quandl.get("BLSE/SMU54000003100000001", start_date="2000-01-01", end_date="2020-08-01")
westvirginia_durable.columns= ['West Virginia Total Durable Goods Provided Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing - West Virginia
westvirginia_wholesale = quandl.get("BLSE/SMU54000004100000001", start_date="2000-01-01", end_date="2020-08-01")
westvirginia_wholesale.columns= ['West Virginia Total Wholesale Trade Provided Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing - West Virginia
westvirginia_transutil = quandl.get("BLSE/SMU54000004300000001", start_date="2000-01-01", end_date="2020-08-01")
westvirginia_transutil.columns= ['West Virginia Total Transportation & Utilities Provided Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing - West Virginia NO TRUCK DATA
westvirginia_truck = quandl.get("BLSE/SMU54000004348400001", start_date="2000-01-01", end_date="2020-08-01")
westvirginia_truck.columns= ['West Virginia Total Truck Transportation Provided Value']

NotFoundError: ignored

In [ ]:
#All Employees, In Thousands; Total Government Providing - West Virginia NO TRUCK DATA
westvirginia_gov = quandl.get("BLSE/SMU54000009000000001", start_date="2000-01-01", end_date="2020-08-01")
westvirginia_gov.columns= ['West Virginia Total Government Provided Value']

In [ ]:
west4 = pd.merge(westvirginia_gov, westvirginia_transutil, on='Date')

In [ ]:
west3 = pd.merge(westvirginia_durable, westvirginia_wholesale, on='Date')

In [ ]:
west2 = pd.merge(westvirginia_manufacture, westvirginia_mining, on='Date')

In [ ]:
west1 = pd.merge(westvirginia_goods, westvirginia_service, on='Date')

In [ ]:
westvirginia = pd.merge(westvirginia_nonfarm, westvirginia_private, on='Date')

In [ ]:
westvirginia1 = pd.merge(westvirginia, west1, on='Date')

In [ ]:
westvirginia2 = pd.merge(westvirginia1, west2, on='Date')

In [ ]:
westvirginia3 = pd.merge(westvirginia2, west3, on='Date')

In [ ]:
#Missing Truck Transportation
westvirginia4 = pd.merge(westvirginia3, west4, on='Date')
westvirginia4

            West Virginia Total Nonfarm Value  ...  West Virginia Total Transportation & Utilities Provided Value
Date                                           ...
2006-01-31                              708.8  ...                                               25.9
2006-02-28                              711.7  ...                                               25.9
2006-03-31                              721.0  ...                                               26.1
2006-04-30                              723.7  ...                                               26.4
2006-05-31                              739.2  ...                                               26.6
...                                       ...  ...                                                ...
2020-03-31                              704.7  ...                                               24.9
2020-04-30                              619.3  ...                                               23.6
2020-05-31                              636.9  ...                                               24.3
2020-06-30                              669.7  ...                                               24.3
2020-07-31                              662.2  ...                                               24.4

[175 rows x 10 columns]

In [ ]:
# ---------------------------------------------------------------------------------------------------------------------

# Washington

In [ ]:
#All Employees, In Thousands; Total Government Providing -Washington
washington_gov = quandl.get("BLSE/SMU53000009000000001", start_date="2000-01-01", end_date="2020-08-01")
washington_gov.columns= ['Washington Total Government Provided Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Washington
washington_nonfarm = quandl.get("BLSE/SMU53000000000000001", start_date="2000-01-01", end_date="2020-08-01")
washington_nonfarm.columns= ['Washington Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -Washington
washington_priv = quandl.get("BLSE/SMU53000000500000001", start_date="2000-01-01", end_date="2020-08-01")
washington_priv.columns= ['Washington Total Private Provided Value']

In [ ]:
#All Employees, In Thousands; Total Goods Produced Providing -Washington
washington_goods = quandl.get("BLSE/SMU53000000600000001", start_date="2000-01-01", end_date="2020-08-01")
washington_goods.columns= ['Washington Total Goods Produced Provided Value']

In [ ]:
#All Employees, In Thousands; Total Service Provided Providing -Washington
washington_serv = quandl.get("BLSE/SMU53000000700000001", start_date="2000-01-01", end_date="2020-08-01")
washington_serv.columns= ['Washington Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -Washington
washington_mining = quandl.get("BLSE/SMU53000001000000001", start_date="2000-01-01", end_date="2020-08-01")
washington_mining.columns= ['Washington Total Mining & Logging Provided Value']

In [ ]:
#All Employees, In Thousands; Total Manufacturing Providing -Washington
washington_manu = quandl.get("BLSE/SMU53000003000000001", start_date="2000-01-01", end_date="2020-08-01")
washington_manu.columns= ['Washington Total Manufacturing Provided Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -Washington
washington_durable = quandl.get("BLSE/SMU53000003100000001", start_date="2000-01-01", end_date="2020-08-01")
washington_durable.columns= ['Washington Total Durable Goods Provided Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -Washington
washington_wholesale = quandl.get("BLSE/SMU53000004100000001", start_date="2000-01-01", end_date="2020-08-01")
washington_wholesale.columns= ['Washington Total Wholesale Trade Provided Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -Washington
washington_transutil = quandl.get("BLSE/SMU53000004300000001", start_date="2000-01-01", end_date="2020-08-01")
washington_transutil.columns= ['Washington Total Transportation & Utilities Provided Value']

In [ ]:
#All Employees, In Thousands; Total Air Transportation Providing -Washington
washington_air = quandl.get("BLSE/SMU53000004348100001", start_date="2000-01-01", end_date="2020-08-01")
washington_air.columns= ['Washington Total Air Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -Washington
washington_truck = quandl.get("BLSE/SMU53000004348400001", start_date="2000-01-01", end_date="2020-08-01")
washington_truck.columns= ['Washington Total Truck Transportation Provided Value']

In [ ]:
wash5 = pd.merge(washington_air, washington_truck, on='Date')

In [ ]:
wash4 = pd.merge(washington_wholesale, washington_transutil, on='Date')

In [ ]:
wash3 = pd.merge(washington_manu, washington_durable, on='Date')

In [ ]:
wash2 = pd.merge(washington_serv, washington_mining, on='Date')

In [ ]:
wash1 = pd.merge(washington_priv, washington_goods, on='Date')

In [ ]:
washington = pd.merge(washington_gov, washington_nonfarm, on='Date')

In [ ]:
washington1 = pd.merge(washington, wash1, on='Date')

In [ ]:
washington2 = pd.merge(washington1, wash2, on='Date')

In [ ]:
washington3 = pd.merge(washington2, wash3, on='Date')

In [ ]:
washington4 = pd.merge(washington3, wash4, on='Date')

In [ ]:
washington5 = pd.merge(washington4, wash5, on='Date')
washington5

            Washington Total Government Provided Value  ...  Washington Total Truck Transportation Provided Value
Date                                                    ...
2006-01-31                                       529.6  ...                                               23.9
2006-02-28                                       536.5  ...                                               24.0
2006-03-31                                       538.2  ...                                               24.3
2006-04-30                                       536.8  ...                                               24.6
2006-05-31                                       539.1  ...                                               24.9
...                                                ...  ...                                                ...
2020-03-31                                       598.4  ...                                               25.0
2020-04-30                                       572.4  ...                                               21.5
2020-05-31                                       555.1  ...                                               21.8
2020-06-30                                       549.1  ...                                               21.8
2020-07-31                                       541.6  ...                                               22.6

[175 rows x 12 columns]

# Virginia

In [ ]:
#All Employees, In Thousands; Total Government Providing -Virginia
virginia_gov = quandl.get("BLSE/SMU51000009000000001", start_date="2000-01-01", end_date="2020-08-01")
virginia_gov.columns= ['Virginia Total Government Provided Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Virginia
virginia_nonfarm = quandl.get("BLSE/SMU51000000000000001", start_date="2000-01-01", end_date="2020-08-01")
virginia_nonfarm.columns= ['Virginia Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -Virginia
virginia_priv = quandl.get("BLSE/SMU51000000500000001", start_date="2000-01-01", end_date="2020-08-01")
virginia_priv.columns= ['Virginia Total Private Provided Value']

In [ ]:
#All Employees, In Thousands; Total Goods Produced Providing -Virginia
virginia_goods = quandl.get("BLSE/SMU51000000600000001", start_date="2000-01-01", end_date="2020-08-01")
virginia_goods.columns= ['Virginia Total Goods Produced Provided Value']

In [ ]:
#All Employees, In Thousands; Total Service Provided Providing -Virginia
virginia_serv = quandl.get("BLSE/SMU51000000700000001", start_date="2000-01-01", end_date="2020-08-01")
virginia_serv.columns= ['Virginia Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -Virginia
virginia_mine = quandl.get("BLSE/SMU51000001000000001", start_date="2000-01-01", end_date="2020-08-01")
virginia_mine.columns= ['Virginia Total Mining & Logging Provided Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -Virginia
virginia_manu = quandl.get("BLSE/SMU51000003000000001", start_date="2000-01-01", end_date="2020-08-01")
virginia_manu.columns= ['Virginia Total Manufacture Provided Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -Virginia
virginia_durable = quandl.get("BLSE/SMU51000003100000001", start_date="2000-01-01", end_date="2020-08-01")
virginia_durable.columns= ['Virginia Total Durable Goods Provided Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -Virginia
virginia_wholesale = quandl.get("BLSE/SMU51000004100000001", start_date="2000-01-01", end_date="2020-08-01")
virginia_wholesale.columns= ['Virginia Total Wholesale Trade Provided Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Goods Providing -Virginia
virginia_transutil = quandl.get("BLSE/SMU51000004300000001", start_date="2000-01-01", end_date="2020-08-01")
virginia_transutil.columns= ['Virginia Total Transportation & Utilities Provided Value']

In [ ]:
va4 = pd.merge(virginia_wholesale, virginia_transutil, on='Date')

In [ ]:
va3 = pd.merge( virginia_manu, virginia_durable, on='Date')

In [ ]:
va2 = pd.merge(virginia_serv, virginia_mine, on='Date')

In [ ]:
va1 = pd.merge(virginia_priv, virginia_goods, on='Date')

In [ ]:
virginia = pd.merge(virginia_gov, virginia_nonfarm, on='Date')

In [ ]:
virginia1 = pd.merge(virginia, va1, on='Date')

In [ ]:
virginia2 = pd.merge(virginia1, va2, on='Date')

In [ ]:
virginia3 = pd.merge(virginia2, va3, on='Date')

In [ ]:
virginia4 = pd.merge(virginia3, va4, on='Date')
virginia4

            Virginia Total Government Provided Value  ...  Virginia Total Transportation & Utilities Provided Value
Date                                                  ...
2006-01-31                                     662.2  ...                                              119.6
2006-02-28                                     673.3  ...                                              117.4
2006-03-31                                     676.8  ...                                              118.3
2006-04-30                                     679.7  ...                                              118.0
2006-05-31                                     677.7  ...                                              118.7
...                                              ...  ...                                                ...
2020-03-31                                     743.8  ...                                              142.0
2020-04-30                                     718.3  ...                                              135.4
2020-05-31                                     693.4  ...                                              136.0
2020-06-30                                     683.3  ...                                              139.9
2020-07-31                                     646.9  ...                                              140.3

[175 rows x 10 columns]

# Vermont

In [ ]:
#All Employees, In Thousands; Total Government Providing -Vermont
vermont_gov = quandl.get("BLSE/SMU50000009000000001", start_date="2000-01-01", end_date="2020-08-01")
vermont_gov.columns= ['Vermont Total Government Provided Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Vermont
vermont_nonfarm = quandl.get("BLSE/SMU50000000000000001", start_date="2000-01-01", end_date="2020-08-01")
vermont_nonfarm.columns= ['Vermont Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -Vermont
vermont_priv = quandl.get("BLSE/SMU50000000500000001", start_date="2000-01-01", end_date="2020-08-01")
vermont_priv.columns= ['Vermont Total Private Provided Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -Vermont
vermont_goods = quandl.get("BLSE/SMU50000000600000001", start_date="2000-01-01", end_date="2020-08-01")
vermont_goods.columns= ['Vermont Total Goods Produced Provided Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -Vermont
vermont_serv = quandl.get("BLSE/SMU50000000700000001", start_date="2000-01-01", end_date="2020-08-01")
vermont_serv.columns= ['Vermont Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -Vermont
vermont_mine = quandl.get("BLSE/SMU50000001000000001", start_date="2000-01-01", end_date="2020-08-01")
vermont_mine.columns= ['Vermont Total Mining & Logging Provided Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -Vermont
vermont_manu = quandl.get("BLSE/SMU50000003000000001", start_date="2000-01-01", end_date="2020-08-01")
vermont_manu.columns= ['Vermont Total Manufacture Provided Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -Vermont
vermont_durable = quandl.get("BLSE/SMU50000003100000001", start_date="2000-01-01", end_date="2020-08-01")
vermont_durable.columns= ['Vermont TotalDurable Goods Provided Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -Vermont
vermont_wholesale = quandl.get("BLSE/SMU50000004100000001", start_date="2000-01-01", end_date="2020-08-01")
vermont_wholesale.columns= ['Vermont Wholesale Trade Provided Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -Vermont
vermont_transutil = quandl.get("BLSE/SMU50000004300000001", start_date="2000-01-01", end_date="2020-08-01")
vermont_transutil.columns= ['Vermont Total Transportation & Utilities Provided Value']

In [ ]:
ver4 = pd.merge(vermont_wholesale, vermont_transutil, on='Date')

In [ ]:
ver3 = pd.merge(vermont_manu, vermont_durable, on='Date')

In [ ]:
ver2 = pd.merge(vermont_serv, vermont_mine, on='Date')

In [ ]:
ver1 = pd.merge(vermont_priv, vermont_goods, on='Date')

In [ ]:
vermont = pd.merge(vermont_gov, vermont_nonfarm, on='Date')

In [ ]:
vermont1 = pd.merge(vermont, ver1, on='Date')

In [ ]:
vermont2 = pd.merge(vermont1, ver2, on='Date')

In [ ]:
vermont3 = pd.merge(vermont2, ver3, on='Date')

In [ ]:
vermont4 = pd.merge(vermont3, ver4, on='Date')
vermont4

            Vermont Total Government Provided Value  ...  Vermont Total Transportation & Utilities Provided Value
Date                                                 ...
2006-01-31                                     54.4  ...                                                8.8
2006-02-28                                     56.0  ...                                                8.7
2006-03-31                                     56.0  ...                                                8.7
2006-04-30                                     56.0  ...                                                8.7
2006-05-31                                     55.7  ...                                                8.8
...                                             ...  ...                                                ...
2020-03-31                                     59.2  ...                                                8.1
2020-04-30                                     55.0  ...                                                7.5
2020-05-31                                     53.4  ...                                                7.9
2020-06-30                                     53.0  ...                                                8.3
2020-07-31                                     49.7  ...                                                8.2

[175 rows x 10 columns]

# Utah

In [ ]:
#All Employees, In Thousands; Total Government Providing -Utah
utah_gov = quandl.get("BLSE/SMU49000009000000001", start_date="2000-01-01", end_date="2020-08-01")
utah_gov.columns= ['Utah Total Government Provided Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Utah
utah_nonfarm = quandl.get("BLSE/SMU49000000000000001", start_date="2000-01-01", end_date="2020-08-01")
utah_nonfarm.columns= ['Utah Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -Utah
utah_priv = quandl.get("BLSE/SMU49000000500000001", start_date="2000-01-01", end_date="2020-08-01")
utah_priv.columns= ['Utah Total Private Provided Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -Utah
utah_goods = quandl.get("BLSE/SMU49000000600000001", start_date="2000-01-01", end_date="2020-08-01")
utah_goods.columns= ['Utah Total Goods Produced Provided Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -Utah
utah_serv = quandl.get("BLSE/SMU49000000700000001", start_date="2000-01-01", end_date="2020-08-01")
utah_serv.columns= ['Utah Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -Utah
utah_mine = quandl.get("BLSE/SMU49000001000000001", start_date="2000-01-01", end_date="2020-08-01")
utah_mine.columns= ['Utah Total Mining & Logging Provided Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -Utah
utah_manu = quandl.get("BLSE/SMU49000003000000001", start_date="2000-01-01", end_date="2020-08-01")
utah_manu.columns= ['Utah Total Manufacture Provided Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -Utah
utah_durable = quandl.get("BLSE/SMU49000003100000001", start_date="2000-01-01", end_date="2020-08-01")
utah_durable.columns= ['Utah Total Durable Goods Provided Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -Utah
utah_wholesale = quandl.get("BLSE/SMU49000004100000001", start_date="2000-01-01", end_date="2020-08-01")
utah_wholesale.columns= ['Utah Wholesale Trade Provided Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -Utah
utah_transutil = quandl.get("BLSE/SMU49000004300000001", start_date="2000-01-01", end_date="2020-08-01")
utah_transutil.columns= ['Utah Total Transportation & Utilities Provided Value']

In [ ]:
#All Employees, In Thousands; Total Air Transportation Providing -Utah
utah_air = quandl.get("BLSE/SMU49000004348100001", start_date="2000-01-01", end_date="2020-08-01")
utah_air.columns= ['Utah Total Air Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -Utah
utah_truck = quandl.get("BLSE/SMU49000004348400001", start_date="2000-01-01", end_date="2020-08-01")
utah_truck.columns= ['Utah Total Truck Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Telecommunication Providing -Utah
utah_telecommunication = quandl.get("BLSE/SMU49000005051700001", start_date="2000-01-01", end_date="2020-08-01")
utah_telecommunication.columns= ['Utah Total Telecommunication Provided Value']

In [ ]:
#All Employees, In Thousands; Total Real Estate Providing -Utah
utah_estate = quandl.get("BLSE/SMU49000005553100001", start_date="2000-01-01", end_date="2020-08-01")
utah_estate.columns= ['Utah Total Real Estate Provided Value']

In [ ]:
ut6 = pd.merge(utah_telecommunication, utah_estate, on='Date')

In [ ]:
ut5 = pd.merge(utah_air, utah_truck, on='Date')

In [ ]:
ut4 = pd.merge(utah_wholesale, utah_transutil, on='Date')

In [ ]:
ut3 = pd.merge(utah_manu, utah_durable, on='Date')

In [ ]:
ut2 = pd.merge(utah_serv, utah_mine, on='Date')

In [ ]:
ut1 = pd.merge(utah_priv, utah_goods, on='Date')

In [ ]:
utah = pd.merge(utah_gov, utah_nonfarm, on='Date')

In [ ]:
utah1 = pd.merge(utah, ut1, on='Date')

In [ ]:
utah2 = pd.merge(utah1, ut2, on='Date')

In [ ]:
utah3 = pd.merge(utah2, ut3, on='Date')

In [ ]:
utah4 = pd.merge(utah3, ut4, on='Date')

In [ ]:
utah5 = pd.merge(utah4, ut5, on='Date')

In [ ]:
utah6 = pd.merge(utah5, ut6, on='Date')
utah6

            Utah Total Government Provided Value  ...  Utah Total Real Estate Provided Value
Date                                              ...
2006-01-31                                 204.0  ...                                   11.4
2006-02-28                                 206.2  ...                                   11.5
2006-03-31                                 206.9  ...                                   11.6
2006-04-30                                 207.7  ...                                   11.7
2006-05-31                                 206.6  ...                                   11.7
...                                          ...  ...                                    ...
2020-03-31                                 261.3  ...                                   16.9
2020-04-30                                 253.3  ...                                   14.7
2020-05-31                                 245.8  ...                                   16.0
2020-06-30                                 243.3  ...                                   17.1
2020-07-31                                 237.3  ...                                   16.8

[175 rows x 14 columns]

# Texas

In [ ]:
#All Employees, In Thousands; Total Government Providing -Texas
texas_gov = quandl.get("BLSE/SMU48000009000000001", start_date="2000-01-01", end_date="2020-08-01")
texas_gov.columns= ['Texas Total Government Provided Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Texas
texas_nonfarm = quandl.get("BLSE/SMU48000000000000001", start_date="2000-01-01", end_date="2020-08-01")
texas_nonfarm.columns= ['Texas Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -Texas
texas_priv = quandl.get("BLSE/SMU48000000500000001", start_date="2000-01-01", end_date="2020-08-01")
texas_priv.columns= ['Texas Total Private Provided Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -Texas
texas_goods = quandl.get("BLSE/SMU48000000600000001", start_date="2000-01-01", end_date="2020-08-01")
texas_goods.columns= ['Texas Total Goods Produced Provided Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -Texas
texas_serv = quandl.get("BLSE/SMU48000000700000001", start_date="2000-01-01", end_date="2020-08-01")
texas_serv.columns= ['Texas Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -Texas
texas_mine = quandl.get("BLSE/SMU48000001000000001", start_date="2000-01-01", end_date="2020-08-01")
texas_mine.columns= ['Texas Total Mining & Logging Provided Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -Texas
texas_manu = quandl.get("BLSE/SMU48000003000000001", start_date="2000-01-01", end_date="2020-08-01")
texas_manu.columns= ['Texas Total Manufacture Provided Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -Texas
texas_durable = quandl.get("BLSE/SMU48000003100000001", start_date="2000-01-01", end_date="2020-08-01")
texas_durable.columns= ['Texas Total Durable Goods Provided Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -Texas
texas_wholesale = quandl.get("BLSE/SMU48000004100000001", start_date="2000-01-01", end_date="2020-08-01")
texas_wholesale.columns= ['Texas Wholesale Trade Provided Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -Texas
texas_transutil = quandl.get("BLSE/SMU48000004300000001", start_date="2000-01-01", end_date="2020-08-01")
texas_transutil.columns= ['Texas Total Transportation & Utilities Provided Value']

In [ ]:
#All Employees, In Thousands; Total Air Transportation Providing -Texas
texas_air = quandl.get("BLSE/SMU48000004348100001", start_date="2000-01-01", end_date="2020-08-01")
texas_air.columns= ['Texas Total Air Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -Texas
texas_truck = quandl.get("BLSE/SMU48000004348400001", start_date="2000-01-01", end_date="2020-08-01")
texas_truck.columns= ['Texas Total Truck Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Telecommunication Providing -Texas
texas_telecommunication = quandl.get("BLSE/SMU48000005051700001", start_date="2000-01-01", end_date="2020-08-01")
texas_telecommunication.columns= ['Texas Total Telecommunication Provided Value']

In [ ]:
#All Employees, In Thousands; Total Real Estate Providing -Texas
texas_estate = quandl.get("BLSE/SMU48000005553100001", start_date="2000-01-01", end_date="2020-08-01")
texas_estate.columns= ['Texas Total Real Estate Provided Value']

In [ ]:
tx6 = pd.merge(texas_telecommunication, texas_estate, on='Date')

In [ ]:
tx5 = pd.merge(texas_air, texas_truck, on='Date')

In [ ]:
tx4 = pd.merge(texas_wholesale, texas_transutil, on='Date')

In [ ]:
tx3 = pd.merge(texas_manu, texas_durable, on='Date')

In [ ]:
tx2 = pd.merge(texas_serv, texas_mine, on='Date')

In [ ]:
tx1 = pd.merge(texas_priv, texas_goods, on='Date')

In [ ]:
texas = pd.merge(texas_gov, texas_nonfarm, on='Date')

In [ ]:
texas1 = pd.merge(texas, tx1, on='Date')

In [ ]:
texas2 = pd.merge(texas1, tx2, on='Date')

In [ ]:
texas3 = pd.merge(texas2, tx3, on='Date')

In [ ]:
texas4 = pd.merge(texas3, tx4, on='Date')

In [ ]:
texas5 = pd.merge(texas4, tx5, on='Date')

In [ ]:
texas6 = pd.merge(texas5, tx6, on='Date')

In [ ]:
texas6

            Texas Total Government Provided Value  ...  Texas Total Real Estate Provided Value
Date                                               ...
2006-01-31                                 1734.8  ...                                   111.6
2006-02-28                                 1759.9  ...                                   112.1
2006-03-31                                 1762.2  ...                                   113.3
2006-04-30                                 1752.5  ...                                   113.8
2006-05-31                                 1760.8  ...                                   114.5
...                                           ...  ...                                     ...
2020-03-31                                 2027.3  ...                                   163.0
2020-04-30                                 1975.9  ...                                   154.8
2020-05-31                                 1932.1  ...                                   158.1
2020-06-30                                 1891.1  ...                                   162.6
2020-07-31                                 1856.6  ...                                   165.5

[175 rows x 14 columns]

# Tennessee

In [ ]:
#All Employees, In Thousands; Total Government Providing -Tennessee
tenn_gov = quandl.get("BLSE/SMU47000009000000001", start_date="2000-01-01", end_date="2020-08-01")
tenn_gov.columns= ['Tennessee Total Government Provided Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Tenneseee
tenn_nonfarm = quandl.get("BLSE/SMU47000000000000001", start_date="2000-01-01", end_date="2020-08-01")
tenn_nonfarm.columns= ['Tennessee Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -Tennessee
tenn_priv = quandl.get("BLSE/SMU47000000500000001", start_date="2000-01-01", end_date="2020-08-01")
tenn_priv.columns= ['Tennessee Total Private Provided Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -Tennessee
tenn_goods = quandl.get("BLSE/SMU47000000600000001", start_date="2000-01-01", end_date="2020-08-01")
tenn_goods.columns= ['Tennessee Total Goods Produced Provided Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -Tennessee
tenn_serv = quandl.get("BLSE/SMU47000000700000001", start_date="2000-01-01", end_date="2020-08-01")
tenn_serv.columns= ['Tennessee Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -Tennessee
tenn_manu = quandl.get("BLSE/SMU47000003000000001", start_date="2000-01-01", end_date="2020-08-01")
tenn_manu.columns= ['Tennessee Total Manufacture Provided Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -Tennessee
tenn_durable = quandl.get("BLSE/SMU47000003100000001", start_date="2000-01-01", end_date="2020-08-01")
tenn_durable.columns= ['Tennessee Total Durable Goods Provided Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -Tennessee
tenn_wholesale = quandl.get("BLSE/SMU47000004100000001", start_date="2000-01-01", end_date="2020-08-01")
tenn_wholesale.columns= ['Tennessee Wholesale Trade Provided Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -Tennessee
tenn_transutil = quandl.get("BLSE/SMU47000004300000001", start_date="2000-01-01", end_date="2020-08-01")
tenn_transutil.columns= ['Tennessee Total Transportation & Utilities Provided Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -Tennessee
tenn_truck = quandl.get("BLSE/SMU47000004348400001", start_date="2000-01-01", end_date="2020-08-01")
tenn_truck.columns= ['Tennessee Total Truck Transportation Provided Value']

In [ ]:
tenn4 = pd.merge(tenn_transutil, tenn_truck, on='Date')

In [ ]:
tenn3 = pd.merge(tenn_durable, tenn_wholesale, on='Date')

In [ ]:
tenn2 = pd.merge(tenn_serv, tenn_manu, on='Date')

In [ ]:
tenn1 = pd.merge(tenn_priv, tenn_goods, on='Date')

In [ ]:
tennessee = pd.merge(tenn_gov, tenn_nonfarm, on='Date')

In [ ]:
tennessee1 = pd.merge(tennessee, tenn1, on='Date')

In [ ]:
tennessee2 = pd.merge(tennessee1, tenn2, on='Date')

In [ ]:
tennessee3 = pd.merge(tennessee2, tenn3, on='Date')

In [ ]:
tennessee4 = pd.merge(tennessee3, tenn4, on='Date')
tennessee4

            Tennessee Total Government Provided Value  ...  Tennessee Total Truck Transportation Provided Value
Date                                                   ...
2006-01-31                                      409.5  ...                                               62.2
2006-02-28                                      415.0  ...                                               62.5
2006-03-31                                      417.6  ...                                               63.8
2006-04-30                                      419.5  ...                                               63.6
2006-05-31                                      417.9  ...                                               64.1
...                                               ...  ...                                                ...
2020-03-31                                      448.6  ...                                               61.0
2020-04-30                                      435.0  ...                                               58.8
2020-05-31                                      424.0  ...                                               59.2
2020-06-30                                      412.8  ...                                               60.3
2020-07-31                                      389.0  ...                                               60.2

[175 rows x 10 columns]

# South Dakota

In [ ]:
#All Employees, In Thousands; Total Government Providing -South Dakota 
sd_gov = quandl.get("BLSE/SMU46000009000000001", start_date="2000-01-01", end_date="2020-08-01")
sd_gov.columns= ['South Dakota Total Government Provided Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -South Dakota
sd_nonfarm = quandl.get("BLSE/SMU46000000000000001", start_date="2000-01-01", end_date="2020-08-01")
sd_nonfarm.columns= ['South Dakota Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -Tennessee
sd_priv = quandl.get("BLSE/SMU46000000500000001", start_date="2000-01-01", end_date="2020-08-01")
sd_priv.columns= ['South Dakota Total Private Provided Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -Tennessee
sd_goods = quandl.get("BLSE/SMU46000000600000001", start_date="2000-01-01", end_date="2020-08-01")
sd_goods.columns= ['South Dakota Total Goods Produced Provided Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South dakota
sd_serv = quandl.get("BLSE/SMU46000000700000001", start_date="2000-01-01", end_date="2020-08-01")
sd_serv.columns= ['South Dakota Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Dakota
sd_manu = quandl.get("BLSE/SMU46000003000000001", start_date="2000-01-01", end_date="2020-08-01")
sd_manu.columns= ['South Dakota Total Manufacture Provided Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Dakota
sd_wholesale = quandl.get("BLSE/SMU46000004100000001", start_date="2000-01-01", end_date="2020-08-01")
sd_wholesale.columns= ['South Dakota Wholesale Trade Provided Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Dakota
sd_transutil = quandl.get("BLSE/SMU46000004300000001", start_date="2000-01-01", end_date="2020-08-01")
sd_transutil.columns= ['South Dakota Total Transportation & Utilities Provided Value']

In [ ]:
sd3 = pd.merge(sd_wholesale, sd_transutil, on='Date')

In [ ]:
sd2 = pd.merge(sd_serv, sd_manu, on='Date')

In [ ]:
sd1 = pd.merge(sd_priv, sd_goods, on='Date')

In [ ]:
sd = pd.merge(sd_gov, sd_nonfarm, on='Date')

In [ ]:
southd= pd.merge(sd, sd1, on='Date')

In [ ]:
southd1 = pd.merge(southd, sd2, on='Date')

In [ ]:
southd2 = pd.merge(southd1, sd3, on='Date')
southd2

            South Dakota Total Government Provided Value  ...  South Dakota Total Transportation & Utilities Provided Value
Date                                                      ...
2006-01-31                                          74.4  ...                                               12.3
2006-02-28                                          75.5  ...                                               12.3
2006-03-31                                          75.8  ...                                               12.4
2006-04-30                                          75.9  ...                                               12.5
2006-05-31                                          77.5  ...                                               12.8
...                                                  ...  ...                                                ...
2020-03-31                                          80.9  ...                                               13.3
2020-04-30                                          74.9  ...                                               12.2
2020-05-31                                          73.1  ...                                               12.3
2020-06-30                                          74.3  ...                                               12.4
2020-07-31                                          71.0  ...                                               12.5

[175 rows x 8 columns]

# South Carolina

In [ ]:
#All Employees, In Thousands; Total Government Providing -South Dakota 
sc_gov = quandl.get("BLSE/SMU45000009000000001", start_date="2000-01-01", end_date="2020-08-01")
sc_gov.columns= ['South Carolina Total Government Provided Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -South Dakota
sc_nonfarm = quandl.get("BLSE/SMU45000000000000001", start_date="2000-01-01", end_date="2020-08-01")
sc_nonfarm.columns= ['South Carolina Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
sc_priv = quandl.get("BLSE/SMU45000000500000001", start_date="2000-01-01", end_date="2020-08-01")
sc_priv.columns= ['South Carolina Total Private Provided Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
sc_goods = quandl.get("BLSE/SMU45000000600000001", start_date="2000-01-01", end_date="2020-08-01")
sc_goods.columns= ['South Carolina Total Goods Produced Provided Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
sc_serv = quandl.get("BLSE/SMU45000000700000001", start_date="2000-01-01", end_date="2020-08-01")
sc_serv.columns= ['South Carolina Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
sc_mine = quandl.get("BLSE/SMU45000001000000001", start_date="2000-01-01", end_date="2020-08-01")
sc_mine.columns= ['South Carolina Total Mining & Logging Provided Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
sc_manu = quandl.get("BLSE/SMU45000003000000001", start_date="2000-01-01", end_date="2020-08-01")
sc_manu.columns= ['South Carolina Total Manufacture Provided Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
sc_durable = quandl.get("BLSE/SMU45000003000000001", start_date="2000-01-01", end_date="2020-08-01")
sc_durable.columns= ['South Caorlina Total Durable Goods Provided Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
sc_wholesale = quandl.get("BLSE/SMU45000004100000001", start_date="2000-01-01", end_date="2020-08-01")
sc_wholesale.columns= ['South Carolina Wholesale Trade Provided Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
sc_transutil = quandl.get("BLSE/SMU45000004300000001", start_date="2000-01-01", end_date="2020-08-01")
sc_transutil.columns= ['South Carolina Total Transportation & Utilities Provided Value']

In [ ]:
sc3= pd.merge(sc_manu, sc_wholesale, on='Date')

In [ ]:
sc2 = pd.merge(sc_serv, sc_mine, on='Date')

In [ ]:
sc1 = pd.merge(sc_priv, sc_goods, on='Date')

In [ ]:
south_carolina = pd.merge(sc_gov, sc_nonfarm, on='Date')

In [ ]:
south_carolina1 = pd.merge(south_carolina, sc1, on='Date')

In [ ]:
south_carolina2 = pd.merge(south_carolina1, sc2, on='Date')

In [ ]:
south_carolina3 = pd.merge(south_carolina2, sc3, on='Date')

In [ ]:
south_carolina4 = pd.merge(south_carolina3, sc_transutil, on='Date')

In [ ]:
south_carolina5 = pd.merge(south_carolina4, sc_durable, on='Date')
south_carolina5

            South Carolina Total Government Provided Value  ...  South Caorlina Total Durable Goods Provided Value
Date                                                        ...
2006-01-31                                           337.9  ...                                              252.7
2006-02-28                                           343.2  ...                                              252.5
2006-03-31                                           346.6  ...                                              252.8
2006-04-30                                           346.2  ...                                              253.9
2006-05-31                                           346.3  ...                                              254.0
...                                                    ...  ...                                                ...
2020-03-31                                           380.8  ...                                              258.4
2020-04-30                                           367.2  ...                                              244.5
2020-05-31                                           360.2  ...                                              244.9
2020-06-30                                           353.9  ...                                              252.3
2020-07-31                                           344.8  ...                                              253.5

[175 rows x 10 columns]

# Rhode Island

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
ri_gov = quandl.get("BLSE/SMU44000009000000001", start_date="2000-01-01", end_date="2020-08-01")
ri_gov.columns= ['Rhode Island Total Government Provided Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
ri_nonfarm = quandl.get("BLSE/SMU44000000000000001", start_date="2000-01-01", end_date="2020-08-01")
ri_nonfarm.columns= ['Rhode Island Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
ri_priv = quandl.get("BLSE/SMU44000000500000001", start_date="2000-01-01", end_date="2020-08-01")
ri_priv.columns= ['Rhode Island Total Private Provided Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
ri_goods = quandl.get("BLSE/SMU44000000600000001", start_date="2000-01-01", end_date="2020-08-01")
ri_goods.columns= ['Rhode Island Total Goods Produced Provided Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
ri_serv = quandl.get("BLSE/SMU44000000700000001", start_date="2000-01-01", end_date="2020-08-01")
ri_serv.columns= ['Rhode Island Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
ri_mine = quandl.get("BLSE/SMU44000001000000001", start_date="2000-01-01", end_date="2020-08-01")
ri_mine.columns= ['Rhode Island Total Mining & Logging Provided Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
ri_manu = quandl.get("BLSE/SMU44000003000000001", start_date="2000-01-01", end_date="2020-08-01")
ri_manu.columns= ['Rhode Island Total Manufacture Provided Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
ri_durable = quandl.get("BLSE/SMU44000003000000001", start_date="2000-01-01", end_date="2020-08-01")
ri_durable.columns= ['Rhode Island Total Durable Goods Provided Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
ri_wholesale = quandl.get("BLSE/SMU44000004100000001", start_date="2000-01-01", end_date="2020-08-01")
ri_wholesale.columns= ['Rhode Island Wholesale Trade Provided Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
ri_transutil = quandl.get("BLSE/SMU44000004300000001", start_date="2000-01-01", end_date="2020-08-01")
ri_transutil.columns= ['Rhode Island Total Transportation & Utilities Provided Value']

In [ ]:
ri4 = pd.merge(ri_wholesale, ri_transutil, on='Date')

In [ ]:
ri3 = pd.merge(ri_manu, ri_durable, on='Date')

In [ ]:
ri2 = pd.merge(ri_serv, ri_mine, on='Date')

In [ ]:
ri1 = pd.merge(ri_priv, ri_goods, on='Date')

In [ ]:
rhode_island = pd.merge(ri_gov, ri_nonfarm, on='Date')

In [ ]:
rhode_island1 = pd.merge(rhode_island, ri1, on='Date')

In [ ]:
rhode_island2 = pd.merge(rhode_island1, ri2, on='Date')

In [ ]:
rhode_island3 = pd.merge(rhode_island2, ri3, on='Date')

In [ ]:
rhode_island4 = pd.merge(rhode_island3, ri4, on='Date')
rhode_island4

            Rhode Island Total Government Provided Value  ...  Rhode Island Total Transportation & Utilities Provided Value
Date                                                      ...
2006-01-31                                          68.7  ...                                               10.6
2006-02-28                                          69.2  ...                                               10.6
2006-03-31                                          69.3  ...                                               10.6
2006-04-30                                          69.0  ...                                               10.9
2006-05-31                                          69.2  ...                                               11.1
...                                                  ...  ...                                                ...
2020-03-31                                          66.1  ...                                               12.6
2020-04-30                                          65.0  ...                                               10.0
2020-05-31                                          65.1  ...                                                9.8
2020-06-30                                          61.5  ...                                               10.1
2020-07-31                                          59.2  ...                                               10.2

[175 rows x 10 columns]

# Pennslyvania

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
penn_gov = quandl.get("BLSE/SMU42000009000000001", start_date="2000-01-01", end_date="2020-08-01")
penn_gov.columns= ['Pennslyvania Total Government Provided Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
penn_nonfarm = quandl.get("BLSE/SMU42000000000000001", start_date="2000-01-01", end_date="2020-08-01")
penn_nonfarm.columns= ['Pennslyvania  Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
penn_priv = quandl.get("BLSE/SMU42000000500000001", start_date="2000-01-01", end_date="2020-08-01")
penn_priv.columns= ['Pennslyvania Total Private Provided Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
penn_goods = quandl.get("BLSE/SMU42000000600000001", start_date="2000-01-01", end_date="2020-08-01")
penn_goods.columns= ['Pennslyvania Total Goods Produced Provided Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
penn_serv = quandl.get("BLSE/SMU42000000700000001", start_date="2000-01-01", end_date="2020-08-01")
penn_serv.columns= ['Pennslyvania Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
penn_mine = quandl.get("BLSE/SMU42000001000000001", start_date="2000-01-01", end_date="2020-08-01")
penn_mine.columns= ['Pennslyvania Total Mining & Logging Provided Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
penn_manu = quandl.get("BLSE/SMU42000003000000001", start_date="2000-01-01", end_date="2020-08-01")
penn_manu.columns= ['Pennslyvania Total Manufacture Provided Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
penn_durable = quandl.get("BLSE/SMU42000003000000001", start_date="2000-01-01", end_date="2020-08-01")
penn_durable.columns= ['Pennslyvania Total Durable Goods Provided Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
penn_wholesale = quandl.get("BLSE/SMU42000004100000001", start_date="2000-01-01", end_date="2020-08-01")
penn_wholesale.columns= ['Pennslyvania Wholesale Trade Provided Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
penn_transutil = quandl.get("BLSE/SMU42000004300000001", start_date="2000-01-01", end_date="2020-08-01")
penn_transutil.columns= ['Pennslyvania Total Transportation & Utilities Provided Value']

In [ ]:
#All Employees, In Thousands; Total Air Transportation Providing -South Carolina
penn_air = quandl.get("BLSE/SMU42000004348100001", start_date="2000-01-01", end_date="2020-08-01")
penn_air.columns= ['Pennslyvania Total Air Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
penn_truck = quandl.get("BLSE/SMU42000004348400001", start_date="2000-01-01", end_date="2020-08-01")
penn_truck.columns= ['Pennslyvania Total Truck Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
penn_telecom = quandl.get("BLSE/SMU42000005051700001", start_date="2000-01-01", end_date="2020-08-01")
penn_telecom.columns= ['Pennslyvania Total Telecommunication Provided Value']

In [ ]:
#All Employees, In Thousands; Total Real Estate Transportation Providing -South Carolina
penn_estate = quandl.get("BLSE/SMU42000005553100001", start_date="2000-01-01", end_date="2020-08-01")
penn_estate.columns= ['Pennslyvania Total Real Estate Provided Value']

In [ ]:
p6 = pd.merge(penn_telecom, penn_estate, on='Date')

In [ ]:
p5 = pd.merge(penn_air, penn_truck, on='Date')

In [ ]:
p4 = pd.merge(penn_wholesale, penn_transutil, on='Date')

In [ ]:
p3 = pd.merge(penn_manu, penn_durable, on='Date')

In [ ]:
p2 = pd.merge(penn_serv, penn_mine, on='Date')

In [ ]:
p1 = pd.merge(penn_priv, penn_goods, on='Date')

In [ ]:
penn = pd.merge(penn_gov, penn_nonfarm, on='Date')

In [ ]:
penn1 = pd.merge(penn, p1, on='Date')

In [ ]:
penn2 = pd.merge(penn1, p2, on='Date')

In [ ]:
penn3 = pd.merge(penn2, p3, on='Date')

In [ ]:
penn4 =pd.merge(penn3, p4, on='Date')

In [ ]:
penn5 = pd.merge(penn4, p5, on='Date')

In [ ]:
penn6 = pd.merge(penn5, p6, on='Date')
penn6

            Pennslyvania Total Government Provided Value  ...  Pennslyvania Total Real Estate Provided Value
Date                                                      ...
2006-01-31                                         749.4  ...                                           42.8
2006-02-28                                         770.9  ...                                           42.8
2006-03-31                                         773.8  ...                                           42.9
2006-04-30                                         775.6  ...                                           43.4
2006-05-31                                         773.7  ...                                           43.8
...                                                  ...  ...                                            ...
2020-03-31                                         721.3  ...                                           47.2
2020-04-30                                         702.2  ...                                           44.3
2020-05-31                                         688.6  ...                                           45.5
2020-06-30                                         668.0  ...                                           46.6
2020-07-31                                         646.9  ...                                           48.1

[175 rows x 14 columns]

# Oregon

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
oregon_gov = quandl.get("BLSE/SMU41000009000000001", start_date="2000-01-01", end_date="2020-08-01")
oregon_gov.columns= ['Oregon Total Government Provided Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
oregon_nonfarm = quandl.get("BLSE/SMU41000000000000001", start_date="2000-01-01", end_date="2020-08-01")
oregon_nonfarm.columns= ['Oregon  Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
oregon_priv = quandl.get("BLSE/SMU41000000500000001", start_date="2000-01-01", end_date="2020-08-01")
oregon_priv.columns= ['Oregon Total Private Provided Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
oregon_goods = quandl.get("BLSE/SMU41000000600000001", start_date="2000-01-01", end_date="2020-08-01")
oregon_goods.columns= ['Oregon Total Goods Produced Provided Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
oregon_serv = quandl.get("BLSE/SMU41000000700000001", start_date="2000-01-01", end_date="2020-08-01")
oregon_serv.columns= ['Oregon Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
oregon_mine = quandl.get("BLSE/SMU41000001000000001", start_date="2000-01-01", end_date="2020-08-01")
oregon_mine.columns= ['Oregon Total Mining & Logging Provided Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
oregon_manu = quandl.get("BLSE/SMU41000003000000001", start_date="2000-01-01", end_date="2020-08-01")
oregon_manu.columns= ['Oregon Total Manufacture Provided Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
oregon_durable = quandl.get("BLSE/SMU41000003000000001", start_date="2000-01-01", end_date="2020-08-01")
oregon_durable.columns= ['Oregon Total Durable Goods Provided Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
oregon_wholesale = quandl.get("BLSE/SMU41000004100000001", start_date="2000-01-01", end_date="2020-08-01")
oregon_wholesale.columns= ['Oregon Wholesale Trade Provided Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
oregon_transutil = quandl.get("BLSE/SMU41000004300000001", start_date="2000-01-01", end_date="2020-08-01")
oregon_transutil.columns= ['Oregon Total Transportation & Utilities Provided Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
oregon_truck = quandl.get("BLSE/SMU41000004348400001", start_date="2000-01-01", end_date="2020-08-01")
oregon_truck.columns= ['Oregon Total Truck Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
oregon_telecom = quandl.get("BLSE/SMU41000005051700001", start_date="2000-01-01", end_date="2020-08-01")
oregon_telecom.columns= ['Oregon Total Telecommunication Provided Value']

In [ ]:
#All Employees, In Thousands; Total Real Estate Transportation Providing -South Carolina
oregon_estate = quandl.get("BLSE/SMU41000005553100001", start_date="2000-01-01", end_date="2020-08-01")
oregon_estate.columns= ['Oregon Total Real Estate Provided Value']

In [ ]:
o5 = pd.merge(oregon_truck, oregon_telecom, on='Date')

In [ ]:
o4 = pd.merge(oregon_wholesale, oregon_transutil, on='Date')

In [ ]:
o3 = pd.merge(oregon_manu, oregon_durable, on='Date')

In [ ]:
o2 = pd.merge(oregon_serv, oregon_mine, on='Date')

In [ ]:
o1 = pd.merge(oregon_priv, oregon_goods, on='Date')

In [ ]:
oregon = pd.merge(oregon_gov, oregon_nonfarm, on='Date')

In [ ]:
oregon1 = pd.merge(oregon, o1, on='Date')

In [ ]:
oregon2 = pd.merge(oregon1, o2, on='Date')

In [ ]:
oregon3 = pd.merge(oregon2, o3, on='Date')

In [ ]:
oregon4 = pd.merge(oregon3, o4, on='Date')

In [ ]:
oregon5 = pd.merge(oregon4, o5, on='Date')

In [ ]:
oregon6 = pd.merge(oregon5, oregon_estate, on='Date')
oregon6

            Oregon Total Government Provided Value  ...  Oregon Total Real Estate Provided Value
Date                                                ...
2006-01-31                                   284.5  ...                                     33.3
2006-02-28                                   290.6  ...                                     33.5
2006-03-31                                   292.1  ...                                     34.0
2006-04-30                                   291.2  ...                                     34.4
2006-05-31                                   295.1  ...                                     34.9
...                                            ...  ...                                      ...
2020-03-31                                   307.7  ...                                     40.0
2020-04-30                                   293.8  ...                                     36.3
2020-05-31                                   287.1  ...                                     37.5
2020-06-30                                   285.4  ...                                     39.1
2020-07-31                                   261.6  ...                                     38.8

[175 rows x 13 columns]

# Oklahoma

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
okla_gov = quandl.get("BLSE/SMU40000009000000001", start_date="2000-01-01", end_date="2020-08-01")
okla_gov.columns= ['Oklahoma Total Government Provided Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
okla_nonfarm = quandl.get("BLSE/SMU40000000000000001", start_date="2000-01-01", end_date="2020-08-01")
okla_nonfarm.columns= ['Oklahoma Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
okla_priv = quandl.get("BLSE/SMU40000000500000001", start_date="2000-01-01", end_date="2020-08-01")
okla_priv.columns= ['Oklahoma Total Private Provided Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
okla_goods = quandl.get("BLSE/SMU40000000600000001", start_date="2000-01-01", end_date="2020-08-01")
okla_goods.columns= ['Oklahoma Total Goods Produced Provided Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
okla_serv = quandl.get("BLSE/SMU40000000700000001", start_date="2000-01-01", end_date="2020-08-01")
okla_serv.columns= ['Oklahoma Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
okla_mine = quandl.get("BLSE/SMU40000001000000001", start_date="2000-01-01", end_date="2020-08-01")
okla_mine.columns= ['Oklahoma Total Mining & Logging Provided Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
okla_manu = quandl.get("BLSE/SMU40000003000000001", start_date="2000-01-01", end_date="2020-08-01")
okla_manu.columns= ['Oklahoma Total Manufacture Provided Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
okla_durable = quandl.get("BLSE/SMU40000003000000001", start_date="2000-01-01", end_date="2020-08-01")
okla_durable.columns= ['Oklahoma Total Durable Goods Provided Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
okla_wholesale = quandl.get("BLSE/SMU40000004100000001", start_date="2000-01-01", end_date="2020-08-01")
okla_wholesale.columns= ['Oklahoma Wholesale Trade Provided Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
okla_transutil = quandl.get("BLSE/SMU40000004300000001", start_date="2000-01-01", end_date="2020-08-01")
okla_transutil.columns= ['Oklahoma Total Transportation & Utilities Provided Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
okla_truck = quandl.get("BLSE/SMU40000004348400001", start_date="2000-01-01", end_date="2020-08-01")
okla_truck.columns= ['Oklahoma Total Truck Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
okla_telecom = quandl.get("BLSE/SMU40000005051700001", start_date="2000-01-01", end_date="2020-08-01")
okla_telecom.columns= ['Oklahoma Total Telecommunication Provided Value']

In [ ]:
#All Employees, In Thousands; Total Real Estate Transportation Providing -South Carolina
okla_estate = quandl.get("BLSE/SMU40000005553100001", start_date="2000-01-01", end_date="2020-08-01")
okla_estate.columns= ['Oklahoma Total Real Estate Provided Value']

In [ ]:
okla5 = pd.merge(okla_truck, okla_telecom, on='Date')

In [ ]:
okla4 = pd.merge(okla_wholesale, okla_transutil, on='Date')

In [ ]:
okla3 = pd.merge(okla_manu, okla_durable, on='Date')

In [ ]:
okla2 = pd.merge(okla_serv, okla_mine, on='Date')

In [ ]:
okla1 = pd.merge(okla_priv, okla_goods, on='Date')

In [ ]:
oklahoma = pd.merge(okla_gov, okla_nonfarm, on='Date')

In [ ]:
oklahoma1 = pd.merge(oklahoma, okla1, on='Date')

In [ ]:
oklahoma2 = pd.merge(oklahoma1, okla2, on='Date')

In [ ]:
oklahoma3 = pd.merge(oklahoma2, okla3, on='Date')

In [ ]:
oklahoma4 = pd.merge(oklahoma3, okla4, on='Date')

In [ ]:
oklahoma5 = pd.merge(oklahoma4, okla5, on='Date')
oklahoma5

            Oklahoma Total Government Provided Value  ...  Oregon Total Telecommunication Provided Value
Date                                                  ...
2006-01-31                                     323.3  ...                                           15.6
2006-02-28                                     331.4  ...                                           15.4
2006-03-31                                     332.9  ...                                           15.4
2006-04-30                                     332.2  ...                                           14.3
2006-05-31                                     335.2  ...                                           14.3
...                                              ...  ...                                            ...
2020-03-31                                     362.3  ...                                            8.7
2020-04-30                                     351.1  ...                                            8.7
2020-05-31                                     342.7  ...                                            8.7
2020-06-30                                     334.2  ...                                            8.7
2020-07-31                                     327.2  ...                                            8.7

[175 rows x 12 columns]

In [ ]:
# --------------------------------

In [ ]:
ata = quandl.get("FRED/GDP", start_date="2001-12-31", end_date="2020-12-31")
ata

In [ ]:
data = quandl.get_table('MER/F1', paginate=True)
data

In [ ]:
def qcewCreateDataRows(csv):
    dataRows = []
    try: dataLines = csv.decode().split('\r\n')
    except er: dataLines = csv.split('\r\n');
    for row in dataLines:
        dataRows.append(row.split(','))
    return dataRows

In [ ]:
#All Employees, In Thousands; Durable Goods - Kentucky
kentucky_durable = quandl.get("BLSE/SMS21000003100000001", start_date="2000-01-01", end_date="2020-08-01")
kentucky_durable
kentucky_durable.rename(columns= {'Value' : ' Kentucky Durable Goods Value'})

In [ ]:
def qcewGetAreaData(year,qtr,area):
    urlPath = "http://data.bls.gov/cew/data/api/[YEAR]/[QTR]/area/[AREA].csv"
    urlPath = urlPath.replace("[YEAR]",year)
    urlPath = urlPath.replace("[QTR]",qtr.lower())
    urlPath = urlPath.replace("[AREA]",area.upper())
    httpStream = urllib.request.urlopen(urlPath)
    csv = httpStream.read()
    httpStream.close()
    return qcewCreateDataRows(csv)

In [ ]:
def qcewGetIndustryData(year,qtr,industry):
    urlPath = "http://data.bls.gov/cew/data/api/[YEAR]/[QTR]/industry/[IND].csv"
    urlPath = urlPath.replace("[YEAR]",year)
    urlPath = urlPath.replace("[QTR]",qtr.lower())
    urlPath = urlPath.replace("[IND]",industry)
    httpStream = urllib.request.urlopen(urlPath)
    csv = httpStream.read()
    httpStream.close()
    return qcewCreateDataRows(csv)

In [ ]:
def qcewGetSizeData(year,size):
    urlPath = "http://data.bls.gov/cew/data/api/[YEAR]/1/size/[SIZE].csv"
    urlPath = urlPath.replace("[YEAR]",year)
    urlPath = urlPath.replace("[SIZE]",size)
    httpStream = urllib.request.urlopen(urlPath)
    csv = httpStream.read()
    httpStream.close()
    return qcewCreateDataRows(csv)

In [ ]:
Michigan_Data = qcewGetAreaData("2015","1","26000")
Auto_Manufacturing = qcewGetIndustryData("2015","1","3361")
SizeData = qcewGetSizeData("2015","6")

In [ ]:
print(Michigan_Data[5][2])

In [ ]:
# prints the area_fips in row 1.
# remember row zero contains field names
print(Auto_Manufacturing[1][0])

In [ ]:
# prints the own_code in row 1.
# remember row zero contains field names
print(SizeData[1][1])

In [ ]:
pip install -U blsconnect

In [ ]:
api_key = 'd7c0ebba465a4848afbcfb17a9238452'

In [ ]:
from blsconnect import RequestBLS, bls_search

MY_API_KEY = 'd7c0ebba465a4848afbcfb17a9238452'
bls = RequestBLS(key=MY_API_KEY)

# Get seasonally-adjusted unemployment rates for Florida, Georgia, and all U.S.
series_names = bls_search(data="U3",
                          state=["FL", "GA", "NY", "NJ", "US"],
                          sa=True)

df = bls.series(series_names,
                start_year=2010,
                end_year=2019)

df.head()

In [ ]:
df.rename(columns={"LASST120000000000003": "Florida"})

In [ ]:
import requests
import json
import prettytable
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0','SUUR0000SA0'],"startyear":"2011", "endyear":"2014"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
for series in json_data['Results']['series']:
    x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
        if 'M01' <= period <= 'M12':
            x.add_row([seriesId,year,period,value,footnotes[0:-1]])
    output = open(seriesId + '.txt','w')
    output.write (x.get_string())
    output.close()