<a href="https://colab.research.google.com/github/Lambda-School-Labs/Labs26-Citrics-DS-TeamC/blob/fatai_king/Quandl_Job.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install quandl

Collecting quandl
  Downloading https://files.pythonhosted.org/packages/1b/29/185269dbd2e2698c8098b35c52ce73a2c52cf76163e709f9f7789d03ebbb/Quandl-3.5.2-py2.py3-none-any.whl
Collecting inflection>=0.3.1
  Downloading https://files.pythonhosted.org/packages/59/91/aa6bde563e0085a02a435aa99b49ef75b0a4b062635e606dab23ce18d720/inflection-0.5.1-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from quandl) (2.8.1)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.18.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from quandl) (1.15.0)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.0.5)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.6/dist-packages (from quandl) (2.23.0)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.6/dist-packages (from quandl) (8.5.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.14->quandl) (2018.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2.10)
Installing collected packages: inflection, quandl
Successfully installed inflection-0.5.1 quandl-3.5.2

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import os
import requests
import quandl

In [ ]:
import urllib.request
import urllib

In [4]:
#API Key

quandl.ApiConfig.api_key = 'K6fpyVeFyVDsDyWqXcCx'

#  Quandl Code to JT (Job Openings & Labor Turnover) -- Hires-- Unseasonal Levels in Thousands-- Nation Data

In [ ]:
# Mining and Logging 
mine = quandl.get("BLSE/JTU11009900HIL", start_date="2000-01-01", end_date="2020-08-01")
mine.columns=['Mining and Logging Provided  Values']
# mine

In [ ]:
# Construction 
construction = quandl.get("BLSE/JTU23000000HIL", start_date="2000-01-01", end_date="2020-08-01")
construction.columns=['Construction Provided  Values']
#construction

NameError: ignored

In [ ]:
num1 = pd.merge(mine, construction, on='Date')

In [ ]:
# Manufacturing 
manufacture = quandl.get("BLSE/JTU30000000HIL", start_date="2000-01-01", end_date="2020-08-01")
manufacture.columns=['Manufacture Provided  Values']

In [ ]:
# Durable goods manufacturing	 
durable_goods = quandl.get("BLSE/JTU32000000HIL", start_date="2000-01-01", end_date="2020-08-01")
durable_goods.columns=['Durable Goods Provided  Values']
# durable_goods

In [ ]:
num2 = pd.merge(manufacture, durable_goods, on='Date')

In [ ]:
sum1 = pd.merge(num1, num2, on='Date')

In [ ]:
# NonDurable goods manufacturing	 
non_durable_goods = quandl.get("BLSE/JTU34000000HIL", start_date="2000-01-01", end_date="2020-08-01")
non_durable_goods.columns=['Non-Durable Goods Provided  Values']
non_durable_goods

In [ ]:
# Trade and Transportation	 
trade = quandl.get("BLSE/JTU40000000HIL", start_date="2000-01-01", end_date="2020-08-01")
trade.columns=['Trade & Transportation Provided Values']
# trade

In [ ]:
num3 = pd.merge(non_durable_goods, trade, on='Date')

In [ ]:
# WholeSale Trade	 
whole_trade = quandl.get("BLSE/JTU42000000HIL", start_date="2000-01-01", end_date="2020-08-01")
whole_trade.columns=['Wholesale Trade Provided Values']
whole_trade

In [ ]:
# Retail Trade	 
retail_trade = quandl.get("BLSE/JTU44000000HIL", start_date="2000-01-01", end_date="2020-08-01")
retail_trade.columns=['Retail Trade Provided Values']
retail_trade

In [ ]:
num4 = pd.merge(whole_trade, retail_trade, on='Date')

In [ ]:
sum2 = pd.merge(num3, num4, on='Date')

In [ ]:
now = pd.merge(sum1, sum2, on='Date')

In [ ]:
#Transportation and Warehouse and Utilities
transport_warehouse = quandl.get("BLSE/JTU48009900HIL", start_date="2000-01-01", end_date="2020-08-01")
transport_warehouse.columns=['TWU Provided Values']

In [ ]:
# General Information	 
general = quandl.get("BLSE/JTU51000000HIL", start_date="2000-01-01", end_date="2020-08-01")
general.columns=[ 'General Information Provided Values']

In [ ]:
num5 = pd.merge(transport_warehouse, general, on='Date')

In [ ]:
# Financial Activities 
finance = quandl.get("BLSE/JTU51009900HIL", start_date="2000-01-01", end_date="2020-08-01")
finance.columns=['Financial Activity Provided Values']

In [ ]:
# Finance & Insurance	 
finance_insurance = quandl.get("BLSE/JTU52000000HIL", start_date="2000-01-01", end_date="2020-08-01")
finance_insurance.columns=['Finance & Insurance Provided Values']

In [ ]:
num6 = pd.merge(finance, finance_insurance, on='Date')

In [ ]:
sum3 = pd.merge(num5, num6, on='Date')

In [ ]:
#Real estate and rental and leasing
real_estate = quandl.get("BLSE/JTU53000000HIL", start_date="2000-01-01", end_date="2020-08-01")
real_estate.columns=['Real Estate & Rental Leasing Provided Values']

In [ ]:
# Professional and business services
prof_business = quandl.get("BLSE/JTU54009900HIL", start_date="2000-01-01", end_date="2020-08-01")
prof_business.columns=['Professional and business services Provided Values']

In [ ]:
num7 = pd.merge(real_estate, prof_business, on='Date')

In [ ]:
# Education and Health services
education_health = quandl.get("BLSE/JTU60000000HIL", start_date="2000-01-01", end_date="2020-08-01")
education_health.columns=['Education and Health services Provided Values']

In [ ]:
# Education services
education = quandl.get("BLSE/JTU61000000HIL", start_date="2000-01-01", end_date="2020-08-01")
education.columns=[ 'Education services Provided Values']

In [ ]:
num8 = pd.merge(education_health, education, on='Date')

In [ ]:
sum4= pd.merge(num7, num8, on='Date')

In [ ]:
squeeze = pd.merge(sum3, sum4, on='Date')

In [ ]:
now1 = pd.merge(now, squeeze, on='Date')

In [ ]:
# Health Care and Social assistance
health_social = quandl.get("BLSE/JTU62000000HIL", start_date="2000-01-01", end_date="2020-08-01")
health_social.columns= ['Health Care and Social Assistance Services Provided Values']

In [ ]:
# Leisure & Hospitality
leisure_hospitality = quandl.get("BLSE/JTU70000000HIL", start_date="2000-01-01", end_date="2020-08-01")
leisure_hospitality.columns=['Leisure and Hospitality Services Provided Values']

In [ ]:
# Art, entertainment, & recreation
art_entertain = quandl.get("BLSE/JTU71000000HIL", start_date="2000-01-01", end_date="2020-08-01")
art_entertain.columns=['Art Entertainment & Recreation Services Provided Values']

In [ ]:
num9 = pd.merge(leisure_hospitality, art_entertain, on='Date')

In [ ]:
# Accommodation and food services	 services
accomodation_food = quandl.get("BLSE/JTU72000000HIL", start_date="2000-01-01", end_date="2020-08-01")
accomodation_food.columns=['Accommodation & Food Services Provided Values']

In [ ]:
# Other services
other_services = quandl.get("BLSE/JTU81000000HIL", start_date="2000-01-01", end_date="2020-08-01")
other_services.columns=['Other Services Provided Values']

In [ ]:
num10= pd.merge(accomodation_food, other_services, on='Date')

In [ ]:
sum5 = pd.merge(num9, num10, on='Date')

In [ ]:
# Federal
federal = quandl.get("BLSE/JTU91000000HIL", start_date="2000-01-01", end_date="2020-08-01")
federal.columns = ['Federal Services Provided Values']

In [ ]:
state_local = quandl.get("BLSE/JTU92000000HIL", start_date="2000-01-01", end_date="2020-08-01")
state_local.columns = ['State & Local Services Provided Values']

In [ ]:
num11 = pd.merge(federal, state_local, on='Date')

In [ ]:
sum6 = pd.merge(num11, health_social, on='Date')

In [ ]:
now2 = pd.merge(sum5, sum6, on='Date')

In [ ]:
fun = pd.merge(now1, now2, on='Date')

In [ ]:
#Total NonFarm - All employees, thousands; Total NonFarm industry

total_non =quandl.get("BLSE/JTU00000000HIL", start_date="2000-01-01", end_date="2020-08-01")
total_non.columns=['Total NonFarm Industry Value']

In [ ]:
#Total Private - All employees, thousands; Total Private firm industry

total_pri =quandl.get("BLSE/JTU10000000HIL", start_date="2000-01-01", end_date="2020-08-01")
total_pri.columns=['Total Private Firm Industry Value']

In [ ]:
num13 = pd.merge(total_non, total_pri, on='Date')

In [ ]:
#Employment - All employees, thousands; Government industry

government =quandl.get("BLSE/JTU90000000HIL", start_date="2000-01-01", end_date="2020-08-01")
government.columns=['Government Industry Value']

In [ ]:
num14 = pd.merge(num13, government, on='Date')

In [ ]:
this = quandl.get("BLSE/LAUST010000000000005")
this.columns = ['Empolyed State of Alabama Values']

In [ ]:
all = pd.merge(fun, num14, on='Date')
all

## Went through each state grabbed industry data (Quandl BLS)....

---



---



---



---



---

In [ ]:
quandl.get("BLSE/CEU9000000001",  start_date="2000-01-01", end_date="2020-08-01")

In [ ]:
#Employment - All employees, thousands; Goods-producing industry

goods = quandl.get("BLSE/CEU0600000001", start_date="2000-01-01", end_date="2020-08-01")
goods 
goods.rename(columns= {'Value' : 'Goods Produced Industry Value'})

# Wyoming

In [ ]:
# All Employees, In Thousands; Goods Producing - Wyoming
wyoming_goods = quandl.get("BLSE/SMU56000000600000001", start_date="2000-01-01", end_date="2020-08-01")
wyoming_goods.columns=['Total Goods Produced Value']

In [ ]:
# All Employees, In Thousands; Government - Wyoming
wyoming_gov = quandl.get("BLSE/SMU56000009000000001", start_date="2000-01-01", end_date="2020-08-01")

wyoming_gov.columns=['Total Government Value']

In [ ]:
# Wyoming Nonfarm
wyoming_nonfarm = quandl.get("BLSE/SMU56000000000000001", start_date="2000-01-01", end_date="2020-08-01")

wyoming_nonfarm.columns=['Total Nonfarm Provided Value']

In [ ]:
# Wyoming Private
wyoming_pri = quandl.get("BLSE/SMU56000000500000001", start_date="2000-01-01", end_date="2020-08-01")

wyoming_pri.columns=['Total Private Industry Value']

In [ ]:
# Wyoming Service Provide
wyoming_service = quandl.get("BLSE/SMU56000000700000001", start_date="2000-01-01", end_date="2020-08-01")

wyoming_service.columns=['Total Service Provided Value']

In [ ]:
# Wyoming Mining & Logging Provide
wyoming_mine = quandl.get("BLSE/SMU56000001000000001", start_date="2000-01-01", end_date="2020-08-01")

wyoming_mine.columns=['Total Mining & Logging Industry Value']

In [ ]:
# Wyoming Manufacturing Provide
wyoming_manu = quandl.get("BLSE/SMU56000003000000001", start_date="2000-01-01", end_date="2020-08-01")

wyoming_manu.columns=['Total Manufacture Value']

In [ ]:
# Wyoming Durable Goods Provide
wyoming_durable = quandl.get("BLSE/SMU56000003100000001", start_date="2000-01-01", end_date="2020-08-01")

wyoming_durable.columns=['Total Durable Goods Value']

In [ ]:
# Wyoming Wholesale Trade Provide
wyoming_whole = quandl.get("BLSE/SMU56000004100000001", start_date="2000-01-01", end_date="2020-08-01")

wyoming_whole.columns=['Wholesale Trade Value']

In [ ]:
# Wyoming Transportation & Utilities  Provide
wyoming_transport = quandl.get("BLSE/SMU56000004300000001", start_date="2000-01-01", end_date="2020-08-01")

wyoming_transport.columns=['Total Transportation & Utilities Value']

In [ ]:
# Wyoming Truck Transportation Provide
wyoming_truck = quandl.get("BLSE/SMU56000004348400001", start_date="2000-01-01", end_date="2020-08-01")

wyoming_truck.columns=['Truck Transportation Industry Value']

In [ ]:
add3 = pd.merge(wyoming_whole, wyoming_transport, on='Date')

In [ ]:
add2 = pd.merge(wyoming_manu, wyoming_durable, on='Date')

In [ ]:
add1 = pd.merge(wyoming_service, wyoming_mine, on='Date')

In [ ]:
add = pd.merge(wyoming_nonfarm, wyoming_pri, on='Date')

In [ ]:
wyoming = pd.merge(wyoming_goods, wyoming_gov, on='Date')

In [ ]:
wyoming1 = pd.merge(wyoming, add, on='Date')

In [ ]:
wyoming2 = pd.merge(wyoming1, add1, on='Date')

In [ ]:
wyoming3 = pd.merge(wyoming2, add2, on='Date')

In [ ]:
wyoming4 = pd.merge(wyoming3, add3, on='Date')

In [ ]:
wyoming5 = pd.merge(wyoming4, wyoming_truck, on='Date')
wyoming5

# Wisconsin

In [ ]:
#All Employees, In Thousands; Government - Wisconsin
wisconsin_gov = quandl.get("BLSE/SMU55000009000000001", start_date="2000-01-01", end_date="2020-08-01")
wisconsin_gov.columns=['Total Government Value']

In [ ]:
#All Employees, In Thousands; NonFarm - Wisconsin
wisconsin_nonfarm = quandl.get("BLSE/SMU55000000000000001", start_date="2000-01-01", end_date="2020-08-01")
wisconsin_nonfarm.columns= ['Total NonFarm Provided Value']

In [ ]:
#All Employees, In Thousands; Private - Wisconsin
wisconsin_priv = quandl.get("BLSE/SMU55000000500000001", start_date="2000-01-01", end_date="2020-08-01")
wisconsin_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Goods Producing - Wisconsin
wisconsin_goods = quandl.get("BLSE/SMU55000000600000001", start_date="2000-01-01", end_date="2020-08-01")
wisconsin_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Service - Wisconsin
wisconsin_service = quandl.get("BLSE/SMU55000000700000001", start_date="2000-01-01", end_date="2020-08-01")
wisconsin_service.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Mining and Logging - Wisconsin
wisconsin_mining = quandl.get("BLSE/SMU55000001000000001", start_date="2000-01-01", end_date="2020-08-01")
wisconsin_mining.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Manufacturing - Wisconsin
wisconsin_manufacture = quandl.get("BLSE/SMU55000003000000001", start_date="2000-01-01", end_date="2020-08-01")
wisconsin_manufacture.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Durable Goods - Wisconsin
wisconsin_durable = quandl.get("BLSE/SMU55000003100000001", start_date="2000-01-01", end_date="2020-08-01")
wisconsin_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Wholesale Trade - Wisconsin
wisconsin_wholesale = quandl.get("BLSE/SMU55000004100000001", start_date="2000-01-01", end_date="2020-08-01")
wisconsin_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Transportation & Utilities - Wisconsin
wisconsin_transutil = quandl.get("BLSE/SMU55000004300000001", start_date="2000-01-01", end_date="2020-08-01")
wisconsin_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Truck Transportation - Wisconsin
wisconsin_truck = quandl.get("BLSE/SMU55000004348400001", start_date="2000-01-01", end_date="2020-08-01")
wisconsin_truck.columns= ['Total Truck Transportation Provided Value']

In [ ]:
wis4 = pd.merge(wisconsin_wholesale, wisconsin_transutil, on='Date')

In [ ]:
wis3 = pd.merge(wisconsin_manufacture, wisconsin_durable, on='Date')

In [ ]:
wis2 = pd.merge(wisconsin_service, wisconsin_mining, on='Date')

In [ ]:
wis1 = pd.merge(wisconsin_priv, wisconsin_goods, on='Date')

In [ ]:
wisconsin = pd.merge(wisconsin_gov, wisconsin_nonfarm, on='Date')

In [ ]:
wisconsin1 = pd.merge(wisconsin, wis1, on='Date')

In [ ]:
wisconsin2 = pd.merge(wisconsin1, wis2, on='Date')

In [ ]:
wisconsin3 = pd.merge(wisconsin2, wis3, on='Date')

In [ ]:
wisconsin4 = pd.merge(wisconsin3, wis4, on='Date')

In [ ]:
wisconsin5 = pd.merge(wisconsin4, wisconsin_truck, on='Date')
wisconsin5

# West Virginia

In [ ]:
#All Employees, In Thousands; Total Nonfarm - West Virginia
westvirginia_nonfarm = quandl.get("BLSE/SMU54000000000000001", start_date="2000-01-01", end_date="2020-08-01")
westvirginia_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private - West Virginia
westvirginia_private = quandl.get("BLSE/SMU54000000500000001", start_date="2000-01-01", end_date="2020-08-01")
westvirginia_private.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Produced - West Virginia
westvirginia_goods = quandl.get("BLSE/SMU54000000600000001", start_date="2000-01-01", end_date="2020-08-01")
westvirginia_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing - West Virginia
westvirginia_service = quandl.get("BLSE/SMU54000000700000001", start_date="2000-01-01", end_date="2020-08-01")
westvirginia_service.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Provided - West Virginia
westvirginia_mining = quandl.get("BLSE/SMU54000001000000001", start_date="2000-01-01", end_date="2020-08-01")
westvirginia_mining.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacturing Providing - West Virginia
westvirginia_manufacture = quandl.get("BLSE/SMU54000003000000001", start_date="2000-01-01", end_date="2020-08-01")
westvirginia_manufacture.columns= ['Total Manufacture Provided Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing - West Virginia
westvirginia_durable = quandl.get("BLSE/SMU54000003100000001", start_date="2000-01-01", end_date="2020-08-01")
westvirginia_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing - West Virginia
westvirginia_wholesale = quandl.get("BLSE/SMU54000004100000001", start_date="2000-01-01", end_date="2020-08-01")
westvirginia_wholesale.columns= [' Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing - West Virginia
westvirginia_transutil = quandl.get("BLSE/SMU54000004300000001", start_date="2000-01-01", end_date="2020-08-01")
westvirginia_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing - West Virginia NO TRUCK DATA
#westvirginia_truck = quandl.get("BLSE/SMU54000004348400001", start_date="2000-01-01", end_date="2020-08-01")
#westvirginia_truck.columns= ['West Virginia Total Truck Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Government Providing - West Virginia NO TRUCK DATA
westvirginia_gov = quandl.get("BLSE/SMU54000009000000001", start_date="2000-01-01", end_date="2020-08-01")
westvirginia_gov.columns= ['Total Government Value']

In [ ]:
west4 = pd.merge(westvirginia_gov, westvirginia_transutil, on='Date')

In [ ]:
west3 = pd.merge(westvirginia_durable, westvirginia_wholesale, on='Date')

In [ ]:
west2 = pd.merge(westvirginia_manufacture, westvirginia_mining, on='Date')

In [ ]:
west1 = pd.merge(westvirginia_goods, westvirginia_service, on='Date')

In [ ]:
westvirginia = pd.merge(westvirginia_nonfarm, westvirginia_private, on='Date')

In [ ]:
westvirginia1 = pd.merge(westvirginia, west1, on='Date')

In [ ]:
westvirginia2 = pd.merge(westvirginia1, west2, on='Date')

In [ ]:
westvirginia3 = pd.merge(westvirginia2, west3, on='Date')

In [ ]:
#Missing Truck Transportation
westvirginia4 = pd.merge(westvirginia3, west4, on='Date')
westvirginia4

In [ ]:
# ---------------------------------------------------------------------------------------------------------------------

# Washington

In [ ]:
#All Employees, In Thousands; Total Government Providing -Washington
washington_gov = quandl.get("BLSE/SMU53000009000000001", start_date="2000-01-01", end_date="2020-08-01")
washington_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Washington
washington_nonfarm = quandl.get("BLSE/SMU53000000000000001", start_date="2000-01-01", end_date="2020-08-01")
washington_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -Washington
washington_priv = quandl.get("BLSE/SMU53000000500000001", start_date="2000-01-01", end_date="2020-08-01")
washington_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Produced Providing -Washington
washington_goods = quandl.get("BLSE/SMU53000000600000001", start_date="2000-01-01", end_date="2020-08-01")
washington_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Provided Providing -Washington
washington_serv = quandl.get("BLSE/SMU53000000700000001", start_date="2000-01-01", end_date="2020-08-01")
washington_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -Washington
washington_mining = quandl.get("BLSE/SMU53000001000000001", start_date="2000-01-01", end_date="2020-08-01")
washington_mining.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacturing Providing -Washington
washington_manu = quandl.get("BLSE/SMU53000003000000001", start_date="2000-01-01", end_date="2020-08-01")
washington_manu.columns= ['Total Manufacture Provided Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -Washington
washington_durable = quandl.get("BLSE/SMU53000003100000001", start_date="2000-01-01", end_date="2020-08-01")
washington_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -Washington
washington_wholesale = quandl.get("BLSE/SMU53000004100000001", start_date="2000-01-01", end_date="2020-08-01")
washington_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -Washington
washington_transutil = quandl.get("BLSE/SMU53000004300000001", start_date="2000-01-01", end_date="2020-08-01")
washington_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Air Transportation Providing -Washington
washington_air = quandl.get("BLSE/SMU53000004348100001", start_date="2000-01-01", end_date="2020-08-01")
washington_air.columns= ['Total Air Transportation Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -Washington
washington_truck = quandl.get("BLSE/SMU53000004348400001", start_date="2000-01-01", end_date="2020-08-01")
washington_truck.columns= ['Total Truck Transportation Provided Value']

In [ ]:
wash5 = pd.merge(washington_air, washington_truck, on='Date')

In [ ]:
wash4 = pd.merge(washington_wholesale, washington_transutil, on='Date')

In [ ]:
wash3 = pd.merge(washington_manu, washington_durable, on='Date')

In [ ]:
wash2 = pd.merge(washington_serv, washington_mining, on='Date')

In [ ]:
wash1 = pd.merge(washington_priv, washington_goods, on='Date')

In [ ]:
washington = pd.merge(washington_gov, washington_nonfarm, on='Date')

In [ ]:
washington1 = pd.merge(washington, wash1, on='Date')

In [ ]:
washington2 = pd.merge(washington1, wash2, on='Date')

In [ ]:
washington3 = pd.merge(washington2, wash3, on='Date')

In [ ]:
washington4 = pd.merge(washington3, wash4, on='Date')

In [ ]:
washington5 = pd.merge(washington4, wash5, on='Date')
washington5

# Virginia

In [ ]:
#All Employees, In Thousands; Total Government Providing -Virginia
virginia_gov = quandl.get("BLSE/SMU51000009000000001", start_date="2000-01-01", end_date="2020-08-01")
virginia_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Virginia
virginia_nonfarm = quandl.get("BLSE/SMU51000000000000001", start_date="2000-01-01", end_date="2020-08-01")
virginia_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -Virginia
virginia_priv = quandl.get("BLSE/SMU51000000500000001", start_date="2000-01-01", end_date="2020-08-01")
virginia_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Produced Providing -Virginia
virginia_goods = quandl.get("BLSE/SMU51000000600000001", start_date="2000-01-01", end_date="2020-08-01")
virginia_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Provided Providing -Virginia
virginia_serv = quandl.get("BLSE/SMU51000000700000001", start_date="2000-01-01", end_date="2020-08-01")
virginia_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -Virginia
virginia_mine = quandl.get("BLSE/SMU51000001000000001", start_date="2000-01-01", end_date="2020-08-01")
virginia_mine.columns= ['VTotal Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -Virginia
virginia_manu = quandl.get("BLSE/SMU51000003000000001", start_date="2000-01-01", end_date="2020-08-01")
virginia_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -Virginia
virginia_durable = quandl.get("BLSE/SMU51000003100000001", start_date="2000-01-01", end_date="2020-08-01")
virginia_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -Virginia
virginia_wholesale = quandl.get("BLSE/SMU51000004100000001", start_date="2000-01-01", end_date="2020-08-01")
virginia_wholesale.columns= ['Wholesale Trade  Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Goods Providing -Virginia
virginia_transutil = quandl.get("BLSE/SMU51000004300000001", start_date="2000-01-01", end_date="2020-08-01")
virginia_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
va4 = pd.merge(virginia_wholesale, virginia_transutil, on='Date')

In [ ]:
va3 = pd.merge( virginia_manu, virginia_durable, on='Date')

In [ ]:
va2 = pd.merge(virginia_serv, virginia_mine, on='Date')

In [ ]:
va1 = pd.merge(virginia_priv, virginia_goods, on='Date')

In [ ]:
virginia = pd.merge(virginia_gov, virginia_nonfarm, on='Date')

In [ ]:
virginia1 = pd.merge(virginia, va1, on='Date')

In [ ]:
virginia2 = pd.merge(virginia1, va2, on='Date')

In [ ]:
virginia3 = pd.merge(virginia2, va3, on='Date')

In [ ]:
virginia4 = pd.merge(virginia3, va4, on='Date')
virginia4

# Vermont

In [ ]:
#All Employees, In Thousands; Total Government Providing -Vermont
vermont_gov = quandl.get("BLSE/SMU50000009000000001", start_date="2000-01-01", end_date="2020-08-01")
vermont_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Vermont
vermont_nonfarm = quandl.get("BLSE/SMU50000000000000001", start_date="2000-01-01", end_date="2020-08-01")
vermont_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -Vermont
vermont_priv = quandl.get("BLSE/SMU50000000500000001", start_date="2000-01-01", end_date="2020-08-01")
vermont_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -Vermont
vermont_goods = quandl.get("BLSE/SMU50000000600000001", start_date="2000-01-01", end_date="2020-08-01")
vermont_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -Vermont
vermont_serv = quandl.get("BLSE/SMU50000000700000001", start_date="2000-01-01", end_date="2020-08-01")
vermont_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -Vermont
vermont_mine = quandl.get("BLSE/SMU50000001000000001", start_date="2000-01-01", end_date="2020-08-01")
vermont_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -Vermont
vermont_manu = quandl.get("BLSE/SMU50000003000000001", start_date="2000-01-01", end_date="2020-08-01")
vermont_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -Vermont
vermont_durable = quandl.get("BLSE/SMU50000003100000001", start_date="2000-01-01", end_date="2020-08-01")
vermont_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -Vermont
vermont_wholesale = quandl.get("BLSE/SMU50000004100000001", start_date="2000-01-01", end_date="2020-08-01")
vermont_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -Vermont
vermont_transutil = quandl.get("BLSE/SMU50000004300000001", start_date="2000-01-01", end_date="2020-08-01")
vermont_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
ver4 = pd.merge(vermont_wholesale, vermont_transutil, on='Date')

In [ ]:
ver3 = pd.merge(vermont_manu, vermont_durable, on='Date')

In [ ]:
ver2 = pd.merge(vermont_serv, vermont_mine, on='Date')

In [ ]:
ver1 = pd.merge(vermont_priv, vermont_goods, on='Date')

In [ ]:
vermont = pd.merge(vermont_gov, vermont_nonfarm, on='Date')

In [ ]:
vermont1 = pd.merge(vermont, ver1, on='Date')

In [ ]:
vermont2 = pd.merge(vermont1, ver2, on='Date')

In [ ]:
vermont3 = pd.merge(vermont2, ver3, on='Date')

In [ ]:
vermont4 = pd.merge(vermont3, ver4, on='Date')
vermont4

# Utah

In [ ]:
#All Employees, In Thousands; Total Government Providing -Utah
utah_gov = quandl.get("BLSE/SMU49000009000000001", start_date="2000-01-01", end_date="2020-08-01")
utah_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Utah
utah_nonfarm = quandl.get("BLSE/SMU49000000000000001", start_date="2000-01-01", end_date="2020-08-01")
utah_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -Utah
utah_priv = quandl.get("BLSE/SMU49000000500000001", start_date="2000-01-01", end_date="2020-08-01")
utah_priv.columns= ['Total Private Indsutry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -Utah
utah_goods = quandl.get("BLSE/SMU49000000600000001", start_date="2000-01-01", end_date="2020-08-01")
utah_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -Utah
utah_serv = quandl.get("BLSE/SMU49000000700000001", start_date="2000-01-01", end_date="2020-08-01")
utah_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -Utah
utah_mine = quandl.get("BLSE/SMU49000001000000001", start_date="2000-01-01", end_date="2020-08-01")
utah_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -Utah
utah_manu = quandl.get("BLSE/SMU49000003000000001", start_date="2000-01-01", end_date="2020-08-01")
utah_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -Utah
utah_durable = quandl.get("BLSE/SMU49000003100000001", start_date="2000-01-01", end_date="2020-08-01")
utah_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -Utah
utah_wholesale = quandl.get("BLSE/SMU49000004100000001", start_date="2000-01-01", end_date="2020-08-01")
utah_wholesale.columns= ['Wholesale Trade  Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -Utah
utah_transutil = quandl.get("BLSE/SMU49000004300000001", start_date="2000-01-01", end_date="2020-08-01")
utah_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Air Transportation Providing -Utah
utah_air = quandl.get("BLSE/SMU49000004348100001", start_date="2000-01-01", end_date="2020-08-01")
utah_air.columns= ['Total Air Transportation Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -Utah
utah_truck = quandl.get("BLSE/SMU49000004348400001", start_date="2000-01-01", end_date="2020-08-01")
utah_truck.columns= ['Total Truck Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Telecommunication Providing -Utah
utah_telecommunication = quandl.get("BLSE/SMU49000005051700001", start_date="2000-01-01", end_date="2020-08-01")
utah_telecommunication.columns= ['Total Telecommunication Value']

In [ ]:
#All Employees, In Thousands; Total Real Estate Providing -Utah
utah_estate = quandl.get("BLSE/SMU49000005553100001", start_date="2000-01-01", end_date="2020-08-01")
utah_estate.columns= ['Total Real Estate Value']

In [ ]:
ut6 = pd.merge(utah_telecommunication, utah_estate, on='Date')

In [ ]:
ut5 = pd.merge(utah_air, utah_truck, on='Date')

In [ ]:
ut4 = pd.merge(utah_wholesale, utah_transutil, on='Date')

In [ ]:
ut3 = pd.merge(utah_manu, utah_durable, on='Date')

In [ ]:
ut2 = pd.merge(utah_serv, utah_mine, on='Date')

In [ ]:
ut1 = pd.merge(utah_priv, utah_goods, on='Date')

In [ ]:
utah = pd.merge(utah_gov, utah_nonfarm, on='Date')

In [ ]:
utah1 = pd.merge(utah, ut1, on='Date')

In [ ]:
utah2 = pd.merge(utah1, ut2, on='Date')

In [ ]:
utah3 = pd.merge(utah2, ut3, on='Date')

In [ ]:
utah4 = pd.merge(utah3, ut4, on='Date')

In [ ]:
utah5 = pd.merge(utah4, ut5, on='Date')

In [ ]:
utah6 = pd.merge(utah5, ut6, on='Date')
utah6

# Texas

In [ ]:
#All Employees, In Thousands; Total Government Providing -Texas
texas_gov = quandl.get("BLSE/SMU48000009000000001", start_date="2000-01-01", end_date="2020-08-01")
texas_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Texas
texas_nonfarm = quandl.get("BLSE/SMU48000000000000001", start_date="2000-01-01", end_date="2020-08-01")
texas_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -Texas
texas_priv = quandl.get("BLSE/SMU48000000500000001", start_date="2000-01-01", end_date="2020-08-01")
texas_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -Texas
texas_goods = quandl.get("BLSE/SMU48000000600000001", start_date="2000-01-01", end_date="2020-08-01")
texas_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -Texas
texas_serv = quandl.get("BLSE/SMU48000000700000001", start_date="2000-01-01", end_date="2020-08-01")
texas_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -Texas
texas_mine = quandl.get("BLSE/SMU48000001000000001", start_date="2000-01-01", end_date="2020-08-01")
texas_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -Texas
texas_manu = quandl.get("BLSE/SMU48000003000000001", start_date="2000-01-01", end_date="2020-08-01")
texas_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -Texas
texas_durable = quandl.get("BLSE/SMU48000003100000001", start_date="2000-01-01", end_date="2020-08-01")
texas_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -Texas
texas_wholesale = quandl.get("BLSE/SMU48000004100000001", start_date="2000-01-01", end_date="2020-08-01")
texas_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -Texas
texas_transutil = quandl.get("BLSE/SMU48000004300000001", start_date="2000-01-01", end_date="2020-08-01")
texas_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Air Transportation Providing -Texas
texas_air = quandl.get("BLSE/SMU48000004348100001", start_date="2000-01-01", end_date="2020-08-01")
texas_air.columns= ['Total Air Transportation Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -Texas
texas_truck = quandl.get("BLSE/SMU48000004348400001", start_date="2000-01-01", end_date="2020-08-01")
texas_truck.columns= ['Total Truck Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Telecommunication Providing -Texas
texas_telecommunication = quandl.get("BLSE/SMU48000005051700001", start_date="2000-01-01", end_date="2020-08-01")
texas_telecommunication.columns= ['Total Telecommunication Value']

In [ ]:
#All Employees, In Thousands; Total Real Estate Providing -Texas
texas_estate = quandl.get("BLSE/SMU48000005553100001", start_date="2000-01-01", end_date="2020-08-01")
texas_estate.columns= ['Total Real Estate Value']

In [ ]:
tx6 = pd.merge(texas_telecommunication, texas_estate, on='Date')

In [ ]:
tx5 = pd.merge(texas_air, texas_truck, on='Date')

In [ ]:
tx4 = pd.merge(texas_wholesale, texas_transutil, on='Date')

In [ ]:
tx3 = pd.merge(texas_manu, texas_durable, on='Date')

In [ ]:
tx2 = pd.merge(texas_serv, texas_mine, on='Date')

In [ ]:
tx1 = pd.merge(texas_priv, texas_goods, on='Date')

In [ ]:
texas = pd.merge(texas_gov, texas_nonfarm, on='Date')

In [ ]:
texas1 = pd.merge(texas, tx1, on='Date')

In [ ]:
texas2 = pd.merge(texas1, tx2, on='Date')

In [ ]:
texas3 = pd.merge(texas2, tx3, on='Date')

In [ ]:
texas4 = pd.merge(texas3, tx4, on='Date')

In [ ]:
texas5 = pd.merge(texas4, tx5, on='Date')

In [ ]:
texas6 = pd.merge(texas5, tx6, on='Date')

In [ ]:
texas6

# Tennessee

In [ ]:
#All Employees, In Thousands; Total Government Providing -Tennessee
tenn_gov = quandl.get("BLSE/SMU47000009000000001", start_date="2000-01-01", end_date="2020-08-01")
tenn_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Tenneseee
tenn_nonfarm = quandl.get("BLSE/SMU47000000000000001", start_date="2000-01-01", end_date="2020-08-01")
tenn_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -Tennessee
tenn_priv = quandl.get("BLSE/SMU47000000500000001", start_date="2000-01-01", end_date="2020-08-01")
tenn_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -Tennessee
tenn_goods = quandl.get("BLSE/SMU47000000600000001", start_date="2000-01-01", end_date="2020-08-01")
tenn_goods.columns= ['Total Goods Produced Provided Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -Tennessee
tenn_serv = quandl.get("BLSE/SMU47000000700000001", start_date="2000-01-01", end_date="2020-08-01")
tenn_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -Tennessee
tenn_manu = quandl.get("BLSE/SMU47000003000000001", start_date="2000-01-01", end_date="2020-08-01")
tenn_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -Tennessee
tenn_durable = quandl.get("BLSE/SMU47000003100000001", start_date="2000-01-01", end_date="2020-08-01")
tenn_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -Tennessee
tenn_wholesale = quandl.get("BLSE/SMU47000004100000001", start_date="2000-01-01", end_date="2020-08-01")
tenn_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -Tennessee
tenn_transutil = quandl.get("BLSE/SMU47000004300000001", start_date="2000-01-01", end_date="2020-08-01")
tenn_transutil.columns= [' Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -Tennessee
tenn_truck = quandl.get("BLSE/SMU47000004348400001", start_date="2000-01-01", end_date="2020-08-01")
tenn_truck.columns= ['Total Truck Transportation Provided Value']

In [ ]:
tenn4 = pd.merge(tenn_transutil, tenn_truck, on='Date')

In [ ]:
tenn3 = pd.merge(tenn_durable, tenn_wholesale, on='Date')

In [ ]:
tenn2 = pd.merge(tenn_serv, tenn_manu, on='Date')

In [ ]:
tenn1 = pd.merge(tenn_priv, tenn_goods, on='Date')

In [ ]:
tennessee = pd.merge(tenn_gov, tenn_nonfarm, on='Date')

In [ ]:
tennessee1 = pd.merge(tennessee, tenn1, on='Date')

In [ ]:
tennessee2 = pd.merge(tennessee1, tenn2, on='Date')

In [ ]:
tennessee3 = pd.merge(tennessee2, tenn3, on='Date')

In [ ]:
tennessee4 = pd.merge(tennessee3, tenn4, on='Date')
tennessee4

# South Dakota

In [ ]:
#All Employees, In Thousands; Total Government Providing -South Dakota 
sd_gov = quandl.get("BLSE/SMU46000009000000001", start_date="2000-01-01", end_date="2020-08-01")
sd_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -South Dakota
sd_nonfarm = quandl.get("BLSE/SMU46000000000000001", start_date="2000-01-01", end_date="2020-08-01")
sd_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -Tennessee
sd_priv = quandl.get("BLSE/SMU46000000500000001", start_date="2000-01-01", end_date="2020-08-01")
sd_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -Tennessee
sd_goods = quandl.get("BLSE/SMU46000000600000001", start_date="2000-01-01", end_date="2020-08-01")
sd_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South dakota
sd_serv = quandl.get("BLSE/SMU46000000700000001", start_date="2000-01-01", end_date="2020-08-01")
sd_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Dakota
sd_manu = quandl.get("BLSE/SMU46000003000000001", start_date="2000-01-01", end_date="2020-08-01")
sd_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Dakota
sd_wholesale = quandl.get("BLSE/SMU46000004100000001", start_date="2000-01-01", end_date="2020-08-01")
sd_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Dakota
sd_transutil = quandl.get("BLSE/SMU46000004300000001", start_date="2000-01-01", end_date="2020-08-01")
sd_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
sd3 = pd.merge(sd_wholesale, sd_transutil, on='Date')

In [ ]:
sd2 = pd.merge(sd_serv, sd_manu, on='Date')

In [ ]:
sd1 = pd.merge(sd_priv, sd_goods, on='Date')

In [ ]:
sd = pd.merge(sd_gov, sd_nonfarm, on='Date')

In [ ]:
southd= pd.merge(sd, sd1, on='Date')

In [ ]:
southd1 = pd.merge(southd, sd2, on='Date')

In [ ]:
southd2 = pd.merge(southd1, sd3, on='Date')
southd2

# South Carolina

In [ ]:
#All Employees, In Thousands; Total Government Providing -South Dakota 
sc_gov = quandl.get("BLSE/SMU45000009000000001", start_date="2000-01-01", end_date="2020-08-01")
sc_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -South Dakota
sc_nonfarm = quandl.get("BLSE/SMU45000000000000001", start_date="2000-01-01", end_date="2020-08-01")
sc_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
sc_priv = quandl.get("BLSE/SMU45000000500000001", start_date="2000-01-01", end_date="2020-08-01")
sc_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
sc_goods = quandl.get("BLSE/SMU45000000600000001", start_date="2000-01-01", end_date="2020-08-01")
sc_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
sc_serv = quandl.get("BLSE/SMU45000000700000001", start_date="2000-01-01", end_date="2020-08-01")
sc_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
sc_mine = quandl.get("BLSE/SMU45000001000000001", start_date="2000-01-01", end_date="2020-08-01")
sc_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
sc_manu = quandl.get("BLSE/SMU45000003000000001", start_date="2000-01-01", end_date="2020-08-01")
sc_manu.columns= ['Total Manufacture  Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
sc_durable = quandl.get("BLSE/SMU45000003000000001", start_date="2000-01-01", end_date="2020-08-01")
sc_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
sc_wholesale = quandl.get("BLSE/SMU45000004100000001", start_date="2000-01-01", end_date="2020-08-01")
sc_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
sc_transutil = quandl.get("BLSE/SMU45000004300000001", start_date="2000-01-01", end_date="2020-08-01")
sc_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
sc3= pd.merge(sc_manu, sc_wholesale, on='Date')

In [ ]:
sc2 = pd.merge(sc_serv, sc_mine, on='Date')

In [ ]:
sc1 = pd.merge(sc_priv, sc_goods, on='Date')

In [ ]:
south_carolina = pd.merge(sc_gov, sc_nonfarm, on='Date')

In [ ]:
south_carolina1 = pd.merge(south_carolina, sc1, on='Date')

In [ ]:
south_carolina2 = pd.merge(south_carolina1, sc2, on='Date')

In [ ]:
south_carolina3 = pd.merge(south_carolina2, sc3, on='Date')

In [ ]:
south_carolina4 = pd.merge(south_carolina3, sc_transutil, on='Date')

In [ ]:
south_carolina5 = pd.merge(south_carolina4, sc_durable, on='Date')
south_carolina5

# Rhode Island

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
ri_gov = quandl.get("BLSE/SMU44000009000000001", start_date="2000-01-01", end_date="2020-08-01")
ri_gov.columns= ['Rhode Island Total Government Provided Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
ri_nonfarm = quandl.get("BLSE/SMU44000000000000001", start_date="2000-01-01", end_date="2020-08-01")
ri_nonfarm.columns= ['Rhode Island Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
ri_priv = quandl.get("BLSE/SMU44000000500000001", start_date="2000-01-01", end_date="2020-08-01")
ri_priv.columns= ['Rhode Island Total Private Provided Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
ri_goods = quandl.get("BLSE/SMU44000000600000001", start_date="2000-01-01", end_date="2020-08-01")
ri_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
ri_serv = quandl.get("BLSE/SMU44000000700000001", start_date="2000-01-01", end_date="2020-08-01")
ri_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
ri_mine = quandl.get("BLSE/SMU44000001000000001", start_date="2000-01-01", end_date="2020-08-01")
ri_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
ri_manu = quandl.get("BLSE/SMU44000003000000001", start_date="2000-01-01", end_date="2020-08-01")
ri_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
ri_durable = quandl.get("BLSE/SMU44000003000000001", start_date="2000-01-01", end_date="2020-08-01")
ri_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
ri_wholesale = quandl.get("BLSE/SMU44000004100000001", start_date="2000-01-01", end_date="2020-08-01")
ri_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
ri_transutil = quandl.get("BLSE/SMU44000004300000001", start_date="2000-01-01", end_date="2020-08-01")
ri_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
ri4 = pd.merge(ri_wholesale, ri_transutil, on='Date')

In [ ]:
ri3 = pd.merge(ri_manu, ri_durable, on='Date')

In [ ]:
ri2 = pd.merge(ri_serv, ri_mine, on='Date')

In [ ]:
ri1 = pd.merge(ri_priv, ri_goods, on='Date')

In [ ]:
rhode_island = pd.merge(ri_gov, ri_nonfarm, on='Date')

In [ ]:
rhode_island1 = pd.merge(rhode_island, ri1, on='Date')

In [ ]:
rhode_island2 = pd.merge(rhode_island1, ri2, on='Date')

In [ ]:
rhode_island3 = pd.merge(rhode_island2, ri3, on='Date')

In [ ]:
rhode_island4 = pd.merge(rhode_island3, ri4, on='Date')
rhode_island4

# Pennslyvania

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
penn_gov = quandl.get("BLSE/SMU42000009000000001", start_date="2000-01-01", end_date="2020-08-01")
penn_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
penn_nonfarm = quandl.get("BLSE/SMU42000000000000001", start_date="2000-01-01", end_date="2020-08-01")
penn_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
penn_priv = quandl.get("BLSE/SMU42000000500000001", start_date="2000-01-01", end_date="2020-08-01")
penn_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
penn_goods = quandl.get("BLSE/SMU42000000600000001", start_date="2000-01-01", end_date="2020-08-01")
penn_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
penn_serv = quandl.get("BLSE/SMU42000000700000001", start_date="2000-01-01", end_date="2020-08-01")
penn_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
penn_mine = quandl.get("BLSE/SMU42000001000000001", start_date="2000-01-01", end_date="2020-08-01")
penn_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
penn_manu = quandl.get("BLSE/SMU42000003000000001", start_date="2000-01-01", end_date="2020-08-01")
penn_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
penn_durable = quandl.get("BLSE/SMU42000003000000001", start_date="2000-01-01", end_date="2020-08-01")
penn_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
penn_wholesale = quandl.get("BLSE/SMU42000004100000001", start_date="2000-01-01", end_date="2020-08-01")
penn_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
penn_transutil = quandl.get("BLSE/SMU42000004300000001", start_date="2000-01-01", end_date="2020-08-01")
penn_transutil.columns= [' Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Air Transportation Providing -South Carolina
penn_air = quandl.get("BLSE/SMU42000004348100001", start_date="2000-01-01", end_date="2020-08-01")
penn_air.columns= ['Total Air Transportation Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
penn_truck = quandl.get("BLSE/SMU42000004348400001", start_date="2000-01-01", end_date="2020-08-01")
penn_truck.columns= ['Total Truck Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
penn_telecom = quandl.get("BLSE/SMU42000005051700001", start_date="2000-01-01", end_date="2020-08-01")
penn_telecom.columns= ['Total Telecommunication Value']

In [ ]:
#All Employees, In Thousands; Total Real Estate Transportation Providing -South Carolina
penn_estate = quandl.get("BLSE/SMU42000005553100001", start_date="2000-01-01", end_date="2020-08-01")
penn_estate.columns= ['Total Real Estate Value']

In [ ]:
p6 = pd.merge(penn_telecom, penn_estate, on='Date')

In [ ]:
p5 = pd.merge(penn_air, penn_truck, on='Date')

In [ ]:
p4 = pd.merge(penn_wholesale, penn_transutil, on='Date')

In [ ]:
p3 = pd.merge(penn_manu, penn_durable, on='Date')

In [ ]:
p2 = pd.merge(penn_serv, penn_mine, on='Date')

In [ ]:
p1 = pd.merge(penn_priv, penn_goods, on='Date')

In [ ]:
penn = pd.merge(penn_gov, penn_nonfarm, on='Date')

In [ ]:
penn1 = pd.merge(penn, p1, on='Date')

In [ ]:
penn2 = pd.merge(penn1, p2, on='Date')

In [ ]:
penn3 = pd.merge(penn2, p3, on='Date')

In [ ]:
penn4 =pd.merge(penn3, p4, on='Date')

In [ ]:
penn5 = pd.merge(penn4, p5, on='Date')

In [ ]:
penn6 = pd.merge(penn5, p6, on='Date')
penn6

# Oregon

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
oregon_gov = quandl.get("BLSE/SMU41000009000000001", start_date="2000-01-01", end_date="2020-08-01")
oregon_gov.columns= ['Total Provided Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
oregon_nonfarm = quandl.get("BLSE/SMU41000000000000001", start_date="2000-01-01", end_date="2020-08-01")
oregon_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
oregon_priv = quandl.get("BLSE/SMU41000000500000001", start_date="2000-01-01", end_date="2020-08-01")
oregon_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
oregon_goods = quandl.get("BLSE/SMU41000000600000001", start_date="2000-01-01", end_date="2020-08-01")
oregon_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
oregon_serv = quandl.get("BLSE/SMU41000000700000001", start_date="2000-01-01", end_date="2020-08-01")
oregon_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
oregon_mine = quandl.get("BLSE/SMU41000001000000001", start_date="2000-01-01", end_date="2020-08-01")
oregon_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
oregon_manu = quandl.get("BLSE/SMU41000003000000001", start_date="2000-01-01", end_date="2020-08-01")
oregon_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
oregon_durable = quandl.get("BLSE/SMU41000003000000001", start_date="2000-01-01", end_date="2020-08-01")
oregon_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
oregon_wholesale = quandl.get("BLSE/SMU41000004100000001", start_date="2000-01-01", end_date="2020-08-01")
oregon_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
oregon_transutil = quandl.get("BLSE/SMU41000004300000001", start_date="2000-01-01", end_date="2020-08-01")
oregon_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
oregon_truck = quandl.get("BLSE/SMU41000004348400001", start_date="2000-01-01", end_date="2020-08-01")
oregon_truck.columns= ['Total Truck Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
oregon_telecom = quandl.get("BLSE/SMU41000005051700001", start_date="2000-01-01", end_date="2020-08-01")
oregon_telecom.columns= [' Total Telecommunication Value']

In [ ]:
#All Employees, In Thousands; Total Real Estate Transportation Providing -South Carolina
oregon_estate = quandl.get("BLSE/SMU41000005553100001", start_date="2000-01-01", end_date="2020-08-01")
oregon_estate.columns= ['Total Real Estate Value']

In [ ]:
o5 = pd.merge(oregon_truck, oregon_telecom, on='Date')

In [ ]:
o4 = pd.merge(oregon_wholesale, oregon_transutil, on='Date')

In [ ]:
o3 = pd.merge(oregon_manu, oregon_durable, on='Date')

In [ ]:
o2 = pd.merge(oregon_serv, oregon_mine, on='Date')

In [ ]:
o1 = pd.merge(oregon_priv, oregon_goods, on='Date')

In [ ]:
oregon = pd.merge(oregon_gov, oregon_nonfarm, on='Date')

In [ ]:
oregon1 = pd.merge(oregon, o1, on='Date')

In [ ]:
oregon2 = pd.merge(oregon1, o2, on='Date')

In [ ]:
oregon3 = pd.merge(oregon2, o3, on='Date')

In [ ]:
oregon4 = pd.merge(oregon3, o4, on='Date')

In [ ]:
oregon5 = pd.merge(oregon4, o5, on='Date')

In [ ]:
oregon6 = pd.merge(oregon5, oregon_estate, on='Date')
oregon6

# Oklahoma

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
okla_gov = quandl.get("BLSE/SMU40000009000000001", start_date="2000-01-01", end_date="2020-08-01")
okla_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
okla_nonfarm = quandl.get("BLSE/SMU40000000000000001", start_date="2000-01-01", end_date="2020-08-01")
okla_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
okla_priv = quandl.get("BLSE/SMU40000000500000001", start_date="2000-01-01", end_date="2020-08-01")
okla_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
okla_goods = quandl.get("BLSE/SMU40000000600000001", start_date="2000-01-01", end_date="2020-08-01")
okla_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
okla_serv = quandl.get("BLSE/SMU40000000700000001", start_date="2000-01-01", end_date="2020-08-01")
okla_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
okla_mine = quandl.get("BLSE/SMU40000001000000001", start_date="2000-01-01", end_date="2020-08-01")
okla_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
okla_manu = quandl.get("BLSE/SMU40000003000000001", start_date="2000-01-01", end_date="2020-08-01")
okla_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
okla_durable = quandl.get("BLSE/SMU40000003000000001", start_date="2000-01-01", end_date="2020-08-01")
okla_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
okla_wholesale = quandl.get("BLSE/SMU40000004100000001", start_date="2000-01-01", end_date="2020-08-01")
okla_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
okla_transutil = quandl.get("BLSE/SMU40000004300000001", start_date="2000-01-01", end_date="2020-08-01")
okla_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
okla_truck = quandl.get("BLSE/SMU40000004348400001", start_date="2000-01-01", end_date="2020-08-01")
okla_truck.columns= ['Total Truck Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
okla_telecom = quandl.get("BLSE/SMU40000005051700001", start_date="2000-01-01", end_date="2020-08-01")
okla_telecom.columns= ['Total Telecommunication Value']

In [ ]:
#All Employees, In Thousands; Total Real Estate Transportation Providing -South Carolina
okla_estate = quandl.get("BLSE/SMU40000005553100001", start_date="2000-01-01", end_date="2020-08-01")
okla_estate.columns= ['Total Real Estate Value']

In [ ]:
okla5 = pd.merge(okla_truck, okla_telecom, on='Date')

In [ ]:
okla4 = pd.merge(okla_wholesale, okla_transutil, on='Date')

In [ ]:
okla3 = pd.merge(okla_manu, okla_durable, on='Date')

In [ ]:
okla2 = pd.merge(okla_serv, okla_mine, on='Date')

In [ ]:
okla1 = pd.merge(okla_priv, okla_goods, on='Date')

In [ ]:
oklahoma = pd.merge(okla_gov, okla_nonfarm, on='Date')

In [ ]:
oklahoma1 = pd.merge(oklahoma, okla1, on='Date')

In [ ]:
oklahoma2 = pd.merge(oklahoma1, okla2, on='Date')

In [ ]:
oklahoma3 = pd.merge(oklahoma2, okla3, on='Date')

In [ ]:
oklahoma4 = pd.merge(oklahoma3, okla4, on='Date')

In [ ]:
oklahoma5 = pd.merge(oklahoma4, okla5, on='Date')
oklahoma5

# Ohio

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
oh_gov = quandl.get("BLSE/SMU39000009000000001", start_date="2000-01-01", end_date="2020-08-01")
oh_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
oh_nonfarm = quandl.get("BLSE/SMU39000000000000001", start_date="2000-01-01", end_date="2020-08-01")
oh_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
oh_priv = quandl.get("BLSE/SMU39000000500000001", start_date="2000-01-01", end_date="2020-08-01")
oh_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
oh_goods = quandl.get("BLSE/SMU39000000600000001", start_date="2000-01-01", end_date="2020-08-01")
oh_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
oh_serv = quandl.get("BLSE/SMU39000000700000001", start_date="2000-01-01", end_date="2020-08-01")
oh_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
oh_mine = quandl.get("BLSE/SMU39000001000000001", start_date="2000-01-01", end_date="2020-08-01")
oh_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
oh_manu = quandl.get("BLSE/SMU39000003000000001", start_date="2000-01-01", end_date="2020-08-01")
oh_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
oh_durable = quandl.get("BLSE/SMU39000003000000001", start_date="2000-01-01", end_date="2020-08-01")
oh_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
oh_wholesale = quandl.get("BLSE/SMU39000004100000001", start_date="2000-01-01", end_date="2020-08-01")
oh_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
oh_transutil = quandl.get("BLSE/SMU39000004300000001", start_date="2000-01-01", end_date="2020-08-01")
oh_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
oh_truck = quandl.get("BLSE/SMU39000004348400001", start_date="2000-01-01", end_date="2020-08-01")
oh_truck.columns= ['Total Truck Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
oh_telecom = quandl.get("BLSE/SMU39000005051700001", start_date="2000-01-01", end_date="2020-08-01")
oh_telecom.columns= ['Total Telecommunication Value']

In [ ]:
oh5 = pd.merge(oh_truck, oh_telecom, on='Date')

In [ ]:
oh4= pd.merge(oh_wholesale, oh_transutil, on='Date')

In [ ]:
oh3 = pd.merge(oh_manu, oh_durable, on='Date')

In [ ]:
oh2= pd.merge(oh_serv, oh_mine, on='Date')

In [ ]:
oh1= pd.merge(oh_priv, oh_goods, on='Date')

In [ ]:
ohio = pd.merge(oh_gov, oh_nonfarm, on='Date')

In [ ]:
ohio1 = pd.merge(ohio, oh1, on='Date')

In [ ]:
ohio2 = pd.merge(ohio1, oh2, on='Date')

In [ ]:
ohio3 = pd.merge(ohio2, oh3, on='Date')

In [ ]:
ohio4 = pd.merge(ohio3, oh4, on='Date')

In [ ]:
ohio5 = pd.merge(ohio4, oh5, on='Date')
ohio5

# North Dakota

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
nd_gov = quandl.get("BLSE/SMU38000009000000001", start_date="2000-01-01", end_date="2020-08-01")
nd_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
nd_nonfarm = quandl.get("BLSE/SMU38000000000000001", start_date="2000-01-01", end_date="2020-08-01")
nd_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
nd_priv = quandl.get("BLSE/SMU38000000500000001", start_date="2000-01-01", end_date="2020-08-01")
nd_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
nd_goods = quandl.get("BLSE/SMU38000000600000001", start_date="2000-01-01", end_date="2020-08-01")
nd_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
nd_serv = quandl.get("BLSE/SMU38000000700000001", start_date="2000-01-01", end_date="2020-08-01")
nd_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
nd_mine = quandl.get("BLSE/SMU38000001000000001", start_date="2000-01-01", end_date="2020-08-01")
nd_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
nd_manu = quandl.get("BLSE/SMU38000003000000001", start_date="2000-01-01", end_date="2020-08-01")
nd_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
nd_durable = quandl.get("BLSE/SMU38000003000000001", start_date="2000-01-01", end_date="2020-08-01")
nd_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
nd_wholesale = quandl.get("BLSE/SMU38000004100000001", start_date="2000-01-01", end_date="2020-08-01")
nd_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
nd_transutil = quandl.get("BLSE/SMU38000004300000001", start_date="2000-01-01", end_date="2020-08-01")
nd_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
nd_truck = quandl.get("BLSE/SMU38000004348400001", start_date="2000-01-01", end_date="2020-08-01")
nd_truck.columns= ['Total Truck Transportation Provided Value']

In [ ]:
nd4 = pd.merge(nd_wholesale, nd_transutil, on='Date')

In [ ]:
nd3 = pd.merge(nd_manu, nd_durable, on='Date')

In [ ]:
nd2 = pd.merge(nd_serv, nd_mine, on='Date')

In [ ]:
nd1 = pd.merge(nd_priv, nd_goods, on='Date')

In [ ]:
nd_dakota = pd.merge(nd_gov, nd_nonfarm, on='Date')

In [ ]:
nd_dakota1 = pd.merge(nd_dakota, nd1, on='Date')

In [ ]:
nd_dakota2 = pd.merge(nd_dakota1, nd2, on='Date')

In [ ]:
nd_dakota3 = pd.merge(nd_dakota2, nd3, on='Date')

In [ ]:
nd_dakota4 = pd.merge(nd_dakota3, nd4, on='Date')

In [ ]:
nd_dakota5 = pd.merge(nd_dakota4, nd_truck, on='Date')
nd_dakota5

# North Carolina

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
nc_gov = quandl.get("BLSE/SMU37000009000000001", start_date="2000-01-01", end_date="2020-08-01")
nc_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
nc_nonfarm = quandl.get("BLSE/SMU37000000000000001", start_date="2000-01-01", end_date="2020-08-01")
nc_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
nc_priv = quandl.get("BLSE/SMU37000000500000001", start_date="2000-01-01", end_date="2020-08-01")
nc_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
nc_goods = quandl.get("BLSE/SMU37000000600000001", start_date="2000-01-01", end_date="2020-08-01")
nc_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
nc_serv = quandl.get("BLSE/SMU37000000700000001", start_date="2000-01-01", end_date="2020-08-01")
nc_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
nc_mine = quandl.get("BLSE/SMU37000001000000001", start_date="2000-01-01", end_date="2020-08-01")
nc_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
nc_manu = quandl.get("BLSE/SMU37000003000000001", start_date="2000-01-01", end_date="2020-08-01")
nc_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
nc_durable = quandl.get("BLSE/SMU37000003000000001", start_date="2000-01-01", end_date="2020-08-01")
nc_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
nc_wholesale = quandl.get("BLSE/SMU37000004100000001", start_date="2000-01-01", end_date="2020-08-01")
nc_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
nc_transutil = quandl.get("BLSE/SMU37000004300000001", start_date="2000-01-01", end_date="2020-08-01")
nc_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
nc_truck = quandl.get("BLSE/SMU37000004348400001", start_date="2000-01-01", end_date="2020-08-01")
nc_truck.columns= ['Total Truck Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
nc_telecom = quandl.get("BLSE/SMU37000005051700001", start_date="2000-01-01", end_date="2020-08-01")
nc_telecom.columns= ['Total Telecommunication Value']

In [ ]:
#All Employees, In Thousands; Total Air Transportation Providing -South Carolina
nc_air = quandl.get("BLSE/SMU37000004348100001", start_date="2000-01-01", end_date="2020-08-01")
nc_air.columns= ['Total Air Value']

In [ ]:
#All Employees, In Thousands; Total Real Estate Providing -South Carolina
nc_estate = quandl.get("BLSE/SMU37000005553100001", start_date="2000-01-01", end_date="2020-08-01")
nc_estate.columns= ['Total Real Estate Value']

In [ ]:
nc6 = pd.merge(nc_air, nc_estate, on='Date')

In [ ]:
nc5 = pd.merge(nc_truck, nc_telecom, on='Date')

In [ ]:
nc4 = pd.merge(nc_wholesale, nc_transutil, on='Date')

In [ ]:
nc3 = pd.merge(nc_manu, nc_durable, on='Date')

In [ ]:
nc2 = pd.merge(nc_serv, nc_mine, on='Date')

In [ ]:
nc1 = pd.merge(nc_priv, nc_goods, on='Date')

In [ ]:
north_c = pd.merge(nc_gov, nc_nonfarm, on='Date')

In [ ]:
north_c1 = pd.merge(north_c, nc1, on='Date')

In [ ]:
north_c2 = pd.merge(north_c1, nc2, on='Date')

In [ ]:
north_c3 = pd.merge(north_c2, nc3, on='Date')

In [ ]:
north_c4 = pd.merge(north_c3, nc4, on='Date')

In [ ]:
north_c5 = pd.merge(north_c4, nc5, on='Date')

In [ ]:
north_c6 = pd.merge(north_c5, nc6, on='Date')
north_c6

# New York

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
ny_gov = quandl.get("BLSE/SMU36000009000000001", start_date="2000-01-01", end_date="2020-08-01")
ny_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
ny_nonfarm = quandl.get("BLSE/SMU36000000000000001", start_date="2000-01-01", end_date="2020-08-01")
ny_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
ny_priv = quandl.get("BLSE/SMU36000000500000001", start_date="2000-01-01", end_date="2020-08-01")
ny_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
ny_goods = quandl.get("BLSE/SMU36000000600000001", start_date="2000-01-01", end_date="2020-08-01")
ny_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
ny_serv = quandl.get("BLSE/SMU36000000700000001", start_date="2000-01-01", end_date="2020-08-01")
ny_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
ny_mine = quandl.get("BLSE/SMU36000001000000001", start_date="2000-01-01", end_date="2020-08-01")
ny_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
ny_manu = quandl.get("BLSE/SMU36000003000000001", start_date="2000-01-01", end_date="2020-08-01")
ny_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
ny_durable = quandl.get("BLSE/SMU36000003000000001", start_date="2000-01-01", end_date="2020-08-01")
ny_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
ny_wholesale = quandl.get("BLSE/SMU36000004100000001", start_date="2000-01-01", end_date="2020-08-01")
ny_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
ny_transutil = quandl.get("BLSE/SMU36000004300000001", start_date="2000-01-01", end_date="2020-08-01")
ny_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
ny_truck = quandl.get("BLSE/SMU36000004348400001", start_date="2000-01-01", end_date="2020-08-01")
ny_truck.columns= ['Total Truck Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
ny_telecom = quandl.get("BLSE/SMU36000005051700001", start_date="2000-01-01", end_date="2020-08-01")
ny_telecom.columns= ['Total Telecommunication Value']

In [ ]:
#All Employees, In Thousands; Total Air Transportation Providing -South Carolina
ny_air = quandl.get("BLSE/SMU36000004348100001", start_date="2000-01-01", end_date="2020-08-01")
ny_air.columns= ['Total Air Value']

In [ ]:
#All Employees, In Thousands; Total Real Estate Providing -South Carolina
ny_estate = quandl.get("BLSE/SMU36000005553100001", start_date="2000-01-01", end_date="2020-08-01")
ny_estate.columns= ['Total Real Estate Value']

In [ ]:
#All Employees, In Thousands; Total Commercial Banking Providing -South Carolina
ny_comm = quandl.get("BLSE/SMU36000005552211001", start_date="2000-01-01", end_date="2020-08-01")
ny_comm.columns= ['Total Commercial Banking Value']

In [ ]:
ny6 = pd.merge(ny_air, ny_estate, on='Date')

In [ ]:
ny5 = pd.merge(ny_truck, ny_telecom, on='Date')

In [ ]:
ny4 = pd.merge(ny_wholesale, ny_transutil, on='Date')

In [ ]:
ny3 = pd.merge(ny_manu, ny_durable, on='Date')

In [ ]:
ny2 = pd.merge(ny_serv, ny_mine, on='Date')

In [ ]:
ny1 = pd.merge(ny_priv, ny_goods, on='Date')

In [ ]:
new_y = pd.merge(ny_gov, ny_nonfarm, on='Date')

In [ ]:
new_y1 = pd.merge(new_y, ny1, on='Date')

In [ ]:
new_y2 = pd.merge(new_y1, ny2, on='Date')

In [ ]:
new_y3 = pd.merge(new_y2, ny3, on='Date')

In [ ]:
new_y4 = pd.merge(new_y3, ny4, on='Date')

In [ ]:
new_y5 = pd.merge(new_y4, ny5, on='Date')

In [ ]:
new_y6 = pd.merge(new_y5, ny6, on='Date')

In [ ]:
new_y7 = pd.merge(new_y6, ny_comm, on='Date')
new_y7

# New Mexico

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
nm_gov = quandl.get("BLSE/SMU35000009000000001", start_date="2000-01-01", end_date="2020-08-01")
nm_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
nm_nonfarm = quandl.get("BLSE/SMU35000000000000001", start_date="2000-01-01", end_date="2020-08-01")
nm_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
nm_priv = quandl.get("BLSE/SMU35000000500000001", start_date="2000-01-01", end_date="2020-08-01")
nm_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
nm_goods = quandl.get("BLSE/SMU35000000600000001", start_date="2000-01-01", end_date="2020-08-01")
nm_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
nm_serv = quandl.get("BLSE/SMU35000000700000001", start_date="2000-01-01", end_date="2020-08-01")
nm_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
nm_mine = quandl.get("BLSE/SMU35000001000000001", start_date="2000-01-01", end_date="2020-08-01")
nm_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
nm_manu = quandl.get("BLSE/SMU35000003000000001", start_date="2000-01-01", end_date="2020-08-01")
nm_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
nm_durable = quandl.get("BLSE/SMU35000003000000001", start_date="2000-01-01", end_date="2020-08-01")
nm_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
nm_wholesale = quandl.get("BLSE/SMU35000004100000001", start_date="2000-01-01", end_date="2020-08-01")
nm_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
nm_transutil = quandl.get("BLSE/SMU35000004300000001", start_date="2000-01-01", end_date="2020-08-01")
nm_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
nm4 = pd.merge(nm_wholesale, nm_transutil, on='Date')

In [ ]:
nm3 = pd.merge(nm_manu, nm_durable, on='Date')

In [ ]:
nm2 = pd.merge(nm_serv, nm_mine, on='Date')

In [ ]:
nm1 = pd.merge(nm_priv, nm_goods, on='Date')

In [ ]:
new_m = pd.merge(nm_gov, nm_nonfarm, on='Date')

In [ ]:
new_m1 = pd.merge(new_m, nm1, on='Date')

In [ ]:
new_m2 = pd.merge(new_m1, nm2, on='Date')

In [ ]:
new_m3 = pd.merge(new_m2, nm3, on='Date')

In [ ]:
new_m4 = pd.merge(new_m3, nm4, on='Date')
new_m4

# New Jersey

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
nj_gov = quandl.get("BLSE/SMU34000009000000001", start_date="2000-01-01", end_date="2020-08-01")
nj_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
nj_nonfarm = quandl.get("BLSE/SMU34000000000000001", start_date="2000-01-01", end_date="2020-08-01")
nj_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
nj_priv = quandl.get("BLSE/SMU34000000500000001", start_date="2000-01-01", end_date="2020-08-01")
nj_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
nj_goods = quandl.get("BLSE/SMU34000000600000001", start_date="2000-01-01", end_date="2020-08-01")
nj_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
nj_serv = quandl.get("BLSE/SMU34000000700000001", start_date="2000-01-01", end_date="2020-08-01")
nj_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
nj_mine = quandl.get("BLSE/SMU34000001000000001", start_date="2000-01-01", end_date="2020-08-01")
nj_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
nj_manu = quandl.get("BLSE/SMU34000003000000001", start_date="2000-01-01", end_date="2020-08-01")
nj_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
nj_durable = quandl.get("BLSE/SMU34000003000000001", start_date="2000-01-01", end_date="2020-08-01")
nj_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
nj_wholesale = quandl.get("BLSE/SMU34000004100000001", start_date="2000-01-01", end_date="2020-08-01")
nj_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
nj_transutil = quandl.get("BLSE/SMU34000004300000001", start_date="2000-01-01", end_date="2020-08-01")
nj_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
nj_truck = quandl.get("BLSE/SMU34000004348400001", start_date="2000-01-01", end_date="2020-08-01")
nj_truck.columns= ['Total Truck Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
nj_telecom = quandl.get("BLSE/SMU34000005051700001", start_date="2000-01-01", end_date="2020-08-01")
nj_telecom.columns= ['Total Telecommunication Value']

In [ ]:
#All Employees, In Thousands; Total Air Transportation Providing -South Carolina
nj_air = quandl.get("BLSE/SMU34000004348100001", start_date="2000-01-01", end_date="2020-08-01")
nj_air.columns= ['Total Air Value']

In [ ]:
#All Employees, In Thousands; Total Real Estate Providing -South Carolina
nj_estate = quandl.get("BLSE/SMU34000005553100001", start_date="2000-01-01", end_date="2020-08-01")
nj_estate.columns= ['Total Real Estate Value']

In [ ]:
nj6 = pd.merge(nj_air, nj_estate, on='Date')

In [ ]:
nj5 = pd.merge(nj_truck, nj_telecom, on='Date')

In [ ]:
nj4 = pd.merge(nj_wholesale, nj_transutil, on='Date')

In [ ]:
nj3 = pd.merge(nj_manu, nj_durable, on='Date')

In [ ]:
nj2 = pd.merge(nj_serv, nj_mine, on='Date')

In [ ]:
nj1 = pd.merge(nj_priv, nj_goods, on='Date')

In [ ]:
new_j = pd.merge(nj_gov, nj_nonfarm, on='Date')

In [ ]:
new_j1 = pd.merge(new_j, nj1, on='Date')

In [ ]:
new_j2 = pd.merge(new_j1, nj2, on='Date')

In [ ]:
new_j3 = pd.merge(new_j2, nj3, on='Date')

In [ ]:
new_j4 = pd.merge(new_j3, nj4, on='Date')

In [ ]:
new_j5 = pd.merge(new_j4, nj5, on='Date')

In [ ]:
new_j6 = pd.merge(new_j5, nj6, on='Date')
new_j6

# New Hampshire

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
nh_gov = quandl.get("BLSE/SMU33000009000000001", start_date="2000-01-01", end_date="2020-08-01")
nh_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
nh_nonfarm = quandl.get("BLSE/SMU33000000000000001", start_date="2000-01-01", end_date="2020-08-01")
nh_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
nh_priv = quandl.get("BLSE/SMU33000000500000001", start_date="2000-01-01", end_date="2020-08-01")
nh_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
nh_goods = quandl.get("BLSE/SMU33000000600000001", start_date="2000-01-01", end_date="2020-08-01")
nh_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
nh_serv = quandl.get("BLSE/SMU33000000700000001", start_date="2000-01-01", end_date="2020-08-01")
nh_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
nh_mine = quandl.get("BLSE/SMU33000001000000001", start_date="2000-01-01", end_date="2020-08-01")
nh_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
nh_manu = quandl.get("BLSE/SMU33000003000000001", start_date="2000-01-01", end_date="2020-08-01")
nh_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
nh_durable = quandl.get("BLSE/SMU33000003000000001", start_date="2000-01-01", end_date="2020-08-01")
nh_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
nh_wholesale = quandl.get("BLSE/SMU33000004100000001", start_date="2000-01-01", end_date="2020-08-01")
nh_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
nh_transutil = quandl.get("BLSE/SMU33000004300000001", start_date="2000-01-01", end_date="2020-08-01")
nh_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
nh4 = pd.merge(nh_wholesale, nh_transutil, on='Date')

In [ ]:
nh3 = pd.merge(nh_manu, nh_durable, on='Date')

In [ ]:
nh2 = pd.merge(nh_serv, nh_mine, on='Date')

In [ ]:
nh1 = pd.merge(nh_priv, nh_goods, on='Date')

In [ ]:
new_h = pd.merge(nh_gov, nh_nonfarm, on='Date')

In [ ]:
new_h1 = pd.merge(new_h, nh1, on='Date')

In [ ]:
new_h2 = pd.merge(new_h1, nh2, on='Date')

In [ ]:
new_h3 = pd.merge(new_h2, nh3, on='Date')

In [ ]:
new_h4 = pd.merge(new_h3, ny4, on='Date')
new_h4

# Nevada

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
nv_gov = quandl.get("BLSE/SMU32000009000000001", start_date="2000-01-01", end_date="2020-08-01")
nv_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
nv_nonfarm = quandl.get("BLSE/SMU32000000000000001", start_date="2000-01-01", end_date="2020-08-01")
nv_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
nv_priv = quandl.get("BLSE/SMU32000000500000001", start_date="2000-01-01", end_date="2020-08-01")
nv_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
nv_goods = quandl.get("BLSE/SMU32000000600000001", start_date="2000-01-01", end_date="2020-08-01")
nv_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
nv_serv = quandl.get("BLSE/SMU32000000700000001", start_date="2000-01-01", end_date="2020-08-01")
nv_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
nv_mine = quandl.get("BLSE/SMU32000001000000001", start_date="2000-01-01", end_date="2020-08-01")
nv_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
nv_manu = quandl.get("BLSE/SMU32000003000000001", start_date="2000-01-01", end_date="2020-08-01")
nv_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
nv_durable = quandl.get("BLSE/SMU32000003000000001", start_date="2000-01-01", end_date="2020-08-01")
nv_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
nv_wholesale = quandl.get("BLSE/SMU32000004100000001", start_date="2000-01-01", end_date="2020-08-01")
nv_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
nv_transutil = quandl.get("BLSE/SMU32000004300000001", start_date="2000-01-01", end_date="2020-08-01")
nv_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
nv_telecom = quandl.get("BLSE/SMU32000005051700001", start_date="2000-01-01", end_date="2020-08-01")
nv_telecom.columns= ['Total Telecommunication Value']

In [ ]:
#All Employees, In Thousands; Total Air Transportation Providing -South Carolina
nv_air = quandl.get("BLSE/SMU32000004348100001", start_date="2000-01-01", end_date="2020-08-01")
nv_air.columns= ['Total Air Value']

In [ ]:
nv5 = pd.merge(nv_air, nv_telecom, on='Date')

In [ ]:
nv4 = pd.merge(nv_wholesale, nv_transutil, on='Date')

In [ ]:
nv3 = pd.merge(nv_manu, nv_durable, on='Date')

In [ ]:
nv2 = pd.merge(nv_serv, nv_mine, on='Date')

In [ ]:
nv1 = pd.merge(nv_priv, nv_goods, on='Date')

In [ ]:
nv = pd.merge(nv_gov, nv_nonfarm, on='Date')

In [ ]:
nev = pd.merge(nv, nv1, on='Date')

In [ ]:
nev1 = pd.merge(nev, nv2, on='Date')

In [ ]:
nev2 = pd.merge(nev1, nv3, on='Date')

In [ ]:
nev3 = pd.merge(nev2, nv4, on='Date')

In [ ]:
nev4 = pd.merge(nev3, nv5, on='Date')
nev4

# Nebraska

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
nb_gov = quandl.get("BLSE/SMU31000009000000001", start_date="2000-01-01", end_date="2020-08-01")
nb_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
nb_nonfarm = quandl.get("BLSE/SMU31000000000000001", start_date="2000-01-01", end_date="2020-08-01")
nb_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
nb_priv = quandl.get("BLSE/SMU31000000500000001", start_date="2000-01-01", end_date="2020-08-01")
nb_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
nb_goods = quandl.get("BLSE/SMU31000000600000001", start_date="2000-01-01", end_date="2020-08-01")
nb_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
nb_serv = quandl.get("BLSE/SMU31000000700000001", start_date="2000-01-01", end_date="2020-08-01")
nb_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
nb_manu = quandl.get("BLSE/SMU31000003000000001", start_date="2000-01-01", end_date="2020-08-01")
nb_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
nb_durable = quandl.get("BLSE/SMU31000003000000001", start_date="2000-01-01", end_date="2020-08-01")
nb_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
nb_wholesale = quandl.get("BLSE/SMU31000004100000001", start_date="2000-01-01", end_date="2020-08-01")
nb_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
nb_transutil = quandl.get("BLSE/SMU31000004300000001", start_date="2000-01-01", end_date="2020-08-01")
nb_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
nb_truck = quandl.get("BLSE/SMU31000004348400001", start_date="2000-01-01", end_date="2020-08-01")
nb_truck.columns= ['Total Truck Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Rail Transportation Providing -South Carolina
nb_rail = quandl.get("BLSE/SMU31000004348200001", start_date="2000-01-01", end_date="2020-08-01")
nb_rail.columns= ['Total Rail Transportation Value']

In [ ]:
# nb5 = pd.merge(nb_truck, nb_rail, on='Date')

In [ ]:
nb4 = pd.merge(nb_wholesale, nb_transutil, on='Date')

In [ ]:
nb3 = pd.merge(nb_manu, nb_durable, on='Date')

In [ ]:
nb2 = pd.merge(nb_rail, nb_serv, on='Date')

In [ ]:
nb1 = pd.merge(nb_priv, nb_goods, on='Date')

In [ ]:
neb = pd.merge(nb_gov, nb_nonfarm, on='Date')

In [ ]:
neb1 = pd.merge(neb, nb1, on='Date')

In [ ]:
neb2 = pd.merge(neb1, nb2, on='Date')

In [ ]:
neb3 = pd.merge(neb2, nb3, on='Date')

In [ ]:
neb4 = pd.merge(neb3, nb4, on='Date')

In [ ]:
neb5 = pd.merge(neb4, nb_truck, on='Date')
neb5

# Montana

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
mont_gov = quandl.get("BLSE/SMU30000009000000001", start_date="2000-01-01", end_date="2020-08-01")
mont_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
mont_nonfarm = quandl.get("BLSE/SMU30000000000000001", start_date="2000-01-01", end_date="2020-08-01")
mont_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
mont_priv = quandl.get("BLSE/SMU30000000500000001", start_date="2000-01-01", end_date="2020-08-01")
mont_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
mont_goods = quandl.get("BLSE/SMU30000000600000001", start_date="2000-01-01", end_date="2020-08-01")
mont_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
mont_serv = quandl.get("BLSE/SMU30000000700000001", start_date="2000-01-01", end_date="2020-08-01")
mont_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
mont_mine = quandl.get("BLSE/SMU30000001000000001", start_date="2000-01-01", end_date="2020-08-01")
mont_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
mont_manu = quandl.get("BLSE/SMU30000003000000001", start_date="2000-01-01", end_date="2020-08-01")
mont_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
mont_durable = quandl.get("BLSE/SMU30000003000000001", start_date="2000-01-01", end_date="2020-08-01")
mont_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
mont_wholesale = quandl.get("BLSE/SMU30000004100000001", start_date="2000-01-01", end_date="2020-08-01")
mont_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
mont_transutil = quandl.get("BLSE/SMU30000004300000001", start_date="2000-01-01", end_date="2020-08-01")
mont_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
mont_truck = quandl.get("BLSE/SMU30000004348400001", start_date="2000-01-01", end_date="2020-08-01")
mont_truck.columns= ['Total Truck Transportation Provided Value']

In [ ]:
mont4 = pd.merge(mont_wholesale, mont_transutil, on='Date')

In [ ]:
mont3 = pd.merge(mont_manu, mont_durable, on='Date')

In [ ]:
mont2 = pd.merge(mont_serv, mont_mine, on='Date')

In [ ]:
mont1 = pd.merge(mont_priv, mont_goods, on='Date')

In [ ]:
montana = pd.merge(mont_gov, mont_nonfarm, on='Date')

In [ ]:
mont_1 = pd.merge(montana, mont1, on='Date')

In [ ]:
mont_2 = pd.merge(mont_1, mont2, on='Date')

In [ ]:
mont_3 = pd.merge(mont_2, mont3, on='Date')

In [ ]:
mont_4 = pd.merge(mont_3, mont4, on='Date')

In [ ]:
mont_5 = pd.merge(mont_4, mont_truck, on='Date')
mont_5

# Missouri

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
mizzo_gov = quandl.get("BLSE/SMU29000009000000001", start_date="2000-01-01", end_date="2020-08-01")
mizzo_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
mizzo_nonfarm = quandl.get("BLSE/SMU29000000000000001", start_date="2000-01-01", end_date="2020-08-01")
mizzo_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
mizzo_priv = quandl.get("BLSE/SMU29000000500000001", start_date="2000-01-01", end_date="2020-08-01")
mizzo_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
mizzo_goods = quandl.get("BLSE/SMU29000000600000001", start_date="2000-01-01", end_date="2020-08-01")
mizzo_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
mizzo_serv = quandl.get("BLSE/SMU29000000700000001", start_date="2000-01-01", end_date="2020-08-01")
mizzo_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
mizzo_mine = quandl.get("BLSE/SMU29000001000000001", start_date="2000-01-01", end_date="2020-08-01")
mizzo_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
mizzo_manu = quandl.get("BLSE/SMU29000003000000001", start_date="2000-01-01", end_date="2020-08-01")
mizzo_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
mizzo_durable = quandl.get("BLSE/SMU29000003000000001", start_date="2000-01-01", end_date="2020-08-01")
mizzo_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
mizzo_wholesale = quandl.get("BLSE/SMU29000004100000001", start_date="2000-01-01", end_date="2020-08-01")
mizzo_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
mizzo_transutil = quandl.get("BLSE/SMU29000004300000001", start_date="2000-01-01", end_date="2020-08-01")
mizzo_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
mizzo_truck = quandl.get("BLSE/SMU29000004348400001", start_date="2000-01-01", end_date="2020-08-01")
mizzo_truck.columns= ['Total Truck Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
mizzo_telecom = quandl.get("BLSE/SMU29000005051700001", start_date="2000-01-01", end_date="2020-08-01")
mizzo_telecom.columns= ['Total Telecommunication Value']

In [ ]:
mizzo5 = pd.merge(mizzo_truck, mizzo_telecom, on='Date')

In [ ]:
mizzo4 = pd.merge(mizzo_wholesale, mizzo_transutil, on='Date')

In [ ]:
mizzo3 = pd.merge(mizzo_manu, mizzo_durable, on='Date')

In [ ]:
mizzo2 = pd.merge(mizzo_serv, mizzo_mine, on='Date')

In [ ]:
mizzo1 = pd.merge(mizzo_priv, mizzo_goods, on='Date')

In [ ]:
mizzo = pd.merge(mizzo_gov, mizzo_nonfarm, on='Date')

In [ ]:
mizzo_j1 = pd.merge(mizzo, mizzo1, on='Date')

In [ ]:
mizzo_j2 = pd.merge(mizzo_j1, mizzo2, on='Date')

In [ ]:
mizzo_j3 = pd.merge(mizzo_j2, mizzo3, on='Date')

In [ ]:
mizzo_j4 = pd.merge(mizzo_j3, mizzo4, on='Date')

In [ ]:
mizzo_j5 = pd.merge(mizzo_j4, mizzo5, on='Date')

In [ ]:
mizzo_j5

# Mississippi

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
missi_gov = quandl.get("BLSE/SMU28000009000000001", start_date="2000-01-01", end_date="2020-08-01")
missi_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
missi_nonfarm = quandl.get("BLSE/SMU28000000000000001", start_date="2000-01-01", end_date="2020-08-01")
missi_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
missi_priv = quandl.get("BLSE/SMU28000000500000001", start_date="2000-01-01", end_date="2020-08-01")
missi_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
missi_goods = quandl.get("BLSE/SMU28000000600000001", start_date="2000-01-01", end_date="2020-08-01")
missi_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
missi_serv = quandl.get("BLSE/SMU28000000700000001", start_date="2000-01-01", end_date="2020-08-01")
missi_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
missi_mine = quandl.get("BLSE/SMU28000001000000001", start_date="2000-01-01", end_date="2020-08-01")
missi_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
missi_manu = quandl.get("BLSE/SMU28000003000000001", start_date="2000-01-01", end_date="2020-08-01")
missi_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
missi_durable = quandl.get("BLSE/SMU28000003000000001", start_date="2000-01-01", end_date="2020-08-01")
missi_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
missi_wholesale = quandl.get("BLSE/SMU28000004100000001", start_date="2000-01-01", end_date="2020-08-01")
missi_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
missi_transutil = quandl.get("BLSE/SMU28000004300000001", start_date="2000-01-01", end_date="2020-08-01")
missi_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
missi_telecom = quandl.get("BLSE/SMU28000005051700001", start_date="2000-01-01", end_date="2020-08-01")
missi_telecom.columns= ['Total Telecommunication Value']

In [ ]:
missi4 = pd.merge(missi_wholesale, missi_transutil, on='Date')

In [ ]:
missi3 = pd.merge(missi_manu, missi_durable, on='Date')

In [ ]:
missi2 = pd.merge(missi_serv, missi_mine, on='Date')

In [ ]:
missi1 = pd.merge(missi_priv, missi_goods, on='Date')

In [ ]:
missi = pd.merge(missi_gov, missi_nonfarm, on='Date')

In [ ]:
missi_j1 = pd.merge(missi, missi1, on='Date')

In [ ]:
missi_j2 = pd.merge(missi_j1, missi2, on='Date')

In [ ]:
missi_j3 = pd.merge(missi_j2, missi3, on='Date')

In [ ]:
missi_j4 = pd.merge(missi_j3, missi4, on='Date')

In [ ]:
missi_j5 = pd.merge(missi_j4, missi_telecom, on='Date')

In [ ]:
missi_j5

# Minnesota

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
minn_gov = quandl.get("BLSE/SMU27000009000000001", start_date="2000-01-01", end_date="2020-08-01")
minn_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
minn_nonfarm = quandl.get("BLSE/SMU27000000000000001", start_date="2000-01-01", end_date="2020-08-01")
minn_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
minn_priv = quandl.get("BLSE/SMU27000000500000001", start_date="2000-01-01", end_date="2020-08-01")
minn_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
minn_goods = quandl.get("BLSE/SMU27000000600000001", start_date="2000-01-01", end_date="2020-08-01")
minn_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
minn_serv = quandl.get("BLSE/SMU27000000700000001", start_date="2000-01-01", end_date="2020-08-01")
minn_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
minn_mine = quandl.get("BLSE/SMU27000001000000001", start_date="2000-01-01", end_date="2020-08-01")
minn_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
minn_manu = quandl.get("BLSE/SMU27000003000000001", start_date="2000-01-01", end_date="2020-08-01")
minn_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
minn_durable = quandl.get("BLSE/SMU27000003000000001", start_date="2000-01-01", end_date="2020-08-01")
minn_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
minn_wholesale = quandl.get("BLSE/SMU27000004100000001", start_date="2000-01-01", end_date="2020-08-01")
minn_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
minn_transutil = quandl.get("BLSE/SMU27000004300000001", start_date="2000-01-01", end_date="2020-08-01")
minn_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
minn_truck = quandl.get("BLSE/SMU27000004348400001", start_date="2000-01-01", end_date="2020-08-01")
minn_truck.columns= ['Total Truck Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
minn_telecom = quandl.get("BLSE/SMU27000005051700001", start_date="2000-01-01", end_date="2020-08-01")
minn_telecom.columns= ['Total Telecommunication Value']

In [ ]:
#All Employees, In Thousands; Total Real Estate Transportation Providing -South Carolina
minn_estate = quandl.get("BLSE/SMU27000005553100001", start_date="2000-01-01", end_date="2020-08-01")
minn_estate.columns= ['Total Real Estate Value']

In [ ]:
minn5 = pd.merge(minn_truck, minn_telecom, on='Date')

In [ ]:
minn4 = pd.merge(minn_wholesale, minn_transutil, on='Date')

In [ ]:
minn3 = pd.merge(minn_manu, minn_durable, on='Date')

In [ ]:
minn2 = pd.merge(minn_serv, minn_mine, on='Date')

In [ ]:
minn1 = pd.merge(minn_priv, minn_goods, on='Date')

In [ ]:
minno = pd.merge(minn_gov, minn_nonfarm, on='Date')

In [ ]:
minn_j1 = pd.merge(minno, minn1, on='Date')

In [ ]:
minn_j2 = pd.merge(minn_j1, minn2, on='Date')

In [ ]:
minn_j3 = pd.merge(minn_j2, minn3, on='Date')

In [ ]:
minn_j4 = pd.merge(minn_j3, minn4, on='Date')

In [ ]:
minn_j5 = pd.merge(minn_j4, minn5, on='Date')

In [ ]:
minn_j6 = pd.merge(minn_j5, minn_estate, on='Date')
minn_j6

# Michigan

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
mich_gov = quandl.get("BLSE/SMU26000009000000001", start_date="2000-01-01", end_date="2020-08-01")
mich_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
mich_nonfarm = quandl.get("BLSE/SMU26000000000000001", start_date="2000-01-01", end_date="2020-08-01")
mich_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
mich_priv = quandl.get("BLSE/SMU26000000500000001", start_date="2000-01-01", end_date="2020-08-01")
mich_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
mich_goods = quandl.get("BLSE/SMU26000000600000001", start_date="2000-01-01", end_date="2020-08-01")
mich_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
mich_serv = quandl.get("BLSE/SMU26000000700000001", start_date="2000-01-01", end_date="2020-08-01")
mich_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
mich_mine = quandl.get("BLSE/SMU26000001000000001", start_date="2000-01-01", end_date="2020-08-01")
mich_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
mich_manu = quandl.get("BLSE/SMU26000003000000001", start_date="2000-01-01", end_date="2020-08-01")
mich_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
mich_durable = quandl.get("BLSE/SMU26000003000000001", start_date="2000-01-01", end_date="2020-08-01")
mich_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
mich_wholesale = quandl.get("BLSE/SMU26000004100000001", start_date="2000-01-01", end_date="2020-08-01")
mich_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
mich_transutil = quandl.get("BLSE/SMU26000004300000001", start_date="2000-01-01", end_date="2020-08-01")
mich_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
mich_truck = quandl.get("BLSE/SMU26000004348400001", start_date="2000-01-01", end_date="2020-08-01")
mich_truck.columns= ['Total Truck Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
mich_telecom = quandl.get("BLSE/SMU26000005051700001", start_date="2000-01-01", end_date="2020-08-01")
mich_telecom.columns= ['Total Telecommunication Value']

In [ ]:
#All Employees, In Thousands; Total Real Estate Transportation Providing -South Carolina
mich_estate = quandl.get("BLSE/SMU26000005553100001", start_date="2000-01-01", end_date="2020-08-01")
mich_estate.columns= ['Total Real Estate Value']

In [ ]:
#All Employees, In Thousands; Total Real Estate Transportation Providing -South Carolina
mich_air = quandl.get("BLSE/SMU26000004348100001", start_date="2000-01-01", end_date="2020-08-01")
mich_air.columns= ['Total Air Transportation Value']

In [ ]:
#All Employees, In Thousands; Total Real Estate Transportation Providing -South Carolina
mich_rail = quandl.get("BLSE/SMU26000004348200001", start_date="2000-01-01", end_date="2020-08-01")
mich_rail.columns= ['Total Rail Transportation Value']

In [ ]:
mich6 = pd.merge(mich_estate, mich_air, on='Date')

In [ ]:
mich5 = pd.merge(mich_truck, mich_telecom, on='Date')

In [ ]:
mich4 = pd.merge(mich_wholesale, mich_transutil, on='Date')

In [ ]:
mich3 = pd.merge(mich_manu, mich_durable, on='Date')

In [ ]:
mich2 = pd.merge(mich_serv, mich_mine, on='Date')

In [ ]:
mich1 = pd.merge(mich_priv, mich_goods, on='Date')

In [ ]:
mich = pd.merge(mich_gov, mich_nonfarm, on='Date')

In [ ]:
mich_j1 = pd.merge(mich, mich1, on='Date')

In [ ]:
mich_j2 = pd.merge(mich_j1, mich2, on='Date')

In [ ]:
mich_j3 = pd.merge(mich_j2, mich3, on='Date')

In [ ]:
mich_j4 = pd.merge(mich_j3, mich4, on='Date')

In [ ]:
mich_j5 = pd.merge(mich_j4, mich5, on='Date')

In [ ]:
mich_j6 = pd.merge(mich_j5, mich6, on='Date')

In [ ]:
mich_j7 = pd.merge(mich_j6, mich_rail, on='Date')
mich_j7

# Massachusetts

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
mass_gov = quandl.get("BLSE/SMU25000009000000001", start_date="2000-01-01", end_date="2020-08-01")
mass_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
mass_nonfarm = quandl.get("BLSE/SMU25000000000000001", start_date="2000-01-01", end_date="2020-08-01")
mass_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
mass_priv = quandl.get("BLSE/SMU25000000500000001", start_date="2000-01-01", end_date="2020-08-01")
mass_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
mass_goods = quandl.get("BLSE/SMU25000000600000001", start_date="2000-01-01", end_date="2020-08-01")
mass_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
mass_serv = quandl.get("BLSE/SMU25000000700000001", start_date="2000-01-01", end_date="2020-08-01")
mass_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
mass_mine = quandl.get("BLSE/SMU25000001000000001", start_date="2000-01-01", end_date="2020-08-01")
mass_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
mass_manu = quandl.get("BLSE/SMU25000003000000001", start_date="2000-01-01", end_date="2020-08-01")
mass_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
mass_durable = quandl.get("BLSE/SMU25000003000000001", start_date="2000-01-01", end_date="2020-08-01")
mass_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
mass_wholesale = quandl.get("BLSE/SMU25000004100000001", start_date="2000-01-01", end_date="2020-08-01")
mass_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
mass_transutil = quandl.get("BLSE/SMU25000004300000001", start_date="2000-01-01", end_date="2020-08-01")
mass_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
mass_truck = quandl.get("BLSE/SMU25000004348400001", start_date="2000-01-01", end_date="2020-08-01")
mass_truck.columns= ['Total Truck Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
mass_telecom = quandl.get("BLSE/SMU25000005051700001", start_date="2000-01-01", end_date="2020-08-01")
mass_telecom.columns= ['Total Telecommunication Value']

In [ ]:
#All Employees, In Thousands; Total Real Estate Transportation Providing -South Carolina
mass_estate = quandl.get("BLSE/SMU25000005553100001", start_date="2000-01-01", end_date="2020-08-01")
mass_estate.columns= ['Total Real Estate Value']

In [ ]:
#All Employees, In Thousands; Total Real Estate Transportation Providing -South Carolina
mass_air = quandl.get("BLSE/SMU25000004348100001", start_date="2000-01-01", end_date="2020-08-01")
mass_air.columns= ['Total Air Transportation Value']

In [ ]:
mass6 = pd.merge(mass_estate, mass_air, on='Date')

In [ ]:
mass5 = pd.merge(mass_truck, mass_telecom, on='Date')

In [ ]:
mass4 = pd.merge(mass_wholesale, mass_transutil, on='Date')

In [ ]:
mass3 = pd.merge(mass_manu, mass_durable, on='Date')

In [ ]:
mass2 = pd.merge(mass_serv, mass_mine, on='Date')

In [ ]:
mass1 = pd.merge(mass_priv, mass_goods, on='Date')

In [ ]:
mass = pd.merge(mass_gov, mass_nonfarm, on='Date')

In [ ]:
mass_j1 = pd.merge(mass, mass1, on='Date')

In [ ]:
mass_j2 = pd.merge(mass_j1, mass2, on='Date')

In [ ]:
mass_j3 = pd.merge(mass_j2, mass3, on='Date')

In [ ]:
mass_j4 = pd.merge(mass_j3, mass4, on='Date')

In [ ]:
mass_j5 = pd.merge(mass_j4, mass5, on='Date')

In [ ]:
mass_j6 = pd.merge(mass_j5, mass6, on='Date')
mass_j6

# Maryland

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
mary_gov = quandl.get("BLSE/SMU24000009000000001", start_date="2000-01-01", end_date="2020-08-01")
mary_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
mary_nonfarm = quandl.get("BLSE/SMU24000000000000001", start_date="2000-01-01", end_date="2020-08-01")
mary_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
mary_priv = quandl.get("BLSE/SMU24000000500000001", start_date="2000-01-01", end_date="2020-08-01")
mary_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
mary_goods = quandl.get("BLSE/SMU24000000600000001", start_date="2000-01-01", end_date="2020-08-01")
mary_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
mary_serv = quandl.get("BLSE/SMU24000000700000001", start_date="2000-01-01", end_date="2020-08-01")
mary_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
mary_manu = quandl.get("BLSE/SMU24000003000000001", start_date="2000-01-01", end_date="2020-08-01")
mary_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
mary_durable = quandl.get("BLSE/SMU24000003000000001", start_date="2000-01-01", end_date="2020-08-01")
mary_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
mary_wholesale = quandl.get("BLSE/SMU24000004100000001", start_date="2000-01-01", end_date="2020-08-01")
mary_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
mary_transutil = quandl.get("BLSE/SMU24000004300000001", start_date="2000-01-01", end_date="2020-08-01")
mary_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
mary_truck = quandl.get("BLSE/SMU24000004348400001", start_date="2000-01-01", end_date="2020-08-01")
mary_truck.columns= ['Total Truck Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
mary_telecom = quandl.get("BLSE/SMU24000005051700001", start_date="2000-01-01", end_date="2020-08-01")
mary_telecom.columns= ['Total Telecommunication Value']

In [ ]:
mary4 = pd.merge(mary_truck, mary_telecom, on='Date')

In [ ]:
mary3 = pd.merge(mary_wholesale, mary_transutil, on='Date')

In [ ]:
mary2 = pd.merge(mary_manu, mary_durable, on='Date')

In [ ]:
mary1 = pd.merge(mary_priv, mary_goods, on='Date')

In [ ]:
mary = pd.merge(mary_gov, mary_nonfarm, on='Date')

In [ ]:
mary_j1 = pd.merge(mary, mary1, on='Date')

In [ ]:
mary_j2 = pd.merge(mary_j1, mary2, on='Date')

In [ ]:
mary_j3 = pd.merge(mary_j2, mary3, on='Date')

In [ ]:
mary_j4 = pd.merge(mary_j3, mary4, on='Date')

In [ ]:
mary_j5 = pd.merge(mary_j4, mary_serv, on='Date')
mary_j5

Maine

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
main_gov = quandl.get("BLSE/SMU23000009000000001", start_date="2000-01-01", end_date="2020-08-01")
main_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
main_nonfarm = quandl.get("BLSE/SMU23000000000000001", start_date="2000-01-01", end_date="2020-08-01")
main_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
main_priv = quandl.get("BLSE/SMU23000000500000001", start_date="2000-01-01", end_date="2020-08-01")
main_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
main_goods = quandl.get("BLSE/SMU23000000600000001", start_date="2000-01-01", end_date="2020-08-01")
main_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
main_serv = quandl.get("BLSE/SMU23000000700000001", start_date="2000-01-01", end_date="2020-08-01")
main_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
main_mine = quandl.get("BLSE/SMU23000001000000001", start_date="2000-01-01", end_date="2020-08-01")
main_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
main_manu = quandl.get("BLSE/SMU23000003000000001", start_date="2000-01-01", end_date="2020-08-01")
main_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
main_durable = quandl.get("BLSE/SMU23000003000000001", start_date="2000-01-01", end_date="2020-08-01")
main_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
main_wholesale = quandl.get("BLSE/SMU23000004100000001", start_date="2000-01-01", end_date="2020-08-01")
main_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
main_transutil = quandl.get("BLSE/SMU23000004300000001", start_date="2000-01-01", end_date="2020-08-01")
main_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
main4 = pd.merge(main_wholesale, main_transutil, on='Date')

In [ ]:
main3 = pd.merge(main_manu, main_durable, on='Date')

In [ ]:
main2 = pd.merge(main_serv, main_mine, on='Date')

In [ ]:
main1 = pd.merge(main_priv, main_goods, on='Date')

In [ ]:
main = pd.merge(main_gov, main_nonfarm, on='Date')

In [ ]:
main_j1 = pd.merge(main, main1, on='Date')

In [ ]:
main_j2 = pd.merge(main_j1, main2, on='Date')

In [ ]:
main_j3 = pd.merge(main_j2, main3, on='Date')

In [ ]:
main_j4 = pd.merge(main_j3, main4, on='Date')
main_j4

# Louisana

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
lou_gov = quandl.get("BLSE/SMU22000009000000001", start_date="2000-01-01", end_date="2020-08-01")
lou_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
lou_nonfarm = quandl.get("BLSE/SMU22000000000000001", start_date="2000-01-01", end_date="2020-08-01")
lou_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
lou_priv = quandl.get("BLSE/SMU22000000500000001", start_date="2000-01-01", end_date="2020-08-01")
lou_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
lou_goods = quandl.get("BLSE/SMU22000000600000001", start_date="2000-01-01", end_date="2020-08-01")
lou_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
lou_serv = quandl.get("BLSE/SMU22000000700000001", start_date="2000-01-01", end_date="2020-08-01")
lou_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
lou_mine = quandl.get("BLSE/SMU22000001000000001", start_date="2000-01-01", end_date="2020-08-01")
lou_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
lou_manu = quandl.get("BLSE/SMU22000003000000001", start_date="2000-01-01", end_date="2020-08-01")
lou_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
lou_durable = quandl.get("BLSE/SMU22000003000000001", start_date="2000-01-01", end_date="2020-08-01")
lou_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
lou_wholesale = quandl.get("BLSE/SMU22000004100000001", start_date="2000-01-01", end_date="2020-08-01")
lou_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
lou_transutil = quandl.get("BLSE/SMU22000004300000001", start_date="2000-01-01", end_date="2020-08-01")
lou_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
lou_truck = quandl.get("BLSE/SMU22000004348400001", start_date="2000-01-01", end_date="2020-08-01")
lou_truck.columns= ['Total Truck Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
lou_telecom = quandl.get("BLSE/SMU22000005051700001", start_date="2000-01-01", end_date="2020-08-01")
lou_telecom.columns= ['Total Telecommunication Value']

In [ ]:
lou5 = pd.merge(lou_truck, lou_telecom, on='Date')

In [ ]:
lou4 = pd.merge(lou_wholesale, lou_transutil, on='Date')

In [ ]:
lou3 = pd.merge(lou_manu, lou_durable, on='Date')

In [ ]:
lou2 = pd.merge(lou_serv, lou_mine, on='Date')

In [ ]:
lou1 = pd.merge(lou_priv, lou_goods, on='Date')

In [ ]:
lou = pd.merge(lou_gov, lou_nonfarm, on='Date')

In [ ]:
lou_j1 = pd.merge(lou, lou1, on='Date')

In [ ]:
lou_j2 = pd.merge(lou_j1, lou2, on='Date')

In [ ]:
lou_j3 = pd.merge(lou_j2, lou3, on='Date')

In [ ]:
lou_j4 = pd.merge(lou_j3, lou4, on='Date')

In [ ]:
lou_j5 = pd.merge(lou_j4, lou5, on='Date')
lou_j5

# Kentucky

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
ken_gov = quandl.get("BLSE/SMU21000009000000001", start_date="2000-01-01", end_date="2020-08-01")
ken_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
ken_nonfarm = quandl.get("BLSE/SMU21000000000000001", start_date="2000-01-01", end_date="2020-08-01")
ken_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
ken_priv = quandl.get("BLSE/SMU21000000500000001", start_date="2000-01-01", end_date="2020-08-01")
ken_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
ken_goods = quandl.get("BLSE/SMU21000000600000001", start_date="2000-01-01", end_date="2020-08-01")
ken_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
ken_serv = quandl.get("BLSE/SMU21000000700000001", start_date="2000-01-01", end_date="2020-08-01")
ken_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
ken_mine = quandl.get("BLSE/SMU21000001000000001", start_date="2000-01-01", end_date="2020-08-01")
ken_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
ken_manu = quandl.get("BLSE/SMU21000003000000001", start_date="2000-01-01", end_date="2020-08-01")
ken_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
ken_durable = quandl.get("BLSE/SMU21000003000000001", start_date="2000-01-01", end_date="2020-08-01")
ken_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
ken_wholesale = quandl.get("BLSE/SMU21000004100000001", start_date="2000-01-01", end_date="2020-08-01")
ken_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
ken_transutil = quandl.get("BLSE/SMU21000004300000001", start_date="2000-01-01", end_date="2020-08-01")
ken_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
ken_truck = quandl.get("BLSE/SMU21000004348400001", start_date="2000-01-01", end_date="2020-08-01")
ken_truck.columns= ['Total Truck Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
ken_telecom = quandl.get("BLSE/SMU21000005051700001", start_date="2000-01-01", end_date="2020-08-01")
ken_telecom.columns= ['Total Telecommunication Value']

In [ ]:
ken5 = pd.merge(ken_truck, ken_telecom, on='Date')

In [ ]:
ken4 = pd.merge(ken_wholesale, ken_transutil, on='Date')

In [ ]:
ken3 = pd.merge(ken_manu, ken_durable, on='Date')

In [ ]:
ken2 = pd.merge(ken_serv, ken_mine, on='Date')

In [ ]:
ken1 = pd.merge(ken_priv, ken_goods, on='Date')

In [ ]:
ken = pd.merge(ken_gov, ken_nonfarm, on='Date')

In [ ]:
ken_j1 = pd.merge(ken, ken1, on='Date')

In [ ]:
ken_j2 = pd.merge(ken_j1, ken2, on='Date')

In [ ]:
ken_j3 = pd.merge(ken_j2, ken3, on='Date')

In [ ]:
ken_j4 = pd.merge(ken_j3, ken4, on='Date')

In [ ]:
ken_j5 = pd.merge(ken_j4, ken5, on='Date')
ken_j5

# Kansas

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
kan_gov = quandl.get("BLSE/SMU20000009000000001", start_date="2000-01-01", end_date="2020-08-01")
kan_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
kan_nonfarm = quandl.get("BLSE/SMU20000000000000001", start_date="2000-01-01", end_date="2020-08-01")
kan_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
kan_priv = quandl.get("BLSE/SMU20000000500000001", start_date="2000-01-01", end_date="2020-08-01")
kan_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
kan_goods = quandl.get("BLSE/SMU20000000600000001", start_date="2000-01-01", end_date="2020-08-01")
kan_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
kan_serv = quandl.get("BLSE/SMU20000000700000001", start_date="2000-01-01", end_date="2020-08-01")
kan_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
kan_mine = quandl.get("BLSE/SMU20000001000000001", start_date="2000-01-01", end_date="2020-08-01")
kan_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
kan_manu = quandl.get("BLSE/SMU20000003000000001", start_date="2000-01-01", end_date="2020-08-01")
kan_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
kan_durable = quandl.get("BLSE/SMU20000003000000001", start_date="2000-01-01", end_date="2020-08-01")
kan_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
kan_wholesale = quandl.get("BLSE/SMU20000004100000001", start_date="2000-01-01", end_date="2020-08-01")
kan_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
kan_transutil = quandl.get("BLSE/SMU20000004300000001", start_date="2000-01-01", end_date="2020-08-01")
kan_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
kan_truck = quandl.get("BLSE/SMU20000004348400001", start_date="2000-01-01", end_date="2020-08-01")
kan_truck.columns= ['Total Truck Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
kan_telecom = quandl.get("BLSE/SMU20000005051700001", start_date="2000-01-01", end_date="2020-08-01")
kan_telecom.columns= ['Total Telecommunication Value']

In [ ]:
kan5 = pd.merge(kan_truck, kan_telecom, on='Date')

In [ ]:
kan4 = pd.merge(kan_wholesale, kan_transutil, on='Date')

In [ ]:
kan3 = pd.merge(kan_manu, kan_durable, on='Date')

In [ ]:
kan2 = pd.merge(kan_serv, kan_mine, on='Date')

In [ ]:
kan1 = pd.merge(kan_priv, kan_goods, on='Date')

In [ ]:
kan = pd.merge(kan_gov, kan_nonfarm, on='Date')

In [ ]:
kan_j1 = pd.merge(kan, kan1, on='Date')

In [ ]:
kan_j2 = pd.merge(kan_j1, kan2, on='Date')

In [ ]:
kan_j3 = pd.merge(kan_j2, kan3, on='Date')

In [ ]:
kan_j4 = pd.merge(kan_j3, kan4, on='Date')

In [ ]:
kan_j5 = pd.merge(kan_j4, kan5, on='Date')
kan_j5

# Iowa

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
iow_gov = quandl.get("BLSE/SMU19000009000000001", start_date="2000-01-01", end_date="2020-08-01")
iow_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
iow_nonfarm = quandl.get("BLSE/SMU19000000000000001", start_date="2000-01-01", end_date="2020-08-01")
iow_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
iow_priv = quandl.get("BLSE/SMU19000000500000001", start_date="2000-01-01", end_date="2020-08-01")
iow_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
iow_goods = quandl.get("BLSE/SMU19000000600000001", start_date="2000-01-01", end_date="2020-08-01")
iow_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
iow_serv = quandl.get("BLSE/SMU19000000700000001", start_date="2000-01-01", end_date="2020-08-01")
iow_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
iow_mine = quandl.get("BLSE/SMU19000001000000001", start_date="2000-01-01", end_date="2020-08-01")
iow_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
iow_manu = quandl.get("BLSE/SMU19000003000000001", start_date="2000-01-01", end_date="2020-08-01")
iow_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
iow_durable = quandl.get("BLSE/SMU19000003000000001", start_date="2000-01-01", end_date="2020-08-01")
iow_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
iow_wholesale = quandl.get("BLSE/SMU19000004100000001", start_date="2000-01-01", end_date="2020-08-01")
iow_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
iow_transutil = quandl.get("BLSE/SMU19000004300000001", start_date="2000-01-01", end_date="2020-08-01")
iow_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
iow_truck = quandl.get("BLSE/SMU19000004348400001", start_date="2000-01-01", end_date="2020-08-01")
iow_truck.columns= ['Total Truck Transportation Provided Value']

In [ ]:
iow4 = pd.merge(iow_wholesale, iow_transutil, on='Date')

In [ ]:
iow3 = pd.merge(iow_manu, iow_durable, on='Date')

In [ ]:
iow2 = pd.merge(iow_serv, iow_mine, on='Date')

In [ ]:
iow1 = pd.merge(iow_priv, iow_goods, on='Date')

In [ ]:
iowa = pd.merge(iow_gov, iow_nonfarm, on='Date')

In [ ]:
iow_j1 = pd.merge(iowa, iow1, on='Date')

In [ ]:
iow_j2 = pd.merge(iow_j1, iow2, on='Date')

In [ ]:
iow_j3 = pd.merge(iow_j2, iow3, on='Date')

In [ ]:
iow_j4 = pd.merge(iow_j3, iow4, on='Date')

In [ ]:
iow_j5 = pd.merge(iow_j4, iow_truck, on='Date')
iow_j5

# Indiana

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
ind_gov = quandl.get("BLSE/SMU18000009000000001", start_date="2000-01-01", end_date="2020-08-01")
ind_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
ind_nonfarm = quandl.get("BLSE/SMU18000000000000001", start_date="2000-01-01", end_date="2020-08-01")
ind_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
ind_priv = quandl.get("BLSE/SMU18000000500000001", start_date="2000-01-01", end_date="2020-08-01")
ind_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
ind_goods = quandl.get("BLSE/SMU18000000600000001", start_date="2000-01-01", end_date="2020-08-01")
ind_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
ind_serv = quandl.get("BLSE/SMU18000000700000001", start_date="2000-01-01", end_date="2020-08-01")
ind_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
ind_mine = quandl.get("BLSE/SMU18000001000000001", start_date="2000-01-01", end_date="2020-08-01")
ind_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
ind_manu = quandl.get("BLSE/SMU18000003000000001", start_date="2000-01-01", end_date="2020-08-01")
ind_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
ind_durable = quandl.get("BLSE/SMU18000003000000001", start_date="2000-01-01", end_date="2020-08-01")
ind_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
ind_wholesale = quandl.get("BLSE/SMU18000004100000001", start_date="2000-01-01", end_date="2020-08-01")
ind_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
ind_transutil = quandl.get("BLSE/SMU18000004300000001", start_date="2000-01-01", end_date="2020-08-01")
ind_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
ind_truck = quandl.get("BLSE/SMU18000004348400001", start_date="2000-01-01", end_date="2020-08-01")
ind_truck.columns= ['Total Truck Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
ind_telecom = quandl.get("BLSE/SMU18000005051700001", start_date="2000-01-01", end_date="2020-08-01")
ind_telecom.columns= ['Total Telecommunication Value']

In [ ]:
#All Employees, In Thousands; Total Real Estate Transportation Providing -South Carolina
ind_estate = quandl.get("BLSE/SMU18000005553100001", start_date="2000-01-01", end_date="2020-08-01")
ind_estate.columns= ['Total Real Estate Value']

In [ ]:
ind5 = pd.merge(ind_truck, ind_telecom, on='Date')

In [ ]:
ind4 = pd.merge(ind_wholesale, ind_transutil, on='Date')

In [ ]:
ind3 = pd.merge(ind_manu, ind_durable, on='Date')

In [ ]:
ind2 = pd.merge(ind_serv, ind_mine, on='Date')

In [ ]:
ind1 = pd.merge(ind_priv, ind_goods, on='Date')

In [ ]:
ind = pd.merge(ind_gov, ind_nonfarm, on='Date')

In [ ]:
ind_j1 = pd.merge(ind, ind1, on='Date')

In [ ]:
ind_j2 = pd.merge(ind_j1, ind2, on='Date')

In [ ]:
ind_j3 = pd.merge(ind_j2, ind3, on='Date')

In [ ]:
ind_j4 = pd.merge(ind_j3, ind4, on='Date')

In [ ]:
ind_j5 = pd.merge(ind_j4, ind5, on='Date')

In [ ]:
ind_j6 = pd.merge(ind_j5, ind_estate, on='Date')
ind_j6

# Illinois

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
ill_gov = quandl.get("BLSE/SMU17000009000000001", start_date="2000-01-01", end_date="2020-08-01")
ill_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
ill_nonfarm = quandl.get("BLSE/SMU17000000000000001", start_date="2000-01-01", end_date="2020-08-01")
ill_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
ill_priv = quandl.get("BLSE/SMU17000000500000001", start_date="2000-01-01", end_date="2020-08-01")
ill_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
ill_goods = quandl.get("BLSE/SMU17000000600000001", start_date="2000-01-01", end_date="2020-08-01")
ill_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
ill_serv = quandl.get("BLSE/SMU17000000700000001", start_date="2000-01-01", end_date="2020-08-01")
ill_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
ill_mine = quandl.get("BLSE/SMU17000001000000001", start_date="2000-01-01", end_date="2020-08-01")
ill_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
ill_manu = quandl.get("BLSE/SMU17000003000000001", start_date="2000-01-01", end_date="2020-08-01")
ill_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
ill_durable = quandl.get("BLSE/SMU17000003000000001", start_date="2000-01-01", end_date="2020-08-01")
ill_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
ill_wholesale = quandl.get("BLSE/SMU17000004100000001", start_date="2000-01-01", end_date="2020-08-01")
ill_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
ill_transutil = quandl.get("BLSE/SMU17000004300000001", start_date="2000-01-01", end_date="2020-08-01")
ill_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
ill_truck = quandl.get("BLSE/SMU17000004348400001", start_date="2000-01-01", end_date="2020-08-01")
ill_truck.columns= ['Total Truck Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
ill_telecom = quandl.get("BLSE/SMU17000005051700001", start_date="2000-01-01", end_date="2020-08-01")
ill_telecom.columns= ['Total Telecommunication Value']

In [ ]:
#All Employees, In Thousands; Total Real Estate Transportation Providing -South Carolina
ill_estate = quandl.get("BLSE/SMU17000005553100001", start_date="2000-01-01", end_date="2020-08-01")
ill_estate.columns= ['Total Real Estate Value']

In [ ]:
#All Employees, In Thousands; Total Real Estate Transportation Providing -South Carolina
ill_air = quandl.get("BLSE/SMU17000004348100001", start_date="2000-01-01", end_date="2020-08-01")
ill_air.columns= ['Total Air Transportation Value']

In [ ]:
ill6 = pd.merge(ill_estate, ill_air, on='Date')

In [ ]:
ill5 = pd.merge(ill_truck, ill_telecom, on='Date')

In [ ]:
ill4 = pd.merge(ill_wholesale, ill_transutil, on='Date')

In [ ]:
ill3 = pd.merge(ill_manu, ill_durable, on='Date')

In [ ]:
ill2 = pd.merge(ill_serv, ill_mine, on='Date')

In [ ]:
ill1 = pd.merge(ill_priv, ill_goods, on='Date')

In [ ]:
ill = pd.merge(ill_gov, ill_nonfarm, on='Date')

In [ ]:
ill_j1 = pd.merge(ill, ill1, on='Date')

In [ ]:
ill_j2 = pd.merge(ill_j1, ill2, on='Date')

In [ ]:
ill_j3 = pd.merge(ill_j2, ill3, on='Date')

In [ ]:
ill_j4 = pd.merge(ill_j3, ill4, on='Date')

In [ ]:
ill_j5 = pd.merge(ill_j4, ill5, on='Date')

In [ ]:
ill_j6 = pd.merge(ill_j5, ill6, on='Date')
ill_j6

# Idaho

In [ ]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
ida_gov = quandl.get("BLSE/SMU16000009000000001", start_date="2000-01-01", end_date="2020-08-01")
ida_gov.columns= ['Total Government Value']

In [ ]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
ida_nonfarm = quandl.get("BLSE/SMU16000000000000001", start_date="2000-01-01", end_date="2020-08-01")
ida_nonfarm.columns= ['Total Nonfarm Provided Value']

In [ ]:
#All Employees, In Thousands; Total Private Providing -South Carolina
ida_priv = quandl.get("BLSE/SMU16000000500000001", start_date="2000-01-01", end_date="2020-08-01")
ida_priv.columns= ['Total Private Industry Value']

In [ ]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
ida_goods = quandl.get("BLSE/SMU16000000600000001", start_date="2000-01-01", end_date="2020-08-01")
ida_goods.columns= ['Total Goods Produced Value']

In [ ]:
#All Employees, In Thousands; Total Service Providing -South Carolina
ida_serv = quandl.get("BLSE/SMU16000000700000001", start_date="2000-01-01", end_date="2020-08-01")
ida_serv.columns= ['Total Service Provided Value']

In [ ]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
ida_mine = quandl.get("BLSE/SMU16000001000000001", start_date="2000-01-01", end_date="2020-08-01")
ida_mine.columns= ['Total Mining & Logging Value']

In [ ]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
ida_manu = quandl.get("BLSE/SMU16000003000000001", start_date="2000-01-01", end_date="2020-08-01")
ida_manu.columns= ['Total Manufacture Value']

In [ ]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
ida_durable = quandl.get("BLSE/SMU16000003000000001", start_date="2000-01-01", end_date="2020-08-01")
ida_durable.columns= ['Total Durable Goods Value']

In [ ]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
ida_wholesale = quandl.get("BLSE/SMU16000004100000001", start_date="2000-01-01", end_date="2020-08-01")
ida_wholesale.columns= ['Wholesale Trade Value']

In [ ]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
ida_transutil = quandl.get("BLSE/SMU16000004300000001", start_date="2000-01-01", end_date="2020-08-01")
ida_transutil.columns= ['Total Transportation & Utilities Value']

In [ ]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
ida_truck = quandl.get("BLSE/SMU16000004348400001", start_date="2000-01-01", end_date="2020-08-01")
ida_truck.columns= ['Total Truck Transportation Provided Value']

In [ ]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
ida_telecom = quandl.get("BLSE/SMU16000005051700001", start_date="2000-01-01", end_date="2020-08-01")
ida_telecom.columns= ['Total Telecommunication Value']

In [ ]:
ida5 = pd.merge(ida_truck, ida_telecom, on='Date')

In [ ]:
ida4 = pd.merge(ida_wholesale, ida_transutil, on='Date')

In [ ]:
ida3 = pd.merge(ida_manu, ida_durable, on='Date')

In [ ]:
ida2 = pd.merge(ida_serv, ida_mine, on='Date')

In [ ]:
ida1 = pd.merge(ida_priv, ida_goods, on='Date')

In [ ]:
ida = pd.merge(ida_gov, ida_nonfarm, on='Date')

In [ ]:
ida_j1 = pd.merge(ida, ida1, on='Date')

In [ ]:
ida_j2 = pd.merge(ida_j1, ida2, on='Date')

In [ ]:
ida_j3 = pd.merge(ida_j2, ida3, on='Date')

In [ ]:
ida_j4 = pd.merge(ida_j3, ida4, on='Date')

In [ ]:
ida_j5 = pd.merge(ida_j4, ida5, on='Date')
ida_j5

# Hawaii

In [283]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
haw_gov = quandl.get("BLSE/SMU15000009000000001", start_date="2000-01-01", end_date="2020-08-01")
haw_gov.columns= ['Total Government Value']

In [284]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
haw_nonfarm = quandl.get("BLSE/SMU15000000000000001", start_date="2000-01-01", end_date="2020-08-01")
haw_nonfarm.columns= ['Total Nonfarm Provided Value']

In [285]:
#All Employees, In Thousands; Total Private Providing -South Carolina
haw_priv = quandl.get("BLSE/SMU15000000500000001", start_date="2000-01-01", end_date="2020-08-01")
haw_priv.columns= ['Total Private Industry Value']

In [286]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
haw_goods = quandl.get("BLSE/SMU15000000600000001", start_date="2000-01-01", end_date="2020-08-01")
haw_goods.columns= ['Total Goods Produced Value']

In [287]:
#All Employees, In Thousands; Total Service Providing -South Carolina
haw_serv = quandl.get("BLSE/SMU15000000700000001", start_date="2000-01-01", end_date="2020-08-01")
haw_serv.columns= ['Total Service Provided Value']

In [288]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
haw_manu = quandl.get("BLSE/SMU15000003000000001", start_date="2000-01-01", end_date="2020-08-01")
haw_manu.columns= ['Total Manufacture Value']

In [289]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
haw_durable = quandl.get("BLSE/SMU15000003000000001", start_date="2000-01-01", end_date="2020-08-01")
haw_durable.columns= ['Total Durable Goods Value']

In [290]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
haw_wholesale = quandl.get("BLSE/SMU15000004100000001", start_date="2000-01-01", end_date="2020-08-01")
haw_wholesale.columns= ['Wholesale Trade Value']

In [291]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
haw_transutil = quandl.get("BLSE/SMU15000004300000001", start_date="2000-01-01", end_date="2020-08-01")
haw_transutil.columns= ['Total Transportation & Utilities Value']

In [292]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
haw_telecom = quandl.get("BLSE/SMU15000005051700001", start_date="2000-01-01", end_date="2020-08-01")
haw_telecom.columns= ['Total Telecommunication Value']

In [293]:
#All Employees, In Thousands; Total Real Estate Transportation Providing -South Carolina
haw_air = quandl.get("BLSE/SMU15000004348100001", start_date="2000-01-01", end_date="2020-08-01")
haw_air.columns= ['Total Air Transportation Value']

In [294]:
haw4 = pd.merge(haw_air, haw_telecom, on='Date')

In [295]:
haw3 = pd.merge(haw_wholesale, haw_transutil, on='Date')

In [296]:
haw2 = pd.merge(haw_manu, haw_durable, on='Date')

In [297]:
haw1 = pd.merge(haw_priv, haw_goods, on='Date')

In [298]:
haw = pd.merge(haw_gov, haw_nonfarm, on='Date')

In [299]:
haw_j1 = pd.merge(haw, haw1, on='Date')

In [300]:
haw_j2 = pd.merge(haw_j1, haw2, on='Date')

In [301]:
haw_j3 = pd.merge(haw_j2, haw3, on='Date')

In [302]:
haw_j4 = pd.merge(haw_j3, haw4, on='Date')

In [303]:
haw_j5 = pd.merge(haw_j4, haw_serv, on='Date')

In [305]:
haw_j5['Postal Code'] = 'HI'
haw_j5

            Total Government Value  ...  Postal Code
Date                                ...
2006-01-31                   115.7  ...           HI
2006-02-28                   121.9  ...           HI
2006-03-31                   122.9  ...           HI
2006-04-30                   122.2  ...           HI
2006-05-31                   123.9  ...           HI
...                            ...  ...          ...
2020-03-31                   129.8  ...           HI
2020-04-30                   116.4  ...           HI
2020-05-31                   115.3  ...           HI
2020-06-30                   116.2  ...           HI
2020-07-31                   116.2  ...           HI

[175 rows x 12 columns]

# Georgia

In [255]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
geo_gov = quandl.get("BLSE/SMU13000009000000001", start_date="2000-01-01", end_date="2020-08-01")
geo_gov.columns= ['Total Government Value']

In [256]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
geo_nonfarm = quandl.get("BLSE/SMU13000000000000001", start_date="2000-01-01", end_date="2020-08-01")
geo_nonfarm.columns= ['Total Nonfarm Provided Value']

In [257]:
#All Employees, In Thousands; Total Private Providing -South Carolina
geo_priv = quandl.get("BLSE/SMU13000000500000001", start_date="2000-01-01", end_date="2020-08-01")
geo_priv.columns= ['Total Private Industry Value']

In [258]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
geo_goods = quandl.get("BLSE/SMU13000000600000001", start_date="2000-01-01", end_date="2020-08-01")
geo_goods.columns= ['Total Goods Produced Value']

In [259]:
#All Employees, In Thousands; Total Service Providing -South Carolina
geo_serv = quandl.get("BLSE/SMU13000000700000001", start_date="2000-01-01", end_date="2020-08-01")
geo_serv.columns= ['Total Service Provided Value']

In [260]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
geo_mine = quandl.get("BLSE/SMU13000001000000001", start_date="2000-01-01", end_date="2020-08-01")
geo_mine.columns= ['Total Mining & Logging Value']

In [261]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
geo_manu = quandl.get("BLSE/SMU13000003000000001", start_date="2000-01-01", end_date="2020-08-01")
geo_manu.columns= ['Total Manufacture Value']

In [262]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
geo_durable = quandl.get("BLSE/SMU13000003000000001", start_date="2000-01-01", end_date="2020-08-01")
geo_durable.columns= ['Total Durable Goods Value']

In [263]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
geo_wholesale = quandl.get("BLSE/SMU13000004100000001", start_date="2000-01-01", end_date="2020-08-01")
geo_wholesale.columns= ['Wholesale Trade Value']

In [264]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
geo_transutil = quandl.get("BLSE/SMU13000004300000001", start_date="2000-01-01", end_date="2020-08-01")
geo_transutil.columns= ['Total Transportation & Utilities Value']

In [265]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
geo_truck = quandl.get("BLSE/SMU13000004348400001", start_date="2000-01-01", end_date="2020-08-01")
geo_truck.columns= ['Total Truck Transportation Provided Value']

In [266]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
geo_telecom = quandl.get("BLSE/SMU13000005051700001", start_date="2000-01-01", end_date="2020-08-01")
geo_telecom.columns= ['Total Telecommunication Value']

In [267]:
#All Employees, In Thousands; Total Real Estate Transportation Providing -South Carolina
geo_air = quandl.get("BLSE/SMU13000004348100001", start_date="2000-01-01", end_date="2020-08-01")
geo_air.columns= ['Total Air Transportation Value']

In [268]:
geo5 = pd.merge(geo_truck, geo_telecom, on='Date')

In [269]:
geo4 = pd.merge(geo_wholesale, geo_transutil, on='Date')

In [270]:
geo3 = pd.merge(geo_manu, geo_durable, on='Date')

In [271]:
geo2 = pd.merge(geo_serv, geo_mine, on='Date')

In [272]:
geo1 = pd.merge(geo_priv, geo_goods, on='Date')

In [273]:
geo = pd.merge(geo_gov, geo_nonfarm, on='Date')

In [274]:
geo_j1 = pd.merge(geo, geo1, on='Date')

In [275]:
geo_j2 = pd.merge(geo_j1, geo2, on='Date')

In [276]:
geo_j3 = pd.merge(geo_j2, geo3, on='Date')

In [277]:
geo_j4 = pd.merge(geo_j3, geo4, on='Date')

In [278]:
geo_j5 = pd.merge(geo_j4, geo5, on='Date')

In [280]:
geo_j6 = pd.merge(geo_j5, geo_air, on='Date')

In [282]:
geo_j6['Postal Code'] = 'GA'

# Florida

In [227]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
flo_gov = quandl.get("BLSE/SMU12000009000000001", start_date="2000-01-01", end_date="2020-08-01")
flo_gov.columns= ['Total Government Value']

In [228]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
flo_nonfarm = quandl.get("BLSE/SMU12000000000000001", start_date="2000-01-01", end_date="2020-08-01")
flo_nonfarm.columns= ['Total Nonfarm Provided Value']

In [229]:
#All Employees, In Thousands; Total Private Providing -South Carolina
flo_priv = quandl.get("BLSE/SMU12000000500000001", start_date="2000-01-01", end_date="2020-08-01")
flo_priv.columns= ['Total Private Industry Value']

In [230]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
flo_goods = quandl.get("BLSE/SMU12000000600000001", start_date="2000-01-01", end_date="2020-08-01")
flo_goods.columns= ['Total Goods Produced Value']

In [231]:
#All Employees, In Thousands; Total Service Providing -South Carolina
flo_serv = quandl.get("BLSE/SMU12000000700000001", start_date="2000-01-01", end_date="2020-08-01")
flo_serv.columns= ['Total Service Provided Value']

In [232]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
flo_mine = quandl.get("BLSE/SMU12000001000000001", start_date="2000-01-01", end_date="2020-08-01")
flo_mine.columns= ['Total Mining & Logging Value']

In [233]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
flo_manu = quandl.get("BLSE/SMU12000003000000001", start_date="2000-01-01", end_date="2020-08-01")
flo_manu.columns= ['Total Manufacture Value']

In [234]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
flo_durable = quandl.get("BLSE/SMU12000003000000001", start_date="2000-01-01", end_date="2020-08-01")
flo_durable.columns= ['Total Durable Goods Value']

In [235]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
flo_wholesale = quandl.get("BLSE/SMU12000004100000001", start_date="2000-01-01", end_date="2020-08-01")
flo_wholesale.columns= ['Wholesale Trade Value']

In [236]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
flo_transutil = quandl.get("BLSE/SMU12000004300000001", start_date="2000-01-01", end_date="2020-08-01")
flo_transutil.columns= ['Total Transportation & Utilities Value']

In [237]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
flo_truck = quandl.get("BLSE/SMU12000004348400001", start_date="2000-01-01", end_date="2020-08-01")
flo_truck.columns= ['Total Truck Transportation Provided Value']

In [238]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
flo_telecom = quandl.get("BLSE/SMU12000005051700001", start_date="2000-01-01", end_date="2020-08-01")
flo_telecom.columns= ['Total Telecommunication Value']

In [239]:
#All Employees, In Thousands; Total Real Estate Transportation Providing -South Carolina
flo_estate = quandl.get("BLSE/SMU12000005553100001", start_date="2000-01-01", end_date="2020-08-01")
flo_estate.columns= ['Total Real Estate Value']

In [240]:
#All Employees, In Thousands; Total Real Estate Transportation Providing -South Carolina
flo_air = quandl.get("BLSE/SMU12000004348100001", start_date="2000-01-01", end_date="2020-08-01")
flo_air.columns= ['Total Air Transportation Value']

In [241]:
flo6 = pd.merge(flo_estate, flo_air, on='Date')

In [242]:
flo5 = pd.merge(flo_truck, flo_telecom, on='Date')

In [243]:
flo4 = pd.merge(flo_wholesale, flo_transutil, on='Date')

In [244]:
flo3 = pd.merge(flo_manu, flo_durable, on='Date')

In [245]:
flo2 = pd.merge(flo_serv, flo_mine, on='Date')

In [246]:
flo1 = pd.merge(flo_priv, flo_goods, on='Date')

In [247]:
flo = pd.merge(flo_gov, flo_nonfarm, on='Date')

In [248]:
flo_j1 = pd.merge(flo, flo1, on='Date')

In [249]:
flo_j2 = pd.merge(flo_j1, flo2, on='Date')

In [250]:
flo_j3 = pd.merge(flo_j2, flo3, on='Date')

In [251]:
flo_j4 = pd.merge(flo_j3, flo4, on='Date')

In [252]:
flo_j5 = pd.merge(flo_j4, flo5, on='Date')

In [253]:
flo_j6 = pd.merge(flo_j5, flo6, on='Date')
# flo_j6

In [254]:
flo_j6['Postal Code'] = 'FL'

# District of Columbia

In [208]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
dc_gov = quandl.get("BLSE/SMU11000009000000001", start_date="2000-01-01", end_date="2020-08-01")
dc_gov.columns= ['Total Government Value']

In [209]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
dc_nonfarm = quandl.get("BLSE/SMU11000000000000001", start_date="2000-01-01", end_date="2020-08-01")
dc_nonfarm.columns= ['Total Nonfarm Provided Value']

In [210]:
#All Employees, In Thousands; Total Private Providing -South Carolina
dc_priv = quandl.get("BLSE/SMU11000000500000001", start_date="2000-01-01", end_date="2020-08-01")
dc_priv.columns= ['Total Private Industry Value']

In [211]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
dc_goods = quandl.get("BLSE/SMU11000000600000001", start_date="2000-01-01", end_date="2020-08-01")
dc_goods.columns= ['Total Goods Produced Value']

In [212]:
#All Employees, In Thousands; Total Service Providing -South Carolina
dc_serv = quandl.get("BLSE/SMU11000000700000001", start_date="2000-01-01", end_date="2020-08-01")
dc_serv.columns= ['Total Service Provided Value']

In [213]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
dc_manu = quandl.get("BLSE/SMU11000003000000001", start_date="2000-01-01", end_date="2020-08-01")
dc_manu.columns= ['Total Manufacture Value']

In [214]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
dc_durable = quandl.get("BLSE/SMU11000003000000001", start_date="2000-01-01", end_date="2020-08-01")
dc_durable.columns= ['Total Durable Goods Value']

In [215]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
dc_wholesale = quandl.get("BLSE/SMU11000004100000001", start_date="2000-01-01", end_date="2020-08-01")
dc_wholesale.columns= ['Wholesale Trade Value']

In [216]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
dc_transutil = quandl.get("BLSE/SMU11000004300000001", start_date="2000-01-01", end_date="2020-08-01")
dc_transutil.columns= ['Total Transportation & Utilities Value']

In [217]:
dc3 = pd.merge(dc_wholesale, dc_transutil, on='Date')

In [218]:
dc2 = pd.merge(dc_manu, dc_durable, on='Date')

In [219]:
dc1 = pd.merge(dc_priv, dc_goods, on='Date')

In [220]:
dc = pd.merge(dc_gov, dc_nonfarm, on='Date')

In [221]:
dc_j1 = pd.merge(dc, dc1, on='Date')

In [222]:
dc_j2 = pd.merge(dc_j1, dc2, on='Date')

In [223]:
dc_j3 = pd.merge(dc_j2, dc3, on='Date')

In [224]:
dc_j4 = pd.merge(dc_j3, dc_serv, on='Date')
# dc_j4

In [226]:
dc_j4['Postal Code'] = 'DC'

# Delaware

In [189]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
del_gov = quandl.get("BLSE/SMU10000009000000001", start_date="2000-01-01", end_date="2020-08-01")
del_gov.columns= ['Total Government Value']

In [190]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
del_nonfarm = quandl.get("BLSE/SMU10000000000000001", start_date="2000-01-01", end_date="2020-08-01")
del_nonfarm.columns= ['Total Nonfarm Provided Value']

In [191]:
#All Employees, In Thousands; Total Private Providing -South Carolina
del_priv = quandl.get("BLSE/SMU10000000500000001", start_date="2000-01-01", end_date="2020-08-01")
del_priv.columns= ['Total Private Industry Value']

In [192]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
del_goods = quandl.get("BLSE/SMU10000000600000001", start_date="2000-01-01", end_date="2020-08-01")
del_goods.columns= ['Total Goods Produced Value']

In [193]:
#All Employees, In Thousands; Total Service Providing -South Carolina
del_serv = quandl.get("BLSE/SMU10000000700000001", start_date="2000-01-01", end_date="2020-08-01")
del_serv.columns= ['Total Service Provided Value']

In [194]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
del_manu = quandl.get("BLSE/SMU10000003000000001", start_date="2000-01-01", end_date="2020-08-01")
del_manu.columns= ['Total Manufacture Value']

In [195]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
del_durable = quandl.get("BLSE/SMU10000003000000001", start_date="2000-01-01", end_date="2020-08-01")
del_durable.columns= ['Total Durable Goods Value']

In [196]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
del_wholesale = quandl.get("BLSE/SMU10000004100000001", start_date="2000-01-01", end_date="2020-08-01")
del_wholesale.columns= ['Wholesale Trade Value']

In [198]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
del_transutil = quandl.get("BLSE/SMU10000004300000001", start_date="2000-01-01", end_date="2020-08-01")
del_transutil.columns= ['Total Transportation & Utilities Value']

In [199]:
del3 = pd.merge(del_wholesale, del_transutil, on='Date')

In [200]:
del2 = pd.merge(del_manu, del_durable, on='Date')

In [201]:
del1 = pd.merge(del_priv, del_goods, on='Date')

In [202]:
dela = pd.merge(del_gov, del_nonfarm, on='Date')

In [203]:
del_j1 = pd.merge(dela, del1, on='Date')

In [204]:
del_j2 = pd.merge(del_j1, del2, on='Date')

In [205]:
del_j3 = pd.merge(del_j2, del3, on='Date')

In [206]:
del_j4 = pd.merge(del_j3, del_serv, on='Date')
# del_j4

In [207]:
del_j4['Postal Code'] = 'DE'

# Connecticut

In [164]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
conn_gov = quandl.get("BLSE/SMU09000009000000001", start_date="2000-01-01", end_date="2020-08-01")
conn_gov.columns= ['Total Government Value']

In [165]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
conn_nonfarm = quandl.get("BLSE/SMU09000000000000001", start_date="2000-01-01", end_date="2020-08-01")
conn_nonfarm.columns= ['Total Nonfarm Provided Value']

In [166]:
#All Employees, In Thousands; Total Private Providing -South Carolina
conn_priv = quandl.get("BLSE/SMU09000000500000001", start_date="2000-01-01", end_date="2020-08-01")
conn_priv.columns= ['Total Private Industry Value']

In [167]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
conn_goods = quandl.get("BLSE/SMU09000000600000001", start_date="2000-01-01", end_date="2020-08-01")
conn_goods.columns= ['Total Goods Produced Value']

In [168]:
#All Employees, In Thousands; Total Service Providing -South Carolina
conn_serv = quandl.get("BLSE/SMU09000000700000001", start_date="2000-01-01", end_date="2020-08-01")
conn_serv.columns= ['Total Service Provided Value']

In [169]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
conn_mine = quandl.get("BLSE/SMU09000001000000001", start_date="2000-01-01", end_date="2020-08-01")
conn_mine.columns= ['Total Mining & Logging Value']

In [170]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
conn_manu = quandl.get("BLSE/SMU09000003000000001", start_date="2000-01-01", end_date="2020-08-01")
conn_manu.columns= ['Total Manufacture Value']

In [171]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
conn_durable = quandl.get("BLSE/SMU09000003000000001", start_date="2000-01-01", end_date="2020-08-01")
conn_durable.columns= ['Total Durable Goods Value']

In [172]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
conn_wholesale = quandl.get("BLSE/SMU09000004100000001", start_date="2000-01-01", end_date="2020-08-01")
conn_wholesale.columns= ['Wholesale Trade Value']

In [173]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
conn_transutil = quandl.get("BLSE/SMU09000004300000001", start_date="2000-01-01", end_date="2020-08-01")
conn_transutil.columns= ['Total Transportation & Utilities Value']

In [174]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
conn_truck = quandl.get("BLSE/SMU09000004348400001", start_date="2000-01-01", end_date="2020-08-01")
conn_truck.columns= ['Total Truck Transportation Provided Value']

In [175]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
conn_telecom = quandl.get("BLSE/SMU09000005051700001", start_date="2000-01-01", end_date="2020-08-01")
conn_telecom.columns= ['Total Telecommunication Value']

In [176]:
conn5 = pd.merge(conn_truck, conn_telecom, on='Date')

In [177]:
conn4 = pd.merge(conn_wholesale, conn_transutil, on='Date')

In [178]:
conn3 = pd.merge(conn_manu, conn_durable, on='Date')

In [179]:
conn2 = pd.merge(conn_serv, conn_mine, on='Date')

In [180]:
conn1 = pd.merge(conn_priv, conn_goods, on='Date')

In [181]:
conn = pd.merge(conn_gov, conn_nonfarm, on='Date')

In [182]:
conn_j1 = pd.merge(conn, conn1, on='Date')

In [183]:
conn_j2 = pd.merge(conn_j1, conn2, on='Date')

In [184]:
conn_j3 = pd.merge(conn_j2, conn3, on='Date')

In [185]:
conn_j4 = pd.merge(conn_j3, conn4, on='Date')

In [186]:
conn_j5 = pd.merge(conn_j4, conn5, on='Date')
# conn_j5

In [ ]:
conn_j5['Postal Code'] = 'CT'
conn_j5

# Colorado

In [134]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
col_gov = quandl.get("BLSE/SMU08000009000000001", start_date="2000-01-01", end_date="2020-08-01")
col_gov.columns= ['Total Government Value']

In [135]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
col_nonfarm = quandl.get("BLSE/SMU08000000000000001", start_date="2000-01-01", end_date="2020-08-01")
col_nonfarm.columns= ['Total Nonfarm Provided Value']

In [136]:
#All Employees, In Thousands; Total Private Providing -South Carolina
col_priv = quandl.get("BLSE/SMU08000000500000001", start_date="2000-01-01", end_date="2020-08-01")
col_priv.columns= ['Total Private Industry Value']

In [137]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
col_goods = quandl.get("BLSE/SMU08000000600000001", start_date="2000-01-01", end_date="2020-08-01")
col_goods.columns= ['Total Goods Produced Value']

In [138]:
#All Employees, In Thousands; Total Service Providing -South Carolina
col_serv = quandl.get("BLSE/SMU08000000700000001", start_date="2000-01-01", end_date="2020-08-01")
col_serv.columns= ['Total Service Provided Value']

In [139]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
col_mine = quandl.get("BLSE/SMU08000001000000001", start_date="2000-01-01", end_date="2020-08-01")
col_mine.columns= ['Total Mining & Logging Value']

In [140]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
col_manu = quandl.get("BLSE/SMU08000003000000001", start_date="2000-01-01", end_date="2020-08-01")
col_manu.columns= ['Total Manufacture Value']

In [141]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
col_durable = quandl.get("BLSE/SMU08000003000000001", start_date="2000-01-01", end_date="2020-08-01")
col_durable.columns= ['Total Durable Goods Value']

In [142]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
col_wholesale = quandl.get("BLSE/SMU08000004100000001", start_date="2000-01-01", end_date="2020-08-01")
col_wholesale.columns= ['Wholesale Trade Value']

In [143]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
col_transutil = quandl.get("BLSE/SMU08000004300000001", start_date="2000-01-01", end_date="2020-08-01")
col_transutil.columns= ['Total Transportation & Utilities Value']

In [144]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
col_truck = quandl.get("BLSE/SMU08000004348400001", start_date="2000-01-01", end_date="2020-08-01")
col_truck.columns= ['Total Truck Transportation Provided Value']

In [145]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
col_telecom = quandl.get("BLSE/SMU08000005051700001", start_date="2000-01-01", end_date="2020-08-01")
col_telecom.columns= ['Total Telecommunication Value']

In [146]:
#All Employees, In Thousands; Total Real Estate Transportation Providing -South Carolina
col_estate = quandl.get("BLSE/SMU08000005553100001", start_date="2000-01-01", end_date="2020-08-01")
col_estate.columns= ['Total Real Estate Value']

In [147]:
#All Employees, In Thousands; Total Real Estate Transportation Providing -South Carolina
col_air = quandl.get("BLSE/SMU08000004348100001", start_date="2000-01-01", end_date="2020-08-01")
col_air.columns= ['Total Air Transportation Value']

In [148]:
col6 = pd.merge(col_estate, col_air, on='Date')

In [149]:
col5 = pd.merge(col_truck, col_telecom, on='Date')

In [150]:
col4 = pd.merge(col_wholesale, col_transutil, on='Date')

In [151]:
col3 = pd.merge(col_manu, col_durable, on='Date')

In [152]:
col2 = pd.merge(col_serv, col_mine, on='Date')

In [153]:
col1 = pd.merge(col_priv, col_goods, on='Date')

In [155]:
col = pd.merge(col_gov, col_nonfarm, on='Date')

In [156]:
col_j1 = pd.merge(col, col1, on='Date')

In [157]:
col_j2 = pd.merge(col_j1, col2, on='Date')

In [158]:
col_j3 = pd.merge(col_j2, col3, on='Date')

In [159]:
col_j4 = pd.merge(col_j3, col4, on='Date')

In [160]:
col_j5 = pd.merge(col_j4, col5, on='Date')

In [161]:
col_j6 = pd.merge(col_j5, col6, on='Date')
# col_j6

In [ ]:
col_j6['Postal Code'] = 'CO'
col_j6

# California

In [106]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
cal_gov = quandl.get("BLSE/SMU06000009000000001", start_date="2000-01-01", end_date="2020-08-01")
cal_gov.columns= ['Total Government Value']

In [107]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
cal_nonfarm = quandl.get("BLSE/SMU06000000000000001", start_date="2000-01-01", end_date="2020-08-01")
cal_nonfarm.columns= ['Total Nonfarm Provided Value']

In [108]:
#All Employees, In Thousands; Total Private Providing -South Carolina
cal_priv = quandl.get("BLSE/SMU06000000500000001", start_date="2000-01-01", end_date="2020-08-01")
cal_priv.columns= ['Total Private Industry Value']

In [109]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
cal_goods = quandl.get("BLSE/SMU06000000600000001", start_date="2000-01-01", end_date="2020-08-01")
cal_goods.columns= ['Total Goods Produced Value']

In [110]:
#All Employees, In Thousands; Total Service Providing -South Carolina
cal_serv = quandl.get("BLSE/SMU06000000700000001", start_date="2000-01-01", end_date="2020-08-01")
cal_serv.columns= ['Total Service Provided Value']

In [111]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
cal_mine = quandl.get("BLSE/SMU06000001000000001", start_date="2000-01-01", end_date="2020-08-01")
cal_mine.columns= ['Total Mining & Logging Value']

In [112]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
cal_manu = quandl.get("BLSE/SMU06000003000000001", start_date="2000-01-01", end_date="2020-08-01")
cal_manu.columns= ['Total Manufacture Value']

In [113]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
cal_durable = quandl.get("BLSE/SMU06000003000000001", start_date="2000-01-01", end_date="2020-08-01")
cal_durable.columns= ['Total Durable Goods Value']

In [114]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
cal_wholesale = quandl.get("BLSE/SMU06000004100000001", start_date="2000-01-01", end_date="2020-08-01")
cal_wholesale.columns= ['Wholesale Trade Value']

In [115]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
cal_transutil = quandl.get("BLSE/SMU06000004300000001", start_date="2000-01-01", end_date="2020-08-01")
cal_transutil.columns= ['Total Transportation & Utilities Value']

In [116]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
cal_truck = quandl.get("BLSE/SMU06000004348400001", start_date="2000-01-01", end_date="2020-08-01")
cal_truck.columns= ['Total Truck Transportation Provided Value']

In [117]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
cal_telecom = quandl.get("BLSE/SMU06000005051700001", start_date="2000-01-01", end_date="2020-08-01")
cal_telecom.columns= ['Total Telecommunication Value']

In [118]:
#All Employees, In Thousands; Total Real Estate Transportation Providing -South Carolina
cal_estate = quandl.get("BLSE/SMU06000005553100001", start_date="2000-01-01", end_date="2020-08-01")
cal_estate.columns= ['Total Real Estate Value']

In [119]:
#All Employees, In Thousands; Total Real Estate Transportation Providing -South Carolina
cal_air = quandl.get("BLSE/SMU06000004348100001", start_date="2000-01-01", end_date="2020-08-01")
cal_air.columns= ['Total Air Transportation Value']

In [120]:
cal6 = pd.merge(cal_estate, cal_air, on='Date')

In [121]:
cal5 = pd.merge(cal_truck, cal_telecom, on='Date')

In [122]:
cal4 = pd.merge(cal_wholesale, cal_transutil, on='Date')

In [123]:
cal3 = pd.merge(cal_manu, cal_durable, on='Date')

In [124]:
cal2 = pd.merge(cal_serv, cal_mine, on='Date')

In [125]:
cal1 = pd.merge(cal_priv, cal_goods, on='Date')

In [126]:
cal = pd.merge(cal_gov, cal_nonfarm, on='Date')

In [127]:
cal_j1 = pd.merge(cal, cal1, on='Date')

In [128]:
cal_j2 = pd.merge(cal_j1, cal2, on='Date')

In [129]:
cal_j3 = pd.merge(cal_j2, cal3, on='Date')

In [130]:
cal_j4 = pd.merge(cal_j3, cal4, on='Date')

In [131]:
cal_j5 = pd.merge(cal_j4, cal5, on='Date')

In [132]:
cal_j6 = pd.merge(cal_j5, cal6, on='Date')
# cal_j6

In [133]:
cal_j6['Postal Code'] = 'CA'

# Arkansas

In [86]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
ar_gov = quandl.get("BLSE/SMU05000009000000001", start_date="2000-01-01", end_date="2020-08-01")
ar_gov.columns= ['Total Government Value']

In [87]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
ar_nonfarm = quandl.get("BLSE/SMU05000000000000001", start_date="2000-01-01", end_date="2020-08-01")
ar_nonfarm.columns= ['Total Nonfarm Provided Value']

In [88]:
#All Employees, In Thousands; Total Private Providing -South Carolina
ar_priv = quandl.get("BLSE/SMU05000000500000001", start_date="2000-01-01", end_date="2020-08-01")
ar_priv.columns= ['Total Private Industry Value']

In [89]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
ar_goods = quandl.get("BLSE/SMU05000000600000001", start_date="2000-01-01", end_date="2020-08-01")
ar_goods.columns= ['Total Goods Produced Value']

In [90]:
#All Employees, In Thousands; Total Service Providing -South Carolina
ar_serv = quandl.get("BLSE/SMU05000000700000001", start_date="2000-01-01", end_date="2020-08-01")
ar_serv.columns= ['Total Service Provided Value']

In [91]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
ar_mine = quandl.get("BLSE/SMU05000001000000001", start_date="2000-01-01", end_date="2020-08-01")
ar_mine.columns= ['Total Mining & Logging Value']

In [92]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
ar_manu = quandl.get("BLSE/SMU05000003000000001", start_date="2000-01-01", end_date="2020-08-01")
ar_manu.columns= ['Total Manufacture Value']

In [93]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
ar_durable = quandl.get("BLSE/SMU05000003000000001", start_date="2000-01-01", end_date="2020-08-01")
ar_durable.columns= ['Total Durable Goods Value']

In [94]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
ar_wholesale = quandl.get("BLSE/SMU05000004100000001", start_date="2000-01-01", end_date="2020-08-01")
ar_wholesale.columns= ['Wholesale Trade Value']

In [95]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
ar_transutil = quandl.get("BLSE/SMU05000004300000001", start_date="2000-01-01", end_date="2020-08-01")
ar_transutil.columns= ['Total Transportation & Utilities Value']

In [96]:
ar4 = pd.merge(ar_wholesale, ar_transutil, on='Date')

In [97]:
ar3 = pd.merge(ar_manu, ar_durable, on='Date')

In [98]:
ar2 = pd.merge(ar_serv, ar_mine, on='Date')

In [99]:
ar1 = pd.merge(ar_priv, ar_goods, on='Date')

In [100]:
ar = pd.merge(ar_gov, ar_nonfarm, on='Date')

In [101]:
ar_j1 = pd.merge(ar, ar1, on='Date')

In [102]:
ar_j2 = pd.merge(ar_j1, ar2, on='Date')

In [103]:
ar_j3 = pd.merge(ar_j2, ar3, on='Date')

In [ ]:
ar_j4 = pd.merge(ar_j3, ar4, on='Date')
# ar_j4

In [105]:
ar_j4['Postal Code'] = 'AR'

# Arizona

In [58]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
ari_gov = quandl.get("BLSE/SMU04000009000000001", start_date="2000-01-01", end_date="2020-08-01")
ari_gov.columns= ['Total Government Value']

In [59]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
ari_nonfarm = quandl.get("BLSE/SMU04000000000000001", start_date="2000-01-01", end_date="2020-08-01")
ari_nonfarm.columns= ['Total Nonfarm Provided Value']

In [60]:
#All Employees, In Thousands; Total Private Providing -South Carolina
ari_priv = quandl.get("BLSE/SMU04000000500000001", start_date="2000-01-01", end_date="2020-08-01")
ari_priv.columns= ['Total Private Industry Value']

In [61]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
ari_goods = quandl.get("BLSE/SMU04000000600000001", start_date="2000-01-01", end_date="2020-08-01")
ari_goods.columns= ['Total Goods Produced Value']

In [62]:
#All Employees, In Thousands; Total Service Providing -South Carolina
ari_serv = quandl.get("BLSE/SMU04000000700000001", start_date="2000-01-01", end_date="2020-08-01")
ari_serv.columns= ['Total Service Provided Value']

In [63]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
ari_mine = quandl.get("BLSE/SMU04000001000000001", start_date="2000-01-01", end_date="2020-08-01")
ari_mine.columns= ['Total Mining & Logging Value']

In [64]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
ari_manu = quandl.get("BLSE/SMU04000003000000001", start_date="2000-01-01", end_date="2020-08-01")
ari_manu.columns= ['Total Manufacture Value']

In [65]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
ari_durable = quandl.get("BLSE/SMU04000003000000001", start_date="2000-01-01", end_date="2020-08-01")
ari_durable.columns= ['Total Durable Goods Value']

In [66]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
ari_wholesale = quandl.get("BLSE/SMU04000004100000001", start_date="2000-01-01", end_date="2020-08-01")
ari_wholesale.columns= ['Wholesale Trade Value']

In [67]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
ari_transutil = quandl.get("BLSE/SMU04000004300000001", start_date="2000-01-01", end_date="2020-08-01")
ari_transutil.columns= ['Total Transportation & Utilities Value']

In [68]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
ari_truck = quandl.get("BLSE/SMU04000004348400001", start_date="2000-01-01", end_date="2020-08-01")
ari_truck.columns= ['Total Truck Transportation Provided Value']

In [69]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
ari_telecom = quandl.get("BLSE/SMU04000005051700001", start_date="2000-01-01", end_date="2020-08-01")
ari_telecom.columns= ['Total Telecommunication Value']

In [70]:
#All Employees, In Thousands; Total Real Estate Transportation Providing -South Carolina
ari_air = quandl.get("BLSE/SMU04000004348100001", start_date="2000-01-01", end_date="2020-08-01")
ari_air.columns= ['Total Air Transportation Value']

In [71]:
ari5 = pd.merge(ari_truck, ari_telecom, on='Date')

In [72]:
ari4 = pd.merge(ari_wholesale, ari_transutil, on='Date')

In [73]:
ari3 = pd.merge(ari_manu, ari_durable, on='Date')

In [74]:
ari2 = pd.merge(ari_serv, ari_mine, on='Date')

In [75]:
ari1 = pd.merge(ari_priv, ari_goods, on='Date')

In [76]:
ari = pd.merge(ari_gov, ari_nonfarm, on='Date')

In [77]:
ari_j1 = pd.merge(ari, ari1, on='Date')

In [78]:
ari_j2 = pd.merge(ari_j1, ari2, on='Date')

In [79]:
ari_j3 = pd.merge(ari_j2, ari3, on='Date')

In [80]:
ari_j4 = pd.merge(ari_j3, ari4, on='Date')

In [81]:
ari_j5 = pd.merge(ari_j4, ari5, on='Date')

In [82]:
ari_j6 = pd.merge(ari_j5, ari_air, on='Date')
# ari_j6

In [ ]:
ari_j6['Postal Code'] = 'AZ'
ari_j6

# Alaska

In [32]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
al_gov = quandl.get("BLSE/SMU02000009000000001", start_date="2000-01-01", end_date="2020-08-01")
al_gov.columns= ['Total Government Value']

In [33]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
al_nonfarm = quandl.get("BLSE/SMU02000000000000001", start_date="2000-01-01", end_date="2020-08-01")
al_nonfarm.columns= ['Total Nonfarm Provided Value']

In [34]:
#All Employees, In Thousands; Total Private Providing -South Carolina
al_priv = quandl.get("BLSE/SMU02000000500000001", start_date="2000-01-01", end_date="2020-08-01")
al_priv.columns= ['Total Private Industry Value']

In [35]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
al_goods = quandl.get("BLSE/SMU02000000600000001", start_date="2000-01-01", end_date="2020-08-01")
al_goods.columns= ['Total Goods Produced Value']

In [36]:
#All Employees, In Thousands; Total Service Providing -South Carolina
al_serv = quandl.get("BLSE/SMU02000000700000001", start_date="2000-01-01", end_date="2020-08-01")
al_serv.columns= ['Total Service Provided Value']

In [37]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
al_mine = quandl.get("BLSE/SMU02000001000000001", start_date="2000-01-01", end_date="2020-08-01")
al_mine.columns= ['Total Mining & Logging Value']

In [38]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
al_manu = quandl.get("BLSE/SMU02000003000000001", start_date="2000-01-01", end_date="2020-08-01")
al_manu.columns= ['Total Manufacture Value']

In [39]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
al_durable = quandl.get("BLSE/SMU02000003000000001", start_date="2000-01-01", end_date="2020-08-01")
al_durable.columns= ['Total Durable Goods Value']

In [40]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
al_wholesale = quandl.get("BLSE/SMU02000004100000001", start_date="2000-01-01", end_date="2020-08-01")
al_wholesale.columns= ['Wholesale Trade Value']

In [41]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
al_transutil = quandl.get("BLSE/SMU02000004300000001", start_date="2000-01-01", end_date="2020-08-01")
al_transutil.columns= ['Total Transportation & Utilities Value']

In [42]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
al_telecom = quandl.get("BLSE/SMU02000005051700001", start_date="2000-01-01", end_date="2020-08-01")
al_telecom.columns= ['Total Telecommunication Value']

In [43]:
#All Employees, In Thousands; Total Real Estate Transportation Providing -South Carolina
al_air = quandl.get("BLSE/SMU02000004348100001", start_date="2000-01-01", end_date="2020-08-01")
al_air.columns= ['Total Air Transportation Value']

In [44]:
al5 = pd.merge(al_air, al_telecom, on='Date')

In [45]:
al4 = pd.merge(al_wholesale, al_transutil, on='Date')

In [46]:
al3 = pd.merge(al_manu, al_durable, on='Date')

In [47]:
al2 = pd.merge(al_serv, al_mine, on='Date')

In [48]:
al1 = pd.merge(al_priv, al_goods, on='Date')

In [49]:
al = pd.merge(al_gov, al_nonfarm, on='Date')

In [51]:
al_j1 = pd.merge(al, al1, on='Date')

In [52]:
al_j2 = pd.merge(al_j1, al2, on='Date')

In [53]:
al_j3 = pd.merge(al_j2, al3, on='Date')

In [54]:
al_j4 = pd.merge(al_j3, al4, on='Date')

In [55]:
al_j5 = pd.merge(al_j4, al5, on='Date')
# al_j5

In [ ]:
al_j5['Postal Code'] = 'AK'
al_j5

# Alabama

In [5]:
#All Employees, In Thousands; Total Government Providing -Rhode Island 
ala_gov = quandl.get("BLSE/SMU01000009000000001", start_date="2000-01-01", end_date="2020-08-01")
ala_gov.columns= ['Total Government Value']

In [6]:
#All Employees, In Thousands; Total Nonfarm Providing -Rhode Island
ala_nonfarm = quandl.get("BLSE/SMU01000000000000001", start_date="2000-01-01", end_date="2020-08-01")
ala_nonfarm.columns= ['Total Nonfarm Provided Value']

In [7]:
#All Employees, In Thousands; Total Private Providing -South Carolina
ala_priv = quandl.get("BLSE/SMU01000000500000001", start_date="2000-01-01", end_date="2020-08-01")
ala_priv.columns= ['Total Private Industry Value']

In [8]:
#All Employees, In Thousands; Total Goods Producing Providing -South Carolina
ala_goods = quandl.get("BLSE/SMU01000000600000001", start_date="2000-01-01", end_date="2020-08-01")
ala_goods.columns= ['Total Goods Produced Value']

In [9]:
#All Employees, In Thousands; Total Service Providing -South Carolina
ala_serv = quandl.get("BLSE/SMU01000000700000001", start_date="2000-01-01", end_date="2020-08-01")
ala_serv.columns= ['Total Service Provided Value']

In [10]:
#All Employees, In Thousands; Total Mining & Logging Providing -South Carolina
ala_mine = quandl.get("BLSE/SMU01000001000000001", start_date="2000-01-01", end_date="2020-08-01")
ala_mine.columns= ['Total Mining & Logging Value']

In [11]:
#All Employees, In Thousands; Total Manufacture Providing -South Carolina
ala_manu = quandl.get("BLSE/SMU01000003000000001", start_date="2000-01-01", end_date="2020-08-01")
ala_manu.columns= ['Total Manufacture Value']

In [12]:
#All Employees, In Thousands; Total Durable Goods Providing -South Carolina
ala_durable = quandl.get("BLSE/SMU01000003000000001", start_date="2000-01-01", end_date="2020-08-01")
ala_durable.columns= ['Total Durable Goods Value']

In [13]:
#All Employees, In Thousands; Total Wholesale Trade Providing -South Carolina
ala_wholesale = quandl.get("BLSE/SMU01000004100000001", start_date="2000-01-01", end_date="2020-08-01")
ala_wholesale.columns= ['Wholesale Trade Value']

In [14]:
#All Employees, In Thousands; Total Transportation & Utilities Providing -South Carolina
ala_transutil = quandl.get("BLSE/SMU01000004300000001", start_date="2000-01-01", end_date="2020-08-01")
ala_transutil.columns= ['Total Transportation & Utilities Value']

In [15]:
#All Employees, In Thousands; Total Truck Transportation Providing -South Carolina
ala_truck = quandl.get("BLSE/SMU01000004348400001", start_date="2000-01-01", end_date="2020-08-01")
ala_truck.columns= ['Total Truck Transportation Provided Value']

In [16]:
#All Employees, In Thousands; Total Telecommunications Transportation Providing -South Carolina
ala_telecom = quandl.get("BLSE/SMU01000005051700001", start_date="2000-01-01", end_date="2020-08-01")
ala_telecom.columns= ['Total Telecommunication Value']

In [17]:
ala5 = pd.merge(ala_truck, ala_telecom, on='Date')

In [18]:
ala4 = pd.merge(ala_wholesale, ala_transutil, on='Date')

In [19]:
ala3 = pd.merge(ala_manu, ala_durable, on='Date')

In [20]:
ala2 = pd.merge(ala_serv, ala_mine, on='Date')

In [21]:
ala1 = pd.merge(ala_priv, ala_goods, on='Date')

In [22]:
ala = pd.merge(ala_gov, ala_nonfarm, on='Date')

In [23]:
ala_j1 = pd.merge(ala, ala1, on='Date')

In [24]:
ala_j2 = pd.merge(ala_j1, ala2, on='Date')

In [25]:
ala_j3 = pd.merge(ala_j2, ala3, on='Date')

In [26]:
ala_j4 = pd.merge(ala_j3, ala4, on='Date')

In [30]:
ala_j5 = pd.merge(ala_j4, ala5, on='Date')
# ala_j5

In [28]:
ala_j5['Postal Code'] = 'AL'

In [29]:
ala_j5

            Total Government Value  ...  Postal Code
Date                                ...
2006-01-31                   369.4  ...           AL
2006-02-28                   372.6  ...           AL
2006-03-31                   374.2  ...           AL
2006-04-30                   375.1  ...           AL
2006-05-31                   375.9  ...           AL
...                            ...  ...          ...
2020-03-31                   400.1  ...           AL
2020-04-30                   391.5  ...           AL
2020-05-31                   378.9  ...           AL
2020-06-30                   369.8  ...           AL
2020-07-31                   369.2  ...           AL

[175 rows x 13 columns]