<a href="https://colab.research.google.com/github/Lambda-School-Labs/Labs26-Citrics-DS-TeamC/blob/mtoce/notebooks/Covid_query.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# COVID-19 Notebook for Citrics Team C (Driftly)

# Install Packages

In [1]:
import pandas as pd
import numpy as np
import requests
from io import StringIO
import time
import datetime
import glob     # loading in .csvs
# import plotly.express as px
# from sodapy import Socrata    # for querying the API

In [2]:
# MOUNT google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Query the Data

- Downloaded all 50 states of data from [Coronavirus API](https://coronavirusapi.com/) using the link at the bottom to query for each state based on it's postal code.

- Link to query the data: http://coronavirusapi.com/getTimeSeries/(2 letter state abbreviation)

In [3]:
# LOAD in postal's dict
postals_dict = {'Alabama': 'AL','Alaska': 'AK','Arizona': 'AZ','Arkansas': 'AR','California': 'CA','Colorado': 'CO','Connecticut': 'CT','Delaware': 'DE','District of Columbia': 'DC','Florida': 'FL','Georgia': 'GA','Hawaii': 'HI','Idaho': 'ID','Illinois': 'IL','Indiana': 'IN','Iowa': 'IA','Kansas': 'KS','Kentucky': 'KY','Louisiana': 'LA','Maine': 'ME','Maryland': 'MD','Massachusetts': 'MA','Michigan': 'MI','Minnesota': 'MN','Mississippi': 'MS','Missouri': 'MO','Montana': 'MT','Nebraska': 'NE','Nevada': 'NV','New Hampshire': 'NH','New Jersey': 'NJ','New Mexico': 'NM','New York': 'NY','North Carolina': 'NC','North Dakota': 'ND','Ohio': 'OH','Oklahoma': 'OK','Oregon': 'OR','Pennsylvania': 'PA','Rhode Island': 'RI','South Carolina': 'SC','South Dakota': 'SD','Tennessee': 'TN','Texas': 'TX','Utah': 'UT','Vermont': 'VT','Virginia': 'VA','Washington': 'WA','West Virginia': 'WV','Wisconsin': 'WI','Wyoming': 'WY'}
postals_list = list(postals_dict.values())
print(len(postals_list))

51

In [24]:
def clean(df):
  '''
  Converts seconds since epoch into the actual date and creates year, month, and
  day columns from date.
  '''
  # create date col from seconds since epoch col
  df['date'] = pd.to_datetime(df['seconds_since_Epoch'], unit='s')
  # create year, month, day cols from date col
  df['year'] = pd.DatetimeIndex(df['date']).year
  df['month'] = pd.DatetimeIndex(df['date']).month
  df['day'] = pd.DatetimeIndex(df['date']).day
  return df

In [25]:
# FUNCTIONALIZE querying the data so we can grab all 50 states' data at what intervals we want
def query_and_store_covid_data():
  '''
  Loops through all state postal codes, querying the coronavirus API or each one.
  Converts each to a dataframe, cleans it, and exports to a new csv.
  '''
  # LOOP over all state-postals
  for idx in range(len(postals_list)):
    base_url = 'http://coronavirusapi.com/getTimeSeries/'
    r = requests.get(base_url + postals_list[idx])    # base url + postal code
    bytes_data = r.content                # stores bytes data to variable
    s = str(bytes_data, 'utf-8')          # convert bytes data to a usable string
    data = StringIO(s)
    df = pd.read_csv(data)                # read in object as a dataframe
    df['postal'] = postals_list[idx]      # create 'postal' column
    df = clean(df)
    # SAVE to .csv inside google drive folder
    df.to_csv('/content/drive/My Drive/lambda_school/driftly_data/covid_data/covid_data_updated/' + postals_list[idx] + '.csv')
query_and_store_covid_data()

In [33]:
# LOAD in .CSVs from google collab folder
load_path = r'/content/drive/My Drive/lambda_school/driftly_data/covid_data/covid_data_updated'
export_path = r'/content/drive/My Drive/lambda_school/driftly_data/covid_data/covid_data.csv'
def load_and_concat(load_path, export_path):
  all_files = glob.glob(path + "/*.csv")
  list_to_concat = []
  # Loop over all files in folder
  for filename in all_files:
      df = pd.read_csv(filename, index_col=None, header=0)
      list_to_concat.append(df)
  # concatenate .csvs into one DF
  df = pd.concat(list_to_concat, axis=0, ignore_index=True)
  df = df.drop('Unnamed: 0', axis=1)
  df.to_csv(export_path)
  return df
df = load_and_concat(load_path, export_path)
df.head()

   seconds_since_Epoch  tested  positive  ...  year month day
0           1588293736   19562       355  ...  2020     5   1
1           1588372862   19562       364  ...  2020     5   1
2           1588390979   20325       364  ...  2020     5   2
3           1588445522   20325       365  ...  2020     5   2
4           1588466696   21399       365  ...  2020     5   3

[5 rows x 9 columns]

In [43]:
# CONVERT dataframe to JSON object
def create_covid_json(df):
  grpd_avg = df.groupby('postal').mean()
  grpd_avg = grpd_avg.drop(['seconds_since_Epoch','year', 'month', 'day'], axis=1)
  avg_json = grpd_avg.to_json(orient='index')
  return avg_json
avg_json = create_covid_json(df)
avg_json

'{"AK":{"tested":101194.1470588235,"positive":1030.2941176471,"deaths":14.2941176471},"AL":{"tested":358771.4265402844,"positive":44907.5687203791,"deaths":994.8293838863},"AR":{"tested":229584.2753623188,"positive":16518.652173913,"deaths":235.6666666667},"AZ":{"tested":721558.1752577319,"positive":93395.7628865979,"deaths":2182.3917525773},"CA":{"tested":6022203.9189189188,"positive":360479.2972972973,"deaths":7693.7027027027},"CO":{"tested":335332.9649122807,"positive":34315.9736842105,"deaths":1463.5614035088},"CT":{"tested":394123.7794117647,"positive":42083.2352941177,"deaths":3795.2941176471},"DC":{"tested":135301.3969465649,"positive":10529.4885496183,"deaths":518.0992366412},"DE":{"tested":87644.78125,"positive":10107.75,"deaths":386.40625},"FL":{"tested":2619268.1739130435,"positive":308108.0289855073,"deaths":5898.6956521739},"GA":{"tested":723217.5974842767,"positive":81104.2955974843,"deaths":2327.9245283019},"HI":{"tested":70864.5949367089,"positive":1375.2151898734,"deaths":22.5696202532},"IA":{"tested":235554.0153846154,"positive":25748.2923076923,"deaths":575.7384615385},"ID":{"tested":65969.7549668874,"positive":14568.8741721854,"deaths":174.1986754967},"IL":{"tested":2369913.0193548389,"positive":161703.8064516129,"deaths":6645.3290322581},"IN":{"tested":640366.1557377049,"positive":57080.1967213115,"deaths":2412.4098360656},"KS":{"tested":162974.7916666667,"positive":16117.1666666667,"deaths":256.8333333333},"KY":{"tested":592070.5447761194,"positive":28909.223880597,"deaths":695.671641791},"LA":{"tested":682671.9784946237,"positive":61594.0215053763,"deaths":2992.7311827957},"MA":{"tested":730109.3414634146,"positive":96441.4268292683,"deaths":6775.9146341463},"MD":{"tested":740505.8445945946,"positive":75204.277027027,"deaths":3030.9391891892},"ME":{"tested":59915.0625,"positive":2596.984375,"deaths":90.859375},"MI":{"tested":911902.5662650602,"positive":65325.7590361446,"deaths":5501.9759036145},"MN":{"tested":861265.7142857143,"positive":47451.9931972789,"deaths":1415.0204081633},"MO":{"tested":307572.0256410256,"positive":21968.6025641026,"deaths":796.358974359},"MS":{"tested":388976.9716312057,"positive":45896.1134751773,"deaths":1469.134751773},"MT":{"tested":132412.7591240876,"positive":3420.299270073,"deaths":54.4306569343},"NC":{"tested":788045.0151515151,"positive":55862.8333333333,"deaths":1169.6666666667},"ND":{"tested":96683.2685185185,"positive":4338.1666666667,"deaths":78.5740740741},"NE":{"tested":133187.6025641026,"positive":15589.3974358974,"deaths":197.9615384615},"NH":{"tested":91220.7123287671,"positive":5853.7534246575,"deaths":340.5479452055},"NJ":{"tested":1209007.0568181819,"positive":163678.6477272727,"deaths":12158.2840909091},"NM":{"tested":333378.8910891089,"positive":12265.1386138614,"deaths":454.3762376238},"NV":{"tested":235135.9743589743,"positive":16410.8461538462,"deaths":480.0641025641},"NY":{"tested":3947208.5327102803,"positive":387428.523364486,"deaths":24113.6822429907},"OH":{"tested":408879.2049689441,"positive":68652.1304347826,"deaths":2855.4906832298},"OK":{"tested":379378.7006369427,"positive":28883.152866242,"deaths":509.1082802548},"OR":{"tested":193758.2,"positive":7896.8769230769,"deaths":196.6},"PA":{"tested":680754.9210526316,"positive":80418.5394736842,"deaths":5639.1578947368},"RI":{"tested":208958.2083333333,"positive":15205.0555555556,"deaths":735.2083333333},"SC":{"tested":285896.8117647059,"positive":28235.4117647059,"deaths":732.6235294118},"SD":{"tested":61207.203125,"positive":6094.3125,"deaths":74.78125},"TN":{"tested":1010974.1803278689,"positive":66228.3852459016,"deaths":779.2213114754},"TX":{"tested":2848128.8175182482,"positive":316316.3284671533,"deaths":5957.102189781},"UT":{"tested":292841.4492753623,"positive":17615.2463768116,"deaths":151.6231884058},"VA":{"tested":509215.3432835821,"positive":52224.3134328358,"deaths":1458.3134328358},"VT":{"tested":50990.6935483871,"positive":1112.8870967742,"deaths":54.7419354839},"WA":{"tested":562235.90625,"positive":32862.3541666667,"deaths":1256.4375},"WI":{"tested":434653.2205882353,"positive":26919.6911764706,"deaths":648.0441176471},"WV":{"tested":132340.4675324675,"positive":2869.2727272727,"deaths":84.7532467532},"WY":{"tested":56950.3544303797,"positive":1678.3544303797,"deaths":22.3481012658}}'