<a href="https://colab.research.google.com/github/Lambda-School-Labs/Labs26-Citrics-DS-TeamC/blob/mtoce/notebooks/Merge_for_DB_MT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Driftly Notebook for Merging All Data for SQL DB

## Import Packages

In [ ]:
import pandas as pd
import json
import glob

## Load in the CSVs for each feature

In [ ]:
# MOUNT Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# LOAD in .CSV files
base_path = '/content/drive/My Drive/lambda_school/driftly_data/'

weather = pd.read_csv(base_path + 'weather_data/weather_merge.csv')
housing = pd.read_csv(base_path + 'housing_data/housing_merge.csv')
jobs = pd.read_csv(base_path + 'jobs_data/jobs_merge.csv')
covid = pd.read_csv(base_path + 'covid_data/covid_merge.csv')
pop = pd.read_csv(base_path + 'population_data/city_pop.csv')
keys = pd.read_csv(base_path + 'database_tables/keys_pop.csv')

In [ ]:
# LOWER column names for all frames
weather.columns = weather.columns.str.lower()
housing.columns = housing.columns.str.lower()
jobs.columns = jobs.columns.str.lower()
covid.columns = covid.columns.str.lower()
pop.columns = pop.columns.str.lower()
pop.head()

         city    state postal      city-state  population
0      Auburn  Alabama     AL      Auburn, AL       66259
1  Birmingham  Alabama     AL  Birmingham, AL      209403
2     Decatur  Alabama     AL     Decatur, AL       54445
3      Dothan  Alabama     AL      Dothan, AL       68941
4      Hoover  Alabama     AL      Hoover, AL       85768

In [ ]:
# PRINT unique IDs
print(f"Weather unique cities: {weather['city_state'].nunique()}")
print(f"Housing unique cities: {housing['city_state'].nunique()}")
print(f"Jobs unique states: {jobs['postal'].nunique()}")
print(f"Covid unique states: {weather['postal'].nunique()}")

Weather unique cities: 686
Housing unique cities: 623
Jobs unique states: 51
Covid unique states: 51

In [ ]:
def check_lists_diff(list1, list2):
  '''
  Finds differences between two lists using sets.
  '''
  intersection = sorted(list(set(list1) & set(list2)))
  list1_remainder = sorted(list(set(list1) - set(list2)))
  list2_remainder = sorted(list(set(list2) - set(list1)))
  print(f"Intersection between lists: {intersection}")
  print(f"Length of Intersection: {len(intersection)}")
  print(f"List1 Remainder: {list1_remainder}")
  print(f"Length of List1 Remainder: {len(list1_remainder)}")
  print(f"List2 Remainder: {list2_remainder}")
  print(f"Length of list2 Remainder: {len(list2_remainder)}")
  return intersection, list1_remainder, list2_remainder

In [ ]:
# CHECK overlapping cities in weather / housing
weather_cities = list(weather['city_state'].unique())
housing_cities = list(housing['city_state'].unique())
# run lists diff fn
intersection, rem_weather, rem_housing = check_lists_diff(weather_cities, housing_cities)

Intersection between lists: ['Akron, OH', 'Alameda, CA', 'Albany, NY', 'Albuquerque, NM', 'Alexandria, VA', 'Alhambra, CA', 'Aliso Viejo, CA', 'Allen, TX', 'Allentown, PA', 'Amarillo, TX', 'Ames, IA', 'Anaheim, CA', 'Anderson, IN', 'Ankeny, IA', 'Ann Arbor, MI', 'Apopka, FL', 'Appleton, WI', 'Arcadia, CA', 'Arlington, TX', 'Arvada, CO', 'Asheville, NC', 'Atlanta, GA', 'Auburn, WA', 'Aurora, CO', 'Austin, TX', 'Avondale, AZ', 'Bakersfield, CA', 'Baldwin Park, CA', 'Baltimore, MD', 'Baton Rouge, LA', 'Battle Creek, MI', 'Bayonne, NJ', 'Baytown, TX', 'Beaverton, OR', 'Bellevue, WA', 'Bellflower, CA', 'Bellingham, WA', 'Bend, OR', 'Berkeley, CA', 'Berwyn, IL', 'Bethlehem, PA', 'Billings, MT', 'Birmingham, AL', 'Bismarck, ND', 'Blaine, MN', 'Bloomington, IN', 'Blue Springs, MO', 'Boca Raton, FL', 'Boise, ID', 'Bonita Springs, FL', 'Bossier City, LA', 'Boston, MA', 'Boulder, CO', 'Bowie, MD', 'Bowling Green, KY', 'Boynton Beach, FL', 'Bradenton, FL', 'Bridgeport, CT', 'Brockton, MA', 'Broken Arrow, OK', 'Brookhaven, GA', 'Brooklyn Park, MN', 'Broomfield, CO', 'Brownsville, TX', 'Bryan, TX', 'Buckeye, AZ', 'Buena Park, CA', 'Buffalo, NY', 'Burbank, CA', 'Burien, WA', 'Burnsville, MN', 'Caldwell, ID', 'Camarillo, CA', 'Cambridge, MA', 'Camden, NJ', 'Canton, OH', 'Cape Coral, FL', 'Carlsbad, CA', 'Carmel, IN', 'Carrollton, TX', 'Carson, CA', 'Casa Grande, AZ', 'Casper, WY', 'Cathedral City, CA', 'Cedar Park, TX', 'Cedar Rapids, IA', 'Centennial, CO', 'Champaign, IL', 'Chandler, AZ', 'Charleston, SC', 'Charlotte, NC', 'Chattanooga, TN', 'Chesapeake, VA', 'Cheyenne, WY', 'Chicago, IL', 'Chico, CA', 'Chicopee, MA', 'Chino Hills, CA', 'Chino, CA', 'Chula Vista, CA', 'Cincinnati, OH', 'Citrus Heights, CA', 'Clarksville, TN', 'Clearwater, FL', 'Cleveland, OH', 'Clifton, NJ', 'Clovis, CA', 'Coconut Creek, FL', "Coeur d'Alene, ID", 'College Station, TX', 'Colorado Springs, CO', 'Colton, CA', 'Columbia, SC', 'Columbus, OH', 'Commerce City, CO', 'Conroe, TX', 'Conway, AR', 'Coon Rapids, MN', 'Coral Springs, FL', 'Corona, CA', 'Corpus Christi, TX', 'Corvallis, OR', 'Costa Mesa, CA', 'Council Bluffs, IA', 'Cranston, RI', 'Cupertino, CA', 'Dallas, TX', 'Daly City, CA', 'Davenport, IA', 'Davis, CA', 'Dayton, OH', 'Daytona Beach, FL', 'Dearborn Heights, MI', 'Decatur, IL', 'Deerfield Beach, FL', 'Delano, CA', 'Delray Beach, FL', 'Deltona, FL', 'Denton, TX', 'Denver, CO', 'Des Moines, IA', 'Des Plaines, IL', 'Diamond Bar, CA', 'Doral, FL', 'Dothan, AL', 'Downey, CA', 'Dubuque, IA', 'Duluth, MN', 'Durham, NC', 'Eagan, MN', 'Eastvale, CA', 'Eau Claire, WI', 'Eden Prairie, MN', 'Edina, MN', 'Edmond, OK', 'El Cajon, CA', 'El Monte, CA', 'El Paso, TX', 'Elgin, IL', 'Elk Grove, CA', 'Elkhart, IN', 'Encinitas, CA', 'Erie, PA', 'Escondido, CA', 'Euless, TX', 'Evanston, IL', 'Evansville, IN', 'Everett, WA', 'Fall River, MA', 'Farmington Hills, MI', 'Fishers, IN', 'Flagstaff, AZ', 'Flint, MI', 'Folsom, CA', 'Fontana, CA', 'Fort Lauderdale, FL', 'Fort Myers, FL', 'Fort Smith, AR', 'Fort Wayne, IN', 'Fort Worth, TX', 'Fountain Valley, CA', 'Franklin, TN', 'Frederick, MD', 'Fresno, CA', 'Frisco, TX', 'Fullerton, CA', 'Gainesville, FL', 'Gaithersburg, MD', 'Galveston, TX', 'Gardena, CA', 'Garland, TX', 'Gary, IN', 'Gastonia, NC', 'Georgetown, TX', 'Gilroy, CA', 'Glendale, AZ', 'Glendora, CA', 'Goodyear, AZ', 'Grand Forks, ND', 'Grand Island, NE', 'Grand Junction, CO', 'Grand Prairie, TX', 'Grand Rapids, MI', 'Grapevine, TX', 'Great Falls, MT', 'Greeley, CO', 'Green Bay, WI', 'Greensboro, NC', 'Greenville, NC', 'Greenwood, IN', 'Gresham, OR', 'Gulfport, MS', 'Hamilton, OH', 'Hammond, IN', 'Harlingen, TX', 'Harrisonburg, VA', 'Haverhill, MA', 'Hawthorne, CA', 'Hayward, CA', 'Hemet, CA', 'Henderson, NV', 'Hendersonville, TN', 'Herriman, UT', 'Hesperia, CA', 'Hialeah, FL', 'High Point, NC', 'Highland, CA', 'Hillsboro, OR', 'Hoboken, NJ', 'Hollywood, FL', 'Homestead, FL', 'Houston, TX', 'Huntington Beach, CA', 'Huntington Park, CA', 'Huntsville, AL', 'Idaho Falls, ID', 'Indianapolis, IN', 'Indio, CA', 'Inglewood, CA', 'Iowa City, IA', 'Irvine, CA', 'Irving, TX', 'Jackson, MS', 'Jacksonville, FL', 'Janesville, WI', 'Jersey City, NJ', 'Johns Creek, GA', 'Joliet, IL', 'Kalamazoo, MI', 'Kannapolis, NC', 'Kansas City, MO', 'Kenner, LA', 'Kennewick, WA', 'Kenosha, WI', 'Kent, WA', 'Kentwood, MI', 'Killeen, TX', 'Kingsport, TN', 'Kirkland, WA', 'Kissimmee, FL', 'Knoxville, TN', 'La Crosse, WI', 'La Habra, CA', 'La Mesa, CA', 'Lacey, WA', 'Lafayette, LA', 'Laguna Niguel, CA', 'Lake Elsinore, CA', 'Lake Forest, CA', 'Lake Havasu City, AZ', 'Lakeland, FL', 'Lakeville, MN', 'Lakewood, CO', 'Lancaster, CA', 'Lansing, MI', 'Laredo, TX', 'Largo, FL', 'Las Cruces, NM', 'Las Vegas, NV', 'Lauderhill, FL', 'Lawrence, KS', 'Lawton, OK', 'Layton, UT', 'League City, TX', 'Leander, TX', "Lee's Summit, MO", 'Lehi, UT', 'Lenexa, KS', 'Lewisville, TX', 'Lincoln, NE', 'Little Elm, TX', 'Little Rock, AR', 'Logan, UT', 'Long Beach, CA', 'Longmont, CO', 'Longview, TX', 'Lorain, OH', 'Los Angeles, CA', 'Loveland, CO', 'Lubbock, TX', 'Lynchburg, VA', 'Lynn, MA', 'Lynwood, CA', 'Madera, CA', 'Madison, WI', 'Malden, MA', 'Manchester, NH', 'Manhattan, KS', 'Mansfield, TX', 'Manteca, CA', 'Maple Grove, MN', 'Margate, FL', 'Maricopa, AZ', 'Marietta, GA', 'Marysville, WA', 'McAllen, TX', 'McKinney, TX', 'Medford, OR', 'Melbourne, FL', 'Memphis, TN', 'Menifee, CA', 'Meriden, CT', 'Meridian, ID', 'Mesa, AZ', 'Methuen, MA', 'Miami Beach, FL', 'Miami Gardens, FL', 'Miami, FL', 'Midland, TX', 'Midwest City, OK', 'Milford, CT', 'Millcreek, UT', 'Milpitas, CA', 'Milwaukee, WI', 'Minneapolis, MN', 'Minnetonka, MN', 'Miramar, FL', 'Mishawaka, IN', 'Mission Viejo, CA', 'Missoula, MT', 'Missouri City, TX', 'Mobile, AL', 'Modesto, CA', 'Montebello, CA', 'Monterey Park, CA', 'Moore, OK', 'Moreno Valley, CA', 'Mount Vernon, NY', 'Mountain View, CA', 'Murfreesboro, TN', 'Nampa, ID', 'Napa, CA', 'Naperville, IL', 'Nashua, NH', 'National City, CA', 'New Bedford, MA', 'New Braunfels, TX', 'New Brunswick, NJ', 'New Haven, CT', 'New Orleans, LA', 'New Rochelle, NY', 'New York City, NY', 'Newark, NJ', 'Newport Beach, CA', 'Newton, MA', 'Noblesville, IN', 'Norfolk, VA', 'Norman, OK', 'North Las Vegas, NV', 'North Miami, FL', 'North Port, FL', 'North Richland Hills, TX', 'Norwalk, CA', 'Novato, CA', "O'Fallon, MO", 'Oakland, CA', 'Ocala, FL', 'Oceanside, CA', 'Ogden, UT', 'Oklahoma City, OK', 'Olathe, KS', 'Olympia, WA', 'Omaha, NE', 'Ontario, CA', 'Orange, CA', 'Orem, UT', 'Orlando, FL', 'Oshkosh, WI', 'Overland Park, KS', 'Owensboro, KY', 'Oxnard, CA', 'Palm Bay, FL', 'Palm Beach Gardens, FL', 'Palm Coast, FL', 'Palm Desert, CA', 'Palmdale, CA', 'Palo Alto, CA', 'Paramount, CA', 'Pasadena, TX', 'Pasco, WA', 'Passaic, NJ', 'Paterson, NJ', 'Peabody, MA', 'Pensacola, FL', 'Peoria, AZ', 'Perris, CA', 'Perth Amboy, NJ', 'Petaluma, CA', 'Pflugerville, TX', 'Pharr, TX', 'Philadelphia, PA', 'Phoenix, AZ', 'Pico Rivera, CA', 'Pinellas Park, FL', 'Pittsburgh, PA', 'Placentia, CA', 'Plainfield, NJ', 'Plano, TX', 'Plantation, FL', 'Plymouth, MN', 'Pocatello, ID', 'Pomona, CA', 'Pompano Beach, FL', 'Pontiac, MI', 'Port Arthur, TX', 'Port Orange, FL', 'Port Saint Lucie, FL', 'Porterville, CA', 'Portland, OR', 'Portsmouth, VA', 'Providence, RI', 'Pueblo, CO', 'Quincy, MA', 'Raleigh, NC', 'Rancho Cordova, CA', 'Rancho Cucamonga, CA', 'Rapid City, SD', 'Reading, PA', 'Redlands, CA', 'Redmond, WA', 'Redondo Beach, CA', 'Redwood City, CA', 'Reno, NV', 'Renton, WA', 'Revere, MA', 'Rialto, CA', 'Richardson, TX', 'Richland, WA', 'Richmond, VA', 'Rio Rancho, NM', 'Riverside, CA', 'Roanoke, VA', 'Rochester Hills, MI', 'Rock Hill, SC', 'Rockford, IL', 'Rocklin, CA', 'Rockville, MD', 'Rocky Mount, NC', 'Rogers, AR', 'Rosemead, CA', 'Roseville, CA', 'Roswell, GA', 'Round Rock, TX', 'Royal Oak, MI', 'Sacramento, CA', 'Saint Charles, MO', 'Saint Clair Shores, MI', 'Saint Cloud, MN', 'Saint George, UT', 'Saint Joseph, MO', 'Saint Louis, MO', 'Saint Paul, MN', 'Saint Peters, MO', 'Saint Petersburg, FL', 'Salem, OR', 'Salinas, CA', 'Salt Lake City, UT', 'Sammamish, WA', 'San Antonio, TX', 'San Bernardino, CA', 'San Clemente, CA', 'San Diego, CA', 'San Francisco, CA', 'San Jose, CA', 'San Leandro, CA', 'San Marcos, CA', 'San Mateo, CA', 'San Rafael, CA', 'Sandy Springs, GA', 'Sandy, UT', 'Sanford, FL', 'Santa Ana, CA', 'Santa Barbara, CA', 'Santa Clara, CA', 'Santa Clarita, CA', 'Santa Cruz, CA', 'Santa Fe, NM', 'Santa Maria, CA', 'Santa Monica, CA', 'Santa Rosa, CA', 'Santee, CA', 'Sarasota, FL', 'Savannah, GA', 'Schenectady, NY', 'Scottsdale, AZ', 'Scranton, PA', 'Seattle, WA', 'Shawnee, KS', 'Shoreline, WA', 'Shreveport, LA', 'Simi Valley, CA', 'Sioux City, IA', 'Sioux Falls, SD', 'Smyrna, GA', 'South Bend, IN', 'South Gate, CA', 'South Jordan, UT', 'South San Francisco, CA', 'Southaven, MS', 'Southfield, MI', 'Sparks, NV', 'Spokane Valley, WA', 'Spokane, WA', 'Springdale, AR', 'Springfield, MO', 'Sterling Heights, MI', 'Stillwater, OK', 'Stockton, CA', 'Suffolk, VA', 'Sugar Land, TX', 'Sunnyvale, CA', 'Sunrise, FL', 'Surprise, AZ', 'Syracuse, NY', 'Tacoma, WA', 'Tallahassee, FL', 'Tamarac, FL', 'Tampa, FL', 'Taunton, MA', 'Taylor, MI', 'Taylorsville, UT', 'Temecula, CA', 'Tempe, AZ', 'Temple, TX', 'Terre Haute, IN', 'Texas City, TX', 'Thousand Oaks, CA', 'Tigard, OR', 'Topeka, KS', 'Torrance, CA', 'Tracy, CA', 'Trenton, NJ', 'Troy, MI', 'Tucson, AZ', 'Tulare, CA', 'Tulsa, OK', 'Turlock, CA', 'Tuscaloosa, AL', 'Tustin, CA', 'Twin Falls, ID', 'Tyler, TX', 'Union City, CA', 'Upland, CA', 'Utica, NY', 'Vacaville, CA', 'Vallejo, CA', 'Vancouver, WA', 'Ventura, CA', 'Victorville, CA', 'Vineland, NJ', 'Virginia Beach, VA', 'Visalia, CA', 'Vista, CA', 'Waco, TX', 'Waltham, MA', 'Warner Robins, GA', 'Warren, MI', 'Warwick, RI', 'Washington, DC', 'Waterbury, CT', 'Waterloo, IA', 'Watsonville, CA', 'Waukesha, WI', 'West Covina, CA', 'West Haven, CT', 'West Lafayette, IN', 'West Palm Beach, FL', 'West Sacramento, CA', 'West Valley City, UT', 'Westland, MI', 'Westminster, CO', 'Weston, FL', 'Wheaton, IL', 'White Plains, NY', 'Whittier, CA', 'Wichita Falls, TX', 'Wichita, KS', 'Winston Salem, NC', 'Woodbury, MN']
Length of Intersection: 599
List1 Remainder: ['Alpharetta, GA', 'Annapolis, MD', 'Antioch, CA', 'Apple Valley, MN', 'Augusta, ME', 'Bartlett, TN', 'Bentonville, AR', 'Brentwood, CA', 'Bristol, CT', 'Burlington, NC', 'Carson City, NV', 'Charleston, WV', 'Concord, CA', 'Concord, NH', 'Danbury, CT', 'DeSoto, TX', 'Dearborn, MI', 'Detroit, MI', 'Dover, DE', 'Dublin, CA', 'East Orange, NJ', 'Edinburg, TX', 'Elizabeth, NJ', 'Elyria, OH', 'Fairfield, CA', 'Fayetteville, NC', 'Federal Way, WA', 'Florissant, MO', 'Framingham, MA', 'Frankfort, KY', 'Fremont, CA', 'Hanford, CA', 'Harrisburg, PA', 'Hartford, CT', 'Helena, MT', 'Honolulu, HI', 'Hoover, AL', 'Jefferson City, MO', 'Johnson City, TN', 'Jonesboro, AR', 'Joplin, MO', 'Juneau, AK', 'Jurupa Valley, CA', 'Kettering, OH', 'Kokomo, IN', 'Lake Charles, LA', 'Livermore, CA', 'Livonia, MI', 'Lodi, CA', 'Lowell, MA', 'Merced, CA', 'Mesquite, TX', 'Mission, TX', 'Montgomery, AL', 'Montpelier, VT', 'Muncie, IN', 'Nashville, TN', 'New Britain, CT', 'Newport News, VA', 'North Charleston, SC', 'North Little Rock, AR', 'Novi, MI', 'Parma, OH', 'Pawtucket, RI', 'Pierre, SD', 'Pittsburg, CA', 'Pleasanton, CA', 'Racine, WI', 'Redding, CA', 'Rochester, NY', 'Rowlett, TX', 'San Angelo, TX', 'San Ramon, CA', 'Somerville, MA', 'South Fulton, GA', 'Springfield, IL', 'Stamford, CT', 'Stonecrest, GA', 'Thornton, CO', 'Toledo, OH', 'Valdosta, GA', 'Victoria, TX', 'Walnut Creek, CA', 'Waukegan, IL', 'West Allis, WI', 'West Des Moines, IA', 'Weymouth Town, MA']
Length of List1 Remainder: 87
List2 Remainder: ['Abilene, TX', 'Beaumont, TX', 'Eugene, OR', 'Fargo, ND', 'Fort Collins, CO', 'Garden Grove, CA', 'Independence, MO', 'Murrieta, CA', 'Odessa, TX', 'Pembroke Pines, FL', 'Provo, UT', 'West Jordan, UT', 'Weymouth, MA', 'Wilmington, NC', 'Woodland, CA', 'Worcester, MA', 'Wylie, TX', 'Wyoming, MI', 'Yakima, WA', 'Yonkers, NY', 'Yorba Linda, CA', 'Youngstown, OH', 'Yucaipa, CA', 'Yuma, AZ']
Length of list2 Remainder: 24

### CLEAN data in frames so cities are spelled the same way

In [ ]:
# housing = housing.replace({'Saint Lucie': 'Port Saint Lucie', 'O Fallon': "O'Fallon", "Lees Summit": "Lee's Summit", "Winston-Salem": "Winston Salem", "New York": "New York City"}, regex=True)
# weather = weather.replace({'Methuen Town': 'Methuen'}, regex=True)
# weather = weather.replace({'San Buenaventura (Ventura), CA': 'Ventura, CA'}, regex=False)
# weather = weather[weather['city']!='Milford city (bala']
# weather[weather['city']=='Milford city (bala']

In [ ]:
# housing = housing.drop('unnamed: 0', axis=1)
# weather = weather.drop('unnamed: 0', axis=1)
# jobs = jobs.drop('unnamed: 0', axis=1)
# covid = covid.drop('unnamed: 0', axis=1)

In [ ]:
# # SAVE new frames
# base_path = '/content/drive/My Drive/lambda_school/driftly_data/'

# weather.to_csv(base_path + 'weather_data/weather_merge.csv', index=False)
# housing.to_csv(base_path + 'housing_data/housing_merge.csv', index=False)
# jobs.to_csv(base_path + 'jobs_data/jobs_merge.csv', index=False)
# covid.to_csv(base_path + 'covid_data/covid_merge.csv', index=False)

## CREATE Frames which will operate as tables for the DB

In [ ]:
# Create a sorted list which will act as the current ID values in sorted order.
full_list = sorted(intersection + rem_weather + rem_housing)
print(full_list)
print(len(full_list))

['Abilene, TX', 'Akron, OH', 'Alameda, CA', 'Albany, NY', 'Albuquerque, NM', 'Alexandria, VA', 'Alhambra, CA', 'Aliso Viejo, CA', 'Allen, TX', 'Allentown, PA', 'Alpharetta, GA', 'Amarillo, TX', 'Ames, IA', 'Anaheim, CA', 'Anderson, IN', 'Ankeny, IA', 'Ann Arbor, MI', 'Annapolis, MD', 'Antioch, CA', 'Apopka, FL', 'Apple Valley, MN', 'Appleton, WI', 'Arcadia, CA', 'Arlington, TX', 'Arvada, CO', 'Asheville, NC', 'Atlanta, GA', 'Auburn, WA', 'Augusta, ME', 'Aurora, CO', 'Austin, TX', 'Avondale, AZ', 'Bakersfield, CA', 'Baldwin Park, CA', 'Baltimore, MD', 'Bartlett, TN', 'Baton Rouge, LA', 'Battle Creek, MI', 'Bayonne, NJ', 'Baytown, TX', 'Beaumont, TX', 'Beaverton, OR', 'Bellevue, WA', 'Bellflower, CA', 'Bellingham, WA', 'Bend, OR', 'Bentonville, AR', 'Berkeley, CA', 'Berwyn, IL', 'Bethlehem, PA', 'Billings, MT', 'Birmingham, AL', 'Bismarck, ND', 'Blaine, MN', 'Bloomington, IN', 'Blue Springs, MO', 'Boca Raton, FL', 'Boise, ID', 'Bonita Springs, FL', 'Bossier City, LA', 'Boston, MA', 'Boulder, CO', 'Bowie, MD', 'Bowling Green, KY', 'Boynton Beach, FL', 'Bradenton, FL', 'Brentwood, CA', 'Bridgeport, CT', 'Bristol, CT', 'Brockton, MA', 'Broken Arrow, OK', 'Brookhaven, GA', 'Brooklyn Park, MN', 'Broomfield, CO', 'Brownsville, TX', 'Bryan, TX', 'Buckeye, AZ', 'Buena Park, CA', 'Buffalo, NY', 'Burbank, CA', 'Burien, WA', 'Burlington, NC', 'Burnsville, MN', 'Caldwell, ID', 'Camarillo, CA', 'Cambridge, MA', 'Camden, NJ', 'Canton, OH', 'Cape Coral, FL', 'Carlsbad, CA', 'Carmel, IN', 'Carrollton, TX', 'Carson City, NV', 'Carson, CA', 'Casa Grande, AZ', 'Casper, WY', 'Cathedral City, CA', 'Cedar Park, TX', 'Cedar Rapids, IA', 'Centennial, CO', 'Champaign, IL', 'Chandler, AZ', 'Charleston, SC', 'Charleston, WV', 'Charlotte, NC', 'Chattanooga, TN', 'Chesapeake, VA', 'Cheyenne, WY', 'Chicago, IL', 'Chico, CA', 'Chicopee, MA', 'Chino Hills, CA', 'Chino, CA', 'Chula Vista, CA', 'Cincinnati, OH', 'Citrus Heights, CA', 'Clarksville, TN', 'Clearwater, FL', 'Cleveland, OH', 'Clifton, NJ', 'Clovis, CA', 'Coconut Creek, FL', "Coeur d'Alene, ID", 'College Station, TX', 'Colorado Springs, CO', 'Colton, CA', 'Columbia, SC', 'Columbus, OH', 'Commerce City, CO', 'Concord, CA', 'Concord, NH', 'Conroe, TX', 'Conway, AR', 'Coon Rapids, MN', 'Coral Springs, FL', 'Corona, CA', 'Corpus Christi, TX', 'Corvallis, OR', 'Costa Mesa, CA', 'Council Bluffs, IA', 'Cranston, RI', 'Cupertino, CA', 'Dallas, TX', 'Daly City, CA', 'Danbury, CT', 'Davenport, IA', 'Davis, CA', 'Dayton, OH', 'Daytona Beach, FL', 'DeSoto, TX', 'Dearborn Heights, MI', 'Dearborn, MI', 'Decatur, IL', 'Deerfield Beach, FL', 'Delano, CA', 'Delray Beach, FL', 'Deltona, FL', 'Denton, TX', 'Denver, CO', 'Des Moines, IA', 'Des Plaines, IL', 'Detroit, MI', 'Diamond Bar, CA', 'Doral, FL', 'Dothan, AL', 'Dover, DE', 'Downey, CA', 'Dublin, CA', 'Dubuque, IA', 'Duluth, MN', 'Durham, NC', 'Eagan, MN', 'East Orange, NJ', 'Eastvale, CA', 'Eau Claire, WI', 'Eden Prairie, MN', 'Edina, MN', 'Edinburg, TX', 'Edmond, OK', 'El Cajon, CA', 'El Monte, CA', 'El Paso, TX', 'Elgin, IL', 'Elizabeth, NJ', 'Elk Grove, CA', 'Elkhart, IN', 'Elyria, OH', 'Encinitas, CA', 'Erie, PA', 'Escondido, CA', 'Eugene, OR', 'Euless, TX', 'Evanston, IL', 'Evansville, IN', 'Everett, WA', 'Fairfield, CA', 'Fall River, MA', 'Fargo, ND', 'Farmington Hills, MI', 'Fayetteville, NC', 'Federal Way, WA', 'Fishers, IN', 'Flagstaff, AZ', 'Flint, MI', 'Florissant, MO', 'Folsom, CA', 'Fontana, CA', 'Fort Collins, CO', 'Fort Lauderdale, FL', 'Fort Myers, FL', 'Fort Smith, AR', 'Fort Wayne, IN', 'Fort Worth, TX', 'Fountain Valley, CA', 'Framingham, MA', 'Frankfort, KY', 'Franklin, TN', 'Frederick, MD', 'Fremont, CA', 'Fresno, CA', 'Frisco, TX', 'Fullerton, CA', 'Gainesville, FL', 'Gaithersburg, MD', 'Galveston, TX', 'Garden Grove, CA', 'Gardena, CA', 'Garland, TX', 'Gary, IN', 'Gastonia, NC', 'Georgetown, TX', 'Gilroy, CA', 'Glendale, AZ', 'Glendora, CA', 'Goodyear, AZ', 'Grand Forks, ND', 'Grand Island, NE', 'Grand Junction, CO', 'Grand Prairie, TX', 'Grand Rapids, MI', 'Grapevine, TX', 'Great Falls, MT', 'Greeley, CO', 'Green Bay, WI', 'Greensboro, NC', 'Greenville, NC', 'Greenwood, IN', 'Gresham, OR', 'Gulfport, MS', 'Hamilton, OH', 'Hammond, IN', 'Hanford, CA', 'Harlingen, TX', 'Harrisburg, PA', 'Harrisonburg, VA', 'Hartford, CT', 'Haverhill, MA', 'Hawthorne, CA', 'Hayward, CA', 'Helena, MT', 'Hemet, CA', 'Henderson, NV', 'Hendersonville, TN', 'Herriman, UT', 'Hesperia, CA', 'Hialeah, FL', 'High Point, NC', 'Highland, CA', 'Hillsboro, OR', 'Hoboken, NJ', 'Hollywood, FL', 'Homestead, FL', 'Honolulu, HI', 'Hoover, AL', 'Houston, TX', 'Huntington Beach, CA', 'Huntington Park, CA', 'Huntsville, AL', 'Idaho Falls, ID', 'Independence, MO', 'Indianapolis, IN', 'Indio, CA', 'Inglewood, CA', 'Iowa City, IA', 'Irvine, CA', 'Irving, TX', 'Jackson, MS', 'Jacksonville, FL', 'Janesville, WI', 'Jefferson City, MO', 'Jersey City, NJ', 'Johns Creek, GA', 'Johnson City, TN', 'Joliet, IL', 'Jonesboro, AR', 'Joplin, MO', 'Juneau, AK', 'Jurupa Valley, CA', 'Kalamazoo, MI', 'Kannapolis, NC', 'Kansas City, MO', 'Kenner, LA', 'Kennewick, WA', 'Kenosha, WI', 'Kent, WA', 'Kentwood, MI', 'Kettering, OH', 'Killeen, TX', 'Kingsport, TN', 'Kirkland, WA', 'Kissimmee, FL', 'Knoxville, TN', 'Kokomo, IN', 'La Crosse, WI', 'La Habra, CA', 'La Mesa, CA', 'Lacey, WA', 'Lafayette, LA', 'Laguna Niguel, CA', 'Lake Charles, LA', 'Lake Elsinore, CA', 'Lake Forest, CA', 'Lake Havasu City, AZ', 'Lakeland, FL', 'Lakeville, MN', 'Lakewood, CO', 'Lancaster, CA', 'Lansing, MI', 'Laredo, TX', 'Largo, FL', 'Las Cruces, NM', 'Las Vegas, NV', 'Lauderhill, FL', 'Lawrence, KS', 'Lawton, OK', 'Layton, UT', 'League City, TX', 'Leander, TX', "Lee's Summit, MO", 'Lehi, UT', 'Lenexa, KS', 'Lewisville, TX', 'Lincoln, NE', 'Little Elm, TX', 'Little Rock, AR', 'Livermore, CA', 'Livonia, MI', 'Lodi, CA', 'Logan, UT', 'Long Beach, CA', 'Longmont, CO', 'Longview, TX', 'Lorain, OH', 'Los Angeles, CA', 'Loveland, CO', 'Lowell, MA', 'Lubbock, TX', 'Lynchburg, VA', 'Lynn, MA', 'Lynwood, CA', 'Madera, CA', 'Madison, WI', 'Malden, MA', 'Manchester, NH', 'Manhattan, KS', 'Mansfield, TX', 'Manteca, CA', 'Maple Grove, MN', 'Margate, FL', 'Maricopa, AZ', 'Marietta, GA', 'Marysville, WA', 'McAllen, TX', 'McKinney, TX', 'Medford, OR', 'Melbourne, FL', 'Memphis, TN', 'Menifee, CA', 'Merced, CA', 'Meriden, CT', 'Meridian, ID', 'Mesa, AZ', 'Mesquite, TX', 'Methuen, MA', 'Miami Beach, FL', 'Miami Gardens, FL', 'Miami, FL', 'Midland, TX', 'Midwest City, OK', 'Milford, CT', 'Millcreek, UT', 'Milpitas, CA', 'Milwaukee, WI', 'Minneapolis, MN', 'Minnetonka, MN', 'Miramar, FL', 'Mishawaka, IN', 'Mission Viejo, CA', 'Mission, TX', 'Missoula, MT', 'Missouri City, TX', 'Mobile, AL', 'Modesto, CA', 'Montebello, CA', 'Monterey Park, CA', 'Montgomery, AL', 'Montpelier, VT', 'Moore, OK', 'Moreno Valley, CA', 'Mount Vernon, NY', 'Mountain View, CA', 'Muncie, IN', 'Murfreesboro, TN', 'Murrieta, CA', 'Nampa, ID', 'Napa, CA', 'Naperville, IL', 'Nashua, NH', 'Nashville, TN', 'National City, CA', 'New Bedford, MA', 'New Braunfels, TX', 'New Britain, CT', 'New Brunswick, NJ', 'New Haven, CT', 'New Orleans, LA', 'New Rochelle, NY', 'New York City, NY', 'Newark, NJ', 'Newport Beach, CA', 'Newport News, VA', 'Newton, MA', 'Noblesville, IN', 'Norfolk, VA', 'Norman, OK', 'North Charleston, SC', 'North Las Vegas, NV', 'North Little Rock, AR', 'North Miami, FL', 'North Port, FL', 'North Richland Hills, TX', 'Norwalk, CA', 'Novato, CA', 'Novi, MI', "O'Fallon, MO", 'Oakland, CA', 'Ocala, FL', 'Oceanside, CA', 'Odessa, TX', 'Ogden, UT', 'Oklahoma City, OK', 'Olathe, KS', 'Olympia, WA', 'Omaha, NE', 'Ontario, CA', 'Orange, CA', 'Orem, UT', 'Orlando, FL', 'Oshkosh, WI', 'Overland Park, KS', 'Owensboro, KY', 'Oxnard, CA', 'Palm Bay, FL', 'Palm Beach Gardens, FL', 'Palm Coast, FL', 'Palm Desert, CA', 'Palmdale, CA', 'Palo Alto, CA', 'Paramount, CA', 'Parma, OH', 'Pasadena, TX', 'Pasco, WA', 'Passaic, NJ', 'Paterson, NJ', 'Pawtucket, RI', 'Peabody, MA', 'Pembroke Pines, FL', 'Pensacola, FL', 'Peoria, AZ', 'Perris, CA', 'Perth Amboy, NJ', 'Petaluma, CA', 'Pflugerville, TX', 'Pharr, TX', 'Philadelphia, PA', 'Phoenix, AZ', 'Pico Rivera, CA', 'Pierre, SD', 'Pinellas Park, FL', 'Pittsburg, CA', 'Pittsburgh, PA', 'Placentia, CA', 'Plainfield, NJ', 'Plano, TX', 'Plantation, FL', 'Pleasanton, CA', 'Plymouth, MN', 'Pocatello, ID', 'Pomona, CA', 'Pompano Beach, FL', 'Pontiac, MI', 'Port Arthur, TX', 'Port Orange, FL', 'Port Saint Lucie, FL', 'Porterville, CA', 'Portland, OR', 'Portsmouth, VA', 'Providence, RI', 'Provo, UT', 'Pueblo, CO', 'Quincy, MA', 'Racine, WI', 'Raleigh, NC', 'Rancho Cordova, CA', 'Rancho Cucamonga, CA', 'Rapid City, SD', 'Reading, PA', 'Redding, CA', 'Redlands, CA', 'Redmond, WA', 'Redondo Beach, CA', 'Redwood City, CA', 'Reno, NV', 'Renton, WA', 'Revere, MA', 'Rialto, CA', 'Richardson, TX', 'Richland, WA', 'Richmond, VA', 'Rio Rancho, NM', 'Riverside, CA', 'Roanoke, VA', 'Rochester Hills, MI', 'Rochester, NY', 'Rock Hill, SC', 'Rockford, IL', 'Rocklin, CA', 'Rockville, MD', 'Rocky Mount, NC', 'Rogers, AR', 'Rosemead, CA', 'Roseville, CA', 'Roswell, GA', 'Round Rock, TX', 'Rowlett, TX', 'Royal Oak, MI', 'Sacramento, CA', 'Saint Charles, MO', 'Saint Clair Shores, MI', 'Saint Cloud, MN', 'Saint George, UT', 'Saint Joseph, MO', 'Saint Louis, MO', 'Saint Paul, MN', 'Saint Peters, MO', 'Saint Petersburg, FL', 'Salem, OR', 'Salinas, CA', 'Salt Lake City, UT', 'Sammamish, WA', 'San Angelo, TX', 'San Antonio, TX', 'San Bernardino, CA', 'San Clemente, CA', 'San Diego, CA', 'San Francisco, CA', 'San Jose, CA', 'San Leandro, CA', 'San Marcos, CA', 'San Mateo, CA', 'San Rafael, CA', 'San Ramon, CA', 'Sandy Springs, GA', 'Sandy, UT', 'Sanford, FL', 'Santa Ana, CA', 'Santa Barbara, CA', 'Santa Clara, CA', 'Santa Clarita, CA', 'Santa Cruz, CA', 'Santa Fe, NM', 'Santa Maria, CA', 'Santa Monica, CA', 'Santa Rosa, CA', 'Santee, CA', 'Sarasota, FL', 'Savannah, GA', 'Schenectady, NY', 'Scottsdale, AZ', 'Scranton, PA', 'Seattle, WA', 'Shawnee, KS', 'Shoreline, WA', 'Shreveport, LA', 'Simi Valley, CA', 'Sioux City, IA', 'Sioux Falls, SD', 'Smyrna, GA', 'Somerville, MA', 'South Bend, IN', 'South Fulton, GA', 'South Gate, CA', 'South Jordan, UT', 'South San Francisco, CA', 'Southaven, MS', 'Southfield, MI', 'Sparks, NV', 'Spokane Valley, WA', 'Spokane, WA', 'Springdale, AR', 'Springfield, IL', 'Springfield, MO', 'Stamford, CT', 'Sterling Heights, MI', 'Stillwater, OK', 'Stockton, CA', 'Stonecrest, GA', 'Suffolk, VA', 'Sugar Land, TX', 'Sunnyvale, CA', 'Sunrise, FL', 'Surprise, AZ', 'Syracuse, NY', 'Tacoma, WA', 'Tallahassee, FL', 'Tamarac, FL', 'Tampa, FL', 'Taunton, MA', 'Taylor, MI', 'Taylorsville, UT', 'Temecula, CA', 'Tempe, AZ', 'Temple, TX', 'Terre Haute, IN', 'Texas City, TX', 'Thornton, CO', 'Thousand Oaks, CA', 'Tigard, OR', 'Toledo, OH', 'Topeka, KS', 'Torrance, CA', 'Tracy, CA', 'Trenton, NJ', 'Troy, MI', 'Tucson, AZ', 'Tulare, CA', 'Tulsa, OK', 'Turlock, CA', 'Tuscaloosa, AL', 'Tustin, CA', 'Twin Falls, ID', 'Tyler, TX', 'Union City, CA', 'Upland, CA', 'Utica, NY', 'Vacaville, CA', 'Valdosta, GA', 'Vallejo, CA', 'Vancouver, WA', 'Ventura, CA', 'Victoria, TX', 'Victorville, CA', 'Vineland, NJ', 'Virginia Beach, VA', 'Visalia, CA', 'Vista, CA', 'Waco, TX', 'Walnut Creek, CA', 'Waltham, MA', 'Warner Robins, GA', 'Warren, MI', 'Warwick, RI', 'Washington, DC', 'Waterbury, CT', 'Waterloo, IA', 'Watsonville, CA', 'Waukegan, IL', 'Waukesha, WI', 'West Allis, WI', 'West Covina, CA', 'West Des Moines, IA', 'West Haven, CT', 'West Jordan, UT', 'West Lafayette, IN', 'West Palm Beach, FL', 'West Sacramento, CA', 'West Valley City, UT', 'Westland, MI', 'Westminster, CO', 'Weston, FL', 'Weymouth Town, MA', 'Weymouth, MA', 'Wheaton, IL', 'White Plains, NY', 'Whittier, CA', 'Wichita Falls, TX', 'Wichita, KS', 'Wilmington, NC', 'Winston Salem, NC', 'Woodbury, MN', 'Woodland, CA', 'Worcester, MA', 'Wylie, TX', 'Wyoming, MI', 'Yakima, WA', 'Yonkers, NY', 'Yorba Linda, CA', 'Youngstown, OH', 'Yucaipa, CA', 'Yuma, AZ']
710

In [ ]:
pop = pop.rename(columns={"name": "city", "stname": "state", "popestimate2019":"population"})

In [ ]:
pop['city'].iloc[301] = 'Port Saint Lucie'
pop['city'].iloc[302] = 'Saint Cloud'
pop['city'].iloc[303] = 'Saint Petersburg'
pop['city'].iloc[480] = 'Saint Clair Shores'
pop['city'].iloc[505] = 'Saint Cloud'
pop['city'].iloc[506] = 'Saint Paul'
pop['city'].iloc[522] = 'Saint Charles'
pop['city'].iloc[523] = 'Saint Joseph'
pop['city'].iloc[524] = 'Saint Louis'
pop['city'].iloc[525] = 'Saint Peters'
pop['city'].iloc[794] = 'Saint George'
pop['city'].iloc[570] = 'New York City'
pop['city-state'] = pop['city'] + ', ' + pop['postal']

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
overlap = pop[pop['city-state'].isin(full_list)]
overlap.nunique()

city          690
state          46
postal         46
city-state    691
population    689
dtype: int64

In [ ]:
pop_unique = list(pop['city-state'].unique())

In [ ]:
weather_unique = list(weather['city_state'].unique())

In [ ]:
weather_set = set(weather_unique)
pop_set = set(pop_unique)

In [ ]:
# CHECK overlapping cities in weather / pop
weather_cities = list(weather['city_state'].unique())
pop_cities = list(pop['city-state'].unique())

intersection, rem_w, rem_p = check_lists_diff(weather_cities, pop_cities)

Intersection between lists: ['Akron, OH', 'Alameda, CA', 'Albany, NY', 'Albuquerque, NM', 'Alexandria, VA', 'Alhambra, CA', 'Aliso Viejo, CA', 'Allen, TX', 'Allentown, PA', 'Alpharetta, GA', 'Amarillo, TX', 'Ames, IA', 'Anaheim, CA', 'Anderson, IN', 'Ankeny, IA', 'Ann Arbor, MI', 'Antioch, CA', 'Apopka, FL', 'Apple Valley, MN', 'Appleton, WI', 'Arcadia, CA', 'Arlington, TX', 'Arvada, CO', 'Asheville, NC', 'Atlanta, GA', 'Auburn, WA', 'Aurora, CO', 'Austin, TX', 'Avondale, AZ', 'Bakersfield, CA', 'Baldwin Park, CA', 'Baltimore, MD', 'Bartlett, TN', 'Baton Rouge, LA', 'Battle Creek, MI', 'Bayonne, NJ', 'Baytown, TX', 'Beaverton, OR', 'Bellevue, WA', 'Bellflower, CA', 'Bellingham, WA', 'Bend, OR', 'Bentonville, AR', 'Berkeley, CA', 'Berwyn, IL', 'Bethlehem, PA', 'Billings, MT', 'Birmingham, AL', 'Bismarck, ND', 'Blaine, MN', 'Bloomington, IN', 'Blue Springs, MO', 'Boca Raton, FL', 'Bonita Springs, FL', 'Bossier City, LA', 'Boston, MA', 'Boulder, CO', 'Bowie, MD', 'Bowling Green, KY', 'Boynton Beach, FL', 'Bradenton, FL', 'Brentwood, CA', 'Bridgeport, CT', 'Bristol, CT', 'Brockton, MA', 'Broken Arrow, OK', 'Brookhaven, GA', 'Brooklyn Park, MN', 'Broomfield, CO', 'Brownsville, TX', 'Bryan, TX', 'Buckeye, AZ', 'Buena Park, CA', 'Buffalo, NY', 'Burbank, CA', 'Burien, WA', 'Burlington, NC', 'Burnsville, MN', 'Caldwell, ID', 'Camarillo, CA', 'Cambridge, MA', 'Camden, NJ', 'Canton, OH', 'Cape Coral, FL', 'Carlsbad, CA', 'Carmel, IN', 'Carrollton, TX', 'Carson, CA', 'Casa Grande, AZ', 'Casper, WY', 'Cathedral City, CA', 'Cedar Park, TX', 'Cedar Rapids, IA', 'Centennial, CO', 'Champaign, IL', 'Chandler, AZ', 'Charleston, SC', 'Charlotte, NC', 'Chattanooga, TN', 'Chesapeake, VA', 'Cheyenne, WY', 'Chicago, IL', 'Chico, CA', 'Chicopee, MA', 'Chino Hills, CA', 'Chino, CA', 'Chula Vista, CA', 'Cincinnati, OH', 'Citrus Heights, CA', 'Clarksville, TN', 'Clearwater, FL', 'Cleveland, OH', 'Clifton, NJ', 'Clovis, CA', 'Coconut Creek, FL', "Coeur d'Alene, ID", 'College Station, TX', 'Colorado Springs, CO', 'Colton, CA', 'Columbia, SC', 'Columbus, OH', 'Commerce City, CO', 'Concord, CA', 'Conroe, TX', 'Conway, AR', 'Coon Rapids, MN', 'Coral Springs, FL', 'Corona, CA', 'Corpus Christi, TX', 'Corvallis, OR', 'Costa Mesa, CA', 'Council Bluffs, IA', 'Cranston, RI', 'Cupertino, CA', 'Dallas, TX', 'Daly City, CA', 'Danbury, CT', 'Davenport, IA', 'Davis, CA', 'Dayton, OH', 'Daytona Beach, FL', 'DeSoto, TX', 'Dearborn Heights, MI', 'Dearborn, MI', 'Decatur, IL', 'Deerfield Beach, FL', 'Delano, CA', 'Delray Beach, FL', 'Deltona, FL', 'Denton, TX', 'Denver, CO', 'Des Moines, IA', 'Des Plaines, IL', 'Detroit, MI', 'Diamond Bar, CA', 'Doral, FL', 'Dothan, AL', 'Downey, CA', 'Dublin, CA', 'Dubuque, IA', 'Duluth, MN', 'Durham, NC', 'Eagan, MN', 'East Orange, NJ', 'Eastvale, CA', 'Eau Claire, WI', 'Eden Prairie, MN', 'Edina, MN', 'Edinburg, TX', 'Edmond, OK', 'El Cajon, CA', 'El Monte, CA', 'El Paso, TX', 'Elgin, IL', 'Elizabeth, NJ', 'Elk Grove, CA', 'Elkhart, IN', 'Elyria, OH', 'Encinitas, CA', 'Erie, PA', 'Escondido, CA', 'Euless, TX', 'Evanston, IL', 'Evansville, IN', 'Everett, WA', 'Fairfield, CA', 'Fall River, MA', 'Farmington Hills, MI', 'Fayetteville, NC', 'Federal Way, WA', 'Fishers, IN', 'Flagstaff, AZ', 'Flint, MI', 'Florissant, MO', 'Folsom, CA', 'Fontana, CA', 'Fort Lauderdale, FL', 'Fort Myers, FL', 'Fort Smith, AR', 'Fort Wayne, IN', 'Fort Worth, TX', 'Fountain Valley, CA', 'Framingham, MA', 'Franklin, TN', 'Frederick, MD', 'Fremont, CA', 'Fresno, CA', 'Frisco, TX', 'Fullerton, CA', 'Gainesville, FL', 'Gaithersburg, MD', 'Galveston, TX', 'Gardena, CA', 'Garland, TX', 'Gary, IN', 'Gastonia, NC', 'Georgetown, TX', 'Gilroy, CA', 'Glendale, AZ', 'Glendora, CA', 'Goodyear, AZ', 'Grand Forks, ND', 'Grand Island, NE', 'Grand Junction, CO', 'Grand Prairie, TX', 'Grand Rapids, MI', 'Grapevine, TX', 'Great Falls, MT', 'Greeley, CO', 'Green Bay, WI', 'Greensboro, NC', 'Greenville, NC', 'Greenwood, IN', 'Gresham, OR', 'Gulfport, MS', 'Hamilton, OH', 'Hammond, IN', 'Hanford, CA', 'Harlingen, TX', 'Harrisonburg, VA', 'Hartford, CT', 'Haverhill, MA', 'Hawthorne, CA', 'Hayward, CA', 'Hemet, CA', 'Henderson, NV', 'Hendersonville, TN', 'Herriman, UT', 'Hesperia, CA', 'Hialeah, FL', 'High Point, NC', 'Highland, CA', 'Hillsboro, OR', 'Hoboken, NJ', 'Hollywood, FL', 'Homestead, FL', 'Honolulu, HI', 'Hoover, AL', 'Houston, TX', 'Huntington Beach, CA', 'Huntington Park, CA', 'Huntsville, AL', 'Idaho Falls, ID', 'Indianapolis, IN', 'Indio, CA', 'Inglewood, CA', 'Iowa City, IA', 'Irvine, CA', 'Irving, TX', 'Jackson, MS', 'Jacksonville, FL', 'Janesville, WI', 'Jersey City, NJ', 'Johns Creek, GA', 'Johnson City, TN', 'Joliet, IL', 'Jonesboro, AR', 'Joplin, MO', 'Jurupa Valley, CA', 'Kalamazoo, MI', 'Kannapolis, NC', 'Kansas City, MO', 'Kenner, LA', 'Kennewick, WA', 'Kenosha, WI', 'Kent, WA', 'Kentwood, MI', 'Kettering, OH', 'Killeen, TX', 'Kingsport, TN', 'Kirkland, WA', 'Kissimmee, FL', 'Knoxville, TN', 'Kokomo, IN', 'La Crosse, WI', 'La Habra, CA', 'La Mesa, CA', 'Lacey, WA', 'Lafayette, LA', 'Laguna Niguel, CA', 'Lake Charles, LA', 'Lake Elsinore, CA', 'Lake Forest, CA', 'Lake Havasu City, AZ', 'Lakeland, FL', 'Lakeville, MN', 'Lakewood, CO', 'Lancaster, CA', 'Lansing, MI', 'Laredo, TX', 'Largo, FL', 'Las Cruces, NM', 'Las Vegas, NV', 'Lauderhill, FL', 'Lawrence, KS', 'Lawton, OK', 'Layton, UT', 'League City, TX', 'Leander, TX', "Lee's Summit, MO", 'Lehi, UT', 'Lenexa, KS', 'Lewisville, TX', 'Lincoln, NE', 'Little Elm, TX', 'Little Rock, AR', 'Livermore, CA', 'Livonia, MI', 'Lodi, CA', 'Logan, UT', 'Long Beach, CA', 'Longmont, CO', 'Longview, TX', 'Lorain, OH', 'Los Angeles, CA', 'Loveland, CO', 'Lowell, MA', 'Lubbock, TX', 'Lynchburg, VA', 'Lynn, MA', 'Lynwood, CA', 'Madera, CA', 'Madison, WI', 'Malden, MA', 'Manchester, NH', 'Manhattan, KS', 'Mansfield, TX', 'Manteca, CA', 'Maple Grove, MN', 'Margate, FL', 'Maricopa, AZ', 'Marietta, GA', 'Marysville, WA', 'McAllen, TX', 'McKinney, TX', 'Medford, OR', 'Melbourne, FL', 'Memphis, TN', 'Menifee, CA', 'Merced, CA', 'Meriden, CT', 'Meridian, ID', 'Mesa, AZ', 'Mesquite, TX', 'Miami Beach, FL', 'Miami Gardens, FL', 'Miami, FL', 'Midland, TX', 'Midwest City, OK', 'Milford, CT', 'Millcreek, UT', 'Milpitas, CA', 'Milwaukee, WI', 'Minneapolis, MN', 'Minnetonka, MN', 'Miramar, FL', 'Mishawaka, IN', 'Mission Viejo, CA', 'Mission, TX', 'Missoula, MT', 'Missouri City, TX', 'Mobile, AL', 'Modesto, CA', 'Montebello, CA', 'Monterey Park, CA', 'Montgomery, AL', 'Moore, OK', 'Moreno Valley, CA', 'Mount Vernon, NY', 'Mountain View, CA', 'Muncie, IN', 'Murfreesboro, TN', 'Nampa, ID', 'Napa, CA', 'Naperville, IL', 'Nashua, NH', 'National City, CA', 'New Bedford, MA', 'New Braunfels, TX', 'New Britain, CT', 'New Brunswick, NJ', 'New Haven, CT', 'New Orleans, LA', 'New Rochelle, NY', 'New York City, NY', 'Newark, NJ', 'Newport Beach, CA', 'Newport News, VA', 'Newton, MA', 'Noblesville, IN', 'Norfolk, VA', 'Norman, OK', 'North Charleston, SC', 'North Las Vegas, NV', 'North Little Rock, AR', 'North Miami, FL', 'North Port, FL', 'North Richland Hills, TX', 'Norwalk, CA', 'Novato, CA', 'Novi, MI', "O'Fallon, MO", 'Oakland, CA', 'Ocala, FL', 'Oceanside, CA', 'Ogden, UT', 'Oklahoma City, OK', 'Olathe, KS', 'Olympia, WA', 'Omaha, NE', 'Ontario, CA', 'Orange, CA', 'Orem, UT', 'Orlando, FL', 'Oshkosh, WI', 'Overland Park, KS', 'Owensboro, KY', 'Oxnard, CA', 'Palm Bay, FL', 'Palm Beach Gardens, FL', 'Palm Coast, FL', 'Palm Desert, CA', 'Palmdale, CA', 'Palo Alto, CA', 'Paramount, CA', 'Parma, OH', 'Pasadena, TX', 'Pasco, WA', 'Passaic, NJ', 'Paterson, NJ', 'Pawtucket, RI', 'Peabody, MA', 'Pensacola, FL', 'Peoria, AZ', 'Perris, CA', 'Perth Amboy, NJ', 'Petaluma, CA', 'Pflugerville, TX', 'Pharr, TX', 'Philadelphia, PA', 'Phoenix, AZ', 'Pico Rivera, CA', 'Pinellas Park, FL', 'Pittsburg, CA', 'Pittsburgh, PA', 'Placentia, CA', 'Plainfield, NJ', 'Plano, TX', 'Plantation, FL', 'Pleasanton, CA', 'Plymouth, MN', 'Pocatello, ID', 'Pomona, CA', 'Pompano Beach, FL', 'Pontiac, MI', 'Port Arthur, TX', 'Port Orange, FL', 'Port Saint Lucie, FL', 'Porterville, CA', 'Portland, OR', 'Portsmouth, VA', 'Providence, RI', 'Pueblo, CO', 'Quincy, MA', 'Racine, WI', 'Raleigh, NC', 'Rancho Cordova, CA', 'Rancho Cucamonga, CA', 'Rapid City, SD', 'Reading, PA', 'Redding, CA', 'Redlands, CA', 'Redmond, WA', 'Redondo Beach, CA', 'Redwood City, CA', 'Reno, NV', 'Renton, WA', 'Revere, MA', 'Rialto, CA', 'Richardson, TX', 'Richland, WA', 'Richmond, VA', 'Rio Rancho, NM', 'Riverside, CA', 'Roanoke, VA', 'Rochester Hills, MI', 'Rochester, NY', 'Rock Hill, SC', 'Rockford, IL', 'Rocklin, CA', 'Rockville, MD', 'Rocky Mount, NC', 'Rogers, AR', 'Rosemead, CA', 'Roseville, CA', 'Roswell, GA', 'Round Rock, TX', 'Rowlett, TX', 'Royal Oak, MI', 'Sacramento, CA', 'Saint Charles, MO', 'Saint Clair Shores, MI', 'Saint Cloud, MN', 'Saint George, UT', 'Saint Joseph, MO', 'Saint Louis, MO', 'Saint Paul, MN', 'Saint Peters, MO', 'Saint Petersburg, FL', 'Salem, OR', 'Salinas, CA', 'Salt Lake City, UT', 'Sammamish, WA', 'San Angelo, TX', 'San Antonio, TX', 'San Bernardino, CA', 'San Clemente, CA', 'San Diego, CA', 'San Francisco, CA', 'San Jose, CA', 'San Leandro, CA', 'San Marcos, CA', 'San Mateo, CA', 'San Rafael, CA', 'San Ramon, CA', 'Sandy Springs, GA', 'Sandy, UT', 'Sanford, FL', 'Santa Ana, CA', 'Santa Barbara, CA', 'Santa Clara, CA', 'Santa Clarita, CA', 'Santa Cruz, CA', 'Santa Fe, NM', 'Santa Maria, CA', 'Santa Monica, CA', 'Santa Rosa, CA', 'Santee, CA', 'Sarasota, FL', 'Savannah, GA', 'Schenectady, NY', 'Scottsdale, AZ', 'Scranton, PA', 'Seattle, WA', 'Shawnee, KS', 'Shoreline, WA', 'Shreveport, LA', 'Simi Valley, CA', 'Sioux City, IA', 'Sioux Falls, SD', 'Smyrna, GA', 'Somerville, MA', 'South Bend, IN', 'South Fulton, GA', 'South Gate, CA', 'South Jordan, UT', 'South San Francisco, CA', 'Southaven, MS', 'Southfield, MI', 'Sparks, NV', 'Spokane Valley, WA', 'Spokane, WA', 'Springdale, AR', 'Springfield, IL', 'Springfield, MO', 'Stamford, CT', 'Sterling Heights, MI', 'Stillwater, OK', 'Stockton, CA', 'Stonecrest, GA', 'Suffolk, VA', 'Sugar Land, TX', 'Sunnyvale, CA', 'Sunrise, FL', 'Surprise, AZ', 'Syracuse, NY', 'Tacoma, WA', 'Tallahassee, FL', 'Tamarac, FL', 'Tampa, FL', 'Taunton, MA', 'Taylor, MI', 'Taylorsville, UT', 'Temecula, CA', 'Tempe, AZ', 'Temple, TX', 'Terre Haute, IN', 'Texas City, TX', 'Thornton, CO', 'Thousand Oaks, CA', 'Tigard, OR', 'Toledo, OH', 'Topeka, KS', 'Torrance, CA', 'Tracy, CA', 'Trenton, NJ', 'Troy, MI', 'Tucson, AZ', 'Tulare, CA', 'Tulsa, OK', 'Turlock, CA', 'Tuscaloosa, AL', 'Tustin, CA', 'Twin Falls, ID', 'Tyler, TX', 'Union City, CA', 'Upland, CA', 'Utica, NY', 'Vacaville, CA', 'Valdosta, GA', 'Vallejo, CA', 'Vancouver, WA', 'Victoria, TX', 'Victorville, CA', 'Vineland, NJ', 'Virginia Beach, VA', 'Visalia, CA', 'Vista, CA', 'Waco, TX', 'Walnut Creek, CA', 'Waltham, MA', 'Warner Robins, GA', 'Warren, MI', 'Warwick, RI', 'Washington, DC', 'Waterbury, CT', 'Waterloo, IA', 'Watsonville, CA', 'Waukegan, IL', 'Waukesha, WI', 'West Allis, WI', 'West Covina, CA', 'West Des Moines, IA', 'West Haven, CT', 'West Lafayette, IN', 'West Palm Beach, FL', 'West Sacramento, CA', 'West Valley City, UT', 'Westland, MI', 'Westminster, CO', 'Weston, FL', 'Wheaton, IL', 'White Plains, NY', 'Whittier, CA', 'Wichita Falls, TX', 'Wichita, KS', 'Woodbury, MN']
Length of Intersection: 667
List1 Remainder: ['Annapolis, MD', 'Augusta, ME', 'Boise, ID', 'Carson City, NV', 'Charleston, WV', 'Concord, NH', 'Dover, DE', 'Frankfort, KY', 'Harrisburg, PA', 'Helena, MT', 'Jefferson City, MO', 'Juneau, AK', 'Methuen, MA', 'Montpelier, VT', 'Nashville, TN', 'Pierre, SD', 'Ventura, CA', 'Weymouth Town, MA', 'Winston Salem, NC']
Length of List1 Remainder: 19
List2 Remainder: ['Abilene (pt.), TX', 'Abilene, TX', 'Albany, GA', 'Albany, OR', 'Amarillo (pt.), TX', 'Anchorage, AK', 'Anderson (pt.), IN', 'Appleton (pt.), WI', 'Arvada (pt.), CO', 'Atlanta (pt.), GA', 'Auburn (pt.), WA', 'Auburn, AL', 'Aurora (pt.), CO', 'Aurora (pt.), IL', 'Aurora, IL', 'Austin (pt.), TX', 'Baytown (pt.), TX', 'Beaumont, CA', 'Beaumont, TX', 'Bellevue, NE', 'Bethlehem (pt.), PA', 'Birmingham (pt.), AL', 'Blaine (pt.), MN', 'Bloomington, IL', 'Bloomington, MN', 'Boise City, ID', 'Broken Arrow (pt.), OK', 'Burlington (pt.), NC', 'Carmel (pt.), IN', 'Carrollton (pt.), TX', 'Cedar Park (pt.), TX', 'Charleston (pt.), SC', 'Chicago (pt.), IL', 'Columbia (pt.), SC', 'Columbia, MO', 'Columbus (pt.), OH', 'Columbus, GA', 'Compton, CA', 'Concord, NC', 'Corpus Christi (pt.), TX', 'Dallas (pt.), TX', 'Dayton (pt.), OH', 'Decatur (pt.), AL', 'Decatur, AL', 'Des Moines (pt.), IA', 'Dothan (pt.), AL', 'Durham (pt.), NC', 'Eau Claire (pt.), WI', 'Elgin (pt.), IL', 'Eugene, OR', 'Evansville (pt.), IN', 'Fargo, ND', 'Fayetteville, AR', 'Fishers (pt.), IN', 'Fort Collins, CO', 'Fort Wayne (pt.), IN', 'Fort Worth (pt.), TX', 'Frisco (pt.), TX', 'Garden Grove, CA', 'Garland (pt.), TX', 'Gary (pt.), IN', 'Glendale, CA', 'Grand Prairie (pt.), TX', 'Grapevine (pt.), TX', 'Greenville, SC', 'Hampton, VA', 'Hawaii, HI', 'High Point (pt.), NC', 'Hoover (pt.), AL', 'Houston (pt.), TX', 'Huntsville (pt.), AL', 'Independence (pt.), MO', 'Independence, MO', 'Indianapolis (balance) (pt.), IN', 'Indianapolis (balance), IN', 'Jackson (pt.), MS', 'Jackson, TN', 'Jacksonville, NC', 'Johnson City (pt.), TN', 'Joliet (pt.), IL', 'Kansas City (pt.), MO', 'Kansas City, KS', 'Kauai, HI', 'Kettering (pt.), OH', 'Kingsport (pt.), TN', 'Lafayette, IN', 'Lakewood, CA', 'Lakewood, WA', 'Lancaster, PA', 'Lansing (pt.), MI', 'Lawrence, MA', 'League City (pt.), TX', 'Leander (pt.), TX', "Lee's Summit (pt.), MO", 'Lewisville (pt.), TX', 'Longmont (pt.), CO', 'Longview (pt.), TX', 'Madison, AL', 'Manhattan (pt.), KS', 'Mansfield (pt.), TX', 'Maui, HI', 'Medford, MA', 'Mesquite (pt.), TX', 'Methuen Town, MA', 'Midland (pt.), TX', 'Milford (balance), CT', 'Milwaukee (pt.), WI', 'Missouri City (pt.), TX', 'Muncie (pt.), IN', 'Murrieta, CA', 'Naperville (pt.), IL', 'New Braunfels (pt.), TX', 'New York (pt.), NY', 'Newark, OH', 'Noblesville (pt.), IN', 'North Charleston (pt.), SC', 'Norwalk, CT', 'Odessa (pt.), TX', 'Odessa, TX', 'Oklahoma City (pt.), OK', 'Pasadena, CA', 'Pearland (pt.), TX', 'Pearland, TX', 'Pembroke Pines, FL', 'Peoria (pt.), AZ', 'Peoria (pt.), IL', 'Peoria, IL', 'Pflugerville (pt.), TX', 'Plano (pt.), TX', 'Pocatello (pt.), ID', 'Port Arthur (pt.), TX', 'Portland (pt.), OR', 'Portland, ME', 'Provo, UT', 'Raleigh (pt.), NC', 'Richardson (pt.), TX', 'Richmond, CA', 'Rio Rancho (pt.), NM', 'Rochester, MN', 'Rockford (pt.), IL', 'Roswell (pt.), GA', 'Round Rock (pt.), TX', 'Rowlett (pt.), TX', 'Saint Cloud, FL', 'Salem (pt.), OR', 'San Antonio (pt.), TX', 'San Buenaventura (Ventura), CA', 'San Marcos (pt.), TX', 'San Marcos, TX', 'Shreveport (pt.), LA', 'Sioux City (pt.), IA', 'Sioux Falls (pt.), SD', 'South Bend (pt.), IN', 'Springdale (pt.), AR', 'Springfield (pt.), IL', 'Springfield (pt.), MO', 'Springfield, MA', 'Springfield, OH', 'Springfield, OR', 'St. Cloud (pt.), MN', 'Terre Haute (pt.), IN', 'Texas City (pt.), TX', 'Thornton (pt.), CO', 'Tulsa (pt.), OK', 'Union City, NJ', 'Warner Robins (pt.), GA', 'Waukegan (pt.), IL', 'West Jordan, UT', 'West Lafayette (pt.), IN', 'Westminster (pt.), CO', 'Westminster, CA', 'Weymouth, MA', 'Wheaton (pt.), IL', 'Wilmington, DE', 'Wilmington, NC', 'Winston-Salem, NC', 'Woodland, CA', 'Worcester, MA', 'Wylie (pt.), TX', 'Wylie, TX', 'Wyoming, MI', 'Yakima, WA', 'Yonkers, NY', 'Yorba Linda, CA', 'Youngstown (pt.), OH', 'Youngstown, OH', 'Yuba City, CA', 'Yucaipa, CA', 'Yuma, AZ']
Length of list2 Remainder: 189

In [ ]:
overlap.head()

         city    state postal      city-state  population
1  Birmingham  Alabama     AL  Birmingham, AL      209403
3      Dothan  Alabama     AL      Dothan, AL       68941
4      Hoover  Alabama     AL      Hoover, AL       85768
5  Huntsville  Alabama     AL  Huntsville, AL      200574
7      Mobile  Alabama     AL      Mobile, AL      188720

In [ ]:
overlap = overlap.sort_values('population', ascending=False)
# overlap = overlap.reset_index()

In [ ]:
# overlap = overlap.reset_index()
# # overlap = overlap.rename({'index': 'id'}, axis=1)
# overlap.head()

In [ ]:
# overlap = overlap.drop('id', axis=1)
# overlap = overlap.rename({'index': 'id'}, axis=1)
# overlap.head()

In [ ]:
# overlap.to_csv(base_path + 'database_tables/keys_pop.csv')

In [ ]:
# pd.set_option("display.max_rows", 999)

In [ ]:
## Find cities in population csv that weren't queried the same way in weather and housing lists
# not_used = pop[~pop['city-state'].isin(full_list)]
# not_used[~not_used['city'].str.contains('(pt.)')]

In [ ]:
# pop[pop['city'].str.contains('New York City')]

In [ ]:
# pop['city'].loc[570] = 'New York City'

In [ ]:
weather.head()

         city postal      city_state  maxtempf  ...  year  month  day   date_time
0  Alpharetta     GA  Alpharetta, GA      51.8  ...  2015      1    1  2015-01-01
1  Alpharetta     GA  Alpharetta, GA      51.8  ...  2015      1    2  2015-01-02
2  Alpharetta     GA  Alpharetta, GA      55.4  ...  2015      1    3  2015-01-03
3  Alpharetta     GA  Alpharetta, GA      60.8  ...  2015      1    4  2015-01-04
4  Alpharetta     GA  Alpharetta, GA      44.6  ...  2015      1    5  2015-01-05

[5 rows x 25 columns]

## Begin Creating the Schema for DB

### Weather time-series table

# Connecting to the DB

## Import Packages

In [ ]:
import psycopg2
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, Float, Text, String, DateTime

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

## Database Information for Connection

In [ ]:
uri_example = r"postgres+psycopg2://myuser:mypassword@hackersdb.example.com:5432/mydatabase"
uri_broken_down = r"[DB_FLAVOR]+[DB_PYTHON_LIBRARY]://[USERNAME]:[PASSWORD]@[DB_HOST]:[PORT]/[DB_NAME]"

In [ ]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, Float, Text, String, DateTime

db_flavor = "postgres"
db_python_library = "psycopg2"
db_username = "postgres"
db_password = "UM*3tAe<ns!q!nG3"
db_host = "citrics-ds-teamc.cav8gkdxva9e.us-east-1.rds.amazonaws.com"
db_port = "5432"
db_name = "postgres"
db_uri = db_flavor + "+" + db_python_library + "://" + db_username + ":" + db_password + "@" + db_host + ":" + db_port + "/" + db_name

# CREATE engine
engine = create_engine(db_uri, echo=True)

postgres+psycopg2://postgres:UM*3tAe<ns!q!nG3@citrics-ds-teamc.cav8gkdxva9e.us-east-1.rds.amazonaws.com:5432/postgres

## Create Pop_id Table

In [ ]:
keys.head()
keys['city-state'].nunique()

666

In [ ]:
# table_name = 'pop_id'

# keys.to_sql(table_name, engine, if_exists='replace', index=False, chunksize=500,
#             dtype={
#                 "id": Integer,
#                 "city": String,
#                 "state": String,
#                 "postal": String,
#                 "city-state": String,
#                 "population": Integer
#             })

In [ ]:
sql_df = pd.read_sql(
    "SELECT * FROM pop_id",
    con=engine,
    parse_dates=[
        'created_at',
        'updated_at'
    ]
)

2020-10-14 16:28:34,762 INFO sqlalchemy.engine.base.Engine select version()
2020-10-14 16:28:34,763 INFO sqlalchemy.engine.base.Engine {}
2020-10-14 16:28:34,910 INFO sqlalchemy.engine.base.Engine select current_schema()
2020-10-14 16:28:34,910 INFO sqlalchemy.engine.base.Engine {}
2020-10-14 16:28:35,055 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-10-14 16:28:35,055 INFO sqlalchemy.engine.base.Engine {}
2020-10-14 16:28:35,128 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-10-14 16:28:35,129 INFO sqlalchemy.engine.base.Engine {}
2020-10-14 16:28:35,201 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2020-10-14 16:28:35,202 INFO sqlalchemy.engine.base.Engine {}
2020-10-14 16:28:35,345 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2020-10-14 16:28:35,346 INFO sqlalchemy.engine.base.Engine {'name': 'SELECT * FROM pop_id'}
2020-10-14 16:28:35,561 INFO sqlalchemy.engine.base.OptionEngine SELECT * FROM pop_id
2020-10-14 16:28:35,563 INFO sqlalchemy.engine.base.OptionEngine {}

In [ ]:
sql_df.head()

   id           city       state postal         city-state  population
0   0  New York City    New York     NY  New York City, NY     8336817
1   1    Los Angeles  California     CA    Los Angeles, CA     3979576
2   2        Chicago    Illinois     IL        Chicago, IL     2693976
3   3        Houston       Texas     TX        Houston, TX     2320268
4   4        Phoenix     Arizona     AZ        Phoenix, AZ     1680992

## Create Weather Table

In [ ]:
# GET list of all weather city-states
weather_cities = list(weather['city_state'].unique())
print(weather_cities)
print(len(weather_cities))

['Alpharetta, GA', 'Allentown, PA', 'Allen, TX', 'Aliso Viejo, CA', 'Alhambra, CA', 'Alexandria, VA', 'Albuquerque, NM', 'Albany, NY', 'Alameda, CA', 'Akron, OH', 'Austin, TX', 'Aurora, CO', 'Augusta, ME', 'Auburn, WA', 'Atlanta, GA', 'Asheville, NC', 'Arvada, CO', 'Arlington, TX', 'Arcadia, CA', 'Apple Valley, MN', 'Appleton, WI', 'Apopka, FL', 'Antioch, CA', 'Ann Arbor, MI', 'Annapolis, MD', 'Ankeny, IA', 'Anderson, IN', 'Anaheim, CA', 'Ames, IA', 'Amarillo, TX', 'Boulder, CO', 'Boston, MA', 'Bossier City, LA', 'Bonita Springs, FL', 'Boise, ID', 'Boca Raton, FL', 'Blue Springs, MO', 'Bloomington, IN', 'Blaine, MN', 'Bismarck, ND', 'Birmingham, AL', 'Billings, MT', 'Bethlehem, PA', 'Berwyn, IL', 'Berkeley, CA', 'Bentonville, AR', 'Bend, OR', 'Bellingham, WA', 'Bellflower, CA', 'Bellevue, WA', 'Beaverton, OR', 'Baytown, TX', 'Bayonne, NJ', 'Battle Creek, MI', 'Baton Rouge, LA', 'Bartlett, TN', 'Baltimore, MD', 'Baldwin Park, CA', 'Bakersfield, CA', 'Avondale, AZ', 'Chino Hills, CA', 'Chino, CA', 'Chicopee, MA', 'Chico, CA', 'Chicago, IL', 'Chesapeake, VA', 'Cheyenne, WY', 'Chattanooga, TN', 'Charlotte, NC', 'Charleston, WV', 'Charleston, SC', 'Chandler, AZ', 'Champaign, IL', 'Centennial, CO', 'Cedar Rapids, IA', 'Cedar Park, TX', 'Cathedral City, CA', 'Casa Grande, AZ', 'Casper, WY', 'Carson City, NV', 'Carson, CA', 'Carrollton, TX', 'Carmel, IN', 'Carlsbad, CA', 'Canton, OH', 'Cape Coral, FL', 'Camden, NJ', 'Cambridge, MA', 'Camarillo, CA', 'Caldwell, ID', 'Burnsville, MN', 'Burlington, NC', 'Burien, WA', 'Burbank, CA', 'Buffalo, NY', 'Buena Park, CA', 'Buckeye, AZ', 'Bryan, TX', 'Brownsville, TX', 'Broomfield, CO', 'Brooklyn Park, MN', 'Brookhaven, GA', 'Broken Arrow, OK', 'Brockton, MA', 'Bristol, CT', 'Bridgeport, CT', 'Brentwood, CA', 'Bradenton, FL', 'Boynton Beach, FL', 'Bowling Green, KY', 'Bowie, MD', 'Flint, MI', 'Flagstaff, AZ', 'Fishers, IN', 'Federal Way, WA', 'Fayetteville, NC', 'Farmington Hills, MI', 'Fall River, MA', 'Fairfield, CA', 'Everett, WA', 'Evansville, IN', 'Evanston, IL', 'Euless, TX', 'Escondido, CA', 'Erie, PA', 'Elyria, OH', 'El Paso, TX', 'Encinitas, CA', 'El Monte, CA', 'Elk Grove, CA', 'Elkhart, IN', 'Elizabeth, NJ', 'Elgin, IL', 'El Cajon, CA', 'Edmond, OK', 'Edinburg, TX', 'Edina, MN', 'Eden Prairie, MN', 'Eau Claire, WI', 'Eastvale, CA', 'East Orange, NJ', 'Eagan, MN', 'Durham, NC', 'Duluth, MN', 'Dubuque, IA', 'Dublin, CA', 'Downey, CA', 'Dover, DE', 'Dothan, AL', 'Doral, FL', 'Diamond Bar, CA', 'Detroit, MI', 'Des Plaines, IL', 'DeSoto, TX', 'Des Moines, IA', 'Denver, CO', 'Denton, TX', 'Deltona, FL', 'Delray Beach, FL', 'Delano, CA', 'Deerfield Beach, FL', 'Decatur, IL', 'Dearborn Heights, MI', 'Daytona Beach, FL', 'Dearborn, MI', 'Davis, CA', 'Davenport, IA', 'Dayton, OH', 'Danbury, CT', 'Daly City, CA', 'Dallas, TX', 'Cupertino, CA', 'Cranston, RI', 'Council Bluffs, IA', 'Costa Mesa, CA', 'Corvallis, OR', 'Corpus Christi, TX', 'Corona, CA', 'Coral Springs, FL', 'Coon Rapids, MN', 'Conway, AR', 'Conroe, TX', 'Concord, NH', 'Concord, CA', 'Commerce City, CO', 'Columbus, OH', 'Columbia, SC', 'Colton, CA', 'Colorado Springs, CO', 'College Station, TX', "Coeur d'Alene, ID", 'Coconut Creek, FL', 'Clovis, CA', 'Clifton, NJ', 'Cleveland, OH', 'Clearwater, FL', 'Clarksville, TN', 'Citrus Heights, CA', 'Cincinnati, OH', 'Chula Vista, CA', 'Hartford, CT', 'Harrisonburg, VA', 'Harrisburg, PA', 'Harlingen, TX', 'Hanford, CA', 'Hammond, IN', 'Hamilton, OH', 'Gulfport, MS', 'Gresham, OR', 'Greenwood, IN', 'Greenville, NC', 'Greensboro, NC', 'Green Bay, WI', 'Greeley, CO', 'Great Falls, MT', 'Grapevine, TX', 'Grand Rapids, MI', 'Grand Prairie, TX', 'Grand Junction, CO', 'Grand Island, NE', 'Grand Forks, ND', 'Goodyear, AZ', 'Glendora, CA', 'Glendale, AZ', 'Gilroy, CA', 'Georgetown, TX', 'Gastonia, NC', 'Gary, IN', 'Garland, TX', 'Gardena, CA', 'Galveston, TX', 'Gaithersburg, MD', 'Gainesville, FL', 'Fullerton, CA', 'Frisco, TX', 'Fresno, CA', 'Fremont, CA', 'Frederick, MD', 'Franklin, TN', 'Frankfort, KY', 'Framingham, MA', 'Fountain Valley, CA', 'Fort Worth, TX', 'Fort Wayne, IN', 'Fort Smith, AR', 'Fort Myers, FL', 'Fort Lauderdale, FL', 'Folsom, CA', 'Fontana, CA', 'Florissant, MO', 'Lubbock, TX', 'Lowell, MA', 'Loveland, CO', 'Los Angeles, CA', 'Lorain, OH', 'Longview, TX', 'Long Beach, CA', 'Longmont, CO', 'Logan, UT', 'Lodi, CA', 'Livonia, MI', 'Livermore, CA', 'Little Rock, AR', 'Little Elm, TX', 'Lincoln, NE', 'Lewisville, TX', 'Lenexa, KS', 'Lehi, UT', "Lee's Summit, MO", 'Leander, TX', 'League City, TX', 'Layton, UT', 'Lawton, OK', 'Lawrence, KS', 'Lauderhill, FL', 'Las Vegas, NV', 'Las Cruces, NM', 'Largo, FL', 'Laredo, TX', 'Lansing, MI', 'La Mesa, CA', 'Lancaster, CA', 'Lakewood, CO', 'Lakeville, MN', 'Lake Havasu City, AZ', 'Lakeland, FL', 'Lake Forest, CA', 'Lake Charles, LA', 'Lake Elsinore, CA', 'La Habra, CA', 'Laguna Niguel, CA', 'Lafayette, LA', 'La Crosse, WI', 'Lacey, WA', 'Kokomo, IN', 'Knoxville, TN', 'Kirkland, WA', 'Kissimmee, FL', 'Kingsport, TN', 'Killeen, TX', 'Kettering, OH', 'Kentwood, MI', 'Kent, WA', 'Kenosha, WI', 'Kennewick, WA', 'Kenner, LA', 'Kansas City, MO', 'Kannapolis, NC', 'Kalamazoo, MI', 'Jurupa Valley, CA', 'Juneau, AK', 'Joplin, MO', 'Jonesboro, AR', 'Joliet, IL', 'Johnson City, TN', 'Johns Creek, GA', 'Jersey City, NJ', 'Jefferson City, MO', 'Janesville, WI', 'Jacksonville, FL', 'Jackson, MS', 'Irving, TX', 'Irvine, CA', 'Iowa City, IA', 'Inglewood, CA', 'Indio, CA', 'Indianapolis, IN', 'Idaho Falls, ID', 'Huntsville, AL', 'Huntington Park, CA', 'Huntington Beach, CA', 'Houston, TX', 'Hoover, AL', 'Honolulu, HI', 'Homestead, FL', 'Hollywood, FL', 'Hoboken, NJ', 'High Point, NC', 'Hillsboro, OR', 'Highland, CA', 'Hialeah, FL', 'Hesperia, CA', 'Herriman, UT', 'Hendersonville, TN', 'Henderson, NV', 'Hayward, CA', 'Hemet, CA', 'Helena, MT', 'Hawthorne, CA', 'Haverhill, MA', 'Oceanside, CA', 'Ocala, FL', 'Oakland, CA', 'Novi, MI', 'Novato, CA', 'Norwalk, CA', 'North Richland Hills, TX', 'North Port, FL', 'North Little Rock, AR', 'North Miami, FL', 'North Las Vegas, NV', 'North Charleston, SC', 'Norman, OK', 'Norfolk, VA', 'Noblesville, IN', 'New York City, NY', 'Newton, MA', 'New Rochelle, NY', 'Newport News, VA', 'Newport Beach, CA', 'New Orleans, LA', 'New Haven, CT', 'New Brunswick, NJ', 'New Britain, CT', 'New Braunfels, TX', 'New Bedford, MA', 'Newark, NJ', 'National City, CA', 'Nashville, TN', 'Nashua, NH', 'Naperville, IL', 'Napa, CA', 'Nampa, ID', 'Murfreesboro, TN', 'Muncie, IN', 'Mount Vernon, NY', 'Mountain View, CA', 'Moreno Valley, CA', 'Moore, OK', 'Montpelier, VT', 'Montgomery, AL', 'Monterey Park, CA', 'Montebello, CA', 'Modesto, CA', 'Mobile, AL', 'Missouri City, TX', 'Missoula, MT', 'Mission Viejo, CA', 'Mission, TX', 'Mishawaka, IN', 'Miramar, FL', 'Minnetonka, MN', 'Minneapolis, MN', 'Milwaukee, WI', 'Milpitas, CA', 'Millcreek, UT', 'Milford, CT', 'Midland, TX', 'Midwest City, OK', 'Miami Gardens, FL', 'Miami Beach, FL', 'Miami, FL', 'Methuen, MA', 'Mesquite, TX', 'Mesa, AZ', 'Meridian, ID', 'Meriden, CT', 'Merced, CA', 'Menifee, CA', 'Memphis, TN', 'Melbourne, FL', 'Medford, OR', 'McAllen, TX', 'McKinney, TX', 'Maricopa, AZ', 'Marietta, GA', 'Marysville, WA', 'Margate, FL', 'Maple Grove, MN', 'Manteca, CA', 'Mansfield, TX', 'Manhattan, KS', 'Manchester, NH', 'Malden, MA', 'Madison, WI', 'Madera, CA', 'Lynwood, CA', 'Lynn, MA', 'Lynchburg, VA', 'Saint Charles, MO', 'Sacramento, CA', 'Royal Oak, MI', 'Rowlett, TX', 'Round Rock, TX', 'Roswell, GA', 'Roseville, CA', 'Rosemead, CA', 'Rogers, AR', 'Rocky Mount, NC', 'Rockville, MD', 'Rocklin, CA', 'Rock Hill, SC', 'Rockford, IL', 'Rochester Hills, MI', 'Rochester, NY', 'Roanoke, VA', 'Riverside, CA', 'Rio Rancho, NM', 'Richmond, VA', 'Richland, WA', 'Richardson, TX', 'Rialto, CA', 'Revere, MA', 'Renton, WA', 'Reno, NV', 'Redwood City, CA', 'Redondo Beach, CA', 'Redmond, WA', 'Redlands, CA', 'Redding, CA', 'Reading, PA', 'Rapid City, SD', 'Rancho Cucamonga, CA', 'Rancho Cordova, CA', 'Quincy, MA', 'Raleigh, NC', 'Racine, WI', 'Pueblo, CO', 'Providence, RI', 'Portsmouth, VA', 'Port Saint Lucie, FL', 'Port Orange, FL', 'Portland, OR', 'Porterville, CA', 'Port Arthur, TX', 'Pontiac, MI', 'Pompano Beach, FL', 'Pomona, CA', 'Pocatello, ID', 'Plymouth, MN', 'Pleasanton, CA', 'Plantation, FL', 'Plano, TX', 'Plainfield, NJ', 'Placentia, CA', 'Pittsburgh, PA', 'Pittsburg, CA', 'Pinellas Park, FL', 'Pierre, SD', 'Petaluma, CA', 'Pico Rivera, CA', 'Phoenix, AZ', 'Philadelphia, PA', 'Pharr, TX', 'Pflugerville, TX', 'Perth Amboy, NJ', 'Perris, CA', 'Peoria, AZ', 'Pensacola, FL', 'Peabody, MA', 'Pawtucket, RI', 'Passaic, NJ', 'Pasco, WA', 'Paterson, NJ', 'Pasadena, TX', 'Parma, OH', 'Paramount, CA', 'Palo Alto, CA', 'Palm Desert, CA', 'Palmdale, CA', 'Palm Coast, FL', 'Palm Beach Gardens, FL', 'Palm Bay, FL', 'Oxnard, CA', 'Owensboro, KY', 'Overland Park, KS', 'Oshkosh, WI', 'Orlando, FL', 'Orem, UT', 'Orange, CA', 'Ontario, CA', 'Omaha, NE', 'Olympia, WA', 'Olathe, KS', 'Oklahoma City, OK', 'Ogden, UT', "O'Fallon, MO", 'Southaven, MS', 'Somerville, MA', 'Smyrna, GA', 'Sioux Falls, SD', 'Sioux City, IA', 'Simi Valley, CA', 'Shreveport, LA', 'Shoreline, WA', 'Seattle, WA', 'Shawnee, KS', 'Scranton, PA', 'Scottsdale, AZ', 'Schenectady, NY', 'Savannah, GA', 'Sarasota, FL', 'Santee, CA', 'Santa Rosa, CA', 'Santa Monica, CA', 'Santa Maria, CA', 'Santa Fe, NM', 'Santa Cruz, CA', 'Santa Clarita, CA', 'Santa Clara, CA', 'Santa Barbara, CA', 'Santa Ana, CA', 'San Ramon, CA', 'San Rafael, CA', 'San Mateo, CA', 'San Marcos, CA', 'San Leandro, CA', 'San Jose, CA', 'San Francisco, CA', 'Sanford, FL', 'Sandy Springs, GA', 'Sandy, UT', 'San Diego, CA', 'San Clemente, CA', 'Ventura, CA', 'San Bernardino, CA', 'San Antonio, TX', 'San Angelo, TX', 'Sammamish, WA', 'Salt Lake City, UT', 'Salinas, CA', 'Salem, OR', 'Saint Petersburg, FL', 'Saint Peters, MO', 'Saint Paul, MN', 'Saint Joseph, MO', 'Saint George, UT', 'Saint Louis, MO', 'Saint Clair Shores, MI', 'Saint Cloud, MN', 'Woodbury, MN', 'Winston Salem, NC', 'Wichita, KS', 'Wichita Falls, TX', 'White Plains, NY', 'Whittier, CA', 'Wheaton, IL', 'Weymouth Town, MA', 'West Valley City, UT', 'West Sacramento, CA', 'West Palm Beach, FL', 'Weston, FL', 'Westland, MI', 'Westminster, CO', 'West Lafayette, IN', 'West Haven, CT', 'West Des Moines, IA', 'West Covina, CA', 'West Allis, WI', 'Waukesha, WI', 'Waukegan, IL', 'Watsonville, CA', 'Waterloo, IA', 'Waterbury, CT', 'Washington, DC', 'Warwick, RI', 'Warren, MI', 'Warner Robins, GA', 'Waltham, MA', 'Walnut Creek, CA', 'Waco, TX', 'Vista, CA', 'Visalia, CA', 'Vineland, NJ', 'Virginia Beach, VA', 'Victorville, CA', 'Victoria, TX', 'Vancouver, WA', 'Vallejo, CA', 'Valdosta, GA', 'Vacaville, CA', 'Utica, NY', 'Upland, CA', 'Union City, CA', 'Tyler, TX', 'Twin Falls, ID', 'Tustin, CA', 'Tuscaloosa, AL', 'Turlock, CA', 'Tulsa, OK', 'Tulare, CA', 'Tucson, AZ', 'Troy, MI', 'Trenton, NJ', 'Tracy, CA', 'Torrance, CA', 'Topeka, KS', 'Toledo, OH', 'Tigard, OR', 'Thousand Oaks, CA', 'Thornton, CO', 'Texas City, TX', 'Terre Haute, IN', 'Temple, TX', 'Tempe, AZ', 'Temecula, CA', 'Taylorsville, UT', 'Taylor, MI', 'Taunton, MA', 'Tampa, FL', 'Tamarac, FL', 'Tallahassee, FL', 'Tacoma, WA', 'Syracuse, NY', 'Surprise, AZ', 'Sunrise, FL', 'Sunnyvale, CA', 'Sugar Land, TX', 'Suffolk, VA', 'Stonecrest, GA', 'Stockton, CA', 'Stillwater, OK', 'Sterling Heights, MI', 'Stamford, CT', 'Springfield, MO', 'Springfield, IL', 'Springdale, AR', 'Spokane Valley, WA', 'Spokane, WA', 'Sparks, NV', 'South San Francisco, CA', 'South Jordan, UT', 'South Gate, CA', 'South Fulton, GA', 'Southfield, MI', 'South Bend, IN']
686

## Rourke's data

In [ ]:
df = pd.read_csv(base_path + 'jobs_data/geographic_breakdown_df.csv')
df.head()

   Unnamed: 0  ...                                        region_info
0           0  ...  New York; NY; New York-Newark-Jersey City; Que...
1           3  ...  Los Angeles; CA; Los Angeles-Long Beach-Anahei...
2           6  ...  Houston; TX; Houston-The Woodlands-Sugar Land;...
3           9  ...  Chicago; IL; Chicago-Naperville-Elgin; Cook Co...
4          12  ...  San Antonio; TX; San Antonio-New Braunfels; Be...

[5 rows x 10 columns]

In [ ]:
set(df['city_state']) - set(weather_cities)

{'Desoto, TX',
 'Lees Summit, MO',
 'New York, NY',
 'O Fallon, MO',
 'Weymouth, MA',
 'Winston-Salem, NC'}

In [ ]:
set(weather_cities) - set(df['city_state'])

{'DeSoto, TX',
 'Jurupa Valley, CA',
 "Lee's Summit, MO",
 'New York City, NY',
 "O'Fallon, MO",
 'South Fulton, GA',
 'Stonecrest, GA',
 'Weymouth Town, MA',
 'Winston Salem, NC'}

In [ ]:
df[df['city_state'] == 'New York, NY']

   Unnamed: 0  ...                                        region_info
0           0  ...  New York; NY; New York-Newark-Jersey City; Que...

[1 rows x 10 columns]

In [ ]:
df[df['city_state'].str.contains('soto')]

     Unnamed: 0  ...                                        region_info
497      225904  ...  Desoto; TX; Dallas-Fort Worth-Arlington; Dalla...

[1 rows x 10 columns]

In [ ]:
weather_idx_to_drop = list(weather[weather['city_state']=='Jurupa Valley, CA'].index) + list(weather[weather['city_state']=='South Fulton, GA'].index) + list(weather[weather['city_state']=='Stonecrest, GA'].index)
print(weather_idx_to_drop)

[545519, 545520, 545521, 545522, 545523, 545524, 545525, 545526, 545527, 545528, 545529, 545530, 545531, 545532, 545533, 545534, 545535, 545536, 545537, 545538, 545539, 545540, 545541, 545542, 545543, 545544, 545545, 545546, 545547, 545548, 545549, 545550, 545551, 545552, 545553, 545554, 545555, 545556, 545557, 545558, 545559, 545560, 545561, 545562, 545563, 545564, 545565, 545566, 545567, 545568, 545569, 545570, 545571, 545572, 545573, 545574, 545575, 545576, 545577, 545578, 545579, 545580, 545581, 545582, 545583, 545584, 545585, 545586, 545587, 545588, 545589, 545590, 545591, 545592, 545593, 545594, 545595, 545596, 545597, 545598, 545599, 545600, 545601, 545602, 545603, 545604, 545605, 545606, 545607, 545608, 545609, 545610, 545611, 545612, 545613, 545614, 545615, 545616, 545617, 545618, 545619, 545620, 545621, 545622, 545623, 545624, 545625, 545626, 545627, 545628, 545629, 545630, 545631, 545632, 545633, 545634, 545635, 545636, 545637, 545638, 545639, 545640, 545641, 545642, 545643, 545644, 545645, 545646, 545647, 545648, 545649, 545650, 545651, 545652, 545653, 545654, 545655, 545656, 545657, 545658, 545659, 545660, 545661, 545662, 545663, 545664, 545665, 545666, 545667, 545668, 545669, 545670, 545671, 545672, 545673, 545674, 545675, 545676, 545677, 545678, 545679, 545680, 545681, 545682, 545683, 545684, 545685, 545686, 545687, 545688, 545689, 545690, 545691, 545692, 545693, 545694, 545695, 545696, 545697, 545698, 545699, 545700, 545701, 545702, 545703, 545704, 545705, 545706, 545707, 545708, 545709, 545710, 545711, 545712, 545713, 545714, 545715, 545716, 545717, 545718, 545719, 545720, 545721, 545722, 545723, 545724, 545725, 545726, 545727, 545728, 545729, 545730, 545731, 545732, 545733, 545734, 545735, 545736, 545737, 545738, 545739, 545740, 545741, 545742, 545743, 545744, 545745, 545746, 545747, 545748, 545749, 545750, 545751, 545752, 545753, 545754, 545755, 545756, 545757, 545758, 545759, 545760, 545761, 545762, 545763, 545764, 545765, 545766, 545767, 545768, 545769, 545770, 545771, 545772, 545773, 545774, 545775, 545776, 545777, 545778, 545779, 545780, 545781, 545782, 545783, 545784, 545785, 545786, 545787, 545788, 545789, 545790, 545791, 545792, 545793, 545794, 545795, 545796, 545797, 545798, 545799, 545800, 545801, 545802, 545803, 545804, 545805, 545806, 545807, 545808, 545809, 545810, 545811, 545812, 545813, 545814, 545815, 545816, 545817, 545818, 545819, 545820, 545821, 545822, 545823, 545824, 545825, 545826, 545827, 545828, 545829, 545830, 545831, 545832, 545833, 545834, 545835, 545836, 545837, 545838, 545839, 545840, 545841, 545842, 545843, 545844, 545845, 545846, 545847, 545848, 545849, 545850, 545851, 545852, 545853, 545854, 545855, 545856, 545857, 545858, 545859, 545860, 545861, 545862, 545863, 545864, 545865, 545866, 545867, 545868, 545869, 545870, 545871, 545872, 545873, 545874, 545875, 545876, 545877, 545878, 545879, 545880, 545881, 545882, 545883, 545884, 545885, 545886, 545887, 545888, 545889, 545890, 545891, 545892, 545893, 545894, 545895, 545896, 545897, 545898, 545899, 545900, 545901, 545902, 545903, 545904, 545905, 545906, 545907, 545908, 545909, 545910, 545911, 545912, 545913, 545914, 545915, 545916, 545917, 545918, 545919, 545920, 545921, 545922, 545923, 545924, 545925, 545926, 545927, 545928, 545929, 545930, 545931, 545932, 545933, 545934, 545935, 545936, 545937, 545938, 545939, 545940, 545941, 545942, 545943, 545944, 545945, 545946, 545947, 545948, 545949, 545950, 545951, 545952, 545953, 545954, 545955, 545956, 545957, 545958, 545959, 545960, 545961, 545962, 545963, 545964, 545965, 545966, 545967, 545968, 545969, 545970, 545971, 545972, 545973, 545974, 545975, 545976, 545977, 545978, 545979, 545980, 545981, 545982, 545983, 545984, 545985, 545986, 545987, 545988, 545989, 545990, 545991, 545992, 545993, 545994, 545995, 545996, 545997, 545998, 545999, 546000, 546001, 546002, 546003, 546004, 546005, 546006, 546007, 546008, 546009, 546010, 546011, 546012, 546013, 546014, 546015, 546016, 546017, 546018, 546019, 546020, 546021, 546022, 546023, 546024, 546025, 546026, 546027, 546028, 546029, 546030, 546031, 546032, 546033, 546034, 546035, 546036, 546037, 546038, 546039, 546040, 546041, 546042, 546043, 546044, 546045, 546046, 546047, 546048, 546049, 546050, 546051, 546052, 546053, 546054, 546055, 546056, 546057, 546058, 546059, 546060, 546061, 546062, 546063, 546064, 546065, 546066, 546067, 546068, 546069, 546070, 546071, 546072, 546073, 546074, 546075, 546076, 546077, 546078, 546079, 546080, 546081, 546082, 546083, 546084, 546085, 546086, 546087, 546088, 546089, 546090, 546091, 546092, 546093, 546094, 546095, 546096, 546097, 546098, 546099, 546100, 546101, 546102, 546103, 546104, 546105, 546106, 546107, 546108, 546109, 546110, 546111, 546112, 546113, 546114, 546115, 546116, 546117, 546118, 546119, 546120, 546121, 546122, 546123, 546124, 546125, 546126, 546127, 546128, 546129, 546130, 546131, 546132, 546133, 546134, 546135, 546136, 546137, 546138, 546139, 546140, 546141, 546142, 546143, 546144, 546145, 546146, 546147, 546148, 546149, 546150, 546151, 546152, 546153, 546154, 546155, 546156, 546157, 546158, 546159, 546160, 546161, 546162, 546163, 546164, 546165, 546166, 546167, 546168, 546169, 546170, 546171, 546172, 546173, 546174, 546175, 546176, 546177, 546178, 546179, 546180, 546181, 546182, 546183, 546184, 546185, 546186, 546187, 546188, 546189, 546190, 546191, 546192, 546193, 546194, 546195, 546196, 546197, 546198, 546199, 546200, 546201, 546202, 546203, 546204, 546205, 546206, 546207, 546208, 546209, 546210, 546211, 546212, 546213, 546214, 546215, 546216, 546217, 546218, 546219, 546220, 546221, 546222, 546223, 546224, 546225, 546226, 546227, 546228, 546229, 546230, 546231, 546232, 546233, 546234, 546235, 546236, 546237, 546238, 546239, 546240, 546241, 546242, 546243, 546244, 546245, 546246, 546247, 546248, 546249, 546250, 546251, 546252, 546253, 546254, 546255, 546256, 546257, 546258, 546259, 546260, 546261, 546262, 546263, 546264, 546265, 546266, 546267, 546268, 546269, 546270, 546271, 546272, 546273, 546274, 546275, 546276, 546277, 546278, 546279, 546280, 546281, 546282, 546283, 546284, 546285, 546286, 546287, 546288, 546289, 546290, 546291, 546292, 546293, 546294, 546295, 546296, 546297, 546298, 546299, 546300, 546301, 546302, 546303, 546304, 546305, 546306, 546307, 546308, 546309, 546310, 546311, 546312, 546313, 546314, 546315, 546316, 546317, 546318, 546319, 546320, 546321, 546322, 546323, 546324, 546325, 546326, 546327, 546328, 546329, 546330, 546331, 546332, 546333, 546334, 546335, 546336, 546337, 546338, 546339, 546340, 546341, 546342, 546343, 546344, 546345, 546346, 546347, 546348, 546349, 546350, 546351, 546352, 546353, 546354, 546355, 546356, 546357, 546358, 546359, 546360, 546361, 546362, 546363, 546364, 546365, 546366, 546367, 546368, 546369, 546370, 546371, 546372, 546373, 546374, 546375, 546376, 546377, 546378, 546379, 546380, 546381, 546382, 546383, 546384, 546385, 546386, 546387, 546388, 546389, 546390, 546391, 546392, 546393, 546394, 546395, 546396, 546397, 546398, 546399, 546400, 546401, 546402, 546403, 546404, 546405, 546406, 546407, 546408, 546409, 546410, 546411, 546412, 546413, 546414, 546415, 546416, 546417, 546418, 546419, 546420, 546421, 546422, 546423, 546424, 546425, 546426, 546427, 546428, 546429, 546430, 546431, 546432, 546433, 546434, 546435, 546436, 546437, 546438, 546439, 546440, 546441, 546442, 546443, 546444, 546445, 546446, 546447, 546448, 546449, 546450, 546451, 546452, 546453, 546454, 546455, 546456, 546457, 546458, 546459, 546460, 546461, 546462, 546463, 546464, 546465, 546466, 546467, 546468, 546469, 546470, 546471, 546472, 546473, 546474, 546475, 546476, 546477, 546478, 546479, 546480, 546481, 546482, 546483, 546484, 546485, 546486, 546487, 546488, 546489, 546490, 546491, 546492, 546493, 546494, 546495, 546496, 546497, 546498, 546499, 546500, 546501, 546502, 546503, 546504, 546505, 546506, 546507, 546508, 546509, 546510, 546511, 546512, 546513, 546514, 546515, 546516, 546517, 546518, 546519, 546520, 546521, 546522, 546523, 546524, 546525, 546526, 546527, 546528, 546529, 546530, 546531, 546532, 546533, 546534, 546535, 546536, 546537, 546538, 546539, 546540, 546541, 546542, 546543, 546544, 546545, 546546, 546547, 546548, 546549, 546550, 546551, 546552, 546553, 546554, 546555, 546556, 546557, 546558, 546559, 546560, 546561, 546562, 546563, 546564, 546565, 546566, 546567, 546568, 546569, 546570, 546571, 546572, 546573, 546574, 546575, 546576, 546577, 546578, 546579, 546580, 546581, 546582, 546583, 546584, 546585, 546586, 546587, 546588, 546589, 546590, 546591, 546592, 546593, 546594, 546595, 546596, 546597, 546598, 546599, 546600, 546601, 546602, 546603, 546604, 546605, 546606, 546607, 546608, 546609, 546610, 546611, 546612, 546613, 546614, 546615, 546616, 546617, 546618, 546619, 546620, 546621, 546622, 546623, 546624, 546625, 546626, 546627, 546628, 546629, 546630, 546631, 546632, 546633, 546634, 546635, 546636, 546637, 546638, 546639, 546640, 546641, 546642, 546643, 546644, 546645, 546646, 546647, 546648, 546649, 546650, 546651, 546652, 546653, 546654, 546655, 546656, 546657, 546658, 546659, 546660, 546661, 546662, 546663, 546664, 546665, 546666, 546667, 546668, 546669, 546670, 546671, 546672, 546673, 546674, 546675, 546676, 546677, 546678, 546679, 546680, 546681, 546682, 546683, 546684, 546685, 546686, 546687, 546688, 546689, 546690, 546691, 546692, 546693, 546694, 546695, 546696, 546697, 546698, 546699, 546700, 546701, 546702, 546703, 546704, 546705, 546706, 546707, 546708, 546709, 546710, 546711, 546712, 546713, 546714, 546715, 546716, 546717, 546718, 546719, 546720, 546721, 546722, 546723, 546724, 546725, 546726, 546727, 546728, 546729, 546730, 546731, 546732, 546733, 546734, 546735, 546736, 546737, 546738, 546739, 546740, 546741, 546742, 546743, 546744, 546745, 546746, 546747, 546748, 546749, 546750, 546751, 546752, 546753, 546754, 546755, 546756, 546757, 546758, 546759, 546760, 546761, 546762, 546763, 546764, 546765, 546766, 546767, 546768, 546769, 546770, 546771, 546772, 546773, 546774, 546775, 546776, 546777, 546778, 546779, 546780, 546781, 546782, 546783, 546784, 546785, 546786, 546787, 546788, 546789, 546790, 546791, 546792, 546793, 546794, 546795, 546796, 546797, 546798, 546799, 546800, 546801, 546802, 546803, 546804, 546805, 546806, 546807, 546808, 546809, 546810, 546811, 546812, 546813, 546814, 546815, 546816, 546817, 546818, 546819, 546820, 546821, 546822, 546823, 546824, 546825, 546826, 546827, 546828, 546829, 546830, 546831, 546832, 546833, 546834, 546835, 546836, 546837, 546838, 546839, 546840, 546841, 546842, 546843, 546844, 546845, 546846, 546847, 546848, 546849, 546850, 546851, 546852, 546853, 546854, 546855, 546856, 546857, 546858, 546859, 546860, 546861, 546862, 546863, 546864, 546865, 546866, 546867, 546868, 546869, 546870, 546871, 546872, 546873, 546874, 546875, 546876, 546877, 546878, 546879, 546880, 546881, 546882, 546883, 546884, 546885, 546886, 546887, 546888, 546889, 546890, 546891, 546892, 546893, 546894, 546895, 546896, 546897, 546898, 546899, 546900, 546901, 546902, 546903, 546904, 546905, 546906, 546907, 546908, 546909, 546910, 546911, 546912, 546913, 546914, 546915, 546916, 546917, 546918, 546919, 546920, 546921, 546922, 546923, 546924, 546925, 546926, 546927, 546928, 546929, 546930, 546931, 546932, 546933, 546934, 546935, 546936, 546937, 546938, 546939, 546940, 546941, 546942, 546943, 546944, 546945, 546946, 546947, 546948, 546949, 546950, 546951, 546952, 546953, 546954, 546955, 546956, 546957, 546958, 546959, 546960, 546961, 546962, 546963, 546964, 546965, 546966, 546967, 546968, 546969, 546970, 546971, 546972, 546973, 546974, 546975, 546976, 546977, 546978, 546979, 546980, 546981, 546982, 546983, 546984, 546985, 546986, 546987, 546988, 546989, 546990, 546991, 546992, 546993, 546994, 546995, 546996, 546997, 546998, 546999, 547000, 547001, 547002, 547003, 547004, 547005, 547006, 547007, 547008, 547009, 547010, 547011, 547012, 547013, 547014, 547015, 547016, 547017, 547018, 547019, 547020, 547021, 547022, 547023, 547024, 547025, 547026, 547027, 547028, 547029, 547030, 547031, 547032, 547033, 547034, 547035, 547036, 547037, 547038, 547039, 547040, 547041, 547042, 547043, 547044, 547045, 547046, 547047, 547048, 547049, 547050, 547051, 547052, 547053, 547054, 547055, 547056, 547057, 547058, 547059, 547060, 547061, 547062, 547063, 547064, 547065, 547066, 547067, 547068, 547069, 547070, 547071, 547072, 547073, 547074, 547075, 547076, 547077, 547078, 547079, 547080, 547081, 547082, 547083, 547084, 547085, 547086, 547087, 547088, 547089, 547090, 547091, 547092, 547093, 547094, 547095, 547096, 547097, 547098, 547099, 547100, 547101, 547102, 547103, 547104, 547105, 547106, 547107, 547108, 547109, 547110, 547111, 547112, 547113, 547114, 547115, 547116, 547117, 547118, 547119, 547120, 547121, 547122, 547123, 547124, 547125, 547126, 547127, 547128, 547129, 547130, 547131, 547132, 547133, 547134, 547135, 547136, 547137, 547138, 547139, 547140, 547141, 547142, 547143, 547144, 547145, 547146, 547147, 547148, 547149, 547150, 547151, 547152, 547153, 547154, 547155, 547156, 547157, 547158, 547159, 547160, 547161, 547162, 547163, 547164, 547165, 547166, 547167, 547168, 547169, 547170, 547171, 547172, 547173, 547174, 547175, 547176, 547177, 547178, 547179, 547180, 547181, 547182, 547183, 547184, 547185, 547186, 547187, 547188, 547189, 547190, 547191, 547192, 547193, 547194, 547195, 547196, 547197, 547198, 547199, 547200, 547201, 547202, 547203, 547204, 547205, 547206, 547207, 547208, 547209, 547210, 547211, 547212, 547213, 547214, 547215, 547216, 547217, 547218, 547219, 547220, 547221, 547222, 547223, 547224, 547225, 547226, 547227, 547228, 547229, 547230, 547231, 547232, 547233, 547234, 547235, 547236, 547237, 547238, 547239, 547240, 547241, 547242, 547243, 547244, 547245, 547246, 547247, 547248, 547249, 547250, 547251, 547252, 547253, 547254, 547255, 547256, 547257, 547258, 547259, 547260, 547261, 547262, 547263, 547264, 547265, 547266, 547267, 547268, 547269, 547270, 547271, 547272, 547273, 547274, 547275, 547276, 547277, 547278, 547279, 547280, 547281, 547282, 547283, 547284, 547285, 547286, 547287, 547288, 547289, 547290, 547291, 547292, 547293, 547294, 547295, 547296, 547297, 547298, 547299, 547300, 547301, 547302, 547303, 547304, 547305, 547306, 547307, 547308, 547309, 547310, 547311, 547312, 547313, 547314, 547315, 547316, 547317, 547318, 547319, 547320, 547321, 547322, 547323, 547324, 547325, 547326, 547327, 547328, 547329, 547330, 547331, 547332, 547333, 547334, 547335, 547336, 547337, 1208285, 1208286, 1208287, 1208288, 1208289, 1208290, 1208291, 1208292, 1208293, 1208294, 1208295, 1208296, 1208297, 1208298, 1208299, 1208300, 1208301, 1208302, 1208303, 1208304, 1208305, 1208306, 1208307, 1208308, 1208309, 1208310, 1208311, 1208312, 1208313, 1208314, 1208315, 1208316, 1208317, 1208318, 1208319, 1208320, 1208321, 1208322, 1208323, 1208324, 1208325, 1208326, 1208327, 1208328, 1208329, 1208330, 1208331, 1208332, 1208333, 1208334, 1208335, 1208336, 1208337, 1208338, 1208339, 1208340, 1208341, 1208342, 1208343, 1208344, 1208345, 1208346, 1208347, 1208348, 1208349, 1208350, 1208351, 1208352, 1208353, 1208354, 1208355, 1208356, 1208357, 1208358, 1208359, 1208360, 1208361, 1208362, 1208363, 1208364, 1208365, 1208366, 1208367, 1208368, 1208369, 1208370, 1208371, 1208372, 1208373, 1208374, 1208375, 1208376, 1208377, 1208378, 1208379, 1208380, 1208381, 1208382, 1208383, 1208384, 1208385, 1208386, 1208387, 1208388, 1208389, 1208390, 1208391, 1208392, 1208393, 1208394, 1208395, 1208396, 1208397, 1208398, 1208399, 1208400, 1208401, 1208402, 1208403, 1208404, 1208405, 1208406, 1208407, 1208408, 1208409, 1208410, 1208411, 1208412, 1208413, 1208414, 1208415, 1208416, 1208417, 1208418, 1208419, 1208420, 1208421, 1208422, 1208423, 1208424, 1208425, 1208426, 1208427, 1208428, 1208429, 1208430, 1208431, 1208432, 1208433, 1208434, 1208435, 1208436, 1208437, 1208438, 1208439, 1208440, 1208441, 1208442, 1208443, 1208444, 1208445, 1208446, 1208447, 1208448, 1208449, 1208450, 1208451, 1208452, 1208453, 1208454, 1208455, 1208456, 1208457, 1208458, 1208459, 1208460, 1208461, 1208462, 1208463, 1208464, 1208465, 1208466, 1208467, 1208468, 1208469, 1208470, 1208471, 1208472, 1208473, 1208474, 1208475, 1208476, 1208477, 1208478, 1208479, 1208480, 1208481, 1208482, 1208483, 1208484, 1208485, 1208486, 1208487, 1208488, 1208489, 1208490, 1208491, 1208492, 1208493, 1208494, 1208495, 1208496, 1208497, 1208498, 1208499, 1208500, 1208501, 1208502, 1208503, 1208504, 1208505, 1208506, 1208507, 1208508, 1208509, 1208510, 1208511, 1208512, 1208513, 1208514, 1208515, 1208516, 1208517, 1208518, 1208519, 1208520, 1208521, 1208522, 1208523, 1208524, 1208525, 1208526, 1208527, 1208528, 1208529, 1208530, 1208531, 1208532, 1208533, 1208534, 1208535, 1208536, 1208537, 1208538, 1208539, 1208540, 1208541, 1208542, 1208543, 1208544, 1208545, 1208546, 1208547, 1208548, 1208549, 1208550, 1208551, 1208552, 1208553, 1208554, 1208555, 1208556, 1208557, 1208558, 1208559, 1208560, 1208561, 1208562, 1208563, 1208564, 1208565, 1208566, 1208567, 1208568, 1208569, 1208570, 1208571, 1208572, 1208573, 1208574, 1208575, 1208576, 1208577, 1208578, 1208579, 1208580, 1208581, 1208582, 1208583, 1208584, 1208585, 1208586, 1208587, 1208588, 1208589, 1208590, 1208591, 1208592, 1208593, 1208594, 1208595, 1208596, 1208597, 1208598, 1208599, 1208600, 1208601, 1208602, 1208603, 1208604, 1208605, 1208606, 1208607, 1208608, 1208609, 1208610, 1208611, 1208612, 1208613, 1208614, 1208615, 1208616, 1208617, 1208618, 1208619, 1208620, 1208621, 1208622, 1208623, 1208624, 1208625, 1208626, 1208627, 1208628, 1208629, 1208630, 1208631, 1208632, 1208633, 1208634, 1208635, 1208636, 1208637, 1208638, 1208639, 1208640, 1208641, 1208642, 1208643, 1208644, 1208645, 1208646, 1208647, 1208648, 1208649, 1208650, 1208651, 1208652, 1208653, 1208654, 1208655, 1208656, 1208657, 1208658, 1208659, 1208660, 1208661, 1208662, 1208663, 1208664, 1208665, 1208666, 1208667, 1208668, 1208669, 1208670, 1208671, 1208672, 1208673, 1208674, 1208675, 1208676, 1208677, 1208678, 1208679, 1208680, 1208681, 1208682, 1208683, 1208684, 1208685, 1208686, 1208687, 1208688, 1208689, 1208690, 1208691, 1208692, 1208693, 1208694, 1208695, 1208696, 1208697, 1208698, 1208699, 1208700, 1208701, 1208702, 1208703, 1208704, 1208705, 1208706, 1208707, 1208708, 1208709, 1208710, 1208711, 1208712, 1208713, 1208714, 1208715, 1208716, 1208717, 1208718, 1208719, 1208720, 1208721, 1208722, 1208723, 1208724, 1208725, 1208726, 1208727, 1208728, 1208729, 1208730, 1208731, 1208732, 1208733, 1208734, 1208735, 1208736, 1208737, 1208738, 1208739, 1208740, 1208741, 1208742, 1208743, 1208744, 1208745, 1208746, 1208747, 1208748, 1208749, 1208750, 1208751, 1208752, 1208753, 1208754, 1208755, 1208756, 1208757, 1208758, 1208759, 1208760, 1208761, 1208762, 1208763, 1208764, 1208765, 1208766, 1208767, 1208768, 1208769, 1208770, 1208771, 1208772, 1208773, 1208774, 1208775, 1208776, 1208777, 1208778, 1208779, 1208780, 1208781, 1208782, 1208783, 1208784, 1208785, 1208786, 1208787, 1208788, 1208789, 1208790, 1208791, 1208792, 1208793, 1208794, 1208795, 1208796, 1208797, 1208798, 1208799, 1208800, 1208801, 1208802, 1208803, 1208804, 1208805, 1208806, 1208807, 1208808, 1208809, 1208810, 1208811, 1208812, 1208813, 1208814, 1208815, 1208816, 1208817, 1208818, 1208819, 1208820, 1208821, 1208822, 1208823, 1208824, 1208825, 1208826, 1208827, 1208828, 1208829, 1208830, 1208831, 1208832, 1208833, 1208834, 1208835, 1208836, 1208837, 1208838, 1208839, 1208840, 1208841, 1208842, 1208843, 1208844, 1208845, 1208846, 1208847, 1208848, 1208849, 1208850, 1208851, 1208852, 1208853, 1208854, 1208855, 1208856, 1208857, 1208858, 1208859, 1208860, 1208861, 1208862, 1208863, 1208864, 1208865, 1208866, 1208867, 1208868, 1208869, 1208870, 1208871, 1208872, 1208873, 1208874, 1208875, 1208876, 1208877, 1208878, 1208879, 1208880, 1208881, 1208882, 1208883, 1208884, 1208885, 1208886, 1208887, 1208888, 1208889, 12

In [ ]:
# To change in df:
df = df.replace({'Desoto': 'DeSoto', 'Lees Summit': "Lee's Summit",	"New York": "New York City", 'O Fallon': "O'Fallon"}, regex=True)
weather = weather.replace({'Weymouth Town': 'Weymouth', 'Winston Salem': 'Winston-Salem'}, regex=True)
weather = weather.drop(labels=weather_idx_to_drop, axis=0)
weather = weather.reset_index(drop=True)
weather.head()

         city postal      city_state  maxtempf  ...  year  month  day   date_time
0  Alpharetta     GA  Alpharetta, GA      51.8  ...  2015      1    1  2015-01-01
1  Alpharetta     GA  Alpharetta, GA      51.8  ...  2015      1    2  2015-01-02
2  Alpharetta     GA  Alpharetta, GA      55.4  ...  2015      1    3  2015-01-03
3  Alpharetta     GA  Alpharetta, GA      60.8  ...  2015      1    4  2015-01-04
4  Alpharetta     GA  Alpharetta, GA      44.6  ...  2015      1    5  2015-01-05

[5 rows x 25 columns]

In [ ]:
weather_cities = list(weather['city_state'].unique())

In [ ]:
set(df['city_state']) - set(weather_cities)

set()

In [ ]:
set(weather_cities) - set(df['city_state'])

set()

In [ ]:
len(set(weather_cities))

683

In [ ]:
len(set(df['city_state']))

683

In [ ]:
weather.head()

         city postal      city_state  maxtempf  ...  year  month  day   date_time
0  Alpharetta     GA  Alpharetta, GA      51.8  ...  2015      1    1  2015-01-01
1  Alpharetta     GA  Alpharetta, GA      51.8  ...  2015      1    2  2015-01-02
2  Alpharetta     GA  Alpharetta, GA      55.4  ...  2015      1    3  2015-01-03
3  Alpharetta     GA  Alpharetta, GA      60.8  ...  2015      1    4  2015-01-04
4  Alpharetta     GA  Alpharetta, GA      44.6  ...  2015      1    5  2015-01-05

[5 rows x 25 columns]

In [ ]:
# Make List of All City-States
all_cities = list(df['city_state'].unique())
print(len(all_cities))
print(all_cities)

683
['New York City, NY', 'Los Angeles, CA', 'Houston, TX', 'Chicago, IL', 'San Antonio, TX', 'Philadelphia, PA', 'Phoenix, AZ', 'Las Vegas, NV', 'San Diego, CA', 'Dallas, TX', 'Austin, TX', 'San Jose, CA', 'Indianapolis, IN', 'San Francisco, CA', 'Charlotte, NC', 'Fort Worth, TX', 'Orlando, FL', 'Detroit, MI', 'Denver, CO', 'Seattle, WA', 'Boston, MA', 'Washington, DC', 'Portland, OR', 'Nashville, TN', 'Sacramento, CA', 'Baltimore, MD', 'Milwaukee, WI', 'Omaha, NE', 'Mesa, AZ', 'Miami, FL', 'Atlanta, GA', 'Long Beach, CA', 'Virginia Beach, VA', 'Oakland, CA', 'Minneapolis, MN', 'Honolulu, HI', 'Cleveland, OH', 'New Orleans, LA', 'Arlington, TX', 'Tampa, FL', 'Aurora, CO', 'Riverside, CA', 'Anaheim, CA', 'Santa Ana, CA', 'Marietta, GA', 'Vancouver, WA', 'Saint Louis, MO', 'Greensboro, NC', 'Saint Paul, MN', 'Durham, NC', 'Stockton, CA', 'Plano, TX', 'Newark, NJ', 'Henderson, NV', 'Spokane, WA', 'Chandler, AZ', 'Jersey City, NJ', 'Buffalo, NY', 'Hialeah, FL', 'San Bernardino, CA', 'Chula Vista, CA', 'Saint Petersburg, FL', 'Pensacola, FL', 'Norfolk, VA', 'Glendale, AZ', 'Scottsdale, AZ', 'Boise, ID', 'Irvine, CA', 'Sarasota, FL', 'Chesapeake, VA', 'Fort Myers, FL', 'Garland, TX', 'North Las Vegas, NV', 'Fremont, CA', 'Santa Clarita, CA', 'Fontana, CA', 'Irving, TX', 'Birmingham, AL', 'Oxnard, CA', 'Des Moines, IA', 'Boca Raton, FL', 'Shreveport, LA', 'Bradenton, FL', 'Corona, CA', 'Oceanside, CA', 'Tacoma, WA', 'Grand Rapids, MI', 'Moreno Valley, CA', 'Huntington Beach, CA', 'Port Saint Lucie, FL', 'Little Rock, AR', 'Hayward, CA', 'Brownsville, TX', 'Overland Park, KS', 'Lancaster, CA', 'Grand Prairie, TX', 'Beaverton, OR', 'Escondido, CA', 'Providence, RI', 'Fort Lauderdale, FL', 'Ontario, CA', 'Charleston, SC', 'Kissimmee, FL', 'Tempe, AZ', 'Murfreesboro, TN', 'Rancho Cucamonga, CA', 'Cape Coral, FL', 'Killeen, TX', 'Palmdale, CA', 'Newport News, VA', 'El Cajon, CA', 'Elk Grove, CA', 'Peoria, AZ', 'Sugar Land, TX', 'Naperville, IL', 'Boynton Beach, FL', 'McKinney, TX', 'Edmond, OK', 'Lakeland, FL', 'Lakewood, CO', 'Alexandria, VA', 'Pomona, CA', 'Visalia, CA', 'Round Rock, TX', 'Whittier, CA', 'Sunnyvale, CA', 'Hollywood, FL', 'Edinburg, TX', 'Conroe, TX', 'Lansing, MI', 'South Bend, IN', 'Paterson, NJ', 'Pasadena, TX', 'Frisco, TX', 'Bridgeport, CT', 'Canton, OH', 'Mesquite, TX', 'Renton, WA', 'Santa Maria, CA', 'Torrance, CA', 'Clearwater, FL', 'Fullerton, CA', 'McAllen, TX', 'Orange, CA', 'Bellevue, WA', 'Inglewood, CA', 'Kent, WA', 'West Valley City, UT', 'Olathe, KS', 'Warren, MI', 'Miramar, FL', 'Thornton, CO', 'Concord, CA', 'Sterling Heights, MI', 'Carrollton, TX', 'Coral Springs, FL', 'Thousand Oaks, CA', 'Victorville, CA', 'Roseville, CA', 'Surprise, AZ', 'New Haven, CT', 'Hamilton, OH', 'Simi Valley, CA', 'Stamford, CT', 'Elizabeth, NJ', 'Denton, TX', 'Allentown, PA', 'Frederick, MD', 'Hartford, CT', 'Temecula, CA', 'Hemet, CA', 'Joliet, IL', 'Vallejo, CA', 'Santa Clara, CA', 'Norman, OK', 'Nampa, ID', 'Berkeley, CA', 'Westminster, CO', 'Clovis, CA', 'Vista, CA', 'Broken Arrow, OK', 'Arvada, CO', 'Melbourne, FL', 'Costa Mesa, CA', 'Sparks, NV', 'Bend, OR', 'El Monte, CA', 'College Station, TX', 'Miami Gardens, FL', 'Downey, CA', 'Tracy, CA', 'Ventura, CA', 'North Charleston, SC', 'Lewisville, TX', 'West Covina, CA', 'Rock Hill, SC', 'Manchester, NH', 'Delray Beach, FL', 'Lowell, MA', 'Waterbury, CT', 'West Palm Beach, FL', 'Carlsbad, CA', 'Elgin, IL', 'Santa Barbara, CA', 'Cambridge, MA', 'Hillsboro, OR', 'Palm Bay, FL', 'Richardson, TX', 'Norwalk, CA', 'Centennial, CO', 'Antioch, CA', 'Perris, CA', 'Fairfield, CA', 'Davenport, IA', 'Everett, WA', 'Pompano Beach, FL', 'San Leandro, CA', 'Burbank, CA', 'Vacaville, CA', 'Albany, NY', 'Hesperia, CA', 'San Mateo, CA', 'Franklin, TN', 'Sandy Springs, GA', 'Santa Cruz, CA', 'Elkhart, IN', 'Daly City, CA', 'Rialto, CA', 'Meridian, ID', 'League City, TX', 'Mission Viejo, CA', 'High Point, NC', 'Livermore, CA', 'Sandy, UT', 'Federal Way, WA', 'Rio Rancho, NM', 'South Gate, CA', 'Bryan, TX', 'Champaign, IL', 'Portsmouth, VA', 'Dearborn, MI', 'Hawthorne, CA', 'Livonia, MI', 'Brockton, MA', 'Indio, CA', 'Annapolis, MD', 'New Braunfels, TX', 'Auburn, WA', 'Apopka, FL', 'Kennewick, WA', 'Allen, TX', 'Kalamazoo, MI', 'Santa Monica, CA', 'Plantation, FL', 'New Bedford, MA', 'Loveland, CO', 'Kenosha, WI', 'Roswell, GA', 'Orem, UT', 'Miami Beach, FL', 'Sunrise, FL', 'Lynn, MA', "Lee's Summit, MO", 'Menifee, CA', 'San Marcos, CA', 'Carmel, IN', 'Newton, MA', 'Chino, CA', 'Redwood City, CA', 'Gulfport, MS', 'Pittsburg, CA', 'Georgetown, TX', 'Fall River, MA', 'Newport Beach, CA', 'Nashua, NH', 'Suffolk, VA', 'Redmond, WA', 'Tustin, CA', 'Citrus Heights, CA', 'Waukegan, IL', 'Pflugerville, TX', 'Bowie, MD', 'Walnut Creek, CA', 'Buena Park, CA', 'Longmont, CO', 'Alhambra, CA', 'Clifton, NJ', 'Conway, AR', 'Spokane Valley, WA', 'Danbury, CT', 'Watsonville, CA', 'Largo, FL', 'Gresham, OR', 'Troy, MI', 'Kingsport, TN', 'Sanford, FL', 'Palm Coast, FL', 'Quincy, MA', 'Westland, MI', 'Saint George, UT', 'Ogden, UT', 'Johns Creek, GA', 'Kirkland, WA', 'Manteca, CA', 'Camarillo, CA', 'Farmington Hills, MI', 'Cranston, RI', 'Greenwood, IN', 'Fishers, IN', 'Smyrna, GA', 'Parma, OH', 'Gary, IN', 'Saint Joseph, MO', 'Upland, CA', 'Deltona, FL', 'Carson, CA', 'Hoover, AL', 'Porterville, CA', 'Brooklyn Park, MN', 'Mountain View, CA', 'Turlock, CA', 'Somerville, MA', 'Missouri City, TX', 'Mission, TX', 'Bellflower, CA', 'Homestead, FL', 'Pasco, WA', 'Lodi, CA', 'Casa Grande, AZ', 'Rancho Cordova, CA', "O'Fallon, MO", 'Saint Charles, MO', 'Baldwin Park, CA', 'Scranton, PA', 'San Ramon, CA', 'Deerfield Beach, FL', 'Evanston, IL', 'Marysville, WA', 'Schenectady, NY', 'Camden, NJ', 'Avondale, AZ', 'Redlands, CA', 'Noblesville, IN', 'Temple, TX', 'Folsom, CA', 'Plymouth, MN', 'Bethlehem, PA', 'Huntington Park, CA', 'Petaluma, CA', 'Pharr, TX', 'Alpharetta, GA', 'La Mesa, CA', 'Lake Forest, CA', 'New Rochelle, NY', 'Warwick, RI', 'Rochester Hills, MI', 'Milpitas, CA', 'New Britain, CT', 'Goodyear, AZ', 'Pleasanton, CA', 'Baytown, TX', 'Tulare, CA', 'North Little Rock, AR', 'Rogers, AR', 'Southfield, MI', 'Springdale, AR', 'Chino Hills, CA', 'Lake Elsinore, CA', 'Bossier City, LA', 'Hammond, IN', 'Gastonia, NC', 'Council Bluffs, IA', 'Gaithersburg, MD', 'Pawtucket, RI', 'San Rafael, CA', 'West Lafayette, IN', 'Lauderhill, FL', 'Passaic, NJ', 'Layton, UT', 'Redondo Beach, CA', 'Framingham, MA', 'Lynwood, CA', 'Union City, CA', 'Davis, CA', 'Waterloo, IA', 'Palm Beach Gardens, FL', 'Brentwood, CA', 'Alameda, CA', 'Hanford, CA', 'Palo Alto, CA', 'Mount Vernon, NY', 'Cedar Park, TX', 'Weston, FL', 'Arcadia, CA', 'Kenner, LA', 'Maple Grove, MN', 'Daytona Beach, FL', 'Woodbury, MN', 'Rockville, MD', 'North Port, FL', 'Eagan, MN', 'North Richland Hills, TX', 'Lorain, OH', 'East Orange, NJ', 'Pico Rivera, CA', 'Hendersonville, TN', 'Lakeville, MN', 'Caldwell, ID', 'Laguna Niguel, CA', 'Rosemead, CA', 'South San Francisco, CA', 'La Crosse, WI', 'Tamarac, FL', 'Shawnee, KS', 'Waukesha, WI', 'Elyria, OH', 'Montebello, CA', 'Saint Cloud, MN', 'Eden Prairie, MN', 'Mansfield, TX', 'San Clemente, CA', 'Novato, CA', 'Waltham, MA', 'Broomfield, CO', 'North Miami, FL', 'Haverhill, MA', 'Coon Rapids, MN', 'Encinitas, CA', 'Taylor, MI', 'Blaine, MN', 'Port Orange, FL', 'South Jordan, UT', 'Harlingen, TX', 'La Habra, CA', 'Burnsville, MN', 'Monterey Park, CA', 'Vineland, NJ', 'Des Plaines, IL', 'West Des Moines, IA', 'Utica, NY', 'Gilroy, CA', 'Janesville, WI', 'Malden, MA', 'West Allis, WI', 'Taylorsville, UT', 'Bristol, CT', 'National City, CA', 'Gardena, CA', 'Pontiac, MI', 'Sammamish, WA', 'Meriden, CT', 'Cupertino, CA', 'Royal Oak, MI', 'Saint Peters, MO', 'Oshkosh, WI', 'Wheaton, IL', 'Olympia, WA', 'Bartlett, TN', 'White Plains, NY', 'Bayonne, NJ', 'Mishawaka, IN', 'Fountain Valley, CA', 'Rocklin, CA', 'Coconut Creek, FL', 'Kettering, OH', 'Midwest City, OK', 'Lehi, UT', 'Berwyn, IL', 'Dearborn Heights, MI', 'Colton, CA', 'Taunton, MA', 'Moore, OK', 'Anderson, IN', 'Chicopee, MA', 'New Brunswick, NJ', 'Maricopa, AZ', 'Tigard, OR', 'Margate, FL', 'Santee, CA', 'Weymouth, MA', 'Paramount, CA', 'Euless, TX', 'Richland, WA', 'Lacey, WA', 'Port Arthur, TX', 'Novi, MI', 'Glendora, CA', 'Palm Desert, CA', 'Saint Clair Shores, MI', 'Bonita Springs, FL', 'Delano, CA', 'Lake Havasu City, AZ', 'Buckeye, AZ', 'Lenexa, KS', 'Hoboken, NJ', 'West Sacramento, CA', 'Shoreline, WA', 'DeSoto, TX', 'West Haven, CT', 'Florissant, MO', 'Peabody, MA', 'Kentwood, MI', 'Ankeny, IA', 'Placentia, CA', 'Brookhaven, GA', 'Doral, FL', 'Plainfield, NJ', 'Apple Valley, MN', 'Bentonville, AR', 'Commerce City, CO', 'Grapevine, TX', 'Edina, MN', 'Cathedral City, CA', 'Perth Amboy, NJ', 'Little Elm, TX', 'Revere, MA', 'Milford, CT', 'Eastvale, CA', 'Pinellas Park, FL', 'Aliso Viejo, CA', 'Methuen, MA', 'Diamond Bar, CA', 'Dublin, CA', 'Galveston, TX', 'Highland, CA', 'Kannapolis, NC', 'Harrisburg, PA', 'Rowlett, TX', 'Minnetonka, MN', 'Burien, WA', 'Southaven, MS', 'Blue Springs, MO', 'Texas City, TX', 'Leander, TX', 'Millcreek, UT', 'Herriman, UT', 'Augusta, ME', 'Montpelier, VT', 'Jacksonville, FL', 'Tucson, AZ', 'Columbus, OH', 'El Paso, TX', 'Memphis, TN', 'Fresno, CA', 'Albuquerque, NM', 'Oklahoma City, OK', 'Raleigh, NC', 'Kansas City, MO', 'Colorado Springs, CO', 'Tulsa, OK', 'Knoxville, TN', 'Baton Rouge, LA', 'Wichita, KS', 'Bakersfield, CA', 'Cincinnati, OH', 'Pittsburgh, PA', 'Columbia, SC', 'Corpus Christi, TX', 'Fort Wayne, IN', 'Toledo, OH', 'Tallahassee, FL', 'Lincoln, NE', 'Modesto, CA', 'Reno, NV', 'Lubbock, TX', 'Mobile, AL', 'Madison, WI', 'Winston-Salem, NC', 'Fayetteville, NC', 'Laredo, TX', 'Springfield, MO', 'Santa Rosa, CA', 'Richmond, VA', 'Ocala, FL', 'Rochester, NY', 'Montgomery, AL', 'Gainesville, FL', 'Akron, OH', 'Huntsville, AL', 'Amarillo, TX', 'Salt Lake City, UT', 'Salinas, CA', 'Rockford, IL', 'Evansville, IN', 'Salem, OR', 'Sioux Falls, SD', 'Chattanooga, TN', 'Savannah, GA', 'Roanoke, VA', 'Clarksville, TN', 'Jackson, MS', 'Topeka, KS', 'Lafayette, LA', 'Pueblo, CO', 'Dayton, OH', 'Midland, TX', 'Tyler, TX', 'Ann Arbor, MI', 'Las Cruces, NM', 'Syracuse, NY', 'Billings, MT', 'Cedar Rapids, IA', 'Bloomington, IN', 'Boulder, CO', 'Waco, TX', 'Santa Fe, NM', 'Springfield, IL', 'Lake Charles, LA', 'Flint, MI', 'Tuscaloosa, AL', 'Bellingham, WA', 'Chico, CA', 'Bowling Green, KY', 'Redding, CA', 'Greenville, NC', 'Green Bay, WI', 'Wichita Falls, TX', 'Erie, PA', 'Madera, CA', 'Grand Junction, CO', 'Longview, TX', 'Merced, CA', 'Lawrence, KS', 'Napa, CA', 'Lynchburg, VA', 'Greeley, CO', 'Johnson City, TN', 'Idaho Falls, ID', 'Asheville, NC', 'Terre Haute, IN', 'Muncie, IN', 'Valdosta, GA', 'Medford, OR', 'Reading, PA', 'Cheyenne, WY', 'Fort Smith, AR', 'Lawton, OK', 'Missoula, MT', 'Duluth, MN', 'Appleton, WI', 'San Angelo, TX', 'Warner Robins, GA', 'Flagstaff, AZ', 'Decatur, IL', 'Victoria, TX', 'Sioux City, IA', 'Iowa City, IA', 'Bismarck, ND', 'Trenton, NJ', 'Owensboro, KY', 'Battle Creek, MI', 'Jonesboro, AR', 'Eau Claire, WI', 'Racine, WI', 'Dothan, AL', 'Casper, WY', 'Kokomo, IN', 'Great Falls, MT', 'Dubuque, IA', 'Harrisonburg, VA', 'Jefferson City, MO', 'Ames, IA', 'Manhattan, KS', 'Corvallis, OR', 'Charleston, WV', 'Carson City, NV', 'Rapid City, SD', 'Grand Forks, ND', 'Stillwater, OK', 'Helena, MT', 'Grand Island, NE', "Coeur d'Alene, ID", 'Pocatello, ID', 'Twin Falls, ID', 'Frankfort, KY', 'Burlington, NC', 'Joplin, MO', 'Rocky Mount, NC', 'Logan, UT', 'Concord, NH', 'Dover, DE', 'Juneau, AK', 'Pierre, SD']

In [ ]:
keys_df = pop[pop['city-state'].isin(all_cities)]
keys_df = keys_df.sort_values('population', ascending=False)
keys_df = keys_df.reset_index()
keys_df = keys_df.reset_index()
keys_df = keys_df.rename({'index': 'id'}, axis=1)
keys_df = keys_df.drop('id', axis=1)
keys_df = keys_df.rename({'level_0': 'id'}, axis=1)
keys_df.shape[0]
# keys_df.to_csv(base_path + 'database_tables/keys_pop.csv')

666

In [ ]:
set(all_cities) - set(pop['city-state'])

{'Annapolis, MD',
 'Augusta, ME',
 'Boise, ID',
 'Carson City, NV',
 'Charleston, WV',
 'Concord, NH',
 'Dover, DE',
 'Frankfort, KY',
 'Harrisburg, PA',
 'Helena, MT',
 'Jefferson City, MO',
 'Juneau, AK',
 'Methuen, MA',
 'Montpelier, VT',
 'Nashville, TN',
 'Pierre, SD',
 'Ventura, CA'}

In [ ]:
pop[pop['city-state'].str.contains('Wey')]

         city          state postal    city-state  population
462  Weymouth  Massachusetts     MA  Weymouth, MA       57746

In [ ]:
pop = pop.replace({'Weymouth Town': 'Weymouth'}, regex=True)

In [ ]:
weather.head()

         city postal      city_state  maxtempf  ...  year  month  day   date_time
0  Alpharetta     GA  Alpharetta, GA      51.8  ...  2015      1    1  2015-01-01
1  Alpharetta     GA  Alpharetta, GA      51.8  ...  2015      1    2  2015-01-02
2  Alpharetta     GA  Alpharetta, GA      55.4  ...  2015      1    3  2015-01-03
3  Alpharetta     GA  Alpharetta, GA      60.8  ...  2015      1    4  2015-01-04
4  Alpharetta     GA  Alpharetta, GA      44.6  ...  2015      1    5  2015-01-05

[5 rows x 25 columns]

In [ ]:
sql_df.head()

   id           city       state postal         city-state  population
0   0  New York City    New York     NY  New York City, NY     8336817
1   1    Los Angeles  California     CA    Los Angeles, CA     3979576
2   2        Chicago    Illinois     IL        Chicago, IL     2693976
3   3        Houston       Texas     TX        Houston, TX     2320268
4   4        Phoenix     Arizona     AZ        Phoenix, AZ     1680992

In [ ]:
# keys_df = pop[pop['city-state'].isin(all_cities)]
# keys_df = keys_df.sort_values('population', ascending=False)
# keys_df = keys_df.reset_index()
# keys_df = keys_df.reset_index()
# keys_df = keys_df.rename({'index': 'id'}, axis=1)
# keys_df = keys_df.drop('id', axis=1)
# keys_df = keys_df.rename({'level_0': 'id'}, axis=1)
# print(keys_df.shape[0])
# keys_df.head()

In [ ]:
# # SAVE csv files over originals to get rid of excess cities
# base_path = '/content/drive/My Drive/lambda_school/driftly_data/'

# # # weather.to_csv(base_path + 'weather_data/weather_merge.csv', index=False)
# # # housing = pd.read_csv(base_path + 'housing_data/housing_merge.csv')
# # # jobs = pd.read_csv(base_path + 'jobs_data/jobs_merge.csv')
# # # covid = pd.read_csv(base_path + 'covid_data/covid_merge.csv')
# # pop.to_csv(base_path + 'population_data/city_pop.csv', index=False)
# keys_df.to_csv(base_path + 'database_tables/keys_pop.csv', index=False)

In [ ]:
# set(all_cities) - set(pop['city-state'])

In [ ]:
# Map only IDs in the DB over weather data to get rid of extra cities
id_dict = pd.Series(sql_df['id'].values, index=sql_df['city-state'].values).to_dict()
print(id_dict)

{'New York City, NY': 0, 'Los Angeles, CA': 1, 'Chicago, IL': 2, 'Houston, TX': 3, 'Phoenix, AZ': 4, 'Philadelphia, PA': 5, 'San Antonio, TX': 6, 'San Diego, CA': 7, 'Dallas, TX': 8, 'San Jose, CA': 9, 'Austin, TX': 10, 'Honolulu, HI': 11, 'Jacksonville, FL': 12, 'Fort Worth, TX': 13, 'Columbus, OH': 14, 'Indianapolis, IN': 15, 'Charlotte, NC': 16, 'San Francisco, CA': 17, 'Seattle, WA': 18, 'Denver, CO': 19, 'Washington, DC': 20, 'Boston, MA': 21, 'El Paso, TX': 22, 'Detroit, MI': 23, 'Oklahoma City, OK': 24, 'Portland, OR': 25, 'Las Vegas, NV': 26, 'Memphis, TN': 27, 'Baltimore, MD': 28, 'Milwaukee, WI': 29, 'Albuquerque, NM': 30, 'Tucson, AZ': 31, 'Fresno, CA': 32, 'Mesa, AZ': 33, 'Sacramento, CA': 34, 'Atlanta, GA': 35, 'Kansas City, MO': 36, 'Colorado Springs, CO': 37, 'Omaha, NE': 38, 'Raleigh, NC': 39, 'Miami, FL': 40, 'Long Beach, CA': 41, 'Virginia Beach, VA': 42, 'Oakland, CA': 43, 'Minneapolis, MN': 44, 'Tulsa, OK': 45, 'Tampa, FL': 46, 'Arlington, TX': 47, 'New Orleans, LA': 48, 'Wichita, KS': 49, 'Bakersfield, CA': 50, 'Cleveland, OH': 51, 'Aurora, CO': 52, 'Anaheim, CA': 53, 'Santa Ana, CA': 54, 'Riverside, CA': 55, 'Corpus Christi, TX': 56, 'Henderson, NV': 57, 'Stockton, CA': 58, 'Saint Paul, MN': 59, 'Cincinnati, OH': 60, 'Saint Louis, MO': 61, 'Pittsburgh, PA': 62, 'Greensboro, NC': 63, 'Lincoln, NE': 64, 'Plano, TX': 65, 'Orlando, FL': 66, 'Irvine, CA': 67, 'Newark, NJ': 68, 'Durham, NC': 69, 'Chula Vista, CA': 70, 'Toledo, OH': 71, 'Fort Wayne, IN': 72, 'Saint Petersburg, FL': 73, 'Laredo, TX': 74, 'Jersey City, NJ': 75, 'Chandler, AZ': 76, 'Madison, WI': 77, 'Lubbock, TX': 78, 'Scottsdale, AZ': 79, 'Reno, NV': 80, 'Buffalo, NY': 81, 'Glendale, AZ': 82, 'North Las Vegas, NV': 83, 'Winston-Salem, NC': 84, 'Chesapeake, VA': 85, 'Norfolk, VA': 86, 'Fremont, CA': 87, 'Garland, TX': 88, 'Irving, TX': 89, 'Hialeah, FL': 90, 'Richmond, VA': 91, 'Spokane, WA': 92, 'Baton Rouge, LA': 93, 'Tacoma, WA': 94, 'San Bernardino, CA': 95, 'Modesto, CA': 96, 'Fontana, CA': 97, 'Des Moines, IA': 98, 'Moreno Valley, CA': 99, 'Santa Clarita, CA': 100, 'Fayetteville, NC': 101, 'Birmingham, AL': 102, 'Oxnard, CA': 103, 'Rochester, NY': 104, 'Port Saint Lucie, FL': 105, 'Grand Rapids, MI': 106, 'Huntsville, AL': 107, 'Salt Lake City, UT': 108, 'Frisco, TX': 109, 'Amarillo, TX': 110, 'Huntington Beach, CA': 111, 'McKinney, TX': 112, 'Montgomery, AL': 113, 'Akron, OH': 114, 'Little Rock, AR': 115, 'Tempe, AZ': 116, 'Overland Park, KS': 117, 'Grand Prairie, TX': 118, 'Tallahassee, FL': 119, 'Cape Coral, FL': 120, 'Mobile, AL': 121, 'Knoxville, TN': 122, 'Shreveport, LA': 123, 'Ontario, CA': 124, 'Vancouver, WA': 125, 'Sioux Falls, SD': 126, 'Chattanooga, TN': 127, 'Brownsville, TX': 128, 'Fort Lauderdale, FL': 129, 'Providence, RI': 130, 'Newport News, VA': 131, 'Rancho Cucamonga, CA': 132, 'Santa Rosa, CA': 133, 'Peoria, AZ': 134, 'Oceanside, CA': 135, 'Elk Grove, CA': 136, 'Salem, OR': 137, 'Corona, CA': 138, 'Springfield, MO': 139, 'Jackson, MS': 140, 'Alexandria, VA': 141, 'Hayward, CA': 142, 'Clarksville, TN': 143, 'Lakewood, CO': 144, 'Lancaster, CA': 145, 'Salinas, CA': 146, 'Palmdale, CA': 147, 'Hollywood, FL': 148, 'Sunnyvale, CA': 149, 'Pomona, CA': 150, 'Killeen, TX': 151, 'Escondido, CA': 152, 'Pasadena, TX': 153, 'Naperville, IL': 154, 'Bellevue, WA': 155, 'Joliet, IL': 156, 'Murfreesboro, TN': 157, 'Midland, TX': 158, 'Rockford, IL': 159, 'Paterson, NJ': 160, 'Savannah, GA': 161, 'Bridgeport, CT': 162, 'Torrance, CA': 163, 'McAllen, TX': 164, 'Syracuse, NY': 165, 'Surprise, AZ': 166, 'Denton, TX': 167, 'Roseville, CA': 168, 'Thornton, CO': 169, 'Miramar, FL': 170, 'Mesquite, TX': 171, 'Olathe, KS': 172, 'Dayton, OH': 173, 'Carrollton, TX': 174, 'Waco, TX': 175, 'Orange, CA': 176, 'Fullerton, CA': 177, 'Charleston, SC': 178, 'West Valley City, UT': 179, 'Visalia, CA': 180, 'Gainesville, FL': 181, 'Warren, MI': 182, 'Coral Springs, FL': 183, 'Cedar Rapids, IA': 184, 'Round Rock, TX': 185, 'Sterling Heights, MI': 186, 'Kent, WA': 187, 'Columbia, SC': 188, 'Santa Clara, CA': 189, 'New Haven, CT': 190, 'Stamford, CT': 191, 'Concord, CA': 192, 'Elizabeth, NJ': 193, 'Thousand Oaks, CA': 194, 'Lafayette, LA': 195, 'Simi Valley, CA': 196, 'Topeka, KS': 197, 'Norman, OK': 198, 'Victorville, CA': 199, 'Hartford, CT': 200, 'Vallejo, CA': 201, 'Allentown, PA': 202, 'Berkeley, CA': 203, 'Richardson, TX': 204, 'Arvada, CO': 205, 'Ann Arbor, MI': 206, 'Cambridge, MA': 207, 'Sugar Land, TX': 208, 'Lansing, MI': 209, 'Evansville, IN': 210, 'College Station, TX': 211, 'Fairfield, CA': 212, 'Clearwater, FL': 213, 'Palm Bay, FL': 214, 'El Monte, CA': 215, 'North Charleston, SC': 216, 'Carlsbad, CA': 217, 'Temecula, CA': 218, 'Clovis, CA': 219, 'Springfield, IL': 220, 'Meridian, ID': 221, 'Westminster, CO': 222, 'Costa Mesa, CA': 223, 'High Point, NC': 224, 'Manchester, NH': 225, 'Pueblo, CO': 226, 'Lakeland, FL': 227, 'Pompano Beach, FL': 228, 'West Palm Beach, FL': 229, 'Antioch, CA': 230, 'Everett, WA': 231, 'Downey, CA': 232, 'Lowell, MA': 233, 'Centennial, CO': 234, 'Elgin, IL': 235, 'Broken Arrow, OK': 236, 'Miami Gardens, FL': 237, 'Billings, MT': 238, 'Sandy Springs, GA': 239, 'Gresham, OR': 240, 'Lewisville, TX': 241, 'Hillsboro, OR': 242, 'Greeley, CO': 243, 'Inglewood, CA': 244, 'Waterbury, CT': 245, 'League City, TX': 246, 'Santa Maria, CA': 247, 'Tyler, TX': 248, 'Daly City, CA': 249, 'Boulder, CO': 250, 'Allen, TX': 251, 'West Covina, CA': 252, 'Sparks, NV': 253, 'Wichita Falls, TX': 254, 'Green Bay, WI': 255, 'San Mateo, CA': 256, 'Norwalk, CA': 257, 'Rialto, CA': 258, 'Las Cruces, NM': 259, 'Chico, CA': 260, 'El Cajon, CA': 261, 'Burbank, CA': 262, 'South Bend, IN': 263, 'Renton, WA': 264, 'Vista, CA': 265, 'Davenport, IA': 266, 'Edinburg, TX': 267, 'Tuscaloosa, AL': 268, 'Carmel, IN': 269, 'Spokane Valley, WA': 270, 'San Angelo, TX': 271, 'Vacaville, CA': 272, 'Bend, OR': 273, 'Kenosha, WI': 274, 'Boca Raton, FL': 275, "Lee's Summit, MO": 276, 'Nampa, ID': 277, 'Rio Rancho, NM': 278, 'Roanoke, VA': 279, 'Beaverton, OR': 280, 'Lawrence, KS': 281, 'Orem, UT': 282, 'Longmont, CO': 283, 'San Marcos, CA': 284, 'Albany, NY': 285, 'Sandy, UT': 286, 'Federal Way, WA': 287, 'Hesperia, CA': 288, 'Brockton, MA': 289, 'Flint, MI': 290, 'Erie, PA': 291, 'New Bedford, MA': 292, 'Fishers, IN': 293, 'Sunrise, FL': 294, 'Roswell, GA': 295, 'Menifee, CA': 296, 'Tracy, CA': 297, 'Plantation, FL': 298, 'Quincy, MA': 299, 'Portsmouth, VA': 300, 'Mission Viejo, CA': 301, 'Chino, CA': 302, 'Lynn, MA': 303, 'Edmond, OK': 304, 'Dearborn, MI': 305, 'Livonia, MI': 306, 'South Gate, CA': 307, 'Greenville, NC': 308, 'Lawton, OK': 309, 'Kirkland, WA': 310, 'Asheville, NC': 311, 'Deltona, FL': 312, 'Redding, CA': 313, 'Bellingham, WA': 314, 'Suffolk, VA': 315, 'Indio, CA': 316, 'Carson, CA': 317, 'Santa Barbara, CA': 318, 'Conroe, TX': 319, 'Santa Monica, CA': 320, 'New Braunfels, TX': 321, 'Livermore, CA': 322, 'Palm Coast, FL': 323, 'Saint George, UT': 324, 'Fall River, MA': 325, 'Nashua, NH': 326, 'Champaign, IL': 327, 'Miami Beach, FL': 328, 'San Leandro, CA': 329, "O'Fallon, MO": 330, 'Newton, MA': 331, 'Reading, PA': 332, 'Avondale, AZ': 333, 'Fort Smith, AR': 334, 'Citrus Heights, CA': 335, 'Ogden, UT': 336, 'Fort Myers, FL': 337, 'Goodyear, AZ': 338, 'Bryan, TX': 339, 'Waukegan, IL': 340, 'Hawthorne, CA': 341, 'Redwood City, CA': 342, 'Hoover, AL': 343, 'Bloomington, IN': 344, 'Duluth, MN': 345, 'Lake Forest, CA': 346, 'Hemet, CA': 347, 'Whittier, CA': 348, 'Clifton, NJ': 349, 'Largo, FL': 350, 'Danbury, CT': 351, 'Santa Fe, NM': 352, 'Johns Creek, GA': 353, 'Newport Beach, CA': 354, 'Kennewick, WA': 355, 'Mission, TX': 356, 'Milpitas, CA': 357, 'Troy, MI': 358, 'Chino Hills, CA': 359, 'Alhambra, CA': 360, 'Merced, CA': 361, 'Trenton, NJ': 362, 'Franklin, TN': 363, 'Medford, OR': 364, 'Melbourne, FL': 365, 'Manteca, CA': 366, 'Mountain View, CA': 367, 'Sioux City, IA': 368, 'Lynchburg, VA': 369, 'Buena Park, CA': 370, 'Pleasanton, CA': 371, 'Longview, TX': 372, 'Westland, MI': 373, 'Auburn, WA': 374, 'Cranston, RI': 375, 'Somerville, MA': 376, 'Folsom, CA': 377, 'Springdale, AR': 378, 'Deerfield Beach, FL': 379, 'Warwick, RI': 380, 'Farmington Hills, MI': 381, 'Brooklyn Park, MN': 382, 'Plymouth, MN': 383, 'Buckeye, AZ': 384, 'Georgetown, TX': 385, 'Cedar Park, TX': 386, 'Tustin, CA': 387, 'Perris, CA': 388, 'Pharr, TX': 389, 'Loveland, CO': 390, 'Boynton Beach, FL': 391, 'New Rochelle, NY': 392, 'Temple, TX': 393, 'Lake Charles, LA': 394, 'Jonesboro, AR': 395, 'Napa, CA': 396, 'Parma, OH': 397, 'Layton, UT': 398, 'Alameda, CA': 399, 'Warner Robins, GA': 400, 'Rapid City, SD': 401, 'Gastonia, NC': 402, 'Baytown, TX': 403, 'Upland, CA': 404, 'Racine, WI': 405, 'Scranton, PA': 406, 'South Jordan, UT': 407, 'Bellflower, CA': 408, 'Kalamazoo, MI': 409, 'San Ramon, CA': 410, 'Bethlehem, PA': 411, 'Hammond, IN': 412, 'Missoula, MT': 413, 'Missouri City, TX': 414, 'Pasco, WA': 415, 'Baldwin Park, CA': 416, 'Iowa City, IA': 417, 'Rancho Cordova, CA': 418, 'Rock Hill, SC': 419, 'Flagstaff, AZ': 420, 'Gary, IN': 421, 'Saint Joseph, MO': 422, 'Rochester Hills, MI': 423, 'Framingham, MA': 424, 'Union City, CA': 425, 'Appleton, WI': 426, 'Turlock, CA': 427, 'Camden, NJ': 428, 'Bismarck, ND': 429, 'Evanston, IL': 430, 'Woodbury, MN': 431, 'Kissimmee, FL': 432, 'Southfield, MI': 433, 'Maple Grove, MN': 434, 'Pittsburg, CA': 435, 'New Britain, CT': 436, 'Mansfield, TX': 437, 'Waukesha, WI': 438, 'Frederick, MD': 439, 'Pawtucket, RI': 440, 'Redmond, WA': 441, 'Lauderhill, FL': 442, 'Gulfport, MS': 443, 'Redlands, CA': 444, 'Weston, FL': 445, 'Saint Charles, MO': 446, 'Decatur, IL': 447, 'North Port, FL': 448, 'North Richland Hills, TX': 449, 'Bowling Green, KY': 450, 'Broomfield, CO': 451, 'Canton, OH': 452, 'Marysville, WA': 453, 'Walnut Creek, CA': 454, 'Camarillo, CA': 455, 'Lynwood, CA': 456, 'Lehi, UT': 457, 'Passaic, NJ': 458, 'Homestead, FL': 459, 'Delray Beach, FL': 460, 'Davis, CA': 461, 'Lake Elsinore, CA': 462, 'Daytona Beach, FL': 463, 'Dothan, AL': 464, 'Rocklin, CA': 465, 'Eau Claire, WI': 466, 'Rogers, AR': 467, 'Saint Cloud, MN': 468, 'Bossier City, LA': 469, 'Rockville, MD': 470, 'Muncie, IN': 471, 'Gaithersburg, MD': 472, 'West Des Moines, IA': 473, 'South San Francisco, CA': 474, 'Conway, AR': 475, 'Lodi, CA': 476, 'Ankeny, IA': 477, 'Mount Vernon, NY': 478, 'Rowlett, TX': 479, 'Waterloo, IA': 480, 'Lakeville, MN': 481, 'Alpharetta, GA': 482, 'Oshkosh, WI': 483, 'Victoria, TX': 484, 'Johnson City, TN': 485, 'Redondo Beach, CA': 486, 'Tamarac, FL': 487, 'Laguna Niguel, CA': 488, 'Eagan, MN': 489, 'Kenner, LA': 490, 'Ames, IA': 491, 'North Little Rock, AR': 492, 'Sammamish, WA': 493, 'Madera, CA': 494, 'Shawnee, KS': 495, 'Doral, FL': 496, 'Blaine, MN': 497, 'Tulare, CA': 498, 'Pflugerville, TX': 499, 'Palo Alto, CA': 500, 'Schenectady, NY': 501, 'Harlingen, TX': 502, 'Bayonne, NJ': 503, 'Eden Prairie, MN': 504, 'Port Orange, FL': 505, 'Dublin, CA': 506, 'Noblesville, IN': 507, 'Santa Cruz, CA': 508, 'Janesville, WI': 509, 'San Clemente, CA': 510, 'Brentwood, CA': 511, 'East Orange, NJ': 512, 'Cheyenne, WY': 513, 'Eastvale, CA': 514, 'Haverhill, MA': 515, 'Lorain, OH': 516, 'Grand Junction, CO': 517, 'Coon Rapids, MN': 518, 'Idaho Falls, ID': 519, 'North Miami, FL': 520, 'Encinitas, CA': 521, 'Leander, TX': 522, 'Waltham, MA': 523, 'Council Bluffs, IA': 524, 'Hamilton, OH': 525, 'Moore, OK': 526, 'Pico Rivera, CA': 527, 'Montebello, CA': 528, 'Millcreek, UT': 529, 'Sanford, FL': 530, 'National City, CA': 531, 'Burnsville, MN': 532, 'Coconut Creek, FL': 533, 'Taylor, MI': 534, 'Novi, MI': 535, 'Marietta, GA': 536, 'Ocala, FL': 537, 'Terre Haute, IN': 538, 'Petaluma, CA': 539, 'La Habra, CA': 540, 'Malden, MA': 541, 'Commerce City, CO': 542, 'Owensboro, KY': 543, 'Bristol, CT': 544, 'West Allis, WI': 545, 'Taylorsville, UT': 546, 'Utica, NY': 547, 'Monterey Park, CA': 548, 'Bonita Springs, FL': 549, 'Porterville, CA': 550, 'Greenwood, IN': 551, 'Bartlett, TN': 552, 'Vineland, NJ': 553, 'Bradenton, FL': 554, 'Pontiac, MI': 555, 'Meriden, CT': 556, 'Gardena, CA': 557, 'Royal Oak, MI': 558, 'Cupertino, CA': 559, 'La Mesa, CA': 560, 'Gilroy, CA': 561, 'Saint Clair Shores, MI': 562, 'Des Plaines, IL': 563, 'Corvallis, OR': 564, 'Margate, FL': 565, 'Bowie, MD': 566, 'Casa Grande, AZ': 567, 'Caldwell, ID': 568, 'San Rafael, CA': 569, 'Great Falls, MT': 570, 'Sarasota, FL': 571, 'Richland, WA': 572, 'Saint Peters, MO': 573, 'Hendersonville, TN': 574, 'White Plains, NY': 575, 'Santee, CA': 576, 'Kokomo, IN': 577, 'Arcadia, CA': 578, 'Casper, WY': 579, 'Dubuque, IA': 580, 'Weymouth, MA': 581, 'Palm Beach Gardens, FL': 582, 'Hanford, CA': 583, 'Huntington Park, CA': 584, 'Taunton, MA': 585, 'Midwest City, OK': 586, 'Euless, TX': 587, 'Shoreline, WA': 588, 'Smyrna, GA': 589, 'Pocatello, ID': 590, 'Valdosta, GA': 591, 'Lake Havasu City, AZ': 592, 'Grand Forks, ND': 593, 'Blue Springs, MO': 594, 'Southaven, MS': 595, 'Diamond Bar, CA': 596, 'New Brunswick, NJ': 597, 'Lenexa, KS': 598, 'Brookhaven, GA': 599, 'Novato, CA': 600, 'Tigard, OR': 601, 'Highland, CA': 602, 'Fountain Valley, CA': 603, 'Dearborn Heights, MI': 604, 'Grapevine, TX': 605, 'Apple Valley, MN': 606, 'Chicopee, MA': 607, 'Cathedral City, CA': 608, 'Bentonville, AR': 609, 'Kettering, OH': 610, 'Colton, CA': 611, 'Anderson, IN': 612, 'Milford, CT': 613, 'West Haven, CT': 614, 'Burlington, NC': 615, 'Manhattan, KS': 616, 'Berwyn, IL': 617, 'Port Arthur, TX': 618, 'Kingsport, TN': 619, 'Minnetonka, MN': 620, 'Rosemead, CA': 621, 'Paramount, CA': 622, 'Rocky Mount, NC': 623, 'Watsonville, CA': 624, 'Elyria, OH': 625, 'Pinellas Park, FL': 626, 'Delano, CA': 627, 'West Sacramento, CA': 628, 'Apopka, FL': 629, 'Palm Desert, CA': 630, 'Little Elm, TX': 631, 'Revere, MA': 632, 'Peabody, MA': 633, 'Harrisonburg, VA': 634, 'DeSoto, TX': 635, 'Pensacola, FL': 636, 'Olympia, WA': 637, 'Edina, MN': 638, 'Wheaton, IL': 639, 'Hoboken, NJ': 640, 'Lacey, WA': 641, "Coeur d'Alene, ID": 642, 'Elkhart, IN': 643, 'Maricopa, AZ': 644, 'Kentwood, MI': 645, 'Glendora, CA': 646, 'Logan, UT': 647, 'Burien, WA': 648, 'Perth Amboy, NJ': 649, 'Herriman, UT': 650, 'Grand Island, NE': 651, 'Placentia, CA': 652, 'La Crosse, WI': 653, 'Battle Creek, MI': 654, 'West Lafayette, IN': 655, 'Florissant, MO': 656, 'Joplin, MO': 657, 'Aliso Viejo, CA': 658, 'Kannapolis, NC': 659, 'Galveston, TX': 660, 'Mishawaka, IN': 661, 'Plainfield, NJ': 662, 'Stillwater, OK': 663, 'Twin Falls, ID': 664, 'Texas City, TX': 665}

In [ ]:
pop_dict = pd.Series(sql_df['population'].values, index=sql_df['city-state'].values).to_dict()
print(pop_dict)

{'New York City, NY': 8336817, 'Los Angeles, CA': 3979576, 'Chicago, IL': 2693976, 'Houston, TX': 2320268, 'Phoenix, AZ': 1680992, 'Philadelphia, PA': 1584064, 'San Antonio, TX': 1547253, 'San Diego, CA': 1423851, 'Dallas, TX': 1343573, 'San Jose, CA': 1021795, 'Austin, TX': 978908, 'Honolulu, HI': 974563, 'Jacksonville, FL': 911507, 'Fort Worth, TX': 909585, 'Columbus, OH': 898553, 'Indianapolis, IN': 886220, 'Charlotte, NC': 885708, 'San Francisco, CA': 881549, 'Seattle, WA': 753675, 'Denver, CO': 727211, 'Washington, DC': 705749, 'Boston, MA': 692600, 'El Paso, TX': 681728, 'Detroit, MI': 670031, 'Oklahoma City, OK': 655057, 'Portland, OR': 654741, 'Las Vegas, NV': 651319, 'Memphis, TN': 651073, 'Baltimore, MD': 593490, 'Milwaukee, WI': 590157, 'Albuquerque, NM': 560513, 'Tucson, AZ': 548073, 'Fresno, CA': 531576, 'Mesa, AZ': 518012, 'Sacramento, CA': 513624, 'Atlanta, GA': 506811, 'Kansas City, MO': 495327, 'Colorado Springs, CO': 478221, 'Omaha, NE': 478192, 'Raleigh, NC': 474069, 'Miami, FL': 467963, 'Long Beach, CA': 462628, 'Virginia Beach, VA': 449974, 'Oakland, CA': 433031, 'Minneapolis, MN': 429606, 'Tulsa, OK': 401190, 'Tampa, FL': 399700, 'Arlington, TX': 398854, 'New Orleans, LA': 390144, 'Wichita, KS': 389938, 'Bakersfield, CA': 384145, 'Cleveland, OH': 381009, 'Aurora, CO': 379289, 'Anaheim, CA': 350365, 'Santa Ana, CA': 332318, 'Riverside, CA': 331360, 'Corpus Christi, TX': 326586, 'Henderson, NV': 320189, 'Stockton, CA': 312697, 'Saint Paul, MN': 308096, 'Cincinnati, OH': 303940, 'Saint Louis, MO': 300576, 'Pittsburgh, PA': 300286, 'Greensboro, NC': 296710, 'Lincoln, NE': 289102, 'Plano, TX': 287677, 'Orlando, FL': 287442, 'Irvine, CA': 287401, 'Newark, NJ': 282011, 'Durham, NC': 278993, 'Chula Vista, CA': 274492, 'Toledo, OH': 272779, 'Fort Wayne, IN': 270402, 'Saint Petersburg, FL': 265351, 'Laredo, TX': 262491, 'Jersey City, NJ': 262075, 'Chandler, AZ': 261165, 'Madison, WI': 259680, 'Lubbock, TX': 258862, 'Scottsdale, AZ': 258069, 'Reno, NV': 255601, 'Buffalo, NY': 255284, 'Glendale, AZ': 252381, 'North Las Vegas, NV': 251974, 'Winston-Salem, NC': 247945, 'Chesapeake, VA': 244835, 'Norfolk, VA': 242742, 'Fremont, CA': 241110, 'Garland, TX': 239928, 'Irving, TX': 239798, 'Hialeah, FL': 233339, 'Richmond, VA': 230436, 'Spokane, WA': 222081, 'Baton Rouge, LA': 220236, 'Tacoma, WA': 217827, 'San Bernardino, CA': 215784, 'Modesto, CA': 215196, 'Fontana, CA': 214547, 'Des Moines, IA': 214237, 'Moreno Valley, CA': 213055, 'Santa Clarita, CA': 212979, 'Fayetteville, NC': 211657, 'Birmingham, AL': 209403, 'Oxnard, CA': 208881, 'Rochester, NY': 205695, 'Port Saint Lucie, FL': 201846, 'Grand Rapids, MI': 201013, 'Huntsville, AL': 200574, 'Salt Lake City, UT': 200567, 'Frisco, TX': 200490, 'Amarillo, TX': 199371, 'Huntington Beach, CA': 199223, 'McKinney, TX': 199177, 'Montgomery, AL': 198525, 'Akron, OH': 197597, 'Little Rock, AR': 197312, 'Tempe, AZ': 195805, 'Overland Park, KS': 195494, 'Grand Prairie, TX': 194543, 'Tallahassee, FL': 194500, 'Cape Coral, FL': 194495, 'Mobile, AL': 188720, 'Knoxville, TN': 187603, 'Shreveport, LA': 187112, 'Ontario, CA': 185010, 'Vancouver, WA': 184463, 'Sioux Falls, SD': 183793, 'Chattanooga, TN': 182799, 'Brownsville, TX': 182781, 'Fort Lauderdale, FL': 182437, 'Providence, RI': 179883, 'Newport News, VA': 179225, 'Rancho Cucamonga, CA': 177603, 'Santa Rosa, CA': 176753, 'Peoria, AZ': 175961, 'Oceanside, CA': 175742, 'Elk Grove, CA': 174775, 'Salem, OR': 174365, 'Corona, CA': 169868, 'Springfield, MO': 167882, 'Jackson, MS': 160628, 'Alexandria, VA': 159428, 'Hayward, CA': 159203, 'Clarksville, TN': 158146, 'Lakewood, CO': 157935, 'Lancaster, CA': 157601, 'Salinas, CA': 155465, 'Palmdale, CA': 155079, 'Hollywood, FL': 154817, 'Sunnyvale, CA': 152703, 'Pomona, CA': 151691, 'Killeen, TX': 151666, 'Escondido, CA': 151625, 'Pasadena, TX': 151227, 'Naperville, IL': 148449, 'Bellevue, WA': 148164, 'Joliet, IL': 147344, 'Murfreesboro, TN': 146900, 'Midland, TX': 146038, 'Rockford, IL': 145609, 'Paterson, NJ': 145233, 'Savannah, GA': 144464, 'Bridgeport, CT': 144399, 'Torrance, CA': 143592, 'McAllen, TX': 143268, 'Syracuse, NY': 142327, 'Surprise, AZ': 141664, 'Denton, TX': 141541, 'Roseville, CA': 141500, 'Thornton, CO': 141464, 'Miramar, FL': 141191, 'Mesquite, TX': 140937, 'Olathe, KS': 140545, 'Dayton, OH': 140407, 'Carrollton, TX': 139248, 'Waco, TX': 139236, 'Orange, CA': 138669, 'Fullerton, CA': 138632, 'Charleston, SC': 137566, 'West Valley City, UT': 135248, 'Visalia, CA': 134605, 'Gainesville, FL': 133997, 'Warren, MI': 133943, 'Coral Springs, FL': 133759, 'Cedar Rapids, IA': 133562, 'Round Rock, TX': 133372, 'Sterling Heights, MI': 132438, 'Kent, WA': 132319, 'Columbia, SC': 131674, 'Santa Clara, CA': 130365, 'New Haven, CT': 130250, 'Stamford, CT': 129638, 'Concord, CA': 129295, 'Elizabeth, NJ': 129216, 'Thousand Oaks, CA': 126813, 'Lafayette, LA': 126185, 'Simi Valley, CA': 125613, 'Topeka, KS': 125310, 'Norman, OK': 124880, 'Victorville, CA': 122385, 'Hartford, CT': 122105, 'Vallejo, CA': 121692, 'Allentown, PA': 121442, 'Berkeley, CA': 121363, 'Richardson, TX': 121323, 'Arvada, CO': 121272, 'Ann Arbor, MI': 119980, 'Cambridge, MA': 118927, 'Sugar Land, TX': 118488, 'Lansing, MI': 118210, 'Evansville, IN': 117979, 'College Station, TX': 117911, 'Fairfield, CA': 117133, 'Clearwater, FL': 116946, 'Palm Bay, FL': 115552, 'El Monte, CA': 115487, 'North Charleston, SC': 115382, 'Carlsbad, CA': 115382, 'Temecula, CA': 114761, 'Clovis, CA': 114584, 'Springfield, IL': 114230, 'Meridian, ID': 114161, 'Westminster, CO': 113166, 'Costa Mesa, CA': 113003, 'High Point, NC': 112791, 'Manchester, NH': 112673, 'Pueblo, CO': 112361, 'Lakeland, FL': 112136, 'Pompano Beach, FL': 112118, 'West Palm Beach, FL': 111955, 'Antioch, CA': 111502, 'Everett, WA': 111475, 'Downey, CA': 111126, 'Lowell, MA': 110997, 'Centennial, CO': 110937, 'Elgin, IL': 110849, 'Broken Arrow, OK': 110198, 'Miami Gardens, FL': 110001, 'Billings, MT': 109577, 'Sandy Springs, GA': 109452, 'Gresham, OR': 109381, 'Lewisville, TX': 109212, 'Hillsboro, OR': 109128, 'Greeley, CO': 108649, 'Inglewood, CA': 108151, 'Waterbury, CT': 107568, 'League City, TX': 107536, 'Santa Maria, CA': 107263, 'Tyler, TX': 106985, 'Daly City, CA': 106280, 'Boulder, CO': 105673, 'Allen, TX': 105623, 'West Covina, CA': 105101, 'Sparks, NV': 105006, 'Wichita Falls, TX': 104683, 'Green Bay, WI': 104578, 'San Mateo, CA': 104430, 'Norwalk, CA': 103949, 'Rialto, CA': 103526, 'Las Cruces, NM': 103432, 'Chico, CA': 103301, 'El Cajon, CA': 102708, 'Burbank, CA': 102511, 'South Bend, IN': 102026, 'Renton, WA': 101751, 'Vista, CA': 101638, 'Davenport, IA': 101590, 'Edinburg, TX': 101170, 'Tuscaloosa, AL': 101129, 'Carmel, IN': 101068, 'Spokane Valley, WA': 101060, 'San Angelo, TX': 101004, 'Vacaville, CA': 100670, 'Bend, OR': 100421, 'Kenosha, WI': 99944, 'Boca Raton, FL': 99805, "Lee's Summit, MO": 99357, 'Nampa, ID': 99277, 'Rio Rancho, NM': 99178, 'Roanoke, VA': 99143, 'Beaverton, OR': 99037, 'Lawrence, KS': 98193, 'Orem, UT': 97828, 'Longmont, CO': 97261, 'San Marcos, CA': 96664, 'Albany, NY': 96460, 'Sandy, UT': 96380, 'Federal Way, WA': 96289, 'Hesperia, CA': 95750, 'Brockton, MA': 95708, 'Flint, MI': 95538, 'Erie, PA': 95508, 'New Bedford, MA': 95363, 'Fishers, IN': 95310, 'Sunrise, FL': 95166, 'Roswell, GA': 94763, 'Menifee, CA': 94756, 'Tracy, CA': 94740, 'Plantation, FL': 94580, 'Quincy, MA': 94470, 'Portsmouth, VA': 94398, 'Mission Viejo, CA': 94381, 'Chino, CA': 94371, 'Lynn, MA': 94299, 'Edmond, OK': 94054, 'Dearborn, MI': 93932, 'Livonia, MI': 93665, 'South Gate, CA': 93444, 'Greenville, NC': 93400, 'Lawton, OK': 93025, 'Kirkland, WA': 93010, 'Asheville, NC': 92870, 'Deltona, FL': 92757, 'Redding, CA': 92590, 'Bellingham, WA': 92314, 'Suffolk, VA': 92108, 'Indio, CA': 91765, 'Carson, CA': 91394, 'Santa Barbara, CA': 91364, 'Conroe, TX': 91079, 'Santa Monica, CA': 90401, 'New Braunfels, TX': 90209, 'Livermore, CA': 90189, 'Palm Coast, FL': 89800, 'Saint George, UT': 89587, 'Fall River, MA': 89541, 'Nashua, NH': 89355, 'Champaign, IL': 88909, 'Miami Beach, FL': 88885, 'San Leandro, CA': 88815, "O'Fallon, MO": 88673, 'Newton, MA': 88414, 'Reading, PA': 88375, 'Avondale, AZ': 87931, 'Fort Smith, AR': 87891, 'Citrus Heights, CA': 87796, 'Ogden, UT': 87773, 'Fort Myers, FL': 87103, 'Goodyear, AZ': 86840, 'Bryan, TX': 86276, 'Waukegan, IL': 86075, 'Hawthorne, CA': 86068, 'Redwood City, CA': 85925, 'Hoover, AL': 85768, 'Bloomington, IN': 85755, 'Duluth, MN': 85618, 'Lake Forest, CA': 85531, 'Hemet, CA': 85334, 'Whittier, CA': 85098, 'Clifton, NJ': 85052, 'Largo, FL': 84948, 'Danbury, CT': 84694, 'Santa Fe, NM': 84683, 'Johns Creek, GA': 84579, 'Newport Beach, CA': 84534, 'Kennewick, WA': 84347, 'Mission, TX': 84331, 'Milpitas, CA': 84196, 'Troy, MI': 84092, 'Chino Hills, CA': 83853, 'Alhambra, CA': 83750, 'Merced, CA': 83676, 'Trenton, NJ': 83203, 'Franklin, TN': 83097, 'Medford, OR': 83072, 'Melbourne, FL': 83029, 'Manteca, CA': 83028, 'Mountain View, CA': 82739, 'Sioux City, IA': 82651, 'Lynchburg, VA': 82168, 'Buena Park, CA': 81788, 'Pleasanton, CA': 81777, 'Longview, TX': 81631, 'Westland, MI': 81511, 'Auburn, WA': 81464, 'Cranston, RI': 81456, 'Somerville, MA': 81360, 'Folsom, CA': 81328, 'Springdale, AR': 81125, 'Deerfield Beach, FL': 81066, 'Warwick, RI': 81004, 'Farmington Hills, MI': 80612, 'Brooklyn Park, MN': 80389, 'Plymouth, MN': 79768, 'Buckeye, AZ': 79620, 'Georgetown, TX': 79604, 'Cedar Park, TX': 79462, 'Tustin, CA': 79348, 'Perris, CA': 79291, 'Pharr, TX': 79112, 'Loveland, CO': 78877, 'Boynton Beach, FL': 78679, 'New Rochelle, NY': 78557, 'Temple, TX': 78439, 'Lake Charles, LA': 78396, 'Jonesboro, AR': 78394, 'Napa, CA': 78130, 'Parma, OH': 78103, 'Layton, UT': 78014, 'Alameda, CA': 77624, 'Warner Robins, GA': 77617, 'Rapid City, SD': 77503, 'Gastonia, NC': 77273, 'Baytown, TX': 77192, 'Upland, CA': 77140, 'Racine, WI': 76760, 'Scranton, PA': 76653, 'South Jordan, UT': 76598, 'Bellflower, CA': 76435, 'Kalamazoo, MI': 76200, 'San Ramon, CA': 75995, 'Bethlehem, PA': 75815, 'Hammond, IN': 75522, 'Missoula, MT': 75516, 'Missouri City, TX': 75457, 'Pasco, WA': 75432, 'Baldwin Park, CA': 75251, 'Iowa City, IA': 75130, 'Rancho Cordova, CA': 75087, 'Rock Hill, SC': 75048, 'Flagstaff, AZ': 75038, 'Gary, IN': 74879, 'Saint Joseph, MO': 74875, 'Rochester Hills, MI': 74516, 'Framingham, MA': 74416, 'Union City, CA': 74107, 'Appleton, WI': 74098, 'Turlock, CA': 73631, 'Camden, NJ': 73562, 'Bismarck, ND': 73529, 'Evanston, IL': 73473, 'Woodbury, MN': 72828, 'Kissimmee, FL': 72717, 'Southfield, MI': 72689, 'Maple Grove, MN': 72622, 'Pittsburg, CA': 72588, 'New Britain, CT': 72495, 'Mansfield, TX': 72419, 'Waukesha, WI': 72299, 'Frederick, MD': 72244, 'Pawtucket, RI': 72117, 'Redmond, WA': 71929, 'Lauderhill, FL': 71868, 'Gulfport, MS': 71705, 'Redlands, CA': 71513, 'Weston, FL': 71166, 'Saint Charles, MO': 71028, 'Decatur, IL': 70746, 'North Port, FL': 70724, 'North Richland Hills, TX': 70670, 'Bowling Green, KY': 70543, 'Broomfield, CO': 70465, 'Canton, OH': 70447, 'Marysville, WA': 70298, 'Walnut Creek, CA': 70166, 'Camarillo, CA': 69888, 'Lynwood, CA': 69887, 'Lehi, UT': 69724, 'Passaic, NJ': 69703, 'Homestead, FL': 69523, 'Delray Beach, FL': 69451, 'Davis, CA': 69413, 'Lake Elsinore, CA': 69283, 'Daytona Beach, FL': 69186, 'Dothan, AL': 68941, 'Rocklin, CA': 68823, 'Eau Claire, WI': 68802, 'Rogers, AR': 68669, 'Saint Cloud, MN': 68462, 'Bossier City, LA': 68159, 'Rockville, MD': 68079, 'Muncie, IN': 67999, 'Gaithersburg, MD': 67985, 'West Des Moines, IA': 67899, 'South San Francisco, CA': 67789, 'Conway, AR': 67638, 'Lodi, CA': 67586, 'Ankeny, IA': 67355, 'Mount Vernon, NY': 67345, 'Rowlett, TX': 67339, 'Waterloo, IA': 67328, 'Lakeville, MN': 67317, 'Alpharetta, GA': 67213, 'Oshkosh, WI': 67004, 'Victoria, TX': 66916, 'Johnson City, TN': 66906, 'Redondo Beach, CA': 66749, 'Tamarac, FL': 66721, 'Laguna Niguel, CA': 66385, 'Eagan, MN': 66372, 'Kenner, LA': 66340, 'Ames, IA': 66258, 'North Little Rock, AR': 65903, 'Sammamish, WA': 65892, 'Madera, CA': 65860, 'Shawnee, KS': 65807, 'Doral, FL': 65741, 'Blaine, MN': 65607, 'Tulare, CA': 65496, 'Pflugerville, TX': 65380, 'Palo Alto, CA': 65364, 'Schenectady, NY': 65273, 'Harlingen, TX': 65022, 'Bayonne, NJ': 64897, 'Eden Prairie, MN': 64893, 'Port Orange, FL': 64842, 'Dublin, CA': 64826, 'Noblesville, IN': 64668, 'Santa Cruz, CA': 64608, 'Janesville, WI': 64575, 'San Clemente, CA': 64558, 'Brentwood, CA': 64474, 'East Orange, NJ': 64367, 'Cheyenne, WY': 64235, 'Eastvale, CA': 64157, 'Haverhill, MA': 64014, 'Lorain, OH': 63855, 'Grand Junction, CO': 63597, 'Coon Rapids, MN': 62998, 'Idaho Falls, ID': 62888, 'North Miami, FL': 62822, 'Encinitas, CA': 62709, 'Leander, TX': 62608, 'Waltham, MA': 62495, 'Council Bluffs, IA': 62166, 'Hamilton, OH': 62082, 'Moore, OK': 62055, 'Pico Rivera, CA': 62027, 'Montebello, CA': 61954, 'Millcreek, UT': 61450, 'Sanford, FL': 61448, 'National City, CA': 61394, 'Burnsville, MN': 61339, 'Coconut Creek, FL': 61248, 'Taylor, MI': 60922, 'Novi, MI': 60896, 'Marietta, GA': 60867, 'Ocala, FL': 60786, 'Terre Haute, IN': 60622, 'Petaluma, CA': 60520, 'La Habra, CA': 60513, 'Malden, MA': 60470, 'Commerce City, CO': 60336, 'Owensboro, KY': 60131, 'Bristol, CT': 59947, 'West Allis, WI': 59890, 'Taylorsville, UT': 59805, 'Utica, NY': 59750, 'Monterey Park, CA': 59669, 'Bonita Springs, FL': 59637, 'Porterville, CA': 59599, 'Greenwood, IN': 59458, 'Bartlett, TN': 59440, 'Vineland, NJ': 59439, 'Bradenton, FL': 59439, 'Pontiac, MI': 59438, 'Meriden, CT': 59395, 'Gardena, CA': 59329, 'Royal Oak, MI': 59277, 'Cupertino, CA': 59276, 'La Mesa, CA': 59249, 'Gilroy, CA': 59032, 'Saint Clair Shores, MI': 58984, 'Des Plaines, IL': 58899, 'Corvallis, OR': 58856, 'Margate, FL': 58796, 'Bowie, MD': 58643, 'Casa Grande, AZ': 58632, 'Caldwell, ID': 58481, 'San Rafael, CA': 58440, 'Great Falls, MT': 58434, 'Sarasota, FL': 58285, 'Richland, WA': 58225, 'Saint Peters, MO': 58212, 'Hendersonville, TN': 58113, 'White Plains, NY': 58109, 'Santee, CA': 58081, 'Kokomo, IN': 58020, 'Arcadia, CA': 57939, 'Casper, WY': 57931, 'Dubuque, IA': 57882, 'Weymouth, MA': 57746, 'Palm Beach Gardens, FL': 57704, 'Hanford, CA': 57703, 'Huntington Park, CA': 57509, 'Taunton, MA': 57464, 'Midwest City, OK': 57407, 'Euless, TX': 57197, 'Shoreline, WA': 57027, 'Smyrna, GA': 56666, 'Pocatello, ID': 56637, 'Valdosta, GA': 56457, 'Lake Havasu City, AZ': 55865, 'Grand Forks, ND': 55839, 'Blue Springs, MO': 55829, 'Southaven, MS': 55780, 'Diamond Bar, CA': 55720, 'New Brunswick, NJ': 55676, 'Lenexa, KS': 55625, 'Brookhaven, GA': 55554, 'Novato, CA': 55516, 'Tigard, OR': 55514, 'Highland, CA': 55417, 'Fountain Valley, CA': 55357, 'Dearborn Heights, MI': 55353, 'Grapevine, TX': 55281, 'Apple Valley, MN': 55135, 'Chicopee, MA': 55126, 'Cathedral City, CA': 55007, 'Bentonville, AR': 54909, 'Kettering, OH': 54855, 'Colton, CA': 54824, 'Anderson, IN': 54765, 'Milford, CT': 54747, 'West Haven, CT': 54620, 'Burlington, NC': 54606, 'Manhattan, KS': 54604, 'Berwyn, IL': 54391, 'Port Arthur, TX': 54280, 'Kingsport, TN': 54127, 'Minnetonka, MN': 54064, 'Rosemead, CA': 54058, 'Paramount, CA': 53955, 'Rocky Mount, NC': 53922, 'Watsonville, CA': 53856, 'Elyria, OH': 53757, 'Pinellas Park, FL': 53637, 'Delano, CA': 53573, 'West Sacramento, CA': 53519, 'Apopka, FL': 53447, 'Palm Desert, CA': 53275, 'Little Elm, TX': 53126, 'Revere, MA': 53073, 'Peabody, MA': 53070, 'Harrisonburg, VA': 53016, 'DeSoto, TX': 52988, 'Pensacola, FL': 52975, 'Olympia, WA': 52882, 'Edina, MN': 52857, 'Wheaton, IL': 52745, 'Hoboken, NJ': 52677, 'Lacey, WA': 52592, "Coeur d'Alene, ID": 52414, 'Elkhart, IN': 52358, 'Maricopa, AZ': 52127, 'Kentwood, MI': 51898, 'Glendora, CA': 51544, 'Logan, UT': 51542, 'Burien, WA': 51500, 'Perth Amboy, NJ': 51390, 'Herriman, UT': 51348, 'Grand Island, NE': 51267, 'Placentia, CA': 51233, 'La Crosse, WI': 51227, 'Battle Creek, MI': 51093, 'West Lafayette, IN': 50996, 'Florissant, MO': 50952, 'Joplin, MO': 50925, 'Aliso Viejo, CA': 50887, 'Kannapolis, NC': 50841, 'Galveston, TX': 50446, 'Mishawaka, IN': 50363, 'Plainfield, NJ': 50317, 'Stillwater, OK': 50299, 'Twin Falls, ID': 50197, 'Texas City, TX': 50094}

In [ ]:
weather.head()

         city postal      city_state  maxtempf  ...  year  month  day   date_time
0  Alpharetta     GA  Alpharetta, GA      51.8  ...  2015      1    1  2015-01-01
1  Alpharetta     GA  Alpharetta, GA      51.8  ...  2015      1    2  2015-01-02
2  Alpharetta     GA  Alpharetta, GA      55.4  ...  2015      1    3  2015-01-03
3  Alpharetta     GA  Alpharetta, GA      60.8  ...  2015      1    4  2015-01-04
4  Alpharetta     GA  Alpharetta, GA      44.6  ...  2015      1    5  2015-01-05

[5 rows x 25 columns]

In [ ]:
weather['pop'] = weather['city_state'].map(pop_dict)
weather['id'] = weather['city_state'].map(id_dict)
weather = weather.dropna(axis=0)
weather['pop'] = weather['pop'].astype('int')
weather['id'] = weather['id'].astype('int')
weather.head()

         city postal      city_state  maxtempf  ...  day   date_time    pop   id
0  Alpharetta     GA  Alpharetta, GA      51.8  ...    1  2015-01-01  67213  482
1  Alpharetta     GA  Alpharetta, GA      51.8  ...    2  2015-01-02  67213  482
2  Alpharetta     GA  Alpharetta, GA      55.4  ...    3  2015-01-03  67213  482
3  Alpharetta     GA  Alpharetta, GA      60.8  ...    4  2015-01-04  67213  482
4  Alpharetta     GA  Alpharetta, GA      44.6  ...    5  2015-01-05  67213  482

[5 rows x 27 columns]

In [ ]:
weather.columns

Index(['city', 'postal', 'city_state', 'maxtempf', 'feelslikef', 'mintempf',
       'maxtempc', 'feelslikec', 'mintempc', 'precip_mm', 'totalsnow_cm',
       'uvindex', 'dewpointc', 'heatindexc', 'windchillc', 'windgust_kmph',
       'cloudcover', 'humidity', 'pressure', 'visibility', 'windspeed_kmph',
       'year', 'month', 'day', 'date_time', 'pop', 'id'],
      dtype='object')

In [ ]:
weather_cols = ['id', 'pop', 'city', 'postal', 'city_state', 'maxtempf', 'feelslikef', 'mintempf',
       'maxtempc', 'feelslikec', 'mintempc', 'precip_mm', 'totalsnow_cm',
       'uvindex', 'dewpointc', 'heatindexc', 'windchillc', 'windgust_kmph',
       'cloudcover', 'humidity', 'pressure', 'visibility', 'windspeed_kmph',
       'year', 'month', 'day', 'date_time']
weather = weather[weather_cols]

In [ ]:
weather.columns = ['id', 'pop', 'City', 'Postal', 'City_State', 'MaxTempF', 'FeelsLikeF', 
'MinTempF', 'MaxTempC', 'FeelsLikeC', 'MinTempC', 'Precip_mm', 
'TotalSnow_cm', 'UVindex', 'DewPointC', 'HeatIndexC', 'WindChillC', 
'WindGust_kmph', 'CloudCover', 'Humidity', 'Pressure', 'Visibility', 
'WindSpeed_kmph', 'year', 'month', 'day', 'date_time']
weather.head()

    id    pop        City Postal  ...  year  month  day   date_time
0  482  67213  Alpharetta     GA  ...  2015      1    1  2015-01-01
1  482  67213  Alpharetta     GA  ...  2015      1    2  2015-01-02
2  482  67213  Alpharetta     GA  ...  2015      1    3  2015-01-03
3  482  67213  Alpharetta     GA  ...  2015      1    4  2015-01-04
4  482  67213  Alpharetta     GA  ...  2015      1    5  2015-01-05

[5 rows x 27 columns]

In [ ]:
weather.head()

    id    pop        City Postal  ...  year  month  day   date_time
0  482  67213  Alpharetta     GA  ...  2015      1    1  2015-01-01
1  482  67213  Alpharetta     GA  ...  2015      1    2  2015-01-02
2  482  67213  Alpharetta     GA  ...  2015      1    3  2015-01-03
3  482  67213  Alpharetta     GA  ...  2015      1    4  2015-01-04
4  482  67213  Alpharetta     GA  ...  2015      1    5  2015-01-05

[5 rows x 27 columns]

In [ ]:
weather['City_State'].nunique()

666

In [ ]:
pd.options.display.max_rows = 9999

In [ ]:
weather = weather.sort_values(by = ['pop','date_time'], ascending=[False, True])
weather.head()

        id      pop           City Postal  ...  year  month  day   date_time
643214   0  8336817  New York City     NY  ...  2015      1    1  2015-01-01
643215   0  8336817  New York City     NY  ...  2015      1    2  2015-01-02
643216   0  8336817  New York City     NY  ...  2015      1    3  2015-01-03
643217   0  8336817  New York City     NY  ...  2015      1    4  2015-01-04
643218   0  8336817  New York City     NY  ...  2015      1    5  2015-01-05

[5 rows x 27 columns]

## Insert Weather Table

In [ ]:
cols_to_drop = ['City', 'Postal', 'MaxTempC', 'FeelsLikeC', 'MinTempC', 'DewPointC', 'HeatIndexC', 'WindChillC', 'WindGust_kmph', 'CloudCover', 'Pressure', 'Visibility']
weather_db = weather.drop(cols_to_drop, axis=1)
weather_db = weather_db.reset_index()
weather_db = weather_db.drop('index', axis=1)
weather_db.head()

   id      pop         City_State  MaxTempF  ...  year  month  day   date_time
0   0  8336817  New York City, NY      33.8  ...  2015      1    1  2015-01-01
1   0  8336817  New York City, NY      39.2  ...  2015      1    2  2015-01-02
2   0  8336817  New York City, NY      37.4  ...  2015      1    3  2015-01-03
3   0  8336817  New York City, NY      46.4  ...  2015      1    4  2015-01-04
4   0  8336817  New York City, NY      39.2  ...  2015      1    5  2015-01-05

[5 rows x 15 columns]

In [ ]:
w_ts = weather_db.set_index(keys='date_time')
w_ts.head()

            id      pop         City_State  ...  year  month  day
date_time                                   ...
2015-01-01   0  8336817  New York City, NY  ...  2015      1    1
2015-01-02   0  8336817  New York City, NY  ...  2015      1    2
2015-01-03   0  8336817  New York City, NY  ...  2015      1    3
2015-01-04   0  8336817  New York City, NY  ...  2015      1    4
2015-01-05   0  8336817  New York City, NY  ...  2015      1    5

[5 rows x 14 columns]

In [ ]:
# pip install pandarallel

In [ ]:
# from pandarallel import pandarallel
# import numpy as np
# pandarallel.initialize(nb_workers=2)

In [ ]:
weather = weather.reset_index()
weather = weather.drop('index', axis=1)

In [ ]:
weather_db = weather_db.drop(['year', 'month', 'day'], axis=1)
weather_db.head()

   id      pop         City_State  ...  Humidity  WindSpeed_kmph   date_time
0   0  8336817  New York City, NY  ...        44              16  2015-01-01
1   0  8336817  New York City, NY  ...        65              13  2015-01-02
2   0  8336817  New York City, NY  ...        80              10  2015-01-03
3   0  8336817  New York City, NY  ...        95              12  2015-01-04
4   0  8336817  New York City, NY  ...        59              22  2015-01-05

[5 rows x 12 columns]

In [ ]:
weather_db.to_csv(base_path + 'weather_data/weather_db.csv', index=False)

In [ ]:
# _grouped = w_ts.groupby(["City_State", "date_time"]).rolling(window=30).parallel_apply(np.mean,raw=True)
# # df_7d_count = pd.DataFrame(_grouped)
# # df_7d_count = df_7d_count.rename(columns={"Amount":"Transaction Count 7D"})
# # df_7d_count
# print(_grouped.shape[0])
# _grouped.head()

In [ ]:
# table_name = 'weather'

# weather_db.to_sql(table_name, engine, if_exists='replace', index=False, chunksize=500,
#             dtype={
#                 "id": Integer,
#                 "pop": Integer,
#                 "City": String,
#                 "Postal": String,
#                 "City-State": String,
#                 'MaxTempF': Float,
#                 'FeelsLikeF': Float,
#                 'MinTempF': Float,
#                 'Precip_mm': Float,
#                 'TotalSnow_cm': Float,
#                 'UVindex': Integer,
#                 'Humidity': Integer,
#                 'WindSpeed_kmph': Integer,
#                 'date_time': DateTime
#             })

In [ ]:
weather_sql = pd.read_sql(
    "SELECT * FROM weather",
    con=engine,
    parse_dates=[
        'created_at',
        'updated_at'
    ]
)

2020-10-14 16:29:13,782 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2020-10-14 16:29:13,783 INFO sqlalchemy.engine.base.Engine {'name': 'SELECT * FROM weather'}
2020-10-14 16:29:13,998 INFO sqlalchemy.engine.base.OptionEngine SELECT * FROM weather
2020-10-14 16:29:14,000 INFO sqlalchemy.engine.base.OptionEngine {}

In [ ]:
weather_sql.head()

   id      pop         City_State  ...  Humidity  WindSpeed_kmph  date_time
0   0  8336817  New York City, NY  ...        44              16 2015-01-01
1   0  8336817  New York City, NY  ...        65              13 2015-01-02
2   0  8336817  New York City, NY  ...        80              10 2015-01-03
3   0  8336817  New York City, NY  ...        95              12 2015-01-04
4   0  8336817  New York City, NY  ...        59              22 2015-01-05

[5 rows x 12 columns]

In [ ]:
weather.head()

   id      pop           City Postal  ...  year  month  day   date_time
0   0  8336817  New York City     NY  ...  2015      1    1  2015-01-01
1   0  8336817  New York City     NY  ...  2015      1    2  2015-01-02
2   0  8336817  New York City     NY  ...  2015      1    3  2015-01-03
3   0  8336817  New York City     NY  ...  2015      1    4  2015-01-04
4   0  8336817  New York City     NY  ...  2015      1    5  2015-01-05

[5 rows x 27 columns]

In [ ]:
weather['City_State'].nunique()

666

In [ ]:
w = weather.drop(['id', 'pop'], axis=1)
w.head()

            City Postal         City_State  ...  month  day   date_time
0  New York City     NY  New York City, NY  ...      1    1  2015-01-01
1  New York City     NY  New York City, NY  ...      1    2  2015-01-02
2  New York City     NY  New York City, NY  ...      1    3  2015-01-03
3  New York City     NY  New York City, NY  ...      1    4  2015-01-04
4  New York City     NY  New York City, NY  ...      1    5  2015-01-05

[5 rows x 25 columns]

In [ ]:
w.to_csv(base_path + 'weather_data/weather_insert_final.csv', index=False)

## COVID data Table